<div class="row-fluid billing-title">
	<div class="span11">
	  	<div class="page-header">
		 	<h1>{{t "myaccount.billing.title"}} <small> <a href="#"> {{t "myaccount.billing.history"}}</a></small></h1>
		</div>
  	</div>
</div> 

<div class="row-fluid billing-content">
	<div class="span8">
		<form class="form-inline">
		  	<label for="card">Billing Account</label>
		  	<select name="card" id="card">
			  	<option value="1">...1111</option>
			  	<option value="2">...2222</option>
			  	<option value="3">...3333</option>
		  	</select>
		  	<a href="#">Change</a>
		</form>

		<div class="hero-unit hero-unit-small billing-cycle">
		  <h2>Billing Cycle Ends 07/03/89</h2>
		  <div class="days-left">
		  	<div class="progress progress-success">
			 	<div class="bar" style="width: 60%;"></div>
			</div>
			<h4>9 Days left</h4>
		  </div>
		</div>

  	</div>

  	<div class="span3">
  		<div class="hero-unit hero-unit-small hero-unit-blue charge">
		  <h3>
		  	Current Charges
		  </h3>
		  <h3>
		  	$ 250
		  </h3>
		</div>
  	</div>
</div>