<li class="myaccount-element" data-module="billing">
    <a href="#myaccount/billing/render">
        <div class="active-highlight">
            <i class="hidden-phone icon-tag"></i> {{t "myaccount.billing.title"}}
        </div>
    </a>
</li>
