<li class="billing myaccount-element">
    <a href="#myaccount/billing/render">
        <div class="active-highlight">
            <i class="hidden-phone icon-tag"></i> {{t "myaccount.billing.billing"}}
        </div>
    </a>
</li>
