#ring_group_popup #two_columns .wrapper {
    width: 700px;
}

#ring_group_popup #two_columns .sortable_li a.drag_btn {
    margin-right: 0px;
}

#ring_group_popup #two_columns .sortable_li .icon {
    float: left;
    margin-top: 3px;
}

#ring_group_popup #two_columns .sortable_li .icon.head1 {
    background-position: -477px -197px;
}

#ring_group_popup #two_columns .sortable_li .icon.device {
    background-position: -508px -166px;
}

#ring_group_popup #two_columns .sortable_li .icon.trash {
    background-position: -32px -68px;
    margin-left: 10px;
}

#ring_group_popup #two_columns .column.left {
    border-radius: 0px 0px 5px 5px;
    padding: 0px 0px 5px;
}

#ring_group_popup #two_columns .column.left .search_box {
    background: #AFAFAF;
    height: 27px;
}

#ring_group_popup #two_columns .column.left .search_box .searchsubmit1 {
    margin-left: 18px;
}

#ring_group_popup #two_columns .column.right {
    width: 420px;
}

#ring_group_popup #two_columns .column.right .item_name {
    width: 205px;
    padding-left: 6px;
}

#ring_group_popup #two_columns .actions_item {
    font-size: 10px;
    width: 39px;
    float: left;
    line-height: 28px;
    height: 28px;
    border-left: 1px solid #444444;
}

#ring_group_popup #two_columns .options {
    font-size: 10px;
    width: 110px;
    line-height: 28px;
    height: 28px;
    float: left;
}

#ring_group_popup #two_columns .options .option {
    height: 12px;
    margin: 2px 5px 0;
}

#ring_group_popup #two_columns .column.right ul.connect {
    width: 420px;
}

#ring_group_popup #two_columns .column.right ul.connect.no_element {
    background: url('../images/empty_ring_group.png') no-repeat center;
}

#ring_group_popup #two_columns .column.right .title_column .title{
    float: left;
    width: 243px;
    height: 28px;
    line-height: 28px;
}

#ring_group_popup .form_content .popup_field select {
    width: auto;
}

#ring_group_popup .form_content .popup_field {
    text-align: left;
}

#ring_group_popup #two_columns .wrapper .settings_tabs {
    margin: 0px;
}

#ring_group_popup #two_columns .wrapper .settings_tabs > li {
    width: 108px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #888;
    float: left;
    border-radius: 0px 5px 0px 0px;
    color: #fff;
    background: #b2b2b2; /* Old browsers */
    background: -moz-linear-gradient(top, #b2b2b2 1%, #7c7c7c 50%, #333333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#b2b2b2), color-stop(50%,#7c7c7c), color-stop(100%,#333333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b2b2b2 1%,#7c7c7c 50%,#333333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b2b2b2 1%,#7c7c7c 50%,#333333 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b2b2b2 1%,#7c7c7c 50%,#333333 100%); /* IE10+ */
    background: linear-gradient(top, #b2b2b2 1%,#7c7c7c 50%,#333333 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}

#ring_group_popup #two_columns .wrapper .settings_tabs > li:first-child {
    border-radius: 5px 0px 0px 0px;
}

#ring_group_popup #two_columns .wrapper .settings_tabs > li.current{
    background: #05addc; /* Old browsers */
    background: -moz-linear-gradient(top, #05addc 0%, #2989d8 50%, #203838 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#05addc), color-stop(50%,#2989d8), color-stop(100%,#203838)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #05addc 0%,#2989d8 50%,#203838 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #05addc 0%,#2989d8 50%,#203838 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #05addc 0%,#2989d8 50%,#203838 100%); /* IE10+ */
    background: linear-gradient(top, #05addc 0%,#2989d8 50%,#203838 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05addc', endColorstr='#203838',GradientType=0 ); /* IE6-9 */
}

#ring_group_popup #two_columns .wrapper .settings_tabs > li > a{
    outline: none;
    text-decoration: none;
    color: #fff;
    display: block;
    width: 108px;
    height: 22px;
}

