html, body, #main, #main section {
	height: 100%;
}

body, .monster-content, #myaccount {
	min-width: 600px;
}

body a, button {
	outline: none !important;
}

body h1 {
	color: #22ccff;
}

body h1.lobster {
	font-family: 'Lobster', cursive;
}

/* Monster-Link */
a.monster-link {
	margin: 0 10px;

	cursor: pointer;

	color: #666;
}

a.monster-link.blue {
	color: #22ccff;
}

a.monster-link i {
	margin-right: 5px;

	text-decoration: none;
}

a.monster-link.disabled {
	cursor: default;
	text-decoration: none;

	color: #999;
}

a.monster-link.disabled i {
	color: #999 !important;
}


/* Navbar */
#main section > .navbar  {
	margin-bottom: 0;

	border-top: 5px solid #22a5ff;
}

#main section > .navbar .navbar-inner {
	padding: 0 0 0 0;

	border: none;
	border-radius: 0;
	background: #303039;
	box-shadow: none;
}

#main section > .navbar .btn-navbar {
	margin-top: 15px;
}

#main section > .navbar .btn-navbar .icon-bar {
	background-color: #22a5ff;
}

#main section > .navbar .nav > li > a {
	height: 62px;
	padding: 0 22px;

	color: #c0c0c9;
	text-shadow: none;

	font-size: 14px;
	line-height: 58px;
}

#main section > .navbar .nav > li > a .user-name {
	display: inline-block;
	float: left;
	overflow: hidden;

	max-width: 200px;

	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 62px;
}

#main section > .navbar .nav > li.nav-masquerading {
	border-right: 1px solid #202029;
}

#main section > .navbar .nav > li.nav-masquerading > a {
	height: 52px;
	padding: 10px 22px 0 22px;

	text-align: center;

	line-height: inherit;
}

#main section > .navbar .nav > li.nav-masquerading a > div {
	overflow: hidden;
	max-width: 150px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#main section > .navbar .nav > li.nav-masquerading .name-text {
	color: #22a5ff;
}

#main section > .navbar .nav > li.myaccount-link .name-text {
	font-size: 16px;
}

#main section > .navbar .nav > li.myaccount-link i {
	position: relative;
	top: 2px;

	margin-left: 8px;

	line-height: 62px;
	color: #c0c0c9;
}

#main section > .navbar .nav > li.myaccount-link:hover i {
	color: #22a5ff
}

#main section > .navbar .nav-collapse .nav > li > a:hover,
#main section > .navbar .nav-collapse .dropdown-menu a:hover {
	background-color: transparent;
}

#main section > .navbar .nav > li > a:focus,
#main section > .navbar .nav > li > a:hover {
	color: #22a5ff;
}

#main section > .navbar .nav > li > a:hover i {
	color: #22a5ff !important;
}

#main section > .navbar .nav > li.myaccount-link.disabled a:hover {
	cursor: default;

	color: whiteSmoke;
}

#main section > .navbar .navbar-inner .current-app {
	display: inline-block;
	float: left;
}

#main section > .navbar .navbar-inner .current-app:hover {
	cursor: pointer;
}

#main section > .navbar .navbar-inner .active-app {
	display: none;
	float: left;

	height: 62px;
	padding: 0 30px;
}
#main section > .navbar .navbar-inner .active-app > div {
	display: inline-block;
	float: left;
}
#main section > .navbar .navbar-inner .app-icon {
	width: 40px;
	height: 100%;

	background: no-repeat center;
	background-size: contain;
}
#main section > .navbar .navbar-inner .app-name {
	overflow: hidden;

	max-width: 266px;

	white-space: nowrap;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	text-overflow: ellipsis;

	color: #fff;

	font-size: 18px;
	line-height: 62px;
}

#main section > .navbar .navbar-inner .current-app:hover .app-name {
	color: #22a5ff;
}

#main section > .navbar .navbar-inner .logo {
	float: left;

	width: 192px;
	height: 62px;
	padding: 0 15px;

	cursor: pointer;

	border-right: 1px solid #202029;
	background-repeat: no-repeat;
	background-position: center center;
}
#main section > .navbar .navbar-inner .logo.conferencing {
	text-align: center;
	text-transform: uppercase;

	font-size: 20px;
	line-height: 62px;
}
#main section > .navbar .navbar-inner .logo.conferencing:hover {
	text-decoration: none;

	color: #22a5ff;
}

#main section > .navbar .navbar-inner .home {
	display: none;

	padding: 0 20px;

	text-decoration: none;

	border-left: 1px solid #202029;
	border-right: 1px solid #202029;
}
#main section > .navbar .navbar-inner .home * {
	display: inline-block;

	margin: 0;

	line-height: 62px;
}
#main section > .navbar .navbar-inner .home span {
	overflow: hidden;
	display: inline-block;

	max-width: 66px;
	margin-right: 20px;

	white-space: nowrap;
	letter-spacing: 0.5px;
	text-overflow: ellipsis;

	color: #c0c0c9;

	font-size: 14px;
}
#main section > .navbar .navbar-inner .home i {
	color: #c0c0c9;
}

#main section > .navbar .navbar-inner .home.active {
	display: inline-block;
}

#main section > .navbar .navbar-inner .home:hover * {
	color: #22a5ff !important;
}
#main section > .navbar .navbar-inner .home.conferencing {
	width: 240px;
	height: 52px;
	padding: 5px;
}
@media (max-width: 979px) {
	#main section > .navbar .navbar-inner .home.conferencing {
		width: 140px;
	}
}

#main section > .monster-content {
	position: absolute;
	top: 67px;
	right: 0;
	bottom: 0;
	left:0;

	width: auto;
	height: auto;
}

/* Hack to remove iPad clipping onclick */
body div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media (max-width: 630px) {
	#main section > .navbar .nav > li > a .user-name {
		max-width: 169px;
	}
}

@media (max-width: 959px) {
	#main section > .navbar .navbar-inner .current-app {
		display: none;
	}
}

@media (max-width: 685px) {
	#main section > .navbar .navbar-inner .logo {
		display: none;
	}
}

@media (max-width: 1153px) {
	#main section > .navbar .navbar-inner #home_link {
		padding-left: 20px;
	}
	#main section > .navbar .navbar-inner #home_link .title {
		display: none;
	}
}

@media (max-width: 1067px) {
	#main section > .navbar .navbar-inner .logo {
		padding-right: 0px;
		padding-left: 0px;
	}
	#main section > .navbar .nav > li.nav-masquerading > a {
		padding-right: 5px;
		padding-left: 5px;
	}
	#main section > .navbar .navbar-inner .links .top-link {
		width: 52px;
	}
}

/* Inputs */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(34,204,255,.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(34,204,255,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(34,204,255,.6);
}

textarea, input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	-webkit-box-shadow: inset 1px 1px #ddd;
	-moz-box-shadow: inset 1px 1px #ddd;
	box-shadow: inset 1px 1px #ddd;
}

/* Devices Brands */
.brand-box.polycom {
	background: url('images/brands/polycom.png') center no-repeat;
}
.brand-box.yealink {
	background: url('images/brands/yealink.png') center no-repeat;
}
.brand-box.cisco {
	background: url('images/brands/cisco.png') center no-repeat;
}
.brand-box.mocet {
	background: url('images/brands/mocet.png') center no-repeat;
}
.brand-box.snom {
	background: url('images/brands/snom.png') center no-repeat;
}
.brand-box.audiocodes {
	background: url('images/brands/audiocodes.png') center no-repeat;
}
.brand-box.grandstream {
	background: url('images/brands/grandstream.png') center no-repeat;
}

/* Devices Models */
.model-image {
	width: 100px;
	height: 80px;
}

/* Yealink */
.model-image.yealink-t18 {
	background: url('images/models/yealinkt18.jpg') center no-repeat;
}
.model-image.yealink-t20 {
	background: url('images/models/yealinkt20.jpg') center no-repeat;
}
.model-image.yealink-t21 {
	background: url('images/models/yealinkt21.jpg') center no-repeat;
}
.model-image.yealink-t22 {
	background: url('images/models/yealinkt22.jpg') center no-repeat;
}
.model-image.yealink-t23,
.model-image.yealink-t23g {
	background: url('images/models/yealinkt23.jpg') center no-repeat;
}
.model-image.yealink-t26 {
	background: url('images/models/yealinkt26.jpg') center no-repeat;
}
.model-image.yealink-t28 {
	background: url('images/models/yealinkt28.jpg') center no-repeat;
}
.model-image.yealink-t32 {
	background: url('images/models/yealinkt32.jpg') center no-repeat;
}
.model-image.yealink-t38 {
	background: url('images/models/yealinkt38.jpg') center no-repeat;
}
.model-image.yealink-t41 {
	background: url('images/models/yealinkt41.jpg') center no-repeat;
}
.model-image.yealink-t42 {
	background: url('images/models/yealinkt42.jpg') center no-repeat;
}
.model-image.yealink-t46 {
	background: url('images/models/yealinkt46.jpg') center no-repeat;
}
.model-image.yealink-t48 {
	background: url('images/models/yealinkt48.jpg') center no-repeat;
}

/* Cisco */
.model-image.cisco-901 {
	background: url('images/models/cisco901.jpg') center no-repeat;
}
.model-image.cisco-921 {
	background: url('images/models/cisco921.jpg') center no-repeat;
}
.model-image.cisco-922 {
	background: url('images/models/cisco922.jpg') center no-repeat;
}
.model-image.cisco-941 {
	background: url('images/models/cisco941.jpg') center no-repeat;
}
.model-image.cisco-942 {
	background: url('images/models/cisco942.jpg') center no-repeat;
}
.model-image.cisco-962 {
	background: url('images/models/cisco962.jpg') center no-repeat;
}
.model-image.cisco-301g {
	background: url('images/models/cisco301g.jpg') center no-repeat;
}
.model-image.cisco-303g {
	background: url('images/models/cisco303g.jpg') center no-repeat;
}
.model-image.cisco-501g {
	background: url('images/models/cisco501g.jpg') center no-repeat;
}
.model-image.cisco-502g {
	background: url('images/models/cisco502g.jpg') center no-repeat;
}
.model-image.cisco-504g {
	background: url('images/models/cisco504g.jpg') center no-repeat;
}
.model-image.cisco-508g {
	background: url('images/models/cisco508g.jpg') center no-repeat;
}
.model-image.cisco-509g {
	background: url('images/models/cisco509g.jpg') center no-repeat;
}
.model-image.cisco-512g {
	background: url('images/models/cisco512g.jpg') center no-repeat;
}
.model-image.cisco-514g {
	background: url('images/models/cisco514g.jpg') center no-repeat;
}
.model-image.cisco-525g {
	background: url('images/models/cisco525g.jpg') center no-repeat;
}
.model-image.cisco-525g2 {
	background: url('images/models/cisco525g2.jpg') center no-repeat;
}

/* Polycom */
.model-image.polycom-1500 {
	background: url('images/models/polycom1500.jpg') center no-repeat;
}
.model-image.polycom-301 {
	background: url('images/models/polycom301.jpg') center no-repeat;
}
.model-image.polycom-320 {
	background: url('images/models/polycom320.jpg') center no-repeat;
}
.model-image.polycom-321 {
	background: url('images/models/polycom321.jpg') center no-repeat;
}
.model-image.polycom-330 {
	background: url('images/models/polycom330.jpg') center no-repeat;
}
.model-image.polycom-331 {
	background: url('images/models/polycom331.jpg') center no-repeat;
}
.model-image.polycom-335 {
	background: url('images/models/polycom335.jpg') center no-repeat;
}
.model-image.polycom-4000 {
	background: url('images/models/polycom4000.jpg') center no-repeat;
}
.model-image.polycom-430 {
	background: url('images/models/polycom430.jpg') center no-repeat;
}
.model-image.polycom-450 {
	background: url('images/models/polycom450.jpg') center no-repeat;
}
.model-image.polycom-5000 {
	background: url('images/models/polycom5000.jpg') center no-repeat;
}
.model-image.polycom-501 {
	background: url('images/models/polycom501.jpg') center no-repeat;
}
.model-image.polycom-550 {
	background: url('images/models/polycom550.jpg') center no-repeat;
}
.model-image.polycom-560 {
	background: url('images/models/polycom560.jpg') center no-repeat;
}
.model-image.polycom-6000 {
	background: url('images/models/polycom6000.jpg') center no-repeat;
}
.model-image.polycom-600 {
	background: url('images/models/polycom600.jpg') center no-repeat;
}
.model-image.polycom-601 {
	background: url('images/models/polycom601.jpg') center no-repeat;
}
.model-image.polycom-650 {
	background: url('images/models/polycom650.jpg') center no-repeat;
}
.model-image.polycom-670 {
	background: url('images/models/polycom670.jpg') center no-repeat;
}
.model-image.polycom-7000 {
	background: url('images/models/polycom7000.jpg') center no-repeat;
}
.model-image.polycom-vvx300,
.model-image.polycom-vvx310 {
	background: url('images/models/polycomvvx300.jpg') center no-repeat;
}
.model-image.polycom-vvx400,
.model-image.polycom-vvx410 {
	background: url('images/models/polycomvvx400.jpg') center no-repeat;
}
.model-image.polycom-vvx500 {
	background: url('images/models/polycomvvx500.jpg') center no-repeat;
}
.model-image.polycom-vvx600 {
	background: url('images/models/polycomvvx600.jpg') center no-repeat;
}

/* Audiocodes */
.model-image.audiocodes-420 {
	background: url('images/models/audiocodes420.jpg') center no-repeat;
}

/* Grandstream */
.model-image.grandstream-ht502 {
	background: url('images/models/grandstreamht502.jpg') center no-repeat;
}
