html, body, #main, #main section {
	height: 100%;
}

body, .monster-content {
	min-width: 600px;
}

body a, button {
	outline: none !important;
}

body h1 {
	color: #22ccff;
}

body h1.lobster {
	font-family: 'Lobster', cursive;
}

/* Monster-Link */
a.monster-link {
	margin: 0 10px;

	cursor: pointer;

	color: #666;
}

a.monster-link.blue {
	color: #22ccff;
}

a.monster-link i {
	margin-right: 5px;

	text-decoration: none;
}

a.monster-link.disabled {
	cursor: default;
	text-decoration: none;

	color: #999;
}

a.monster-link.disabled i {
	color: #999 !important;
}


/* Navbar */
#main section > .navbar  {
	margin-bottom: 0;

	border-top: 5px solid #22ccff;
}

#main section > .navbar .navbar-inner {
	padding: 0 0 0 0;

	border: none;
	border-radius: 0;
	background: rgb(17,17,17); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(17,17,17,1) 0%, rgba(51,51,51,1) 50%, rgba(17,17,17,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(17,17,17,1)), color-stop(50%,rgba(51,51,51,1)), color-stop(100%,rgba(17,17,17,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(17,17,17,1) 0%,rgba(51,51,51,1) 50%,rgba(17,17,17,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(17,17,17,1) 0%,rgba(51,51,51,1) 50%,rgba(17,17,17,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(17,17,17,1) 0%,rgba(51,51,51,1) 50%,rgba(17,17,17,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(17,17,17,1) 0%,rgba(51,51,51,1) 50%,rgba(17,17,17,1) 100%); /* W3C */
	box-shadow: none;

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#111111',GradientType=1 ); /* IE6-9 */
}

#main section > .navbar .btn-navbar {
	margin-top: 15px;
}

#main section > .navbar .btn-navbar .icon-bar {
	background-color: #22ccff;
}

#main section > .navbar .nav > li > a {
	height: 62px;
	padding: 0 22px 0 0;

	color: whiteSmoke;
	text-shadow: none;

	font-size: 14px;
	line-height: 58px;
}

#main section > .navbar .nav > li > a .user-name {
	display: inline-block;
	float: left;
	overflow: hidden;

	max-width: 200px;

	white-space: nowrap;
	text-overflow: ellipsis;
}

#main section > .navbar .nav > li.nav-masquerading {
	border-right: 1px solid #353535;
}

#main section > .navbar .nav > li.nav-masquerading > a {
	height: 52px;
	padding: 10px 22px 0 22px;

	text-align: center;

	line-height: inherit;
}

#main section > .navbar .nav > li.nav-masquerading .name-text {
	overflow: hidden;

	max-width: 150px;

	white-space: nowrap;
	text-overflow: ellipsis;

	color: #22ccff;
}

#main section > .navbar .nav > li.myaccount-link .name-text {
	font-size: 16px;
}

#main section > .navbar .nav > li.myaccount-link i {
	position: relative;
	top: 2px;

	margin-left: 8px;

	color: #FFF;
}

#main section > .navbar .nav > li.myaccount-link:hover i {
	color: #22CCFF
}

#main section > .navbar .nav-collapse .nav > li > a:hover,
#main section > .navbar .nav-collapse .dropdown-menu a:hover {
	background-color: transparent;
}

#main section > .navbar .nav > li > a:focus,
#main section > .navbar .nav > li > a:hover {
	color: #22ccff;
}

#main section > .navbar .nav > li > a:hover i {
	color: #22ccff !important;
}

#main section > .navbar .nav > li.myaccount-link.disabled a:hover {
	cursor: default;

	color: whiteSmoke;
}

#main section > .navbar .navbar-inner .current-app {
	display: inline-block;
	float: left;
}

#main section > .navbar .navbar-inner .current-app:hover {
	cursor: pointer;
}

#main section > .navbar .navbar-inner .active-app {
	display: none;
	float: left;

	height: 62px;
	padding: 0 30px;

	border-right: 1px solid #353535;
}
#main section > .navbar .navbar-inner .active-app > div {
	display: inline-block;
	float: left;
}
#main section > .navbar .navbar-inner .app-icon {
	width: 40px;
	height: 100%;

	background: no-repeat center;
	background-size: contain;
}
#main section > .navbar .navbar-inner .app-name {
	overflow: hidden;

	max-width: 200px;

	white-space: nowrap;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	text-overflow: ellipsis;

	color: #F5F5F5;

	font-size: 18px;
	line-height: 62px;
}

#main section > .navbar .navbar-inner .current-app:hover .app-name {
	color: #22ccff;
}

#main section > .navbar .navbar-inner .logo {
	float: left;

	width: 192px;
	height: 62px;
	padding: 0 15px;

	cursor: pointer;

	border-right: 1px solid #353535;
	background-repeat: no-repeat;
	background-position: center center;
}
#main section > .navbar .navbar-inner .logo.conferencing {
	text-align: center;
	text-transform: uppercase;

	font-size: 20px;
	line-height: 62px;
}
#main section > .navbar .navbar-inner .logo.conferencing:hover {
	text-decoration: none;

	color: #22ccff;
}

#main section > .navbar .navbar-inner .home {
	display: none;

	padding: 0 20px 0 10px;

	text-decoration: none;

	border-right: 1px solid #353535;
}
#main section > .navbar .navbar-inner .home * {
	display: block;

	margin: 0;

	line-height: 62px;
}
#main section > .navbar .navbar-inner .home span {
	overflow: hidden;

	max-width: 66px;
	margin-left: 44px;

	white-space: nowrap;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	text-overflow: ellipsis;

	color: #F5F5F5;

	font-size: 18px;
}

#main section > .navbar .navbar-inner .home.active {
	display: inline-block;
}

#main section > .navbar .navbar-inner .home:hover * {
	color: #22ccff !important;
}
#main section > .navbar .navbar-inner .home.conferencing {
	width: 240px;
	height: 52px;
	padding: 5px;
}
@media (max-width: 979px) {
	#main section > .navbar .navbar-inner .home.conferencing {
		width: 140px;
	}
}

#main section > .monster-content {
	position: absolute;
	top: 67px;
	right: 0;
	bottom: 0;
	left:0;

	width: auto;
	height: auto;
}

/* Hack to remove iPad clipping onclick */
body div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media (max-width: 630px) {
	#main section > .navbar .nav > li > a .user-name {
		max-width: 169px;
	}
}

@media (max-width: 906px) {
	#main section > .navbar .navbar-inner .current-app {
		display: none;
	}
}

@media (max-width: 685px) {
	#main section > .navbar .navbar-inner .logo {
		display: none;
	}
}

@media (max-width: 1140px) {
	#main section > .navbar .navbar-inner #home_link {
		padding-left: 20px;
	}
	#main section > .navbar .navbar-inner #home_link .title {
		display: none;
	}
}

@media (max-width: 1064px) {
	#main section > .navbar .navbar-inner .logo {
		padding-right: 0px;
		padding-left: 0px;
	}
	#main section > .navbar .nav > li.nav-masquerading > a {
		padding-right: 5px;
		padding-left: 5px;
	}
	#main section > .navbar .navbar-inner .links .top-link {
		width: 52px;
	}
	#main section > .navbar .navbar-inner .active-app {
		padding: 0 10px;
	}
}

/* Inputs */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(34,204,255,.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(34,204,255,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(34,204,255,.6);
}

textarea, input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	-webkit-box-shadow: inset 1px 1px #ddd;
	-moz-box-shadow: inset 1px 1px #ddd;
	box-shadow: inset 1px 1px #ddd;
}

.brand-box,
.model-image {
	background: center no-repeat;
}

/* Devices Brands */
.brand-box.polycom { background-image: url('images/brands/polycom.png'); }
.brand-box.yealink { background-image: url('images/brands/yealink.png'); }
.brand-box.cisco { background-image: url('images/brands/cisco.png'); }
/*.brand-box.mocet { background-image: url('images/brands/mocet.png'); }
.brand-box.snom { background-image: url('images/brands/snom.png'); }
.brand-box.audiocodes { background-image: url('images/brands/audiocodes.png'); }
.brand-box.grandstream { background-image: url('images/brands/grandstream.png'); }*/

/* Devices Models */
.model-image {
	width: 100px;
	height: 80px;
}

/* Yealink */
/*.model-image.yealink-t1x-t18p { background-image: url('images/models/yealink_t1x_t18p.jpg'); }*/
.model-image.yealink-t1x-t19p { background-image: url('images/models/yealink_t1x_t19p.jpg'); }
.model-image.yealink-t2x-t20p { background-image: url('images/models/yealink_t2x_t20p.jpg'); }
.model-image.yealink-t2x-t21p { background-image: url('images/models/yealink_t2x_t21p.jpg'); }
.model-image.yealink-t2x-t22p { background-image: url('images/models/yealink_t2x_t22p.jpg'); }
.model-image.yealink-2tx-t23p { background-image: url('images/models/yealink_t2x_t23p.jpg'); }
.model-image.yealink-t2x-t26p { background-image: url('images/models/yealink_t2x_t26p.jpg'); }
.model-image.yealink-t2x-t28p { background-image: url('images/models/yealink_t2x_t28p.jpg'); }
.model-image.yealink-t3x-t32g { background-image: url('images/models/yealink_t3x_t32g.jpg'); }
.model-image.yealink-t3x-t38g { background-image: url('images/models/yealink_t3x_t38g.jpg'); }
.model-image.yealink-t4x-t41p { background-image: url('images/models/yealink_t4x_t41p.jpg'); }
.model-image.yealink-t4x-t42g { background-image: url('images/models/yealink_t4x_t42g.jpg'); }
.model-image.yealink-t4x-t46g { background-image: url('images/models/yealink_t4x_t46g.jpg'); }
.model-image.yealink-t4x-t48g { background-image: url('images/models/yealink_t4x_t48g.jpg'); }

/* Cisco */
/*.model-image.cisco-901 { background-image: url('images/models/cisco901.jpg'); }
.model-image.cisco-921 { background-image: url('images/models/cisco921.jpg'); }
.model-image.cisco-922 { background-image: url('images/models/cisco922.jpg'); }
.model-image.cisco-941 { background-image: url('images/models/cisco941.jpg'); }
.model-image.cisco-942 { background-image: url('images/models/cisco942.jpg'); }
.model-image.cisco-962 { background-image: url('images/models/cisco962.jpg'); }*/
.model-image.cisco-spa3xx-301g { background-image: url('images/models/cisco_spa3xx_301g.jpg'); }
.model-image.cisco-spa3xx-303g { background-image: url('images/models/cisco_spa3xx_303g.jpg'); }
.model-image.cisco-spa5xx-501g { background-image: url('images/models/cisco_spa5xx_501g.jpg'); }
.model-image.cisco-spa5xx-502g { background-image: url('images/models/cisco_spa5xx_502g.jpg'); }
.model-image.cisco-spa5xx-504g { background-image: url('images/models/cisco_spa5xx_504g.jpg'); }
.model-image.cisco-spa5xx-508g { background-image: url('images/models/cisco_spa5xx_508g.jpg'); }
.model-image.cisco-spa5xx-509g { background-image: url('images/models/cisco_spa5xx_509g.jpg'); }
.model-image.cisco-spa5xx-512g { background-image: url('images/models/cisco_spa5xx_512g.jpg'); }
.model-image.cisco-spa5xx-514g { background-image: url('images/models/cisco_spa5xx_514g.jpg'); }
.model-image.cisco-spa5xx-525g { background-image: url('images/models/cisco_spa5xx_525g.jpg'); }
.model-image.cisco-spa5xx-525g2 { background-image: url('images/models/cisco_spa5xx_525g2.jpg'); }

/* Polycom */
.model-image.polycom-spip-301 { background-image: url('images/models/polycom_spip_301.jpg'); }
.model-image.polycom-spip-320 { background-image: url('images/models/polycom_spip_320.jpg'); }
.model-image.polycom-spip-321 { background-image: url('images/models/polycom_spip_321.jpg'); }
.model-image.polycom-spip-330 { background-image: url('images/models/polycom_spip_330.jpg'); }
/*.model-image.polycom-spip-331 { background-image: url('images/models/polycom_spip_331.jpg'); }*/
.model-image.polycom-spip-335 { background-image: url('images/models/polycom_spip_335.jpg'); }
.model-image.polycom-spip-430 { background-image: url('images/models/polycom_spip_430.jpg'); }
.model-image.polycom-spip-450 { background-image: url('images/models/polycom_spip_450.jpg'); }
.model-image.polycom-spip-501 { background-image: url('images/models/polycom_spip_501.jpg'); }
.model-image.polycom-spip-550 { background-image: url('images/models/polycom_spip_550.jpg'); }
.model-image.polycom-spip-560 { background-image: url('images/models/polycom_spip_560.jpg'); }
.model-image.polycom-spip-600 { background-image: url('images/models/polycom_spip_600.jpg'); }
.model-image.polycom-spip-601 { background-image: url('images/models/polycom_spip_601.jpg'); }
.model-image.polycom-spip-650 { background-image: url('images/models/polycom_spip_650.jpg'); }
.model-image.polycom-spip-670 { background-image: url('images/models/polycom_spip_670.jpg'); }
/*.model-image.polycom-spip-1500 { background-image: url('images/models/polycom_spip_1500.jpg'); }*/
.model-image.polycom-spip-4000 { background-image: url('images/models/polycom_spip_4000.jpg'); }
.model-image.polycom-spip-5000 { background-image: url('images/models/polycom_spip_5000.jpg'); }
.model-image.polycom-spip-6000 { background-image: url('images/models/polycom_spip_6000.jpg'); }
.model-image.polycom-spip-7000 { background-image: url('images/models/polycom_spip_7000.jpg'); }
.model-image.polycom-vvx-300,
.model-image.polycom-vvx-310 { background-image: url('images/models/polycom_vvx_300.jpg'); }
.model-image.polycom-vvx-400,
.model-image.polycom-vvx-410 { background-image: url('images/models/polycom_vvx_400.jpg'); }
.model-image.polycom-vvx-500 { background-image: url('images/models/polycom_vvx_500.jpg'); }
.model-image.polycom-vvx-600 { background-image: url('images/models/polycom_vvx_600.jpg'); }

/* Audiocodes */
/*.model-image.audiocodes-420 { background-image: url('images/models/audiocodes420.jpg'); }*/

/* Grandstream */
/*.model-image.grandstream-ht502 { background-image: url('images/models/grandstreamht502.jpg'); }*/
