#groups_container_overlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .3;
}

#groups_container .groups-header {
	font-size: 18px;
	line-height: 30px;
}

#groups_container .groups-header > * {
	display: inline-block;
}

#groups_container .groups-header .title {
	padding: 15px;
	border: 1px solid #dcdcdc;
	border-radius: 4px 0 0 4px;
}

#groups_container .groups-header .count-groups {
	display: inline-block;
	margin-top: -5px;
	margin-left: 15px;
	color: #22ccff;
	font-weight: 500;
	font-size: 28px;
}

#groups_container .groups-header .add-group {
	margin: 0;
	padding: 13px;
	border: 1px solid #dcdcdc;
	border-left: 0;
	border-radius: 0 4px 4px 0;
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:    -moz-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:     -ms-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:      -o-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:         linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	vertical-align: top;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
}

@-moz-document url-prefix() {
	#groups_container .groups-header .add-group {
		line-height: 15px;
	}
}

#groups_container .groups-header .add-group:hover {
	background-image: none;
	background-color: #eee;
	text-decoration: none;
}

#groups_container .groups-header .add-group i {
	display: block;
	margin: 0;
	color: #929799;
	text-decoration: none;
}

#groups_container .groups-header .add-group:hover i {
	color: #22ccff;
}

#groups_container .groups-header .search-box { margin: 16px 0 16px 15px; }

#groups_container .groups-grid {
	margin-top: 20px;
	font-family: verdana;
}

#groups_container .groups-grid i.icon-plus {
	margin-left: 5px;
}

#groups_container .groups-grid .empty-search-row,
#groups_container .groups-grid .no-groups-row {
	display: none;
	padding: 16px;
	text-align: center;
}

#groups_container .groups-grid .grid-row.title,
#groups_container .groups-grid .grid-row .groups-cells{
	height: 50px;
	line-height: 50px; /* 60 - padding */
}

#groups_container .groups-grid .grid-row.title .grid-cell {
	padding-left: 10px;
	text-align: left;
}

#groups_container .groups-grid .grid-row .grid-cell {
	display: inline-block;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

	box-sizing: border-box;
	padding-left: 10px;
	width: 20%;
	height: 100%;
	vertical-align: top;
}

#groups_container .groups-grid .grid-row .grid-cell.active {
	height: 51px;
	border-right: 1px solid #a6a7a9;
	border-bottom-left-radius: 0;
	background: #e0e0e0;
}

#groups_container .groups-grid .groups-rows .grid-cell:not(.active):hover {
	border-right: 1px solid #eee;
	background: #eee;
	cursor: pointer;
}

#groups_container .groups-grid .groups-rows .grid-cell.active:hover {
	background-color: #e0e0e0;
	cursor: pointer;
}

#groups_container .groups-grid .groups-rows .grid-cell:last-child:not(.active):hover { border-right: 1px solid #dcdcdc; }

#groups_container .groups-grid .grid-row .grid-cell:not(:last-child) { white-space: nowrap; }

#groups_container .groups-grid .grid-row .grid-cell.centered {
	padding: 0;
	text-align: center;
}

#groups_container .groups-grid .grid-row .grid-cell.right-aligned {
	padding: 0 10px 0 0;
	text-align: right;
}

#groups_container .groups-grid .grid-row .grid-cell.devices i,
#groups_container .groups-grid .grid-row .grid-cell.features i {
	margin: 0 5px;
}

#groups_container .groups-grid .grid-row .grid-cell.features .navbar {
	margin-bottom: 0;
	text-align: left;
}

#groups_container .groups-grid .grid-row .grid-cell.features a.dropdown-toggle {
	padding: 15px 7px 2px 15px;
	background: transparent !important;
	text-align: left;
}

#groups_container .groups-grid .grid-row .edit-groups {
	border: 1px solid #a6a7a9;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background: #e0e0e0;
}

/* Columns */
#groups_container .groups-grid .grid-row .grid-cell.name,
#groups_container .groups-grid .grid-row .grid-cell.phone-number {
	width: 25%;
}

#groups_container .groups-grid .grid-row .grid-cell.members,
#groups_container .groups-grid .grid-row .grid-cell.extension {
	width: 15%;
}

#groups_container .groups-rows .grid-row {
	margin-bottom: 10px;
	border-radius: 4px;
}

#groups_container .groups-rows .grid-cell {
	border: 1px solid #dcdcdc;
	border-right: 1px solid #fff;
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:    -moz-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:     -ms-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:      -o-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:         linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
}

#groups_container .groups-rows .grid-cell.active {
	border: 1px solid #a6a7a9;
	border-bottom: 0;
}

#groups_container .groups-rows .grid-cell:first-child {
	border-radius: 4px 0 0 4px;
}

#groups_container .groups-rows .grid-cell:last-child {
	border-right: 1px solid #dcdcdc;
	border-radius: 0 4px 4px 0;
}

#groups_container .groups-rows .grid-cell.active:first-child {
	border: 1px solid #a6a7a9;
	border-bottom: 0;
}

#groups_container .groups-rows .grid-row.active .grid-cell:last-child { border-bottom-right-radius: 0; }

#groups_container .groups-rows .grid-row.active .grid-cell:first-child { border-bottom-left-radius: 0; }

#groups_container .actions {
	position: relative;
	padding: 15px;
	height: 30px;
	border-top: 1px solid #fff;
	line-height: 30px;
}

#groups_container .actions:before {
	position: absolute;
	top: -2px;
	right: 0;
	display: block;
	width: 100%;
	border-top: 1px solid #a6a7a9;
	content: "";
}

#groups_container .extra-node {
	padding: 15px;
	min-height: 30px;
	border-top: 1px solid #fff;
	line-height: 30px;
}

#groups_container .extra-node > * {
	vertical-align: middle;
	margin: 0;
}

#groups_container .extra-node > *:not(:first-child) {
	margin-left: 10px;
}

#groups_container .groups-grid i.icon-telicon-multiple-items {
	margin-left: 15px;
	font-size: 14px;
}

/* Members */
#groups_container .detail-group .grid-time .group-row {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

	box-sizing: border-box;
	padding: 20px 0 10px;
	width: 100%;
	background: #FFF;
}

#groups_container .detail-group .grid-time .group-row:nth-child(2) {
	padding-top: 25px;
}

#groups_container .detail-group .grid-time .group-row > div {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

	box-sizing: border-box;
}

#groups_container .detail-group .grid-time .group-row.title {
	margin-top: 1px;
	background-color: transparent;
}

#groups_container .detail-group .grid-time .group-row .name {
	overflow: hidden;
	padding-left: 10px;
	width: 20%;
	white-space: nowrap;
}
#groups_container .detail-group .grid-time .group-row .times {
	padding-right: 30px;
	padding-left: 30px;
	width: 60%;
}
#groups_container .detail-group .grid-time .group-row .remove {
	width: 20%;
	text-align: center;
}
#groups_container .detail-group .groups-fields:after {
	clear: right;
}
#groups_container .detail-group .add-user-dropdown {
	margin: 0;
	list-style: none;
}
#groups_container .detail-group .add-user-dropdown .dropdown {
	height: 30px;
	line-height: 30px;
}
#groups_container .detail-group .add-user-dropdown .dropdown-menu {
	padding: 0;
	border-radius: 0;
}
#groups_container .detail-group .add-user-dropdown .add-user {
	padding: 0px 15px;
	height: 40px;
	background: #FFF;
	white-space: nowrap;
	font-size: 14px;
	line-height: 40px;
	cursor: pointer;
}
#groups_container .detail-group .add-user-dropdown .add-user.in-use {
	display: none;
}
#groups_container .detail-group .add-user-dropdown .add-user:hover {
	background: #FCFCFC;
}

/* Sliders */
#groups_container .slider-time.ui-slider {
	height: 10px;
	border: none;
	background: #DDDDDD;
	cursor: pointer;
}

#groups_container .slider-time.ui-slider .ui-slider-range {
	border: 1px solid #333;
	border-radius: 0;
	background: #33BB44;
}

#groups_container .slider-time.ui-slider .ui-slider-handle {
	margin: -7px 0;
	padding: 3px;
	width: 0px;
	height: 25px;
	border: 1px solid #333333;
	background: #33BB44;
	cursor: pointer;
}

#groups_container .slider-time.ui-slider .ui-slider-range,
#groups_container .slider-time.ui-slider .ui-slider-handle { 
	border-color: #73b714 #73b714 hsl(85, 80%, 32.5%);
	background-color: hsl(85, 80%, 40%) !important; 
	background-image: -khtml-gradient(linear, left top, left bottom, from(#bcef75), to(#73b714)); 
	background-image: -moz-linear-gradient(top, #bcef75, #73b714); 
	background-image: -ms-linear-gradient(top, #bcef75, #73b714); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcef75), color-stop(100%, #73b714)); 
	background-image: -webkit-linear-gradient(top, #bcef75, #73b714); 
	background-image: -o-linear-gradient(top, #bcef75, #73b714); 
	background-image: linear-gradient(#bcef75, #73b714); 
	background-repeat: repeat-x; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bcef75", endColorstr="#73b714"); 
}

#groups_container .slider-time.ui-slider .slider-tooltip {
	position: absolute;
	right: -11px;
	bottom: 30px;
	display: block;
	font-size: 12px;
}
#groups_container .slider-time.ui-slider .slider-tooltip .slider-tooltip-inner {
	max-width: 200px;
	width: 30px;
	color: #000000;
	text-align: center;
	text-decoration: none;
}



/* Slider scale */
#groups_container .scale-container {
	position: absolute;
	top: 0px;
	right: 20%;
	left: 20%;
	margin: 0 26px 0 34px;
	height: 100%;
	border-bottom: solid 1px #ddd;
}
#groups_container .group-row:last-of-type .scale-container {
	border-bottom: none;
}
#groups_container .scale-container > span {
	position: absolute;
	bottom: 35%;
	left: -8px;
	color: #999;
	font-size: 11px;
}
#groups_container .scale-element {
	position: relative;
	display: inline-block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	border-right: solid 1px #ddd;
}
#groups_container .group-row.title .scale-element {
	top: 65%;
	height: 35%;
}
#groups_container .scale-element:first-child {
	border-left: solid 1px #ddd;
}
#groups_container .scale-element > span {
	position: absolute;
	top: -20px;
	right: -24px;
	color: #999;
	font-size: 11px;
}

/* Name */
.detail-group #form-name {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 0px;
}

.detail-group #form-name .control-group {
	display: inline-block;
}

.detail-group #form-name label.monster-invalid {
	position: inherit;
	display: inline-block;
	margin-left: 5px;
}

/* Creation */
#creation_group_dialog {
	padding: 15px 30px;
}
#creation_group_dialog .items-selector {
	margin-bottom: 20px;
}
#creation_group_dialog .items-selector .box-selector {
	width: 250px;
}
#creation_group_dialog .items-selector .box-selector ul {
	overflow: auto;
	height: 300px;
}
#creation_group_dialog .one-line-form > *{
	position: relative;
	float: left;
}
#creation_group_dialog .one-line-form input[type="text"] {
	margin-right: 20px;
	margin-left: 5px;
}
#creation_group_dialog .one-line-form label {
	line-height: 30px;
}
#creation_group_dialog .one-line-form label.monster-invalid {
	top: 30px;
	left: 5px;
	line-height: 20px !important;
}

/* Numbers / Extensions */
/* Grid add remove */
#groups_container .list-wrapper {
	margin: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background: #FFF;
}

#groups_container .list-unassigned-items{
	overflow: auto;
	max-height: 211px;
}

#groups_container .unassigned-list-header {
	padding: 10px;
	height: 32px;
	background: #999;
	line-height: 32px;
}

#groups_container .unassigned-list-header .title {
	display: inline-block;
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
}

#groups_container .list-wrapper .item-row  {
	border-bottom: 1px solid #ccc;
	white-space: nowrap;
}

#groups_container .list-wrapper .item-row > * {
	display: inline-block;
	padding: 10px;
	height: 32px;
	line-height: 32px;
}

#groups_container .list-wrapper .item-row button {
	margin-right: 15px;
	padding: 2px;
	width: 80px;
}

#groups_container .list-wrapper .empty-search-row,
#groups_container .list-wrapper .empty-row {
	display: none;
	padding: 16px;
	text-align: center;
}

#groups_container .list-wrapper .empty-search-row.visible,
#groups_container .list-wrapper .empty-row.visible {
	display: block;
}

/* Numbers */
#groups_container .list-wrapper .item-row .features > i {
	display: none;
}

#groups_container .list-wrapper .item-row .features > i.active {
	display: inline-block;
}

#groups_container .list-wrapper .item-row .locality {
	display: none;
	border-left: 1px solid #CCC;
}

#groups_container .list-wrapper .list-assigned-items .item-row .locality {
	width: 250px;
	border-right: 1px solid #CCC;
}

#groups_container .list-wrapper .item-row .locality img {
	margin-right: 5px;
}

#groups_container .list-wrapper .list-unassigned-items .features-block {
	display: none;
}

#groups_container .list-wrapper .features-block .dropdown {
	margin-top: -4px;
}

#groups_container .list-wrapper .navbar .nav li.dropdown.open.active > .dropdown-toggle,
#groups_container .list-wrapper .navbar .nav li.dropdown.open > .dropdown-toggle,
#groups_container .navbar .nav li.dropdown.active {
	background: #FFF;
}

#groups_container .detail-numbers .buy-dropdown:hover,
#groups_container .detail-numbers .buy-dropdown:focus {
	background-color: #E0E0E0;
	text-decoration: underline;
}

/* Detail Features */
#groups_container .detail-features .features-grid .feature {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

	box-sizing: border-box;
	width: 50%;
	height: 150px;
	border: 1px solid #FFF;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
}

#groups_container .detail-features .features-grid .feature .icon-wrapper,
.feature-popup-container .feature-icon-wrapper{
	display: inline-block;
	margin: 20px;
	width: 60px;
	height: 60px;

	border: 5px solid #DDDDDD;
	border-radius: 60px 60px 60px 60px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  hsl(0,0%,100%) 0%, hsl(0,0%,87%) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(0,0%,100%)), color-stop(100%,hsl(0,0%,87%))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  hsl(0,0%,100%) 0%,hsl(0,0%,87%) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  hsl(0,0%,100%) 0%,hsl(0,0%,87%) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  hsl(0,0%,100%) 0%,hsl(0,0%,87%) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  hsl(0,0%,100%) 0%,hsl(0,0%,87%) 100%); /* W3C */
	box-shadow: 0 -1px 2px #666666 inset;
	text-align: center;
	line-height: 60px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

#groups_container .detail-features .features-grid .feature .icon-wrapper.active,
.feature-popup-container .feature-icon-wrapper.active{
	background: #19d332; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  hsl(128,79%,46%) 0%, hsl(132,46%,46%) 61%, hsl(0,0%,0%) 99%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,hsl(128,79%,46%)), color-stop(61%,hsl(132,46%,46%)), color-stop(99%,hsl(0,0%,0%))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  hsl(128,79%,46%) 0%,hsl(132,46%,46%) 61%,hsl(0,0%,0%) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  hsl(128,79%,46%) 0%,hsl(132,46%,46%) 61%,hsl(0,0%,0%) 99%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  hsl(128,79%,46%) 0%,hsl(132,46%,46%) 61%,hsl(0,0%,0%) 99%); /* IE10+ */
	background: radial-gradient(ellipse at center,  hsl(128,79%,46%) 0%,hsl(132,46%,46%) 61%,hsl(0,0%,0%) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19d332', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#groups_container .detail-features .features-grid .feature:hover {
	background: #FFF;
	box-shadow: 1px 1px 15px #ddd inset;
}

/* Call Recording Feature */
.feature-popup-container[data-feature="call_recording"] form {
	margin-bottom: 0;
}
.feature-popup-container[data-feature="call_recording"] form > div {
	position: relative;
	margin-bottom: 10px;
}
.feature-popup-container[data-feature="call_recording"] form span {
	display: inline-block;
	width: 120px;
	vertical-align: text-bottom;
	text-align: right;
}
.feature-popup-container[data-feature="call_recording"] form label.monster-invalid {
	top: 30px;
	left: 130px;
}

/* Music-On-Hold  Feature */
.feature-popup-container[data-feature="music_on_hold"] .media-dropdown {
	margin-bottom: 0px;
}
.feature-popup-container[data-feature="music_on_hold"] .upload-toggle {
	margin-left: 10px;
}
.feature-popup-container[data-feature="music_on_hold"] .upload-div {
	display: none;
	margin-top: 20px;
}
.feature-popup-container[data-feature="music_on_hold"] .upload-div .upload-input {
	margin: 0;
	width: 330px;
}
.feature-popup-container[data-feature="music_on_hold"] .upload-div button {
	margin-left: 10px;
	padding-left: 13px;
	padding-right: 13px;
}