<div class="ach-verification-content-wrapper">
	<div class="ach-content-section">
		<div class="ach-section">
			{{i18n.achDirectDebit.achVerification.description}}
		</div>
		<div class="ach-section">
			<p class="sds_Text sds_Text_TextStyle_Mouse sds_Text_Align_Left bank-information">
				<span class="summary-label">{{i18n.achDirectDebit.achVerification.summary.bankName}}</span>
				<span class="bank-name">{{name}}</span>
			</p>
			<p class="sds_Text sds_Text_TextStyle_Mouse sds_Text_Align_Left bank-information">
				<span class="summary-label">{{i18n.achDirectDebit.achVerification.summary.account}}</span>
				<span class="account">{{number}}</span>
			</p>
			<p class="sds_Text sds_Text_TextStyle_Mouse sds_Text_Align_Left bank-information">
				<span class="summary-label">{{i18n.achDirectDebit.achVerification.summary.type}}</span>
				<span class="type">{{type}}</span>
			</p>
		</div>
		<div class="ach-section-error ach-section-hidden" data-payment-type="incorrect-amount">
			{{#monsterPanelText i18n.achDirectDebit.verificationFailure.title "danger" "fill-width"}}
				{{i18n.achDirectDebit.verificationFailure.message}}
			{{/monsterPanelText}}
		</div>
	{{#if isAwaitingSettlement}}
		<div class="ach-section-waiting">
			{{#monsterPanelText null "warning" "fill-width"}}
				{{i18n.achDirectDebit.awaitingSettlement.description}}
			{{/monsterPanelText}}
		</div>
	{{/if}}
		<div class="ach-section">
			<form id="form_ach_verification" class="ach-verification-form">
			{{#unless isAwaitingSettlement}}
				<fieldset class="settings-item-section">
					<div class="control-group">
						<label class="control-label" for="deposit_amount_1">{{i18n.achDirectDebit.achVerification.achVerificationForm.depositAmount.label}}</label>
						<div class="controls">
							<input type="text" id="deposit_amount_1" name="deposit_amount_1" class="ach-deposit-amout" value="" pattern="\d+(\.\d{2})?" placeholder="{{i18n.achDirectDebit.achVerification.achVerificationForm.depositAmount.placeholder}}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="deposit_amount_2">{{i18n.achDirectDebit.achVerification.achVerificationForm.depositAmount.label}}</label>
						<div class="controls">
							<input type="text" id="deposit_amount_2" name="deposit_amount_2" class="ach-deposit-amout" value="" pattern="\d+(\.\d{2})?" placeholder="{{i18n.achDirectDebit.achVerification.achVerificationForm.depositAmount.placeholder}}">
						</div>
					</div>
				</fieldset>
			{{/unless}}
				<button id="remove_account" class="monster-button-danger">
					{{i18n.achDirectDebit.achVerification.button.removeAccount}}
				</button>
			{{#unless isAwaitingSettlement}}
				<button id="verify_account" class="monster-button-primary">
					{{#if billingHasPendingChanges}}
						{{i18n.achDirectDebit.achVerification.button.saveAndVerifyAccount}}
					{{else}}
						{{i18n.achDirectDebit.achVerification.button.verifyAccount}}
					{{/if}}
				</button>
			{{/unless}}
			</form>
		</div>
	</div>
</div>
