<table class="show-bank-content-wrapper">
	<tbody>
		<tr class="show-bank-row">
			<td class="show-bank-label">{{i18n.achDirectDebit.achVerification.summary.bankName}}</td>
			<td class="show-bank-value">{{name}}</td>
		</tr>
		<tr class="show-bank-row">
			<td class="show-bank-label">{{i18n.achDirectDebit.achVerification.summary.account}}</td>
			<td class="show-bank-value">{{number}}</td>
		</tr>
		<tr class="show-bank-row">
			<td class="show-bank-label">{{i18n.achDirectDebit.achVerification.summary.type}}</td>
			<td class="show-bank-value">{{type}}</td>
		</tr>
		<tr class="show-bank-row">
			<td colspan="2">
				<button id="remove_account" class="monster-button-danger">
					{{i18n.achDirectDebit.achVerification.button.removeAccount}}
				</button>
			</td>
		</tr>
	</tbody>
</table>
