<div class="monster-feature-popup-container" id="file_upload_dialog">
	<div class="content monster-media-selection">
		<label class="control-label" for="input_media_upload">{{ i18n.mediaSelect.uploadNewMedia }}</label>
		<div class="upload-div">
			<input type="file" class="media-upload-input" accept="audio/*">
			<button type="button" class="monster-button-primary non-fixed upload-action upload-submit"><i class="fa fa-upload"></i></button>
		</div>
	</div>

	<div class="actions clearfix">
		<div class="pull-right">
			<a class="cancel-link monster-link" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="monster-button monster-button-success save">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>
