<div class="media-selector">
	<div class="media-selector-content">
		<input class="media-selector-input {{inputName}}" type="hidden" name="{{inputName}}" value="{{media.id}}">
		<div class="media-selector-dropdown" tabindex="0">
			<div class="media-selector-clickable"></div>
			<div class="media-selector-element remove-element {{#unless media}}hidden{{/unless}}" data-action="remove">
				<span class="link">{{labels.remove}}</span>
				<span class="media">{{media.name}}</span>
			</div>
			{{#unless noChoose}}
			<div class="media-selector-element" data-action="select">
				<span class="link">{{labels.choose}}</span>
			</div>
			{{/unless}}
			{{#unless noUpload}}
			<div class="media-selector-element" data-action="upload">
				<span class="link">{{labels.upload}}</span>
			</div>
			{{/unless}}
		</div>
		<div class="media-selector-displayed">
			<span class="media">
			{{#if media}}
				{{media.name}}
			{{else}}
				{{labels.empty}}
			{{/if}}
			</span>
			<span class="handle"></span>
		</div>
	</div>
</div>
