<div class="monster-feature-popup-container" id="file_upload_dialog">
	<div class="content monster-media-selection">
		<label class="control-label" for="input_media_upload">{{ i18n.mediaSelector.upload.label }}</label>
		<div class="upload-div">
			<input type="file" class="media-upload-input" accept="audio/*">
		</div>
	</div>

	<div class="actions clearfix">
		<div class="pull-right">
			<button class="monster-button cancel">{{ labels.cancel }}</button>
			<button type="button" class="monster-button monster-button-primary proceed upload-submit">{{ labels.upload }}</button>
		</div>
	</div>
</div>
