<div class="trunkstore_popup cnam clearfix">
	<div class="row-fluid">
		<div class="left_image"></div>

		<div class="right_part">
			<div class="row-fluid">
				<div class="row-fluid">
					{{ i18n.caller_id_name }}
				</div>

				<div class="row-fluid">
					<form id="cnam">
						<input type="text" class="caller_id" name="display_name" value="{{display_name}}" placeholder="{{ i18n.caller_id_placeholder }}"/>
					</form>
				</div>

				<div class="row-fluid">
					<button class="btn btn-success">{{ i18n.add }}</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="help-box gray-box">
			<div class="wrapper-icon">
				&nbsp;<i class="icon-info-sign2"></i>&nbsp;
			</div>
			<div class="text-wrapper">
				<p>{{ i18n.help_first_line }}</p>
				<p>{{ i18n.help_second_line }}</p>
			</div>
		</div>
	</div>
</div>
