<div id="pbx_connector_container" data-id="{{extra.id}}">
	<div class="box-top-blue pbx-title">
		<img width="80" height="56" src="apps/pbxs/static/images/endpoints/{{img_link}}.png" class="img-style">{{server_name}}
		<span class="pull-right">
			<div class="navbar">
				<ul class="nav pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></a>
						<ul class="dropdown-menu">
							<li class="settings-pbx-link" data-step="1"><a href="#"><i class="icon-edit"></i>{{ i18n.brand_selection }}</a></li>
							<li class="settings-pbx-link" data-step="2"><a href="#"><i class="icon-signal"></i>{{ i18n.ip_configuration }}</a></li>
							<li class="settings-pbx-link" data-step="3"><a href="#"><i class="icon-wrench"></i>{{ i18n.testing }}</a></li>
							<li class="divider"></li>
							<li><a id="delete_pbx" href="#"><i class="icon-trash"></i>{{ i18n.delete_pbx }}</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</span>
	</div>
	<div id="actions_wrapper">
		<form class="form-inline">
			<label>{{ i18n.numbersLabel }}</label>
			<label id="count_phones"></label>
			<span id="trigger_links" class="nav-bar">
				<a href="#" id="remove_numbers" class="action-number"><i class="icon-remove icon-red"></i><span class="action-text">{{ i18n.remove }}</span></a>

				<li class="dropdown dropdown-move">
					<a href="#" id="move_numbers" role="button" class="action-number dropdown-toggle" data-toggle="dropdown"><i class="icon-share-alt icon-orange"></i><span class="action-text">{{ i18n.move }}</span></a>
					<ul class="dropdown-menu">
						{{#each servers_list}}
							<li class="pbx-dropdown" data-index="{{index}}"><a href="#"><img width="45" height="32" src="apps/pbxs/static/images/endpoints/{{img_link}}.png" class="img_style"/>{{server_name}}</a></li>
						{{else}}
							<li class="pbx-dropdown empty">{{ i18n.no_pbx }}</li>
						{{/each}}
					</ul>
				</li>
			</span>
			<ul class="nav buy-numbers-dropdown">
				<li class="dropdown">
					<a href="#" id="buy_numbers" class="dropdown-toggle buy-dropdown action-number" data-toggle="dropdown" data-target="#"><i class="icon-shopping-cart icon-green"></i><span class="action-text">{{ i18n.buy }}</span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a class="buy-numbers-link" data-type="regular" href="#">{{i18n.buyNumberLinks.regular}}</a></li>
						<li><a class="buy-numbers-link" data-type="tollfree" href="#">{{i18n.buyNumberLinks.tollfree}}</a></li>
						<li><a class="buy-numbers-link" data-type="vanity" href="#">{{i18n.buyNumberLinks.vanity}}</a></li>
					</ul>
				</li>
			</ul>
			<a href="#" id="port_numbers" class="action-number"><i class="icon-random icon-blue"></i><span class="action-text">{{ i18n.portLabel }}</span></a>

			<span class="search-box pull-right">
				<i class="icon-search"></i>
				<input type="text" class="search-query" placeholder="{{ i18n.search }}..."></input>
			</span>
		</form>
	</div>

	<div id="numbers_wrapper" class="numbers-wrapper">
	</div>
	<div id="search_results"></div>
</div>
