{{#each DIDs}}
<div class="number-wrapper number-box" data-phone_number="{{phoneNumber}}">
	<input type="checkbox"></input>
	<span class="phone-number">{{ formatPhoneNumber phoneNumber }}</span>
	{{#if isoCountry}}
		<span class="flag"><img src="css/flags/32/{{ isoCountry }}.png" height="32" width="32"></img></span>
	{{/if}}

	<div class="number-options pull-right">
		<div class="navbar">
			<ul class="nav pull-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></a>
					<ul class="dropdown-menu">
						{{debug this}}
						{{debug ..}}
						<li><a class="cnam-number" href="#"><i class="icon-user"></i>{{ ../i18n.callerId }}</a></li>
						<li><a class="e911-number" href="#"><i class="icon-ambulance"></i>{{ ../i18n.e911 }}</a></li>
						<li><a class="failover-number" href="#"><i class="icon-thumbs-down"></i>{{ ../i18n.failover }}</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<div class="features pull-right">
		{{#if features}}
			{{#each features}}
				{{#compare this "dash_e911"}}
				<i class="icon-green icon-ambulance"></i>
				{{/compare}}
				{{#compare this "failover"}}
				<i class="icon-green icon-thumbs-down"></i>
				{{/compare}}
				{{#compare this "outbound_cnam"}}
				<i class="icon-green icon-user"></i>
				{{/compare}}
			{{/each}}
		{{/if}}
	</div>
</div>
{{/each}}
