<div id="pbxs_manager_view" class="main-content"></div>

<div id="list_pbxs_navbar" class="navbar navbar-fixed-bottom blue">
	<div id="unassigned_numbers">
		<div id="unassigned_numbers_header">
			<i class="icon-th icon-white"></i>
			<span>{{ i18n.unassigned_numbers }}</span>
			<i class="icon-question-sign icon-white" data-toggle="tooltip" data-placement="top" data-original-title="{{ i18n.help_spare_numbers }}"></i>

			<i class="pull-right icon-chevron-up icon-white"></i>
			<i class="pull-right icon-chevron-down icon-white"></i>
			<span class="pull-right" id="unassigned_numbers_count"></span>
		</div>

		<div class="content">
			<div class="row-fluid">
				<span class="span12 search-box pull-right">
					<i class="icon-search"></i>
					<input type="text" placeholder="{{ i18n.search }}..." class="search-query">
				</span>
			</div>

			<div id="unassigned_actions" class="row-fluid">
				<div class="span6 link-box assign">
					<div class="span12"><i class="icon-check"></i>{{ i18n.assign }}</div>
				</div>

				<div class="span6 link-box delete">
					<div class="span12"><i class="icon-trash"></i>{{ i18n.delete }}</div>
				</div>
			</div>

			<div id="unassigned_numbers_wrapper">
			</div>

			<div id="empty_search">
				{{ i18n.no_number_available }}
			</div>
		</div>
	</div>

	<div id="add_pbx" class="pbx-wrapper">
		<div class="img-wrapper">
			+
		</div>
		<div class="pbx-name">{{ i18n.add_pbx }}</div>
	</div>
	<div id="pbxs_manager_listpanel"></div>
</div>
