.balance-content-wrapper .title-bar > *:not(.pull-right) {
    float: left;
}

.balance-content-wrapper .title-bar .add-credits-div {
    height: 80px;
    padding: 0 40px;
}
.balance-content-wrapper .title-bar .add-credits-div button {
    margin-top: 25px;
}

.balance-content-wrapper .title-bar .box-white-border .box-white-content {
    height: 58px;
}

.balance-content-wrapper .title-bar .box-white-border .box-white-content .value {
    color: #22ccff;
    font-size: 30px;
    font-weight: bold;
    margin-top: 7px;
    text-shadow: 1px 1px 1px #666666;
}

.balance-content-wrapper .title-bar .box-data {
    padding: 0 15px;
}

.balance-content-wrapper .title-bar .box-data .value {
    color: #22CCFF;
    font-size: 18px;
    font-weight: 500;
}

.balance-content-wrapper .title-bar .box-data button {
    margin-top: 5px;
    width: 100%;
}


/* ADD CREDITS POPUP */
.add-credits-content-wrapper {
    display: block;
    margin: auto;
    width: 500px;
    padding: 20px 0;
}

.add-credits-content-wrapper .fancy-header .left-image {
    font-weight: bold;
    text-align: center;
    width: 77px;
    color: #DDDDDD;
    font-size: 60px;
    text-shadow: 1px 1px 1px #EEEEEE;
    line-height: 55px;
}

.add-credits-content-wrapper .fancy-header .right-block .main-title {
    font-size: 35px;
    height: 80px;
    line-height: 75px;
}

.add-credits-content-wrapper .box-content {
    padding: 20px 10px;
}

.add-credits-content-wrapper .box-content .line-content {
    height: 50px;
    line-height: 50px;
}

.add-credits-content-wrapper .box-content .line-content > * {
    float: left;
    height: 50px;
}

.add-credits-content-wrapper .box-content .line-content .line-label {
    font-weight: 500;
    width: 200px;
}

.add-credits-content-wrapper .box-content .line-content .line-label.smaller {
    font-weight: 400;
    font-size: 12px;
    margin-left: 4px;
    width: 196px;
}

.add-credits-content-wrapper .box-content .line-content .line-value {
    width: 120px;
}

.add-credits-content-wrapper .box-content .line-content .line-value > * {
    float: left;
}

.add-credits-content-wrapper .box-content .line-content .line-value .fancy-dollar-sign {
    color: #ccc;
    font-size: 28px;
}

.add-credits-content-wrapper .box-content .line-content .line-value input {
    margin: 10px 0 0 5px;
    width: 70px;
}

.add-credits-content-wrapper .box-content .line-content .line-button {
    width: 138px;
    padding: 0 10px;
    text-align: right;
}

.add-credits-content-wrapper .box-content .line-content .line-button button {
    margin-top: 10px;
    width: 100%;
}

.add-credits-content-wrapper .box-content .line-content .line-button .switch {
    margin-top: 10px;
}
