.myaccount-content .trunks-content {
	display: block;
	margin: auto;
	width: 500px;
}

.myaccount-content .trunks-content .slider-value {
	background: #22ccff;
	border: 1px solid #FFFFFF;
	box-shadow: 1px 1px 4px #CCCCCC;
	color: #FFFFFF;
	height: 40px;
	margin: 0 10px 0 46px;
	text-align: center;
	width: 50px;
}

.myaccount-content .trunks-content .slider-value:after {
	border-color: #22CCFF transparent;
	border-style: solid;
	border-width: 7px 7px 0;
	content: "";
	display: block;
	left: 18px;
	position: relative;
	width: 0;
}

.myaccount-content .trunks-content .total-amount {
	font-weight: 500;
}

.myaccount-content .trunks-content #slider_twoway .ui-slider-range, .myaccount-content .trunks-content #slider_twoway .ui-slider-handle, .myaccount-content .trunks-content #slider_inbound .ui-slider-range, .myaccount-content .trunks-content #slider_inbound .ui-slider-handle {
	background-color: #22ccff;
}

.myaccount-content .trunks-content .section-button {
	text-align: right;
}

.myaccount-content .trunks-content .section-button .update-limits {
	margin-top: 50px;
}

.myaccount-content .trunks-content .section-slider-value{
	max-width: 580px;
}

.myaccount-content .trunks-content .section-slider {
	margin-top: 20px;
}

.myaccount-content .trunks-content  .slider-title {
	width: 60px;
	float: left;
	margin: -5px 10px 0 0;
}

.myaccount-content .trunks-content .section-slider .slider-wrapper {
	width: 430px;
	float: left;
}

.myaccount-content .trunks-content .slider-value-wrapper {
	display: block;
	position: relative;
}

.myaccount-content .trunks-content .slider-value-wrapper > * {
	float: left;
	line-height: 40px;
}

.myaccount-content .trunks-content  .value-slider {
	position: relative;
	display: block;
}
