#myaccount .myaccount-content .trunks-content .title-bar .title-box.message-box {
	height: 60px;
	float: right;
	width: 200px;
	overflow: hidden;
}

#myaccount .myaccount-content .trunks-content .title-bar .title-box.message-box .title {
	line-height: 20px;
	font-weight: 400;
	font-size: 12px;
}

#myaccount .myaccount-content .trunks-content .section-button {
	margin-top: 40px;
	padding-top: 20px;
	border-top: solid 1px #c0c0c9;
}

#myaccount .myaccount-content .trunks-content .slider-title {
	display: inline-block;
}

#myaccount .myaccount-content .trunks-content .slider-wrapper {
	display: inline-block;
	width: 300px;
	margin-left: 20px;
	padding-top: 50px;
	position: relative;
}

.ui-slider-range {
	background: #22a5ff;
}

#myaccount .myaccount-content .trunks-content .slider-wrapper .ui-slider {
	border: solid 1px #c0c0c9;
	height: 6px;
	background: #fff;
}

#myaccount .myaccount-content .trunks-content .slider-wrapper .ui-slider .ui-slider-handle {
	height: 18px;
	width: 18px;
	border-radius: 10px;
	top: -7px;
	background: #f0f0f9;
	border: solid 1px #c0c0c9;
	cursor: pointer;
}

#myaccount .myaccount-content .trunks-content .slider-wrapper .slider-value {
	position: absolute;
	top: 0px;
	color: #22a5ff;
	border: solid 1px #0297e5;
	padding: 6px 4px;
	font-size: 24px;
	font-weight: 600;
	transform: translateX(-50%);
	margin-left: 0.5%;
	background: #fff;
}

#myaccount .myaccount-content .trunks-content .slider-wrapper .slider-value:after {
	border-color: #fff transparent;
	border-style: solid;
	border-width: 9px 6px 0;
	content: "";
	left: 50%;
	bottom: -7px;
	transform: translateX(-50%);
	position: absolute;
	
}

#myaccount .myaccount-content .trunks-content .slider-wrapper .slider-value:before {
	border-color: #22a5ff transparent;
	border-style: solid;
	border-width: 9px 6px 0;
	content: "";
	left: 50%;
	bottom: -9px;
	transform: translateX(-50%);
	position: absolute;
}

#myaccount .myaccount-content .trunks-content .question-box {
	display: inline-block;
	float: right;
	background-color: #f0f0f9;
	padding: 10px;
	font-size: 12px;
	border: solid 1px #c0c0c9;
	margin-top: 10px;
}

#myaccount .myaccount-content .trunks-content .question-box > * {
	display: inline-block;
}

#myaccount .myaccount-content .trunks-content .question-box .box-message {
	width: 240px;
}

#myaccount .myaccount-content .trunks-content .question-box .box-icon {
	width: 40px;
	vertical-align: top;
}

#myaccount .myaccount-content .trunks-content .question-box .box-icon i {
	color: #c0c0c9;
	font-size: 30px;
}