<div class="provisioner-container">
	<div class="actions-wrapper">
		<div class="form-inline">
			<span>{{ i18n.devices }}</span>

			<span id="trigger_links">
				<a href="#" id="delete_devices" class="action-device"><i class="icon-remove icon-red"></i><span class="action-text">{{ i18n.delete }}</span></a>
				<a href="#" id="provision_devices" class="action-device"><i class="icon-telicon-configuration icon-yellow"></i><span class="action-text">{{ i18n.update }}</span></a>
			</span>
		</div>
	</div>
	<div class="accounts-list">
	{{#each data}}
		<div class="account-section{{#compare @index '===' 0}} active{{/compare}}" data-id="{{id}}" data-name="{{name}}">
			<div class="account-header">
				<div class="right-links pull-right">
					<a href="#" class="add-device" class="dropdown-toggle add-dropdown action-device" data-toggle="dropdown" data-target="#">
						<i class="icon-shopping-cart"></i>
						<span class="action-text">{{../i18n.add}}</span>
					</a>
				</div>
				<div class="left-part">
				</div>
				<div class="expandable">
					{{name}}
				</div>
			</div>
			<div class="devices-wrapper">
			{{#each devices}}
				<div class="device-box" data-mac-address="{{this.mac_address}}">
					<input type="checkbox"></input>
					<div class="device-name">{{this.name}}</div>
					<div class="device-mac-address">{{this.mac_address_formatted}}</div>
					<div class="device-brand {{this.brand}}"></div>
					<div class="device-model {{this.brand}}-{{this.model}}"></div>
				</div>
			{{else}}
				<div class="device-box no-data">
					{{../../i18n.noDevices}}
				</div>
			{{/each}}
			</div>
		</div>
	{{/each}}
	</div>
</div>