<div class="provisioner-container">
	<div class="devices-header">
		<h3></h3>
		<form class="form-inline">
			<label for="mac">MAC Address </label>
			<input type="text" id="mac">
			<select name="manufacturer">
				<option value="default" selected>Manufacturer</option>
			</select>
			<select name="model">
				<option value="default" selected>Model</option>
			</select>
			<select name="firmware">
				<option value="default" selected>Desired Firmware</option>
			</select>
		</form>
	</div>
	<div class="devices-options">
		<div class="nav nav-bar">
		{{#each data}}
			<a class="switch-link" data-menu="{{@key}}">{{text}}</a>
		{{/each}}
		</div>
		<div class="container">
		{{#each data}}
			<form class="form-horizontal content" data-content="{{@key}}">
			{{#each this.data}}
				<div class="{{@key}}">
					<legend>{{text}}</legend>
				</div>
			{{/each}}
			</form>
		{{/each}}
		</div>
	</div>
</div>