/* Provisioner Popup */
.device-popup {
	width: 700px;
}

.device-popup .text-right {
	padding: 10px;
	text-align: right;
}

.device-popup .block-brand {
	background: #eee;
	border: 1px solid #ddd;
}

.device-popup .title-bar {
	padding: 20px 10px;
}

.device-popup .block-brand .brand-selection {
	background: #ccc;
	border-top: 2px solid #22CCFF;
	overflow-x: auto;
	padding: 10px 0 5px;
	white-space: nowrap;
	width: auto;
}

.device-popup .block-brand .brand-selection .brand-box {
	border: 2px solid #666666;
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    display: inline-block;
    font-weight: bold;
    height: 67px;
    line-height: 69px;
    margin: auto 10px;
    text-align: center;
    width: 95px;
}

.device-popup .block-brand .brand-selection .brand-box.unselected {
	opacity: 0.5;
}

.device-popup .block-brand .brand-selection .brand-box.selected,
.device-popup .block-brand .brand-selection .brand-box:hover {
	border: 2px solid #22CCFF;
	cursor: pointer;
}

/* Default state */
.device-popup .block-device,
.device-popup .actions{
	display: none;
}

.device-popup .block-device .device-selection {
	background: #FFF;
	border: 1px solid #CCC;
	padding: 10px;
}

.device-popup .block-device .device-selection .device-box {
	border-radius: 4px;
	border: 2px solid #FFF;
	display: inline-block;
	margin: 0 0px 10px;
	padding: 3px;
}

.device-popup .block-device .device-selection .device-box.selected {
	border: 2px solid #22CCFF !important;
}
.device-popup .block-device .device-selection .device-box:hover {
	border: 2px solid #ddd;
	cursor: pointer;
}

.device-popup .block-device .device-selection .device-box .device-image {
	height: 80px;
	width: 100px;
}

.device-popup .block-device .device-selection .device-box .device-name {
	text-align: center;
}

.device-popup .block-device .device-selection .devices-brand {
	display: none;
}

.device-popup .block-device .device-selection .devices-brand.active {
	display: block;
}

.device-popup .actions .selection {
	display: inline-block;
	margin-right: 20px;
	font-size: 16px;
	font-weight: 500;
}
