@import "../../../../css/partials/base";

#main_topbar_alert {
	#main_topbar_alert_toggle_container {
		// Transition to hide
		visibility: hidden;
		opacity: 0;
		-webkit-transition: visibility 0.25s, opacity 0.25s ease-in-out;
		   -moz-transition: visibility 0.25s, opacity 0.25s ease-in-out;
			-ms-transition: visibility 0.25s, opacity 0.25s ease-in-out;
			 -o-transition: visibility 0.25s, opacity 0.25s ease-in-out;
				transition: visibility 0.25s, opacity 0.25s ease-in-out;

		// Rest of styles
		width: 440px;
		margin-top: 8px;
		margin-left:-356px;

		&::before {
			display: block;
			float: right;
			width: 1px;
			margin-top: -5px;
			margin-right: 50px;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 5px solid $woodsmoke;
			content: '';
		}

		.alert-toggle-group{
			&:first-child .alert-toggle-header {
				border-radius: 2px 2px 0 0;
			}

			&:last-child .alert-toggle-item  {
				border-radius: 0 0 2px 2px;
			}

			.alert-toggle-header {
				padding: 4px 16px;
				color: $manatee;
				background-color: $woodsmoke;
				font-size: 12px;
				font-weight: 600;
				letter-spacing: 0.4px;
				text-transform: uppercase;
			}

			.alert-toggle-item {
				padding: 12px 16px;
				background: $shark2;
				box-shadow: inset 0 -1px 0 0 $woodsmoke,
				inset 0 1px 0 0 $woodsmoke;

				* {
					margin-left: 48px;
					margin-right: 0;
					margin-bottom: 0;
					color: $white;
					font-size: 12px;
					font-weight: normal;
					line-height: 12px;
				}

				.icon {
					float: left;
					width: 32px;
					height: 32px;
					margin-top: 2px;
					margin-left: 0px;
					background: url('/css/assets/defaultAppIcon.png') no-repeat center;
					background-size: contain;
				}

				h1 {
					margin-top: 0;
					font-size: 14px;
					font-weight: 600;
					line-height: 18px;
				}

				h2, p {
					letter-spacing: 0;
				}

				h2 {
					margin-top: 4px;
					color: $french-gray2;
				}

				p {
					margin-top: 12px;
				}

				.button-clear {
					margin-top: 12px;
					padding: 8px 12px;
					background-color: $midgray2;
					border:none;
					border-radius: 2px;
				}
			}
		}
	}

	&.open {
		#main_topbar_alert_toggle_container {
			// Transition to show
			visibility: visible;
			opacity: 1;
			-webkit-transition: opacity 0.15s ease-in-out;
		   	   -moz-transition: opacity 0.15s ease-in-out;
				-ms-transition: opacity 0.15s ease-in-out;
				 -o-transition: opacity 0.15s ease-in-out;
					transition: opacity 0.15s ease-in-out;
		}
	}
}
