@import "../../../../css/partials/base";

#main_topbar_alerts {
	#main_topbar_alerts_container {
		// Transition to hide
		visibility: hidden;
		opacity: 0;
		-webkit-transition: visibility 0.25s, opacity 0.25s ease-in-out;
		   -moz-transition: visibility 0.25s, opacity 0.25s ease-in-out;
			-ms-transition: visibility 0.25s, opacity 0.25s ease-in-out;
			 -o-transition: visibility 0.25s, opacity 0.25s ease-in-out;
				transition: visibility 0.25s, opacity 0.25s ease-in-out;

		// Rest of styles
		width: 425px;
		margin-top: 8px;
		margin-left:-356px;
		background-color: $woodsmoke;
		font-size: 14px;

		&::before {
			display: block;
			float: right;
			width: 1px;
			margin-top: -5px;
			margin-right: 45px;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 5px solid $woodsmoke;
			content: '';
		}

		.dropdown-header {
 	 		box-sizing: border-box;
			height: 36px;
			border-radius: 2px 2px 0 0;
			box-shadow: 0 1px 0 0 $midgray2;
			color: $french-gray2;
			padding: 12px 16px;
			font-weight: 600;
			line-height: 14px;
		}

		.dropdown-body {
			color: $manatee;
			overflow-y: auto;

			.alert-group{
				&:last-child .alert-item  {
					border-radius: 0 0 2px 2px;
				}

				.alert-header {
					padding: 4px 16px;
					font-size: 12px;
					font-weight: 600;
					letter-spacing: 0.4px;
					text-transform: uppercase;
				}

				.alert-item {
					background: $shark2;
					box-shadow: inset 0 -1px 0 0 $woodsmoke,
					inset 0 1px 0 0 $woodsmoke;
					padding: 12px 16px;

					* {
						margin-left: 48px;
						margin-right: 0;
						margin-bottom: 0;
						color: $white;
						font-size: 12px;
						font-weight: normal;
						line-height: 12px;
					}

					.icon {
						float: left;
						width: 32px;
						height: 32px;
						margin-top: 2px;
						margin-left: 0px;
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
					}

					h1 {
						margin-top: 0;
						font-size: 14px;
						font-weight: 600;
						line-height: 18px;
					}

					h2, p {
						letter-spacing: 0;
					}

					h2 {
						margin-top: 4px;
						color: $french-gray2;
					}

					p {
						margin-top: 12px;
					}

					.button-clear {
						margin-top: 12px;
						background-color: $midgray2;
						border:none;
						border-radius: 2px;
						padding: 8px 12px;
					}
				}
			}

			.alert-group-empty {
				display: none;
				box-sizing: border-box;
				height: 50px;
				background-color: $shark2;
				border-radius: 0 0 2px 2px;
				padding: 18px 16px;
				font-style: italic;
				line-height: 14px;

				&:first-child {
					display: block;
				}
			}
		}
	}

	&.open {
		#main_topbar_alerts_container {
			// Transition to show
			visibility: visible;
			opacity: 1;
			-webkit-transition: opacity 0.15s ease-in-out;
			   -moz-transition: opacity 0.15s ease-in-out;
				-ms-transition: opacity 0.15s ease-in-out;
				 -o-transition: opacity 0.15s ease-in-out;
					transition: opacity 0.15s ease-in-out;
		}
	}
}

@media(min-width: 1200px) {
	#main_topbar_alerts_container {
		width: 440px !important;

		&::before {
			margin-right: 50px !important;
		}
	}
}
