<div>
	<div class="row">
		<div class="whapp-header">
			{{if data.id}}
                <h1>Edit Smart Phone</h1>
            {{else}}
            	<h1>Add a Smart Phone</h1>
            {{/if}}
			<div class="buttons-right pasted view-buttons">
				<button class="btn black basic activate">Basic</button>
				<button class="btn black advanced">Advanced</button>
			</div>
		</div>
	</div>
	<div class="row">
		<ul class="tabs" data-tabs="tabs">
		 	<li class="active"><a href="#basic">Basic</a></li>
		 	<li><a href="#options"><span class="icon wrench_screw"></span>Options</a></li>
		 	<li><a href="#sip_settings">Wifi Calling</a></li>
		</ul>
		<form id="device-form" action="" method="post">
			<div class="pill-content">
				<div class="active basic_view" id="basic">
					<div class="clearfix">
						<label for="name">Name</label>
						<div class="input">
							<input class="span4" id="name" name="name" type="text" placeholder="Name" value="${data.name}" rel="popover" data-content="Friendly name for this device"/>
						</div>
					</div>

					{{if field_data.hide_owner}}
                    {{else}}
						<div class="clearfix">
							<label for="owner_id">Belongs To</label>
							<div class="input">
								<span rel="popover" data-content="Select the owner of this device">
									<select name="owner_id" id="owner_id" class="medium">
										{{each field_data.users}}
		                                    {{if data.owner_id == id}}
		                                        <option value="${id}" id="${id}" selected="selected">${first_name} ${last_name}</option>
		                                    {{else}}
		                                        <option value="${id}" id="${id}">${first_name} ${last_name}</option>
		                                    {{/if}}
		                                {{/each}}
									</select>
									<div class="edit_create">
		                            	<a id="edit_link"  class="inline_action" data-action="edit" href="#">Edit</a>
		                                <a class="inline_action" data-action="create" href="#">Create</a>
									</div>
								</span>
							</div>
						</div>
					{{/if}}

					<div class="clearfix">
						<label for="call_forward_number">Number</label>
						<div class="input">
							<input class="span4" id="call_forward_number" name="call_forward.number" type="text" placeholder="Number" value="${data.call_forward.number}" rel="popover" data-content="Outside number you wish to reach"/>
						</div>
					</div>

					<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
								<li>
									<label>
										<span  rel="popover" data-content="Check to enable device.">
											{{if data.call_forward.enabled == true}}
							                    <input type="checkbox" id="call_forward_enabled" name="call_forward.enabled" checked="checked"/>
							                {{else}}
							                    <input type="checkbox" id="call_forward_enabled" name="call_forward.enabled" />
							                {{/if}}
							                <span>Enabled</span>
						                </span>
						            </label>
						        </li>
						    </ul>
						</div>
					</div>
					<input type="hidden" value="${data.device_type}" name="device_type"/>
	                <input type="hidden" value="false" name="media.fax.option"/>
	                <input type="hidden" value="false" name="extra.notify_unregister"/>
				</div>

				<div id="options">
					<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
								<li>
									<label>
										<span rel="popover" data-content="Do you want to require a key press to answer this call">
											{{if data.call_forward.require_keypress == true}}
							                    <input type="checkbox" id="call_forward_require_keypress" name="call_forward.require_keypress" checked="checked" />
							                {{else}}
							                    <input type="checkbox" id="call_forward_require_keypress" name="call_forward.require_keypress" />
							                {{/if}}
							                <span>Require Key Press</span>
						                </span>
						            </label>
						        </li>
						    </ul>
						</div>
					</div>

					<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
								<li>
									<label>
										<span rel="popover" data-content="If set to true it will use the caller-id of the caller">
											{{if data.call_forward.keep_caller_id == true}}
							                    <input type="checkbox" id="call_forward_keep_caller_id" name="call_forward.keep_caller_id" checked="checked"/>
							                {{else}}
							                    <input type="checkbox" id="call_forward_keep_caller_id" name="call_forward.keep_caller_id" />
							                {{/if}}
							                <span>Keep Caller ID</span>
						                </span>
						            </label>
						        </li>
						    </ul>
						</div>
					</div>
				</div>

				<div id="sip_settings">
					<div class="clearfix">
						<label for="sip_realm">Realm</label>
						<div class="input">
							<span class="uneditable-input">${field_data.sip.realm}</span>
						</div>
					</div>

					<div class="clearfix">
						<label for="sip_method">Authentication Method</label>
						<div class="input">
							<select name="sip.method" id="sip_method" class="medium" rel="popover" data-content="Select your authentication method">
								{{each(key, val) field_data.sip.methods}}
                                    {{if data.sip.method == key}}
                                        <option value="${key}" selected="selected">${val}</option>
                                    {{else}}
                                        <option value="${key}">${val}</option>
                                    {{/if}}
                                {{/each}}
							</select>
						</div>
					</div>

                    <div id="ip_block" class="clearfix">
                        <div class="clearfix">
                            <label for="sip_ip">IP Address</label>
                            <div class="input">
                                <input class="span4" id="sip_ip" name="sip.ip" type="text" placeholder="255.255.255.255" value="${data.sip.ip}" rel="popover" data-content="Enter the IP Address"/>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix" id="username_block">
                        <div class="clearfix">
                            <label for="sip_username">Username</label>
                            <div class="input">
                                <input class="span4" id="sip_username" name="sip.username" type="text" placeholder="Username" value="${data.sip.username}" rel="popover" data-content="Enter your SIP Username"/>
                            </div>
                        </div>

                        <div class="clearfix">
                            <label for="sip_password">Password</label>
                            <div class="input">
                                <input class="span4" id="sip_password" name="sip.password" type="password" placeholder="" value="${data.sip.password}"/>
                            </div>
                        </div>
                    </div>

					<div class="clearfix">
						<label for="sip_invite_format">Invite Format</label>
						<div class="input">
							<select name="sip.invite_format" id="sip_invite_format" class="medium" rel="popover" data-content="Enter your SIP Invite Format">
								{{each(key, val) field_data.sip.invite_formats}}
                                    {{if data.sip.invite_format == key}}
                                        <option value="${key}" selected="selected">${val}</option>
                                    {{else}}
                                        <option value="${key}">${val}</option>
                                    {{/if}}
                                {{/each}}
							</select>
						</div>
					</div>

					<div class="clearfix">
						<label for="sip_expire_seconds">Expire Seconds</label>
						<div class="input">
							<input class="span4" id="sip_expire_seconds" name="sip.expire_seconds" type="text" placeholder="Expire Seconds" value="${data.sip.expire_seconds}" rel="popover" data-content="Enter the expiration time of this device (in seconds)"/>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="buttons-right">
	        {{if data.id}}
	            <button class="btn danger device-delete">Delete</button>
	        {{/if}}
            <button class="btn success device-save">Save</button>
		</div>
	</div>
</div>
