@import url('submodules/devices/devices.css');
@import url('submodules/groups/groups.css');
/*@import url('submodules/myOffice/myOffice.css');*/
@import url('submodules/numbers/numbers.css');
@import url('submodules/strategy/strategy.css');
@import url('submodules/callLogs/callLogs.css');
@import url('submodules/users/users.css');

#voip_container {
	margin: auto;
	max-width: 1024px;
}

#voip_container > .left-menu {
	float: left;
	width: 179px;
	margin: 5px 10px 0 11px;
}

#voip_container > .left-menu .category-group .category:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#voip_container > .left-menu .category-group .category:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;

	border-bottom: 1px solid #ddd;
}

#voip_container > .left-menu .category {
	background-color: #fcfcfc;
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 97%) 100%);
	background-image:    -moz-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 97%) 100%);
	background-image:     -ms-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 97%) 100%);
	background-image:      -o-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 97%) 100%);
	background-image:         linear-gradient(top, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 97%) 100%);
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	cursor: pointer;
	display: block;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	padding: 15px 5px;
}

#voip_container > .left-menu .category:hover {
	background: #ddd;
}

#voip_container > .left-menu .category.active {
	position: relative;
	background-color: #22ccff;
	background-image: none;
	border: 1px solid #22ccff;
	color: #fff;
}

#voip_container > .left-menu .category.active:before {
	content: "";
	display: block;
	position: absolute;
	top: 21px;
	right: -10px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #22ccff;
}

#voip_container > .left-menu .category.active .title i {
	color: #fff;
}

#voip_container > .left-menu .category.active .badge {
	color: #22ccff;
	border: 1px solid #fff;
}

#voip_container > .left-menu .category.simple {
	border-bottom: 1px solid #ddd;
}

#voip_container > .left-menu .category.separated {
	border-radius: 4px;
	margin: 10px auto 0 auto;
}

#voip_container > .left-menu .category-group {
	margin-top: 10px;
}

#voip_container > .left-menu .category:last-child {
	margin-bottom: 0;
}

#voip_container > .left-menu .category .title {
	display: inline-block;
	max-width: 145px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#voip_container > .left-menu .category.simple .title {
	max-width: 165px
}

#voip_container > .left-menu .category .badge {
	background: #fff;
	border: 1px solid #ddd;
	color: #666;
	margin-top: 5px;
	text-shadow: none;
}

#voip_container > .left-menu .category .title i {
	color: #929799;
	margin: 0px 8px 0px 4px;
}

/* For smaller Icons */
#voip_container > .left-menu .category .title i.larger-margin {
	margin-right: 12px;
}

#voip_container .right-content {
	margin-left: 201px;
	margin-bottom: 10px;
	padding: 15px 15px 0;
}

#voip_container .right-content > * {
	padding-top: 0;
	margin-top: 0;
}
@media (max-width: 979px) {
	#voip_container > .left-menu {
		-moz-transition:width 0.5s;
		-webkit-transition:width 0.5s;
		-o-transition:width 0.5s;
		transition:width 0.5s;
		width: 59px;
	}

	#voip_container > .left-menu .category {
		text-align: center;
		padding: 15px !important;
	}

	#voip_container > .left-menu .category i {
		margin: 0 !important;
		font-size: 26px;
	}

	#voip_container .right-content {
		-moz-transition:margin 0.5s;
		-webkit-transition: margin 0.5s;
		-o-transition:margin 0.5s;
		transition:margin 0.5s;
		margin-left: 81px;
	}
}

/* Hack because of otpimization: can't have relative paths since the folder hierarchy changes after optimization */

/* Devices Brands */
.device-popup .brand-selection .brand-box.polycom {
    background: url('static/images/brands/polycom.png') center no-repeat;
}
.device-popup .brand-selection .brand-box.yealink {
    background: url('static/images/brands/yealink.png') center no-repeat;
}
.device-popup .brand-selection .brand-box.cisco {
    background: url('static/images/brands/cisco.png') center no-repeat;
}
.device-popup .brand-selection .brand-box.mocet {
    background: url('static/images/brands/mocet.png') center no-repeat;
}
.device-popup .brand-selection .brand-box.snom {
    background: url('static/images/brands/snom.png') center no-repeat;
}
.device-popup .brand-selection .brand-box.audiocodes {
    background: url('static/images/brands/audiocodes.png') center no-repeat;
}

/* Devices Models */
.device-image {
	height: 80px;
	width: 100px;
}
/* Yealink */
.device-image.yealink-t18 {
	background: url('static/images/devices/yealinkt18.jpg') center no-repeat;
}
.device-image.yealink-t20 {
	background: url('static/images/devices/yealinkt20.jpg') center no-repeat;
}
.device-image.yealink-t22 {
	background: url('static/images/devices/yealinkt22.jpg') center no-repeat;
}
.device-image.yealink-t26 {
	background: url('static/images/devices/yealinkt26.jpg') center no-repeat;
}
.device-image.yealink-t28 {
	background: url('static/images/devices/yealinkt28.jpg') center no-repeat;
}
.device-image.yealink-t32 {
	background: url('static/images/devices/yealinkt32.jpg') center no-repeat;
}
.device-image.yealink-t38 {
	background: url('static/images/devices/yealinkt38.jpg') center no-repeat;
}

/* Cisco */
.device-image.cisco-901 {
	background: url('static/images/devices/cisco901.jpg') center no-repeat;
}
.device-image.cisco-921 {
	background: url('static/images/devices/cisco921.jpg') center no-repeat;
}
.device-image.cisco-922 {
	background: url('static/images/devices/cisco922.jpg') center no-repeat;
}
.device-image.cisco-941 {
	background: url('static/images/devices/cisco941.jpg') center no-repeat;
}
.device-image.cisco-942 {
	background: url('static/images/devices/cisco942.jpg') center no-repeat;
}
.device-image.cisco-962 {
	background: url('static/images/devices/cisco962.jpg') center no-repeat;
}
.device-image.cisco-303 {
	background: url('static/images/devices/cisco303.jpg') center no-repeat;
}
.device-image.cisco-501g {
	background: url('static/images/devices/cisco501g.jpg') center no-repeat;
}
.device-image.cisco-502g {
	background: url('static/images/devices/cisco502g.jpg') center no-repeat;
}
.device-image.cisco-504g {
	background: url('static/images/devices/cisco504g.jpg') center no-repeat;
}
.device-image.cisco-525g {
	background: url('static/images/devices/cisco525g.jpg') center no-repeat;
}
.device-image.cisco-525g2 {
	background: url('static/images/devices/cisco525g2.jpg') center no-repeat;
}

/* Polycom */
.device-image.polycom-1500 {
	background: url('static/images/devices/polycom1500.jpg') center no-repeat;
}
.device-image.polycom-321 {
	background: url('static/images/devices/polycom321.jpg') center no-repeat;
}
.device-image.polycom-331 {
	background: url('static/images/devices/polycom331.jpg') center no-repeat;
}
.device-image.polycom-335 {
	background: url('static/images/devices/polycom335.jpg') center no-repeat;
}
.device-image.polycom-450 {
	background: url('static/images/devices/polycom450.jpg') center no-repeat;
}
.device-image.polycom-5000 {
	background: url('static/images/devices/polycom5000.jpg') center no-repeat;
}
.device-image.polycom-550 {
	background: url('static/images/devices/polycom550.jpg') center no-repeat;
}
.device-image.polycom-560 {
	background: url('static/images/devices/polycom560.jpg') center no-repeat;
}
.device-image.polycom-6000 {
	background: url('static/images/devices/polycom6000.jpg') center no-repeat;
}
.device-image.polycom-650 {
	background: url('static/images/devices/polycom650.jpg') center no-repeat;
}
.device-image.polycom-670 {
	background: url('static/images/devices/polycom670.jpg') center no-repeat;
}
.device-image.polycom-7000 {
	background: url('static/images/devices/polycom7000.jpg') center no-repeat;
}
