@import url('submodules/devices/devices.css');
@import url('submodules/groups/groups.css');
@import url('submodules/myOffice/myOffice.css');
@import url('submodules/numbers/numbers.css');
@import url('submodules/strategy/strategy.css');
@import url('submodules/callLogs/callLogs.css');
@import url('submodules/users/users.css');

#voip_container {
	margin: auto;
	max-width: 1024px;
}

#voip_container > .left-menu {
	float: left;
	margin: 5px 10px 0 11px;
	width: 179px;
}

#voip_container > .left-menu .category {
	position: relative;
	display: block;
	padding: 15px 5px;
	height: 30px;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
	background-color: #f6f6f6;
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:    -moz-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:     -ms-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:      -o-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:         linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	color: #555;
	font-size: 18px;
	line-height: 30px;
	cursor: pointer;
}

#voip_container > .left-menu .category:hover { background: #eee; }

#voip_container > .left-menu .category.active {
	position: relative;
	background: none #22ccff;
	color: #fff;
}

#voip_container > .left-menu .category.active::after {
	position: absolute;
	top: 21px;
	right: -9px;
	display: block;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-left: 9px solid #22ccff;
	content: "";
}

#voip_container > .left-menu .category.active .title i { color: #fff; }

#voip_container > .left-menu .category.simple { margin: 10px auto 0 auto; }

#voip_container > .left-menu .category .title {
	display: inline-block;
	overflow: hidden;
	max-width: 126px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 16px;
}

#voip_container > .left-menu .category.simple .title { max-width: 165px; }

#voip_container > .left-menu .category .title i {
	margin: 0px 8px 0px 4px;
	color: #555;
}

#voip_container > .left-menu .category-group { margin-top: 20px; }

#voip_container > .left-menu .category-group .category {
	border-top: 0;
	border-bottom: 1px solid #dcdcdc;
	border-radius: 0;
}

#voip_container > .left-menu .category-group .category:not(:first-child)::before {
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	width: 100%;
	height: 100%;
	border-top: 1px solid #fff;
	content: "";
}

#voip_container > .left-menu .category-group .category:not(:first-child):hover::before { border-top: 1px solid #eee; }

#voip_container > .left-menu .category-group .category.active:not(:first-child)::before { border-top: 1px solid #22ccff; }

#voip_container > .left-menu .category-group .category:first-child {
	border: 1px solid #dcdcdc;
	border-radius: 4px 4px 0 0;
}

#voip_container > .left-menu .category-group .category:last-child {
	border-radius: 0 0 4px 4px;
}

/* For smaller Icons */
#voip_container > .left-menu .category .title i.larger-margin { margin-right: 12px; }

#voip_container .right-content {
	margin-bottom: 20px;
	margin-left: 201px;
	padding: 15px 15px 0;
}

#voip_container .right-content > * {
	margin-top: 0;
	padding-top: 0;
}
@media (max-width: 979px) {
	#voip_container > .left-menu {
		width: 59px;
		-webkit-transition:width 0.5s;
		-moz-transition:width 0.5s;
		-o-transition:width 0.5s;
		transition:width 0.5s;
	}

	#voip_container > .left-menu .category {
		padding: 15px !important;
		text-align: center;
	}

	#voip_container > .left-menu .category i {
		margin: 0 !important;
		font-size: 26px;
	}

	#voip_container .right-content {
		margin-left: 81px;
		-webkit-transition: margin 0.5s;
		-moz-transition:margin 0.5s;
		-o-transition:margin 0.5s;
		transition:margin 0.5s;
	}
}

/* Hack because of otpimization: can't have relative paths since the folder hierarchy changes after optimization */

/* Devices Brands */
.device-popup .brand-selection .brand-box.polycom {
    background: url('static/images/brands/polycom.png') center no-repeat;
}
.device-popup .brand-selection .brand-box.yealink {
    background: url('static/images/brands/yealink.png') center no-repeat;
}
.device-popup .brand-selection .brand-box.cisco {
    background: url('static/images/brands/cisco.png') center no-repeat;
}
.device-popup .brand-selection .brand-box.mocet {
    background: url('static/images/brands/mocet.png') center no-repeat;
}
.device-popup .brand-selection .brand-box.snom {
    background: url('static/images/brands/snom.png') center no-repeat;
}
.device-popup .brand-selection .brand-box.audiocodes {
    background: url('static/images/brands/audiocodes.png') center no-repeat;
}

/* Devices Models */
.device-image {
	width: 100px;
	height: 80px;
}
/* Yealink */
.device-image.yealink-t18 {
	background: url('static/images/devices/yealinkt18.jpg') center no-repeat;
}
.device-image.yealink-t20 {
	background: url('static/images/devices/yealinkt20.jpg') center no-repeat;
}
.device-image.yealink-t22 {
	background: url('static/images/devices/yealinkt22.jpg') center no-repeat;
}
.device-image.yealink-t26 {
	background: url('static/images/devices/yealinkt26.jpg') center no-repeat;
}
.device-image.yealink-t28 {
	background: url('static/images/devices/yealinkt28.jpg') center no-repeat;
}
.device-image.yealink-t32 {
	background: url('static/images/devices/yealinkt32.jpg') center no-repeat;
}
.device-image.yealink-t38 {
	background: url('static/images/devices/yealinkt38.jpg') center no-repeat;
}

/* Cisco */
.device-image.cisco-901 {
	background: url('static/images/devices/cisco901.jpg') center no-repeat;
}
.device-image.cisco-921 {
	background: url('static/images/devices/cisco921.jpg') center no-repeat;
}
.device-image.cisco-922 {
	background: url('static/images/devices/cisco922.jpg') center no-repeat;
}
.device-image.cisco-941 {
	background: url('static/images/devices/cisco941.jpg') center no-repeat;
}
.device-image.cisco-942 {
	background: url('static/images/devices/cisco942.jpg') center no-repeat;
}
.device-image.cisco-962 {
	background: url('static/images/devices/cisco962.jpg') center no-repeat;
}
.device-image.cisco-303 {
	background: url('static/images/devices/cisco303.jpg') center no-repeat;
}
.device-image.cisco-501g {
	background: url('static/images/devices/cisco501g.jpg') center no-repeat;
}
.device-image.cisco-502g {
	background: url('static/images/devices/cisco502g.jpg') center no-repeat;
}
.device-image.cisco-504g {
	background: url('static/images/devices/cisco504g.jpg') center no-repeat;
}
.device-image.cisco-525g {
	background: url('static/images/devices/cisco525g.jpg') center no-repeat;
}
.device-image.cisco-525g2 {
	background: url('static/images/devices/cisco525g2.jpg') center no-repeat;
}

/* Polycom */
.device-image.polycom-1500 {
	background: url('static/images/devices/polycom1500.jpg') center no-repeat;
}
.device-image.polycom-321 {
	background: url('static/images/devices/polycom321.jpg') center no-repeat;
}
.device-image.polycom-331 {
	background: url('static/images/devices/polycom331.jpg') center no-repeat;
}
.device-image.polycom-335 {
	background: url('static/images/devices/polycom335.jpg') center no-repeat;
}
.device-image.polycom-450 {
	background: url('static/images/devices/polycom450.jpg') center no-repeat;
}
.device-image.polycom-5000 {
	background: url('static/images/devices/polycom5000.jpg') center no-repeat;
}
.device-image.polycom-550 {
	background: url('static/images/devices/polycom550.jpg') center no-repeat;
}
.device-image.polycom-560 {
	background: url('static/images/devices/polycom560.jpg') center no-repeat;
}
.device-image.polycom-6000 {
	background: url('static/images/devices/polycom6000.jpg') center no-repeat;
}
.device-image.polycom-650 {
	background: url('static/images/devices/polycom650.jpg') center no-repeat;
}
.device-image.polycom-670 {
	background: url('static/images/devices/polycom670.jpg') center no-repeat;
}
.device-image.polycom-7000 {
	background: url('static/images/devices/polycom7000.jpg') center no-repeat;
}
