.service-plan-content-wrapper .fancy-header .left-image {
	width: 57px;
}

.service-plan-content-wrapper  .fancy-header .right-block .main-title {
	font-size: 30px;
	font-weight: bold;
}

.service-plan-content-wrapper .action-bar {
	height: 40px;
	width: 100%;
}

.service-plan-content-wrapper .action-bar > * {
	float: left;
}

.service-plan-content-wrapper .action-bar .date-selection select {
	margin-bottom: 0px;
}

/* Table Customization */
.service-plan-content-wrapper table.table {
	border: solid 1px #c0c0c9;
}
.service-plan-content-wrapper table.table th {
	text-align: center;
	background: #f0f0f9;
	color: #303039;
	text-shadow: none;
	border-bottom: solid 1px #c0c0c9;
}
.service-plan-content-wrapper table.table tr {
	background: #fff;
}
.service-plan-content-wrapper table.table td {
	text-align: center;
	border: none;
}
.service-plan-content-wrapper table.table tr:not(:first-child) td {
	border-top: solid 1px #c0c0c9;
}
.service-plan-content-wrapper table.table tr th:first-child,
.service-plan-content-wrapper table.table tr th:last-child {
	width: 10px;
	padding: 0;
}
.service-plan-content-wrapper table.table tr td:first-child,
.service-plan-content-wrapper table.table tr td:last-child {
	width: 10px;
	padding: 0;
	border: none;
}