.trunkstore_popup.numberMessaging {
	width: 510px;
	margin: 0;

	.popup-content {
		padding: 16px;

		&:not(:first-child) {
			border-top: 1px solid #ccc;
		}

		.help-box {
			margin-top: 20px;
		}

		.popup-row {
			margin-top: 16px;

			.popup-controls select {
				width: 100%;
			}
		}

		.chosen-container .chosen-drop {
			z-index: 25000 !important;
		}
	 }

	.popup-actions .cancel-link {
		margin-right: 10px;
	}

	.form-actions {
		display: flex;
		justify-content: flex-end;
		margin: 0;
		padding: 15px 25px;

		& > button:not(:last-child) {
			margin-right: 10px;
		}
	}

	.info-carrierTio {
		font-size: 12px;
		color: #454545;
	}
}


