<form class="trunkstore_popup numberIm form-horizontal" id="form_number_im">
	<div class="popup-content">
		<div class="control-group">
			<label for="number_sms_enabled" class="control-label">
				{{i18n.numberIm.sms.title}}
			</label>
			<div class="controls">
			{{#monsterSwitch}}
				<input type="checkbox" id="number_sms_enabled" name="sms.enabled"{{#if sms.enabled}} checked="checked"{{/if}}/>
			{{/monsterSwitch}}
			</div>
		</div>
		<div class="control-group">
			<label for="number_mms_enabled" class="control-label">
				{{i18n.numberIm.mms.title}}
			</label>
			<div class="controls">
			{{#monsterSwitch}}
				<input type="checkbox" id="number_mms_enabled" name="mms.enabled"{{#if mms.enabled}} checked="checked"{{/if}}/>
			{{/monsterSwitch}}
			</div>
		</div>
		{{#monsterPanelText "" "info" "fill-width"}}
			{{i18n.numberIm.help}}
		{{/monsterPanelText}}
	</div>
	<div class="form-actions">
		<button class="monster-button monster-button-ghost cancel-link">
			{{i18n.cancel}}
		</button>
		<button type="button" class="monster-button monster-button-success save">
			{{ i18n.saveChanges }}
		</button>
	</div>
</form>
