*.todo
*.sublime-project
*.sublime-workspace
.DS_Store
*.directory
.gitmodules
node_modules/
dist/
distDev/
dist-dev/
src/apps/accounts
src/apps/branding
src/apps/callflows
src/apps/carriers
src/apps/cluster
src/apps/conferences
src/apps/debug
src/apps/dialplans
src/apps/fax
src/apps/inspector
src/apps/migration
src/apps/mobile
src/apps/numbers
src/apps/operator
src/apps/pivot
src/apps/pbxs
src/apps/port
src/apps/provisioner
src/apps/tasks
src/apps/userportal
src/apps/voicemails
src/apps/voip
src/apps/webhooks
src/apps/websockets
