*.todo
*.sublime-project
*.sublime-workspace
.DS_Store
*.directory
.gitmodules
node_modules/
dist/
distDev/
dist-dev/
src/apps/*
!src/apps/apploader
!src/apps/appstore
!src/apps/auth
!src/apps/common
!src/apps/core
!src/apps/demo_done
!src/apps/myaccount
!src/apps/skeleton
!src/apps/tutorial