<div class="account-content-wrapper">
	<ul class="list-settings">
		<li class="settings-item clearfix" data-name="account_name">
			<a class="settings-link clearfix">
				<span class="title">{{ i18n.account.accountName }}</span>
				<span class="description">{{account.name}}</span>
				<span class="update">
					<i class="fa fa-cog icon-small"></i>
					<span class="text">{{ i18n.editSettings }}</span>
				</span>
				<span class="changes-saved">{{ i18n.changesSaved }}</span>
			</a>
			<div class="settings-item-content">
				<div class="row-fluid">
					<div class="span12">
						<form class="form-horizontal" id="form_account_name">
							<div class="control-group">
								<label class="control-label" for="account_name">{{ i18n.account.accountName }}</label>
								<div class="controls">
									<input type="text" id="account_name" name="name" value="{{account.name}}" data-original_value="{{account.name}}"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">{{ i18n.account.accountId }}</label>
								<div class="controls">
									<div class="plain-text">{{account.id}}</div>
								</div>
							</div>
							<div class="action-group clearfix">
								<div class="action-bar">
									<button type="button" class="monster-button cancel">{{ i18n.cancel }}</button>
									<button type="submit" class="monster-button-success change" data-module="account" data-field="account_name">{{ i18n.saveChanges }}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</li>
		<li class="settings-item clearfix" data-name="account_realm">
			<a class="settings-link clearfix">
				<span class="title">{{ i18n.account.accountRealm }}</span>
				<span class="description">{{account.realm}}</span>
				<span class="update">
					<i class="fa fa-cog icon-small"></i>
					<span class="text">{{ i18n.editSettings }}</span>
				</span>
				<span class="changes-saved">{{ i18n.changesSaved }}</span>
			</a>
			<div class="settings-item-content">
				<div class="row-fluid">
					<div class="span12">
						<form class="form-horizontal" id="form_account_realm">
							<div class="control-group">
								<label class="control-label" for="password">{{ i18n.account.accountRealm }}</label>
								<div class="controls">
									<input type="text" id="account_realm" name="realm" value="{{account.realm}}" data-original_value="{{account.realm}}"/>
								</div>
							</div>
							<div class="action-group clearfix">
								<div class="action-bar">
									<button type="button" class="monster-button cancel">{{ i18n.cancel }}</button>
									<button type="submit" class="monster-button-success change" data-module="account" data-field="account_realm">{{ i18n.saveChanges }}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</li>

		<li class="settings-item clearfix" data-name="technical_contact">
			<a class="settings-link clearfix">
				<span class="title">{{ i18n.account.technicalContact }}</span>
				<span class="description">{{account.contact.technical.email}}{{#if account.contact.technical.number}}&nbsp;&nbsp;(<span class="number">{{formatPhoneNumber account.contact.technical.number}}</span>){{/if}}</span>
				<span class="update">
					<i class="fa fa-cog icon-small"></i>
					<span class="text">{{ i18n.editSettings }}</span>
				</span>
				<span class="changes-saved">{{ i18n.changesSaved }}</span>
			</a>
			<div class="settings-item-content">
				<div class="row-fluid">
					<div class="span12">
						<form id="form_technical_contact" class="form-horizontal">
							<div class="control-group">
								<label class="control-label" for="technical_contact_email">{{ i18n.account.technicalContactEmail }}</label>
								<div class="controls">
									<input type="email" id="technical_contact_email" name="contact.technical.email" value="{{account.contact.technical.email}}" placeholder="{{ i18n.placeholderEmail }}" data-original_value="{{account.contact.technical.email}}"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="technical_contact_number">{{ i18n.phoneNumber }}</label>
								<div class="controls">
									<input type="text" id="technical_contact_number" name="contact.technical.number" value="{{account.contact.technical.number}}" placeholder="{{ i18n.placeholderNumber }}" data-original_value="{{account.contact.technical.number}}"/>
								</div>
							</div>
							<div class="action-group clearfix">
								<div class="action-bar">
									<button type="button" class="monster-button cancel">{{ i18n.cancel }}</button>
									<button type="submit" class="monster-button-success change" data-module="account" data-field="technical_contact">{{ i18n.saveChanges }}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</li>

		<li class="settings-item clearfix" data-name="account_timezone">
			<a class="settings-link clearfix">
				<span class="title">{{ i18n.account.timezoneTitle }}</span>
				<div class="description">
					<ul>
						<li>{{account.timezone}}</li>
						<li>{{account.language}}</li>
					</ul>
				</div>
				<span class="update">
					<i class="fa fa-cog icon-small"></i>
					<span class="text">{{ i18n.editSettings }}</span>
				</span>
				<span class="changes-saved">{{ i18n.changesSaved }}</span>
			</a>
			<div class="settings-item-content">
				<div class="row-fluid">
					<div class="span12">
						<form class="form-horizontal" id="form_account_timezone">
							<div class="control-group">
								<label class="control-label" for="account_timezone">{{ i18n.account.userTimezone }}</label>
								<div class="controls">
									<select id="account_timezone" name="timezone" data-original_value="{{account.timezone}}"></select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="account_language">{{ i18n.account.userLanguage }}</label>
								<div class="controls">
									<select id="account_language" name="language">
										<option value="auto">{{i18n.languages.auto}}</option>
										<option value="en-US"{{#compare account.language '===' 'en-US'}} selected{{/compare}}>{{i18n.languages.americanEnglish}}</option>
										<option value="fr-FR"{{#compare account.language '===' 'fr-FR'}} selected{{/compare}}>{{i18n.languages.frenchFrench}}</option>
										<option value="ru-RU"{{#compare account.language '===' 'ru-RU'}} selected{{/compare}}>{{i18n.languages.russianRussian}}</option>
									</select>
								</div>
							</div>
							<div class="action-group clearfix">
								<div class="action-bar">
									<button type="button" class="monster-button cancel">{{ i18n.cancel }}</button>
									<button type="submit" class="monster-button-success change" data-module="account" data-field="account_timezone">{{ i18n.saveChanges }}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
