<div class="action-bar-wrapper">
	<button type="button" class="refresh-filter monster-button-secondary">
		<i class="fa fa-refresh" title="{{i18n.callLogs.resetFilter}}"></i>
		{{ i18n.refresh }}
	</button>
	<span>{{i18n.startDate}}</span>
	<input id="startDate" readonly="readonly" type="text"/>
	<span>{{i18n.endDate}}</span>
	<input id="endDate" readonly="readonly" type="text"/>
	<button type="button" class="filter-transactions monster-button-secondary">
		<i class="fa fa-filter" title="{{i18n.filter}}"></i>
		{{ i18n.filter }}
	</button>
	<button type="button" class="download-transactions monster-button-secondary">
		<i class="fa fa-download" title="{{i18n.download}}"></i>
		{{ i18n.download }}
	</button>
</div>