<div id="myaccount">
	<div class="myaccount-menu">
		<ul class="nav nav-list">
		</ul>
		<div class="menu-bottom">
			<div class="signout">
				<div class="signout-text">
					{{ i18n.signout }}
					<i class="icon-lock icon-large icon-white pull-right"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="myaccount-right">
		<div class="myaccount-titlebar">
			<div class="myaccount-module-title"></div>
			<div class="myaccount-close">
				<span><span>{{ i18n.closeSlide }}</span> <i class="icon-remove icon-small"></i></span>
			</div>
		</div>
		<div class="myaccount-content container-fluid">

		</div>
	</div>
</div>
