
{{debug}}
{{#if isMasquerading}}
<li class="restore-masquerading-link nav-masquerading myaccount-common-link">
	<a href="#">
		<div>Switch back to</div>
		<div class="name-text">My account</div>
	</a>
</li>
<li data-link="myaccount" class="myaccount-link nav-masquerading myaccount-common-link">
	<a href="#">
		<div>Currently Viewing</div>
		<div class="name-text">{{name}}</div>
	</a>
</li>
{{else}}
<li data-link="myaccount" class="myaccount-link myaccount-common-link{{#compare showMyaccount '===' false}} disabled{{/compare}}">
	<a href="#">
		<span class="user-name">{{name}}</span>
	{{#compare showMyaccount '===' true}}
		<i class="icon-cog icon-white"></i>
	{{/compare}}
	</a>
</li>
{{/if}}
