{{#if isMasquerading}}
<li class="myaccount-common-link">
	<a href="#" class="links cell" id="main_topbar_leave_masquerade">
		<div class="cell-text">{{i18n.isMasquerading.switchBackTo}}</div>
		<div class="cell-text" id="main_topbar_leave_masquerade_label">{{i18n.isMasquerading.myAccount}}</div>
	</a>
</li>
<li class="myaccount-common-link" id="main_topbar_myaccount">
	<a href="#" class="links cell" id="main_topbar_myaccount_masquerade_link">
		<div class="cell-text">{{i18n.isMasquerading.currentlyViewing}}</div>
		<div class="cell-text" id="main_topbar_myaccount_masquerade_label">{{name}}</div>
	</a>
</li>
{{else}}
<li class="myaccount-common-link" id="main_topbar_myaccount">
	<a href="#" class="links{{#compare showMyaccount '===' false}} disalbed{{/compare}}">
		<span class="inline-text" id="main_topbar_myaccount_user">{{name}}</span>
	{{#compare showMyaccount '===' true}}
		<i class="icon-cog"></i>
	{{/compare}}
	</a>
</li>
{{/if}}
