<div class="service-plan-content-wrapper">
	<div class="fancy-header">
		<div class="left-image">
			<i class="icon-calendar"></i>
		</div>

		<div class="title-block">
			{{ i18n.servicePlan.titleHeader }}
		</div>

		<div class="right-block box-white-border">
			<div class="content box-white-content">
				<div class="main-title">
					{{ i18n.currencyUsed }}{{ totalAmount }}
				</div>
				<div class="sub-title">
					{{ i18n.servicePlan.dueOn }} {{ dueDate }}
				</div>
			</div>
		</div>
	</div>

	<div class="action-bar">
		<a href="#" id="download" role="button" class="action-number dropdown-toggle" data-toggle="dropdown"><i class="icon-download-alt icon-green"></i>{{ i18n.download }}</a>
	</div>

	<div class="table-content">
		<table class="table">
			<thead>
				<tr>
					<th class="blue-gradient-reverse">{{ i18n.servicePlan.serviceTitle }}</th>
					<th class="blue-gradient-reverse">{{ i18n.servicePlan.rateTitle }}</th>
					<th class="blue-gradient-reverse"></th>
					<th class="blue-gradient-reverse">{{ i18n.servicePlan.quantityTitle }}</th>
					<th class="blue-gradient-reverse">{{ i18n.servicePlan.discount }}</th>
					<th class="blue-gradient-reverse">{{ i18n.servicePlan.monthlyChargesTitle }}</th>
				</tr>
			</thead>
			<tbody>
				{{#each servicePlanArray}}
					<tr>
						<td>{{ this.service }}</td>
						<td>{{ ../i18n.currencyUsed }}{{ this.rate }}</td>
						<td>X</td>
						<td>{{ this.quantity }}</td>
						<td>{{ this.discount }}</td>
						<td>{{ ../i18n.currencyUsed }}{{ this.monthlyCharges }}</td>
					</tr>
				{{else}}
					<tr><td colspan="6" class="no-data">{{ i18n.table.empty }}</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
