<div class="service-plan-content-wrapper">
	{{#if hasServicePlan}}
		{{#if hasSubscriptions}}
			<div class="title-bar clearfix">
				<div class="title-box">
					<div class="value">
						{{ dueDate }}
					</div>
					<div class="title">
						{{ i18n.servicePlan.dueOn }}
					</div>
				</div>
				<div class="title-box pull-right">
					<div class="value">
						{{ i18n.currencyUsed }}{{ formatPrice totalAmount 2 }}
					</div>
					<div class="title">
						{{ i18n.servicePlan.dueAmount }}
					</div>
				</div>
			</div>
		{{/if}}

		<div class="action-bar">
			<button type="button" id="download" class="action-number monster-button-secondary">
				<i class="fa fa-download"></i>
				{{ i18n.download }}
			</button>
		</div>

		<div class="table-content">
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>{{ i18n.servicePlan.serviceTitle }}</th>
						<th>{{ i18n.servicePlan.rateTitle }}</th>
						<th>{{ i18n.servicePlan.quantityTitle }}</th>
						<th>{{ i18n.servicePlan.discount }}</th>
						<th>{{ i18n.servicePlan.monthlyChargesTitle }}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#each servicePlanArray}}
						<tr>
							<td></td>
							<td>{{ this.service }}</td>
							<td>{{ @root.i18n.currencyUsed }}{{ formatPrice this.rate 2 }}</td>
							<td>{{ this.quantity }}</td>
							<td>{{ this.discount }}</td>
							<td>{{ @root.i18n.currencyUsed }}{{ formatPrice this.monthlyCharges 2 }}</td>
							<td></td>
						</tr>
					{{else}}
						<tr><td colspan="6" class="no-data">{{ i18n.servicePlan.empty }}</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	{{else}}
		<div class="alert">{{ i18n.servicePlan.none }}</div>
	{{/if}}
</div>
