{{#each listTransactions}}
	<div class="transaction-box{{#if this.isARefund}} refund{{/if}}">
		<div class="expand-box{{#compare this.type '===' 'charges'}} disabled{{/compare}}">
			<span class="icon-stack">
				<i class="icon-circle-blank icon-stack-base"></i>
				<i class="icon-plus icon-stack-content"></i>
			</span>
		</div>
		<div class="text-box {{#unless this.approved}}declined{{/unless}}">
			<div class="title">
				{{#unless this.approved}}
					<i class="icon-red icon-warning-sign"></i>
					&nbsp;
				{{/unless}}

				{{ this.friendlyName }}

				{{#unless this.approved}}
					&nbsp;({{ this.errorMessage }})
				{{/unless}}
			</div>
			<div class="date">{{ this.friendlyCreated }}</div>
			<div class="price">{{ ../i18n.currencyUsed }}{{#if this.isARefund}}-{{/if}}{{ this.amount }}</div>
		</div>
		{{#compare this.type '!==' 'charges'}}
			<div class="expandable">
				<div class="table-content">
					<table class="table">
						<thead>
							<tr>
								<th></th>
								<th>{{ ../../i18n.transactions.serviceTitle }}</th>
								<th>{{ ../../i18n.transactions.rateTitle }}</th>
								<th>{{ ../../i18n.transactions.quantityTitle }}</th>
								<th>{{ ../../i18n.transactions.discount }}</th>
								<th>{{ ../../i18n.transactions.monthlyChargesTitle }}</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{{#services}}
								<tr>
									<td></td>
									<td>{{ service }}</td>
									<td>{{ ../../i18n.currencyUsed }}{{ rate }}</td>
									<td>{{ quantity }}</td>
									<td>{{ discount }}</td>
									<td>{{ ../../i18n.currencyUsed }}{{ monthly_charges }}</td>
									<td></td>
								</tr>
							{{/services}}
						</tbody>
					</table>
				</div>
			</div>
		{{/compare}}
	</div>
{{else}}
	<div class="no-data">{{ i18n.transactions.noData }}</div>
{{/each}}
