{{#each listTransactions}}
	<div class="box-top-blue transaction">
		{{#compare this.type '===' 'charges'}}
				<div class="expand-box">
				</div>
				<div class="text-box {{#unless this.approved}}declined{{/unless}}">
					<div class="title">
						{{#if this.approved}}
							{{ this.reason }}
						{{else}}
							<i class="icon-red icon-warning-sign"></i>
							&nbsp;{{ this.reason }}
							&nbsp;({{../../../i18n.transactions.declined}})
						{{/if}}
					</div>
					<div class="date">{{ this.friendlyCreated }}</div>
					<div class="price">{{ ../../i18n.currencyUsed }}{{ this.amount }}</div>
				</div>
			</div>
		{{else}}
				<div class="expand-box">
					<div class="expand">+</div>
				</div>
				<div class="text-box {{#unless this.approved}}declined{{/unless}}">
					<div class="title">
						{{#unless this.approved}}
							<i class="icon-red icon-warning-sign"></i>
							&nbsp;
						{{/unless}}

						{{#compare this.type '===' 'monthly'}}
							{{ ../../../i18n.transactions.monthlyCharge }}
						{{else}}
							{{ ../../../i18n.transactions.serviceCharge }}
						{{/compare}}

						{{#unless this.approved}}
							&nbsp;({{../../../i18n.transactions.declined}})
						{{/unless}}
					</div>
					<div class="date">{{ this.friendlyCreated }}</div>
					<div class="price">{{ ../../i18n.currencyUsed }}{{ this.amount }}</div>
				</div>
				<div class="expandable">
					<div class="table-content">
						<table class="table">
							<thead>
								<tr>
									<th class="blue-gradient-reverse">{{ ../../i18n.transactions.serviceTitle }}</th>
									<th class="blue-gradient-reverse">{{ ../../i18n.transactions.rateTitle }}</th>
									<th class="blue-gradient-reverse"></th>
									<th class="blue-gradient-reverse">{{ ../../i18n.transactions.quantityTitle }}</th>
									<th class="blue-gradient-reverse">{{ ../../i18n.transactions.discount }}</th>
									<th class="blue-gradient-reverse">{{ ../../i18n.transactions.monthlyChargesTitle }}</th>
								</tr>
							</thead>
							<tbody>
								{{#services}}
									<tr>
										<td>{{ service }}</td>
										<td>{{ ../../../i18n.currencyUsed }}{{ rate }}</td>
										<td>X</td>
										<td>{{ quantity }}</td>
										<td>{{ discount }}</td>
										<td>{{ ../../../i18n.currencyUsed }}{{ monthly_charges }}</td>
									</tr>
								{{/services}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		{{/compare}}
	</div>
{{else}}
	<div class="no-data">{{ i18n.transactions.noData }}</div>
{{/each}}
