<div class="trunks-content">
	<div class="title-bar clearfix">
		<div class="title-box">
			<div class="value">
				{{outbound}}
			</div>
			<div class="title">
				{{ i18n.trunks.currentLimit }}
			</div>
		</div>
		<div class="title-box message-box">
			<div class="title">
				{{ i18n.trunks.helpOutbound }}
			</div>
		</div>
	</div>

	<div class="section-slider clearfix">
		<div class="slider-title">{{ i18n.trunks.quantity }}</div>
		<div class="slider-wrapper">
			<div id="slider_outbound"></div>
			<div class="slider-value">{{outbound}}</div>
		</div>
		<div class="question-box">
			<div class="box-icon"><i class="fa fa-question-circle"></i></div>
			<div class="box-message">
				{{ i18n.trunks.exampleOutbound }}
			</div>
		</div>
	</div>

	<div class="section-button clearfix">
		<button type="submit" class="monster-button-primary update-limits pull-right">{{ i18n.trunks.updateLimits }}</button>
	</div>
</div>
