<div id="appstore_container" class="clearfix">
	<div class="left-menu">
		<ul class="app-filter-list">
			<li class="app-filter active">
				All Apps
			</li>
			<li data-filter="installed" class="app-filter">
				My Apps
			</li>
			<li data-filter="reseller" class="app-filter">
				Resellers Apps
			</li>
			<li data-filter="carrier" class="app-filter">
				Carriers Apps
			</li>
			<li data-filter="developer" class="app-filter">
				Developers Apps
			</li>
			<li data-filter="community" class="app-filter">
				Community Apps
			</li>
			<li class="contribute-app-link">
				Contribute Apps
			</li>
		</ul>
	</div>

	<div class="right-content">
		<div class="content">
			<div class="search-bar clearfix">
				<input type="text" class="search-query input-medium pull-right" placeholder="{{i18n.search}}">
			</div>
			<div class="app-list-container"></div>
		</div>
	</div>
</div>