<ul class="app-list clearfix">
	{{#each apps}}
	<li class="app-element{{#each tags}} {{this}}{{/each}}" data-id="{{ id }}" data-name="{{toLowerCase label }}">
		<div class="app-element-left">
			<div class="app-icon {{extraCssClass}}" {{#if icon}}style="background-image:url({{icon}})"{{/if}}></div>
		</div>
		<div class="app-element-right">
			<div class="app-title">{{ label }}</div>
			<div class="app-description">{{ description }}</div>
		</div>
		<div class="app-installed"><i class="fa fa-check monster-green"></i></div>
	</li>
	{{/each}}
</ul>