<div id="apploader">
	<div class="app-list-container">
		<ul class="app-list {{#if allowAppstore}}has-appstore{{/if}}">
			{{#each apps}}
				<li class="app-list-element" data-id="{{id}}" data-name="{{name}}">
					<div class="app-draggable">
						<div class="app-draggable-inner"></div>
					</div>
					<div class="app-icon" {{#if icon}}style="background-image:url({{icon}})"{{/if}}></div>
					<div class="app-name">{{label}}</div>
					{{#unless @index }}
					<div class="app-default">
						<div class="app-default-top"><i class="icon-circle icon-green icon-small"></i></div>
						<div class="app-default-bottom">{{ ../../i18n.apploader.default }}</div>
					</div>
					{{/unless}}
				</li>
			{{/each}}
		</ul>
	</div>
	{{#if allowAppstore}}
		<div class="appstore-link" data-name="appstore">
			<div class="appstore-link-icon"><i class="icon-cog icon-large icon-white"></i></div>
			<div class="appstore-link-label">{{ i18n.apploader.appStore }}</div>
		</div>
	{{/if}}
</div>
