/* CNAM POPUP */
.trunkstore_popup.cnam {
	width: 510px;
}

.trunkstore_popup.cnam form#cnam {
	margin: 0;
}

.trunkstore_popup.cnam .popup-content {
	padding: 15px 25px;
}

.trunkstore_popup.cnam .popup-content:not(:first-child) {
	border-top: 1px solid #ccc;
}

.trunkstore_popup.cnam .popup-content .popup-label {
	margin: 0 10px 0 0;
	display: inline-block;
}

.trunkstore_popup.cnam #outbound_caller_id {
	margin: 0;
}

.trunkstore_popup.cnam .help-box {
	margin-top: 20px;
}


.trunkstore_popup.cnam .popup-actions .cancel-link {
	margin-right: 10px;
}