#apploader {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
}

#apploader > div {
	height: 100%;
	margin-bottom: 35px;
	padding: 35px;
}

/************************************************************/
/*********************** common style ***********************/
/************************************************************/

#apploader .vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform:     translateY(-50%);
	transform:         translateY(-50%);
}

#apploader .app-element {
	display: inline-block;
	width: 176px;
	height: 134px;
	padding-top: 42px;
	text-align: center;
}

#apploader .app-element .app-icon {
	width: 64px;
	height: 64px;
	margin: 0 auto 15px;
	background: url('static/images/default_icon.png') no-repeat center;
	background-size: contain;
}

#apploader .app-element .app-name {
	overflow: hidden;
	max-width: 156px;
	max-height: 40px;
	margin: 0 auto;
}

/************************************************************/
/************************* .left-div ************************/
/************************************************************/

#apploader .left-div {
	float: left;
	width: 210px;
	background-color: #202029;
}

#apploader .left-div > div:not(:first-child) {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 1px solid #404049;
}

#apploader .left-div h4 {
	font-size: 14px;
	font-weight: 600;
	margin-top: 0;
	text-transform: uppercase;
	color: #fff;
}


#apploader .left-div p {
	margin-bottom: 0;
	color: #6c6c74;
}

#apploader .default-app .app-container:not(.no-app):hover {
	cursor: pointer;
	border-color: #22a5ff;
}

#apploader .default-app > div:not(:last-child) {
	margin-bottom: 30px;
}

#apploader .app-container {
	overflow: hidden;
	width: 176px;
	height: 176px;
	padding: 16px;
	border: 1px solid #404049;
	background-color: #303039;
}

#apploader .app-container.dragging {
	border-color: #22a5ff;
}

#apploader .left-div .app-name {
	text-align: center;
	color: #c0c0c9;
}

#apploader .left-div .search-box {
	position: relative;
}

#apploader .left-div .search-query {
	width: 167px;
	margin: 0;
	padding: 7px 8px 9px 34px;
	color: #fff;
	border: 1px solid #404049;
	border-radius: 0;
	background-color: #303039;
	box-shadow: none;
}

#apploader .left-div .search-box i {
	position: absolute;
	top: 5px;
	left: 1px;
}

#apploader .left-div .search-query:focus {
	color: #22a5ff;
	border-color: #22a5ff;
}

#apploader .left-div .search-query:focus + i {
	color: #22a5ff;
}

#apploader .app-description {
	height: 110px;
}

#apploader .app-description h4 {
	overflow: hidden;
	max-height: 20px;
}

#apploader .app-description p {
	overflow: hidden;
	max-height: 80px;
}


#apploader #launch_appstore {
	font-size: 18px;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 26px 18px 25px 73px;
	text-align: left;
	color: #fff;
	border: none;
	background-color: #22a5ff;
	box-shadow: none;
}


#apploader #launch_appstore i {
	font-size: 34px;
	position: absolute;
	top: 18px;
	left: 28px;
}

/************************************************************/
/************************ .right-div ************************/
/************************************************************/

#apploader .right-div {
	position: relative;
	overflow: auto;
	margin-left: 280px;
	color: #e0e0e9;
	background-color: #303039;
}

#apploader #close_app {
	font-size: 27px;
	position: absolute;
	top: 8px;
	right: 12px;
	color: #606069;
}

#apploader #close_app:hover {
	cursor: pointer;
	color: #fff;
}

#apploader .right-div h3 {
	font-weight: 600;
	margin: 0 0 97px 0;
	text-align: center;
}


#apploader .app-list {
	margin-bottom: 35px;
}



#apploader .right-div .app-element:hover {
	cursor: pointer;
	background-color: #202029;
}

#apploader .right-div .app-element:active {
	cursor: -webkit-grabbing;
	cursor:    -moz-grabbing;
	cursor: move;
	background-color: inherit;
}

#apploader .right-div .app-element.ui-sortable-placeholder {
	display: none;
}