.portal-view {
    display: block;
    width: 1040px;
    margin: 30px auto;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 2px 10px #333;
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(64,64,64,1) 0%, rgba(72,72,72,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(64,64,64,1)), color-stop(100%,rgba(72,72,72,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(64,64,64,1) 0%,rgba(72,72,72,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(64,64,64,1) 0%,rgba(72,72,72,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(64,64,64,1) 0%,rgba(72,72,72,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(64,64,64,1) 0%,rgba(72,72,72,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#484848',GradientType=0 ); /* IE6-9 */
}

.portal-view .left_part {
    width: 638px;
    float: left;
    border-right: 1px solid #555;
}

.portal-view .right_part {
    width: 388px;
    float: left;
    border-left: 1px solid #333;
}

.portal-view .block {
    height: 320px;
    padding: 20px;
}

.portal-view .left_part .block:first-child, .portal-view .right_part .block:first-child {
    border-bottom: 1px solid #333;
}

.portal-view .left_part .block:last-child, .portal-view .right_part .block:last-child {
    border-top: 1px solid #555;
}

.portal-view .buttons {
    margin-top: 20px;
    text-align: center;
}

.portal-view #settings-view form label {
    width: 160px;
}

.portal-view #settings-view form .clearfix {
    margin-bottom: 5px;
}

.portal-view #settings-view form .input {
    margin-left: 180px;
}

.portal-view #settings-view form .input input {
    max-width: 150px;
    height: 14px;
    margin-top: 4px;
}

.portal-view #settings-view form .input input[type=checkbox] {
    margin-top: 9px;
}

.portal-view #settings-view form label .icon.phone {
    height: 26px;
    margin: -6px 5px 0 0;
}

.portal-view table.display td {
    font-size: 11px;
    padding: 1px;
}

.portal-view #voicemail-grid, .portal-view #user_cdr-grid {
    width: 100% !important;
}

.portal-view .dataTables_filter input[type="text"] {
    width: 120px;
}

.portal-view .dataTables_filter{
    width: 190px;
    margin-top: 5px;
}

.portal-view .dataTables_length{
    width: 25%;
}

.portal-view .dataTables_info{
    width: 35%;
}

.portal-view .dataTables_paginate{
    width: 40%;
}

.portal-view #voicemail-grid_wrapper .actions_voicemail {
    display: inline-block;
}

.portal-view #voicemail-grid_wrapper .actions_voicemail button {
    margin-right: 2px;
}

.portal-view #user_cdr-grid_wrapper .date {
    display: inline-block;
    width: 400px;
}

.portal-view #user_cdr-grid_wrapper .date input {
    width: 70px;
}

.portal-view .dataTables_scrollHeadInner {
    width: 100% !important;
}

.portal-view .dataTables_scrollHeadInner .display {
    border-collapse: collapse;
    width: 100% !important;
}

.portal-view tr:first-child td:first-child {
    border-top-left-radius: 5px;
}

.portal-view tr:first-child td:last-child {
    border-top-right-radius: 5px;
}

.portal-view tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.portal-view tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.portal-view .devices_wrapper .list_devices {
    background: #222;
    border: 1px solid #05addc;
    border-radius: 5px;
    padding: 10px 0;
    margin: 10px 0;
    max-height: 200px;
    overflow: auto;
}

.portal-view .devices_wrapper .list_devices .device_line {
    width: 100%;
    height: 25px;
    line-height: 25px;
}

.portal-view .devices_wrapper .list_devices .device_line > * {
    margin: 0 5px;
    float: left;
}

.portal-view .devices_wrapper .list_devices .device_line .edit_icon {
    background: url('images/edit_icon.png') no-repeat scroll center center transparent;
    cursor: pointer;
    height: 25px;
    width: 20px;
}

.portal-view .devices_wrapper .list_devices .device_line .device_name {
    font-weight: bold;
    color: #05addc;
}

.portal-view .devices_wrapper .list_devices .device_line .device_name.registered {
    color: #5AB05A;
}

.portal-view .devices_wrapper .list_devices .device_line .device_name.unregistered {
    color: #DD272A;
}

.portal-view .devices_wrapper .help_devices {
    color: #bbb;
    font-style: italic;
}
/**************************
----TOP TABS MEDIA---------
****************************/
.inline_popup.userportal_device .media_tabs {
	background-color: #555555;
    border: 1px solid #363636;
	min-height: 90px;
	padding: 10px 0 10px 10px;
	position:relative;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    overflow-x: auto;
    white-space: nowrap;
}

.inline_popup.userportal_device .media_tabs .buttons {
	width: 120px;
	height: 90px;

	line-height: 90px;
    display: inline-block;
	position: relative;
	margin: 0 3px;

    text-align: center;

    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;

    cursor: pointer;
    opacity: 0.4;

    background: #05addc;
    background: -moz-linear-gradient(top,  #05addc 0%, #0099b7 25%, #008ca8 50%, #0099b7 75%, #05addc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#05addc), color-stop(25%,#0099b7), color-stop(50%,#008ca8), color-stop(75%,#0099b7), color-stop(100%,#05addc));
    background: -webkit-linear-gradient(top,  #05addc 0%,#0099b7 25%,#008ca8 50%,#0099b7 75%,#05addc 100%);
    background: -o-linear-gradient(top,  #05addc 0%,#0099b7 25%,#008ca8 50%,#0099b7 75%,#05addc 100%);
    background: -ms-linear-gradient(top,  #05addc 0%,#0099b7 25%,#008ca8 50%,#0099b7 75%,#05addc 100%);
    background: linear-gradient(to bottom,  #05addc 0%,#0099b7 25%,#008ca8 50%,#0099b7 75%,#05addc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05addc', endColorstr='#05addc',GradientType=0 );

}

.inline_popup.userportal_device .media_tabs .buttons:hover {
    -moz-box-shadow: 3px 5px 10px #383838;
    -webkit-box-shadow: 3px 5px 10px #383838;
    box-shadow: 3px 5px 10px #383838;
}

.inline_popup.userportal_device .media_tabs .buttons.current, .media_tabs .buttons.current:hover {
    -moz-box-shadow: 3px 5px 10px #383838;
    -webkit-box-shadow: 3px 5px 10px #383838;
    box-shadow: 3px 5px 10px #383838;
    opacity: 1;
}

.inline_popup.userportal_device .media_tabs .buttons .label_device {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.portal-view .sorting_asc, .portal-view .sorting_desc, .portal-view .sorting {
    background: #222;
}

