<div>
	<div class="row">
		<div class="whapp-header">
			{{if data.id}}
                <h1>Edit Conference</h1>
            {{else}}
                <h1>Create Conference</h1>
            {{/if}}
			<div class="buttons-right pasted view-buttons">
				<button class="btn black basic activate">Basic</button>
				<button class="btn black advanced">Advanced</button>
			</div>
		</div>
	</div>

	<div class="row">
		<ul class="tabs" data-tabs="tabs">
		 	<li class="active"><a href="#basic">Basic</a></li>
		 	<li><a href="#options"><span class="icon wrench_screw"></span>Options</a></li>
		 	<li><a href="#conference_server"><span class="icon conference"></span>Conference Server</a></li>
		</ul>

		<form id="conference-form" action="" method="post" >
			<div class="pill-content">
				<div class="active basic_view" id="basic">
					<div class="clearfix">
						<label for="">Conference Name:</label>
						<div class="input">
							<input class="span4" id="name" name="name" type="text" placeholder="Name" value="${data.name}" rel="popover" data-content="Friendly name for this conference"/>
						</div>
					</div>

					<div class="clearfix">
						<label for="owner_id">Assign To</label>
						<div class="input">
							<span rel="popover" data-content="Select the user who owns this conference">
								<select name="owner_id" id="owner_id" class="medium" >
									{{each field_data.users}}
	                                    {{if data.owner_id == id}}
	                                        <option value="${id}" id="${id}" selected="selected">${first_name} ${last_name}</option>
	                                    {{else}}
	                                        <option value="${id}" id="${id}">${first_name} ${last_name}</option>
	                                    {{/if}}
	                                {{/each}}
								</select>
								<div class="edit_create">
	                            	<a id="edit_link"  class="inline_action" data-action="edit" href="#">Edit</a>
	                                <a class="inline_action" data-action="create" href="#">Create</a>
								</div>
							</span>
						</div>
					</div>

					<div class="clearfix">
						<label for="member_pins_string">PINs</label>
						<div class="input">
							<input class="span4" id="member_pins_string" name="member.pins_string" type="text" placeholder="PIN" value="${data.member.pins_string}" rel="popover" data-content="A comma separated list of pins, that can be entered to join the conference"/>
						</div>
					</div>
				</div>

				<div id="options">
					<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
								<li>
									<label>
										<span rel="popover" data-content="Check to play names when entering the conference.">
											{{if data.play_name_on_join}}
							                    <input type="checkbox" id="play_name_on_join" name="play_name_on_join" checked="checked" />
							                {{else}}
							                    <input type="checkbox" id="play_name_on_join" name="play_name_on_join"/>
							                {{/if}}
							                <span>Play name upon entry</span>
						                </span>
						            </label>
						        </li>
						    </ul>
						</div>
					</div>

					<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
								<li>
									<label>
										<span rel="popover" data-content="Check to join the conference muted">
											{{if data.member.join_muted}}
							                    <input type="checkbox" id="member_join_muted" name="member.join_muted" checked="checked" />
							                {{else}}
							                    <input type="checkbox" id="member_join_muted" name="member.join_muted" />
							                {{/if}}
							                <span>Join the conference muted</span>
						                </span>
						            </label>
						        </li>
						    </ul>
						</div>
					</div>

					<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
								<li>
									<label>
										<span rel="popover" data-content="Check to join the conference deaf">
											{{if data.member.join_deaf}}
							                    <input type="checkbox" id="member_join_deaf" name="member.join_deaf" checked="checked" />
							                {{else}}
							                    <input type="checkbox" id="member_join_deaf" name="member.join_deaf" />
							                {{/if}}
							                <span>Join the conference deaf</span>
						                </span>
						            </label>
						        </li>
						    </ul>
						</div>
					</div>
				</div>

				<div id="conference_server">
					<div class="clearfix">
						<label for="member_numbers_string">Numbers</label>
						<div class="input">
							<input class="span4" id="member_numbers_string" name="member.numbers_string" type="text" placeholder="Numbers" value="${data.member.numbers_string}" rel="popover" data-content="A comma separated list of numbers, that will be assigned to the conference. Unless you plan to use the 'Conference Service' callflow node - don't worry about this field" />
						</div>
					</div>
				</div>
			</div>
		</form>

		<div class="buttons-right">
	        {{if data.id}}
	            <button class="btn danger conference-delete">Delete</button>
	        {{/if}}
            <button class="btn success conference-save">Save</button>
		</div>
	</div>
</div>
