@import "../../../../css/partials/base";

div#port_comments_popup > div,
div#port_request_info {
	padding: 40px 60px;
}
div#port_comments_popup > div:not(:first-child) {
	border-top: 1px solid #ddd;
}
#orders_list > *:not(:last-child) {
	margin-bottom: 40px;
}

#orders_list label { font-size: 16px; }

#orders_list .control-group { margin-bottom: 0; }

#orders_list .control-group:not(.error) .help-inline { display: none; }
#orders_list .control-group.error .help-inline {
	display: inline-block;
	margin: 6px 0 0 5px;
	vertical-align: top;
}

.port-container-dialog .ui-dialog-content {
	overflow: visible;
}

/**********************************************************/

/*********************** Orders List **********************/

div#orders_list {
	border: 1px solid #c0c0c9;
	border-radius: 2px;
	background-color: #fff;
	padding: 40px 60px;
}

div#orders_list .list-header {
	height: 50px;
}

div#orders_list .list-header > h3 {
	margin-top: 0;
	color: #5D5D5C;
	font-weight: normal;
}

div#orders_list .list-header > span.pull-right {
	display: inline-block;
	margin-top: 10px;
	height: 40px;
}

div#orders_list .list-header > span.pull-right a { font-size: 16px; }

div#orders_list .list-header > span.pull-right a:hover i { text-decoration: none; }

div#orders_list .list-header > span.pull-right i {
	position: relative;
	top: 2px;
	margin-right: 8px;
	color: $primary-color;
	font-size: 20px;
}

div#orders_list .search-header::after {
	display: block;
	content: '';
	clear: both;
}

div#orders_list .search-header input {
	height: 24px;
}

div#orders_list .search-header .alert {
	cursor: pointer;
	margin-left: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
}

div#orders_list .filter-options .btn {
	padding-right: 10px;
	padding-left: 10px;
}

div#orders_list .filter-options .filter-select-label {
	font-size: 15px;
	margin-right: 10px;
	font-weight: 600;
}

div#orders_list .collapse td:last-child button {
	margin-right: 10px;
}

div#orders_list .collapse td:last-child i {
	padding: 5px;
	vertical-align: middle;
}

/********************** Account List **********************/

#orders_list .accounts-list .account-section:not(:first-child) {
	margin-top: 8px;
}

#orders_list .accounts-list .account-section .account-header {
	height: 70px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background: #f2f2f2;
	background-image: -webkit-linear-gradient(top, #fafafa 0%, #f2f2f2 100%);
	background-image:    -moz-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:     -ms-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:      -o-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:         linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	line-height: 70px;
}

#orders_list .accounts-list .account-section:first-child .account-header {
	border: 1px solid #CCCCCC;
}

#orders_list .accounts-list .account-section .account-header:hover {
	cursor: pointer;
	background: #f0f0f0;
}


#orders_list .accounts-list .account-section .account-header .left-part {
	margin-left: 20px;
}

#orders_list .accounts-list .account-section .account-header .expandable {
	margin: 0 304px 0 50px;
	font-size: 18px;
}

#orders_list .accounts-list .account-section .account-header .account-ancestors {
	margin-left: 10px;
	padding: 10px;
	color: #000;
}

#orders_list .accounts-list .account-section.active .account-header .account-ancestors {
	color: #fff;
}

#orders_list .accounts-list .account-section.active .account-header {
	color: #ffffff;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background:$primary-color;
}

#orders_list .accounts-list .account-section.animate .account-header {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#orders_list .accounts-list > .requests-wrapper.empty,
#orders_list .accounts-list .account-section .requests-wrapper {
	display: none;
}

#orders_list .accounts-list .requests-wrapper:not(.empty),
#orders_list .accounts-list .account-section.active .requests-wrapper {
	display: block;
	border: 1px solid #ccc;
	border-top: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#orders_list .accounts-list .requests-wrapper > div {
	padding: 5px 50px;
	border-top: 1px solid #ccc;
}

#orders_list .accounts-list .requests-header {
	line-height: 30px;
	height: 30px;
	background-color: #ccc;
}

#orders_list .accounts-list .requests-header > div,
#orders_list .accounts-list .request-box .pull-left > div {
	display: inline-block;
}

#orders_list .accounts-list .request-box {
	line-height: 50px;
	height: 50px;
}

#orders_list .accounts-list .request-box.empty {
	padding: 10px 50px;
	border: 1px solid #c0c0c9;
	border-radius: 8px;
	font-weight: 600;
}
#orders_list .accounts-list .requests-wrapper .request-box.empty {
	border: 0;
	text-align: center;
}

#orders_list .accounts-list .request-box .request-name,
#orders_list .accounts-list .request-box .request-created {
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: normal;
	white-space: nowrap;
}

#orders_list .accounts-list .request-name {
	width: 200px;
	max-height: 50px;
}

#orders_list .accounts-list .request-created,
#orders_list .accounts-list .scheduled-date {
	width: 120px;
	margin: 0 10px;
	text-align: center;
}

#orders_list .accounts-list .request-state {
	width: 170px;
}

#orders_list .accounts-list .actions:hover {
	cursor: pointer;
}

#orders_list .accounts-list .actions .dropdown-menu a:hover i {
	color: #fff !important;
}

/********************* Comments Popup *********************/

div#port_comments_popup .comments {
	overflow-y: auto;
	max-height: 320px;
}

div#port_comments_popup .comment {
	padding: 15px 0;
	border-bottom: 1px solid #ddd;
}

div#port_comments_popup .comment:first-child {
	padding-top: 0;
}

div#port_comments_popup .comment:last-child {
	padding-bottom: 0;
	border: 0;
}

div#port_comments_popup .comment .comment-author {
	color: $primary-color;
}

div#port_comments_popup .comment .delete-comment:hover {
	cursor: pointer;
	color: red;
}

div#port_comments_popup .comment .comment-body {
	margin-top: 10px;
}

div#port_comments_popup .wysiwyg-editor {
	height: 160px;
}

div#port_comments_popup .wysiwyg-container .actions {
	text-align: right;
}

div#port_comments_popup .actions .checkbox {
	display: inline-block;
	margin-right: 20px;
}

/******************* Request Info Popup *******************/

#port_request_info form {
	margin-bottom: -20px;
}

#port_request_info .text {
	font-size: 14px;
	line-height: 30px;
}

#port_request_info .order {
	width: 180px;
}

/**************** Edit Scheduled Date Popup ***************/

.edit-shceduled-date .actions {
	border-top: 1px solid #CCCCCC;
	height: 30px;
	line-height: 30px;
	padding: 15px;
}

.edit-shceduled-date .actions button {
	margin-left: 5px;
}

.edit-shceduled-date .content {
	padding: 15px;
}