<div class="app-content" id="port_detail_view">
	<div class="info-panel">
		<div class="port-section">
			<div>
				<a href="javascript:void(0);" id="back">
					<i class="icon-telicon-caret-left"></i>
					<span>
						{{i18n.portListing.detail.buttons.back}}
					</span>
				</a>
				<div class="title">
					{{name}}
				</div>
			</div>
			<div>
				<form class="monster-form form-horizontal">
				{{#if lastSubmitted}}
					<div class="control-group">
						<label class="control-label">
							{{i18n.portListing.misc.portInfo.dateSubmitted}}
						</label>
						<div class="controls">
							<span class="text">
								{{toFriendlyDate lastSubmitted.timestamp date}}
							</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">
							{{i18n.portListing.misc.portInfo.submitter}}
						</label>
						<div class="controls">
							<div class="text">
								{{lastSubmitted.submitter}}
							</div>
						</div>
					</div>
				{{/if}}
					<div class="control-group">
						<label class="control-label">
							{{i18n.portListing.misc.portInfo.losingCarrier}}
						</label>
						<div class="controls">
							<span class="text">
							{{#if carrier}}
								{{carrier}}
							{{else}}
								{{i18n.portListing.misc.unknownCarrier}}
							{{/if}}
							</span>
						</div>
					</div>
				{{#if winning_carrier}}
					<div class="control-group">
						<label class="control-label">
							{{i18n.portListing.misc.portInfo.winningCarrier}}
						</label>
						<div class="controls">
							<span class="text">
								{{winning_carrier}}
							</span>
						</div>
					</div>
				{{/if}}
				{{#if reference_number}}
					<div class="control-group">
						<label class="control-label">
							{{i18n.portListing.misc.portInfo.refNumber}}
						</label>
						<div class="controls">
							<span class="text">
								{{reference_number}}
							</span>
						</div>
					</div>
				{{/if}}
				</form>
			{{#isSuperDuper}}
				<div class="admin-links">
					<a class="monster-link" id="load_wizard">
						{{i18n.portListing.detail.links.view}}
					</a>
					<a class="monster-link" id="download_attachments">
						{{i18n.portListing.detail.links.download}}
					</a>
				</div>
			{{/isSuperDuper}}
			</div>
			<div>
			<div class="monster-statuses">
				<div class="node small {{#compare port_state '===' 'completed'}}success{{else}}in-progress{{/compare}}">
					<div class="iconography">
						<i class="icon-telicon-prioritize"></i>
					</div>
					<div class="status">
						{{@root.i18n.portListing.misc.status.submitted}}
					</div>
				</div>
				<div class="node small{{#compare port_state '===' 'pending'}} in-progress{{/compare}}{{#compare port_state '===' 'scheduled'}} in-progress{{/compare}}{{#compare port_state '===' 'completed'}} success{{/compare}}{{#compare port_state '===' 'rejected'}} in-progress{{/compare}}{{#compare port_state '===' 'canceled'}} in-progress{{/compare}}">
					<div class="iconography">
						<i class="icon-telicon-porting"></i>
					</div>
					<div class="status">
						{{@root.i18n.portListing.misc.status.pending}}
					</div>
				</div>
				<div class="node small{{#compare port_state '===' 'scheduled'}} in-progress{{/compare}}{{#compare port_state '===' 'completed'}} success{{/compare}}{{#compare port_state '===' 'rejected'}} warning{{/compare}}{{#compare port_state '===' 'canceled'}} error{{/compare}}">
					<div class="iconography">
					{{#compare port_state '===' 'rejected'}}
						<i class="icon-telicon-warning"></i>
					{{else}}
					{{#compare port_state '===' 'canceled'}}
						<i class="icon-telicon-x-circled"></i>
					{{else}}
						<i class="icon-telicon-calendar"></i>
					{{/compare}}
					{{/compare}}
					</div>
					<div class="status">
					{{#compare port_state '===' 'rejected'}}
						{{@root.i18n.portListing.misc.status.rejected}}
					{{else}}
					{{#compare port_state '===' 'canceled'}}
						{{@root.i18n.portListing.misc.status.canceled}}
					{{else}}
						{{@root.i18n.portListing.misc.status.scheduled}}
					{{/compare}}
					{{/compare}}
					{{#compare port_state '===' 'scheduled'}}
						<br>
						<span class="detail">
							({{toFriendlyDate scheduled_date}})
						</span>
					{{/compare}}
					</div>
				</div>
				<div class="node{{#compare port_state '===' 'completed'}} success{{/compare}}">
					<div class="iconography">
						<i class="icon-telicon-check-circle"></i>
					</div>
					<div class="status">
						{{@root.i18n.portListing.misc.status.completed}}
					</div>
				</div>
			</div>
			</div>
		{{#isSuperDuper}}
			<div>
			{{#if canUpdate}}
				<button class="monster-button-primary" id="update_status">
					{{i18n.portListing.detail.buttons.update}}
				</button>
			{{/if}}
			</div>
		{{/isSuperDuper}}
		</div>
		<div class="numbers-section">
			<div class="title">
			{{#compare numbersAmount '===' 1}}
				{{replaceVar @root.i18n.portListing.detail.numbers.singular numbersAmount}}
			{{else}}
				{{replaceVar @root.i18n.portListing.detail.numbers.plural numbersAmount}}
			{{/compare}}
			</div>
			<div class="search-box">
				<i class="fa fa-search"></i>
				<input type="text" class="search-query" id="numbers_search" placeholder="Search...">
			</div>
			<ul class="numbers-listing">
			{{#each numbers}}
				<li class="list-item" data-value="{{@key}}">
					{{#monsterNumberWrapper @key}}{{/monsterNumberWrapper}}
				</li>
			{{/each}}
			</ul>
		</div>
	</div>
	<div class="timeline-panel-wrapper justify-content-{{#if canComment}}end{{else}}start{{/if}}">
		<div class="timeline-panel">
			<ul class="timeline">
		{{#if timeline}}
			{{#each timeline}}
				<li class="day" data-timestamp="{{timestamp}}">
					<div class="date">
						{{toFriendlyDate timestamp 'calendarDate' undefined false}}
					</div>
					<ul class="entries">
					{{#each entries}}
						<li class="entry-wrapper{{#if status}} status{{#compare status '===' 'rejected'}} warning{{/compare}}{{#compare status '===' 'completed'}} success{{/compare}}{{#compare status '===' 'canceled'}} error{{/compare}}{{else}}{{#if isPrivate}} danger{{/if}}{{/if}}">
							<div class="icon-wrapper">
							{{#if status}}
								{{#compare status '===' 'submitted'}}
									<i class="icon-telicon-prioritize iconography"></i>
								{{/compare}}
								{{#compare status '===' 'pending'}}
									<i class="icon-telicon-porting iconography"></i>
								{{/compare}}
								{{#compare status '===' 'scheduled'}}
									<i class="icon-telicon-calendar iconography"></i>
								{{/compare}}
								{{#compare status '===' 'rejected'}}
									<i class="icon-telicon-warning iconography"></i>
								{{/compare}}
								{{#compare status '===' 'completed'}}
									<i class="icon-telicon-check-circle iconography"></i>
								{{/compare}}
								{{#compare status '===' 'canceled'}}
									<i class="icon-telicon-x-circled iconography"></i>
								{{/compare}}
							{{else}}
								<i class="fa fa-{{#if isPrivate}}lock{{else}}envelope{{/if}} iconography"></i>
							{{/if}}
							</div>
							<div class="entry">
								<div class="title">
								{{#if title}}
									{{title}}
								{{else}}
									{{@root.i18n.portListing.misc.unknownUser}}
								{{/if}}
								</div>
								<div class="time">
									{{toFriendlyDate timestamp 'time' undefined false}}
								</div>
							{{#if content}}
								<div class="content">
									{{content}}
								{{#if needFix}}
									<button class="monster-button-primary fix-port-request">
										{{@root.i18n.portListing.detail.buttons.fix}}
									</button>
								{{/if}}
								</div>
							{{/if}}
							</div>
						</li>
					{{/each}}
					</ul>
				</li>
			{{/each}}
		{{else}}
		{{/if}}
			</ul>
		</div>
		<div class="textarea-wrapper">
			<textarea name="comment" rows="1" placeholder="{{@root.i18n.portListing.detail.textarea.placeholder}}"></textarea>
			{{#if isAgent}}
				<div class="btn-group dropup">
			{{/if}}
					<button type="button" class="monster-button-success add-comment">
						{{@root.i18n.portListing.detail.buttons.send}}
					</button>
			{{#if isAgent}}
					<button class="monster-button-success dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right">
					{{#if canRequireAction}}
						<li>
							<a class="add-comment" data-is_requiring_action="true">{{@root.i18n.portListing.detail.buttons.actionRequired}}</a>
						</li>
					{{/if}}
						<li>
							<a class="add-comment" data-is_private="true">{{@root.i18n.portListing.detail.buttons.sendPrivate}}</a>
						</li>
					</ul>
				</div>
			{{/if}}
		</div>
	</div>
</div>
