{{#if hasPorts}}
<div class="listing-section">
{{#if allOtherPorts}}
	<div class="monster-table-wrapper-spaced">
		<div class="monster-table-header">
			<button class="monster-button-primary port-wizard">
				{{i18n.portListing.listing.button}}
			</button>
		</div>
		<table class="monster-table footable" id="submitted_ports_listing">
			<thead>
				<tr>
					<th data-type="html">
						{{toUpperCase i18n.portListing.misc.portInfo.name}}
					</th>
					<th data-type="html">
						{{toUpperCase i18n.portListing.misc.portInfo.status}}
					</th>
					<th>
						{{toUpperCase i18n.portListing.misc.portInfo.numbers}}
					</th>
					<th>
						{{toUpperCase i18n.portListing.misc.portInfo.dateSubmitted}}
					</th>
					<th>
						{{toUpperCase i18n.portListing.misc.portInfo.winningCarrier}}
					</th>
					<th>
						{{toUpperCase i18n.portListing.misc.portInfo.submitter}}
					</th>
				</tr>
			</thead>
			<tbody>
			{{#each allOtherPorts}}
				<tr class="listing-item" data-id="{{id}}">
					<td data-filter-value="{{name}}{{#if reference_number}} {{replaceVar @root.i18n.portListing.listing.tbody.reference reference_number}}{{/if}}" data-sort-value="{{name}}">
						<div class="bold">
							{{name}}
						</div>
					{{#if reference_number}}
						<div class="info">
							{{replaceVar @root.i18n.portListing.listing.tbody.reference reference_number}}
						</div>
					{{/if}}
					</td>
					<td data-filter-value="{{port_state}}{{#if extra.isScheduledToday}} scheduledtoday{{/if}}" data-sort-value="{{ tryI18n @root.i18n.portListing.misc.status port_state }}{{#compare port_state '===' 'scheduled'}}-{{scheduled_date}}{{/compare}}">
						<div class="status-wrapper">
					{{#compare port_state '===' 'submitted'}}
						<div class="status-wrapper">
							<i class="icon-telicon-prioritize"></i>
							<div class="content">
								<div class="status">
									{{@root.i18n.portListing.misc.status.submitted}}
								</div>
							</div>
						</div>
					{{/compare}}
					{{#compare port_state '===' 'pending'}}
						<div class="status-wrapper">
							<i class="icon-telicon-porting"></i>
							<div class="content">
								<div class="status">
									{{@root.i18n.portListing.misc.status.pending}}
								</div>
							</div>
						</div>
					{{/compare}}
					{{#compare port_state '===' 'scheduled'}}
						<div class="status-wrapper">
							<i class="icon-telicon-calendar"></i>
							<div class="content">
								<div class="status">
									{{@root.i18n.portListing.misc.status.scheduled}}
								</div>
								<div class="info">
									({{toFriendlyDate scheduled_date 'dateTime'}})
								</div>
							</div>
						</div>
					{{/compare}}
					{{#compare port_state '===' 'completed'}}
						<div class="status-wrapper success">
							<i class="icon-telicon-check-circle"></i>
							<div class="content">
								<div class="status">
									{{@root.i18n.portListing.misc.status.completed}}
								</div>
							</div>
						</div>
					{{/compare}}
					{{#compare port_state '===' 'rejected'}}
						<div class="status-wrapper warning">
							<i class="icon-telicon-warning"></i>
							<div class="content">
								<div class="status">
									{{@root.i18n.portListing.misc.status.rejected}}
								</div>
							</div>
						</div>
					{{/compare}}
					{{#compare port_state '===' 'canceled'}}
						<div class="status-wrapper error">
							<i class="icon-telicon-x-circled"></i>
							<div class="content">
								<div class="status">
									{{@root.i18n.portListing.misc.status.canceled}}
								</div>
							</div>
						</div>
					{{/compare}}
					</td>
					<td>
						{{extra.numbersAmount}}
					</td>
					<td data-sort-value="{{extra.lastSubmitted.timestamp}}">
						{{toFriendlyDate extra.lastSubmitted.timestamp 'date'}}
					</td>
					<td>
						{{coalesce winning_carrier @root.i18n.portListing.misc.unknownCarrier}}
					</td>
					<td>
						{{extra.lastSubmitted.submitter}}
					</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
{{/if}}
{{#if undefinedPorts}}
	{{#unless allOtherPorts}}
	<button class="monster-button-primary port-wizard">
		{{i18n.portListing.listing.button}}
	</button>
	{{/unless}}
	<div class="monster-table-wrapper-spaced">
		<h4 class="title">
			{{i18n.portListing.listing.title}}
		</h4>
		<table class="monster-table footable" id="unconfirmed_ports_listing">
			<thead>
				<tr>
					<th data-type="html">
						{{toUpperCase i18n.portListing.misc.portInfo.name}}
					</th>
					<th data-type="html" data-sortable="false">
						{{toUpperCase i18n.portListing.misc.portInfo.status}}
					</th>
					<th>
						{{toUpperCase i18n.portListing.misc.portInfo.numbers}}
					</th>
					<th>
						{{toUpperCase i18n.portListing.misc.portInfo.losingCarrier}}
					</th>
				</tr>
			</thead>
			<tbody>
			{{#each undefinedPorts}}
				<tr class="listing-item" data-id="{{id}}">
					<td data-sort-value="{{name}}{{#if carrier_reference_number}} {{replaceVar @root.i18n.portListing.listing.tbody.reference carrier_reference_number}}{{/if}}">
						<div class="bold">
							{{name}}
						</div>
					{{#if carrier_reference_number}}
						<div class="info">
							{{replaceVar @root.i18n.portListing.listing.tbody.reference carrier_reference_number}}
						</div>
					{{/if}}
					</td>
					<td>
						<div class="status-wrapper">
							<i class="fa fa-refresh"></i>
							<div class="content">
								<div class="status">
									{{@root.i18n.portListing.misc.status.unconfirmed}}
								</div>
							</div>
						</div>
					</td>
					<td>
						{{extra.numbersAmount}}
					</td>
					<td>
						{{coalesce carrier @root.i18n.portListing.misc.unknownCarrier}}
					</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
{{/if}}
</div>
{{else}}
<div class="listing-section empty-listing">
	<i class="icon-telicon-porting iconography"></i>
	<h4 class="title">
		{{i18n.portListing.listing.empty.title}}
	</h4>
	<p class="text">
		{{i18n.portListing.listing.empty.text}}
	</p>
	<button class="monster-button-primary port-wizard">
		{{i18n.portListing.listing.button}}
	</button>
</div>
{{/if}}
