<div class="custom-select dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		{{i18n.portListing.listing.customSelect.byStatus}}
		<i class="icon-telicon-caret-down pull-right"></i>
	</a>
	<ul class="dropdown-menu">
		<li>
			<a href="#all" data-type="progressing">
				{{i18n.portListing.listing.customSelect.all}}
			</a>
		</li>
		<li>
			<a href="#submitted" data-type="progressing">
				{{i18n.portListing.misc.status.submitted}}
			</a>
		</li>
		<li>
			<a href="#pending" data-type="progressing">
				{{i18n.portListing.misc.status.pending}}
			</a>
		</li>
		<li>
			<a href="#scheduled" data-type="progressing">
				{{i18n.portListing.misc.status.scheduled}}
			</a>
		</li>
		<li>
			<a href="#completed" data-type="completed">
				{{i18n.portListing.misc.status.completed}}
			</a>
		</li>
	</ul>
</div>
