<li class="entry-wrapper{{#if isPrivate}} danger{{/if}}">
	<div class="icon-wrapper">
		<i class="fa fa-{{#if isPrivate}}lock{{else}}envelope{{/if}} iconography"></i>
	</div>
	<div class="entry">
		<div class="title">
		{{#if title}}
			{{title}}
		{{else}}
			{{@root.i18n.portListing.misc.unknownUser}}
		{{/if}}
		</div>
		<div class="time">
			{{toFriendlyDate timestamp 'time' undefined false}}
		</div>
	{{#if content}}
		<div class="content">
			{{content}}
		{{#if needFix}}
			<button class="monster-button-primary fix-port-request">
				{{@root.i18n.portListing.detail.buttons.fix}}
			</button>
		{{/if}}
		</div>
	{{/if}}
	</div>
</li>
