<form class="form-horizontal" id="form_update_status">
	<div class="control-group">
		<label class="control-label">
			{{i18n.portListing.detail.dialog.label.current}}
		</label>
		<div class="controls">
			<span class="text">
				{{currentState}}
			</span>
		</div>
	</div>
	<div class="control-group">
		<label for="state" class="control-label">
			{{i18n.portListing.detail.dialog.label.new}}
		</label>
		<div class="controls">
			<select name="state" id="state">
				<option value="">
				{{i18n.portListing.detail.dialog.default}}
				</option>
			{{#each availableStates}}
				<option value="{{value}}">
					{{label}}
				</option>
			{{/each}}
			</select>
		</div>
	</div>
	<div class="additional-info hide">
		<div class="control-group">
			<label for="winning_carrier" class="control-label">
				{{i18n.portListing.misc.portInfo.winningCarrier}}
			</label>
			<div class="controls">
				<input type="text" id="winning_carrier" name="winning_carrier"{{#if request.winning_carrier}} value="{{request.winning_carrier}}"{{/if}}>
			</div>
		</div>
		<div class="control-group">
			<label for="reference_number" class="control-label">
				{{i18n.portListing.misc.portInfo.refNumber}}
			</label>
			<div class="controls">
				<input type="text" id="reference_number" name="reference_number"{{#if request.reference_number}} value="{{request.reference_number}}"{{/if}}>
			</div>
		</div>
	</div>
	<div class="dynamic-content">
	</div>
	<div class="message-input show-link">
		<a class="monster-link" id="add_message">
			<i class="fa fa-plus"></i>
			{{i18n.portListing.detail.dialog.message.link}}
		</a>
		<textarea name="message" id="message" rows="3" placeholder="{{i18n.portListing.detail.dialog.message.placeholder}}"></textarea>
	</div>
	<div class="actions">
		<div class="pull-right">
			<button class="monster-button cancel">
				{{i18n.cancel}}
			</button>
			<button class="monster-button-success update" disabled="true">
				{{i18n.portListing.detail.dialog.ok}}
			</button>
		</div>
	</div>
</form>
