<li class="profile myaccount-element">
    <a href="#myaccount/profile/render">
        <div class="active-highlight">
            <i class="hidden-phone icon-user"></i> {{t "myaccount.profile.profile"}}
        </div>
    </a>
</li>
