<li class="myaccount-element" data-module="profile">
    <a href="#myaccount/profile/render">
        <div class="active-highlight">
            <i class="hidden-phone icon-cog"></i> {{t "myaccount.profile.title"}}
        </div>
    </a>
</li>
