<li class="profile">
	<a href="#myaccount/profile/render">
		<i class="icon-user"></i> {{t "myaccount.profile.profile"}}
		<span class="badge pull-right hidden-phone">{{account_name}}</span>
	</a>
</li>