<div id="cluster_manager_container" class="clearfix">
	<div class="left-menu">
		<ul class="nav-items">
			<li class="nav-item role">
				<div class="outer">
					<div class="middle">
						<div class="inner">
							<div class="nav-title">{{ i18n.monitor }}</div>
						</div>
					</div>
				</div>
			</li>
			<li class="nav-item active" id="servers">
				<div class="outer">
					<div class="middle">
						<div class="inner">
							<div class="nav-title {{all}}">{{ i18n.servers }}</div>
						</div>
					</div>
				</div>
			</li>
			<li class="nav-item" id="amqp">
				<div class="outer">
					<div class="middle">
						<div class="inner">
							<div class="nav-title {{amqp}}">{{ i18n.amqp }}</div>
						</div>
					</div>
				</div>
			</li>
			<li class="nav-item" id="sip">
				<div class="outer">
					<div class="middle">
						<div class="inner">
							<div class="nav-title {{sip}}">{{ i18n.sip }}</div>
						</div>
					</div>
				</div>
			</li>
			<li class="nav-item" id="media">
				<div class="outer">
					<div class="middle">
						<div class="inner">
							<div class="nav-title {{media}}">{{ i18n.media }}</div>
						</div>
					</div>
				</div>
			</li>
			<li class="nav-item" id="apps">
				<div class="outer">
					<div class="middle">
						<div class="inner">
							<div class="nav-title {{apps}}">{{ i18n.apps }}</div>
						</div>
					</div>
				</div>
			</li>
			<li class="nav-item" id="db">
				<div class="outer">
					<div class="middle">
						<div class="inner">
							<div class="nav-title {{db}}">{{ i18n.db }}</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<ul class="nav-items">
			<li class="nav-item" id="carrier">
				<div class="outer">
					<div class="middle">
						<div class="inner">
							<div class="nav-title down">{{ i18n.carrier }}</div>
						</div>
					</div>
				</div>
			</li>
			<li class="nav-item" id="metwork">
				<div class="outer">
					<div class="middle">
						<div class="inner">
							<div class="nav-title up">{{ i18n.network }}</div>
						</div>
					</div>
				</div>
			</li>
			<li class="nav-item" id="security">
				<div class="outer">
					<div class="middle">
						<div class="inner">
							<div class="nav-title up">{{ i18n.security }}</div>
						</div>
					</div>
				</div>
			</li>
			<li class="nav-item" id="capacity">
				<div class="outer">
					<div class="middle">
						<div class="inner">
							<div class="nav-title warning">{{ i18n.capacity }}</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="right-block">
		<div class="right-content clearfix">

		</div>
	</div>
</div>
