
	<table class="table table-bordered">
		<thead>
			<tr>
				<th data-hide="xs,sm,md,lg">App Name</th>
				<th data-hide="xs,sm,md,lg">Running Where</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Callflow</td>
				<td>apps01, apps02</td>
			</tr>
			<tr>
				<td>CDR</td>
				<td>apps01, apps02</td>
			</tr>
			<tr>
				<td>Conference</td>
				<td><b><font color='red'>Not Running!</font></b></td>
			</tr>
			<tr>
				<td>Fax</td>
				<td>apps01, apps02</td>
			</tr>
			<tr>
				<td>Registrar</td>
				<td>apps01, apps02</td>
			</tr>
			<tr>
				<td>Stepswitch</td>
				<td><font color='orange'><b>apps01</b></font></td>
			</tr>
			<tr>
				<td>eCallManager</td>
				<td>apps01, apps02</td>
			</tr>

		</tbody>
	</table>