
	<table class="table table-bordered">
		<thead>
			<tr>
				<th data-toggle="true">Carrier</th>
				<!--<th data-hide="xs,sm,md,lg">Region &amp; Zone</th>
				<th data-hide="xs,sm,md,lg">Message</th>-->
				<th data-hide="xs,sm,md,lg">Location</th>
				<th data-hide="xs,sm,md,lg">Signaling IP</th>
				<th data-hide="xs,sm,md,lg">Media IP</th>
				<th data-hide="xs,sm,md,lg">Signaling OK?</th>
				<th data-hide="xs,sm,md,lg">Audio OK?</th>
				<th data-hide="xs,sm,md,lg">Latency</th>
				<th data-hide="xs,sm,md,lg">Active?</th>
				<th data-hide="xs,sm,md,lg">Weight</th>
				<th data-hide="xs,sm,md,lg">Status</th>
				<th data-hide="xs,sm,md,lg">Direction</th>
			</tr>
		</thead>
		<tbody>
			{{#each carriers}}
					<tr>
						<td data-type="alpha">
							{{carrier}}
						</td>
						<!--<td data-value="{{city}} {{country}}">
							<img src="css/flags/32/{{country}}.png" alt="{{country}}" title="{{country}}">
							{{city}}
						</td>
						<td data-type="alpha">{{alert}}</td>-->
						<td data-type="alpha">{{location}}</td>
						<td data-type="alpha">{{signaling_ip}}</td>
						<td data-type="alpha">{{media_ip}}</td>
						<td data-type="alpha">{{signaling}}</td>
						<td data-type="alpha">{{audio}}</td>
						<td data-type="alpha">{{latency}}</td>
						<td data-type="alpha">{{active}}</td>
						<td data-type="alpha">{{weight}}</td>
						<td data-type="alpha">{{status}}</td>
						<td data-type="alpha">{{direction}}</td>
					</tr>
			{{/each}}
		</tbody>
	</table>