
<form method='post' action='http://localhost/db/2600/index.php/cm/login'>
	<table class="  " align='center' width='300px' style="width:'400px'">
		<thead>
 
			<tr><td  align='right' data-type="alpha">Username:</td><td><input name='username' type='text'></td></tr>
			<tr><td  align='right'  data-type="alpha">Password:</td><td><input  name='password' type='password'></td></tr>
			<tr><td align='right'  data-type="alpha">Account:</td><td><input name='account' type='text'></td></tr> 
			<tr><td colspan='2' align='center'><input type='submit'/></td></tr>

		</thead>
 
	</table>
</form>