
	<table class="table table-bordered">
		<thead>
			<tr>
				<th data-toggle="true">Status &amp; IP &amp; Domain Name</th>
				<!--<th data-hide="xs,sm,md,lg">Region &amp; Zone</th>
				<th data-hide="xs,sm,md,lg">Message</th>-->
				<th data-hide="xs,sm,md,lg">Calls</th>
				<th data-hide="xs,sm,md,lg">eCallMgr Listeners</th>
				<th data-hide="xs,sm,md,lg">Conference Bridges</th>
				<th data-hide="xs,sm,md,lg">Longest Call Duration</th>
				<th data-hide="xs,sm,md,lg">Accepting New Calls</th>
			</tr>
		</thead>
		<tbody>
			{{#each servers}}
				{{#if freeswitch}}
					<tr>
						<td data-value="server_{{status}} {{ip}} {{dn}}">
							<div class="all-server">
								<div class="flag pull-left {{status}}">
									<img src="apps/cluster/static/images/server_{{status}}.png" alt="" />
								</div>
								<div class="ip">{{ip}}</div>
								<div class="domain-name">{{dn}}</div>
							</div>
						</td>
						<!--<td data-value="{{city}} {{country}}">
							<img src="css/flags/32/{{country}}.png" alt="{{country}}" title="{{country}}">
							{{city}}
						</td>
						<td data-type="alpha">{{alert}}</td>-->
						<td data-type="numeric">{{channels}}</td>
						<td data-type="numeric">{{erlang_nodes}}</td>
						<td data-type="numeric">{{conference_bridges}}</td>
						<td data-type="alpha">{{longest_duration}}</td>
						<td data-type="alpha">{{accepting_calls}}</td>
					</tr>
				{{/if}}
			{{/each}}
		</tbody>
	</table>
