

	<h3>Port Security</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th data-hide="xs,sm,md,lg">Machine</th>
				<th data-hide="xs,sm,md,lg">Open Ports</th>
				<th data-hide="xs,sm,md,lg">Internal Only</th>
				<th data-hide="xs,sm,md,lg">Unknown</th>
				<th data-hide="xs,sm,md,lg">Status</th>
			</tr>
		</thead>
		<tbody>
			{{#each security}}
					<tr>
						<td data-type="alpha">{{machine}}</td>
						<td data-type="alpha">{{open_ports}}</td>
						<td data-type="alpha">{{internal_only}}</td>
						<td data-type="alpha">{{unknown}}</td>
						<td data-type="alpha">{{status}}</td>
					</tr>
			{{/each}}
		</tbody>
	</table>

	<h3>DOS Attempts</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th data-hide="xs,sm,md,lg">Date</th>
				<th data-hide="xs,sm,md,lg">IP</th>
				<th data-hide="xs,sm,md,lg">Behavior</th>
				<th data-hide="xs,sm,md,lg">Status</th>
			</tr>
		</thead>
		<tbody>
			{{#each dos}}
					<tr>
						<td data-type="alpha">{{date}}</td>
						<td data-type="alpha">{{ip}}</td>
						<td data-type="alpha">{{behavior}}</td>
						<td data-type="alpha">{{status}}</td>
					</tr>
			{{/each}}
		</tbody>
	</table>



