<div id="servers_view_container">
	<div class="cluster-actions">
		<h3 class="">Cluster</h3>
		<select name="" id="selcluster">
			{{#select cluster}}
			<option value="kawlinlocal">kawlinlocal</option>
			<option value="2600hz">2600hz</option>
			<option value="5060">5060</option>
			<option value="cloudpbx">cloudpbx</option>
			<option value="iptel">iptel</option>
			<option value="kawlin">kawlin</option>
			<option value="networkedvoice">networkedvoice</option>
			<option value="nimbustel">nimbustel</option>
			<option value="o-net">o-net</option>
			<option value="quikvoip">quikvoip</option>
			<option value="simwood">simwood</option>
			<option value="sipoasis">sipoasis</option>
			<option value="vinixtech">vinixtech</option>
			<option value="zswitch">zswitch</option>
			<option value="2600hzlocal">2600hzlocal</option>
			<option value="kawlinlocal">kawlinlocal</option>
			{{/select}}
		</select>
		<button class="btn regionfilter" >Filter by Region &amp; Zone</button>
		<button class="btn btn-large pull-right">Quick Diagnostics</button>
	</div>
	<div class="server-actions">
		<button class="btn add-server"><i class="icon-plus-sign"></i> Add Server</button>
		<div class="pull-right">
			<span class="search-box">
				<i class="icon-search"></i>
				<input type="text" class="search-query" id="filter" placeholder="Search">
			</span>
			<div class="switch-view{{#if map}} active{{/if}}" data-view="map">
				<i class="icon-globe"></i>
			</div>
			<div class="switch-view{{#if list}} active{{/if}}" data-view="list">
				<i class="icon-align-justify"></i>
			</div>
		</div>
	</div>
	<div id="servers_list" data-view="list"></div>
</div>
