<div id="servers_view_container">
	<div class="cluster-actions">
		<h3 class="">Cluster</h3>
		<select name="" id="">
			<option value="production">Production</option>
			<option value="test">Test</option>
		</select>
		<button class="btn">Sort by Region &amp; Zone</button>
		<button class="btn btn-large pull-right">Quick Diagnostics</button>
	</div>
	<div class="server-actions">
		<button class="btn add-server"><i class="icon-plus-sign"></i> Add Server</button>
		<div class="pull-right">
			<span class="search-box">
				<i class="icon-search"></i>
				<input type="text" class="search-query" placeholder="Search">
			</span>
			<div class="switch-view" data-view="map">
				<i class="icon-globe"></i>
			</div>
			<div class="switch-view active" data-view="list">
				<i class="icon-align-justify"></i>
			</div>
		</div>
	</div>
</div>