<div id='php'></div>

	




	<table class="footable table table-bordered" data-filter="#filter">
		<thead>
			<tr>
				<th data-toggle="true">Status &amp; IP &amp; Domain Name</th>
				<th data-hide="xs,sm,md,lg">Region &amp; Zone</th>
				<th data-hide="xs,sm,md,lg">Alert Message</th>
				<th data-hide="xs,sm,md" data-type="numeric">ms i/o Speed</th>
				<th data-hide="xs,sm,md" data-type="numeric">ms i/o wait</th>
				<th data-hide="xs,sm">NIC1</th>
				<th data-hide="xs,sm">NIC2</th>
				<th data-hide="xs,sm">VPN</th>
				<th data-hide="xs">CPU
					<div class="barmetric" client='all' metric='CPUPercentUsed'>Graph</div>
				</th>
				<th data-hide="xs">RAM 
					<div class="barmetric" client='all' metric='MemPercentUsed'>Graph</div>
				</th>
				<th data-hide="xs">DISK
					<div class="barmetric" client='all' metric='HDPercentUsed'>Graph</div>
				</th>
				<th data-sort-ignore="true">Actions</th>
			</tr>
		</thead>
		<tbody>
			{{#each servers}}
			<tr>
				<td data-value="server_{{status}} {{ip}} {{dn}}">
					<div class="all-server">
						<div class="flag pull-left {{status}}">
							<img src="apps/cluster/static/images/server_{{status}}.png" alt="" />
						</div>
						<div class="ip">{{ip}}</div>
						<div class="domain-name">{{dn}}</div>
					</div>
				</td>
				<td data-value="{{city}} {{country}}">
					<img src="css/flags/32/{{country}}.png" alt="{{country}}" title="{{country}}">
					{{city}}
				</td>
				<td data-type="alpha">
					{{#each alert}}
						<button class='btn btn-sensuevent' client='{{dn}}' check='{{@key}}' output='{{this}}'>{{@key}}</button>
					{{/each}}</td>
				<td data-type="numeric">{{speed}}</td>
				<td data-type="numeric">{{ping}}</td>
				<td data-value="{{#if nic1}}nic_up nic1_up{{else}}nic_down nic1_down{{/if}}">
					{{#if nic1}}
					<i class="icon-ok" style="font-size: 2em; color: #9ac842;"></i>
					{{else}}
					<i class="icon-remove" style="font-size: 2em; color: #bc3434;"></i>
					{{/if}}
				</td>
				<td data-value="{{#if nic2}}nic_up nic2_up{{else}}nic_down nic2_down{{/if}}">
					{{#if nic2}}
					<i class="icon-ok" style="font-size: 2em; color: #9ac842;"></i>
					{{else}}
					<i class="icon-remove" style="font-size: 2em; color: #bc3434;"></i>
					{{/if}}
				</td>
				<td data-value="{{#if vpn}}vpn_up{{else}}vpn_down{{/if}}">
					{{#if vpn}}
					<i class="icon-thumbs-up" style="font-size: 1.8em; color: #9ac842;"></i>
					{{else}}
					<i class="icon-thumbs-down" style="font-size: 1.8em; color: #e8776d;"></i>
					{{/if}}
				</td>
				<td data-value="{{cpu}}{{#if cpu_overload}} cpu_overload overload{{/if}}">
					<div class="barmetric progress{{#if cpu_overload}} progress-danger{{else}} progress-success{{/if}}" client='{{dn}}' metric='CPUPercentUsed'>
						<div class="bar"  style="width: {{cpu}}%;"></div>
					</div>
					<span>{{cpu}}%</span>
				</td>
				<td data-value="{{ram}}{{#if ram_overload}} ram_overload overload{{/if}}">
					<div class="barmetric progress{{#if ram_overload}} progress-danger{{else}} progress-success{{/if}}" client='{{dn}}' metric='MemPercentUsed'>
						<div class="bar" style="width: {{ram}}%;"></div>
					</div>
					<span>{{ram}}%</span>
				</td>
				<td data-value="{{disk}}{{#if disk_overload}} disk_overload overload{{/if}}">
					<div class="barmetric progress{{#if disk_overload}} progress-danger{{else}} progress-success{{/if}}" client='{{dn}}' metric='HDPercentUsed'>
						<div class="bar" style="width: {{disk}}%;"></div>
					</div>
					<span>{{disk}}%</span>
				</td>
				<td><nobr><i class="icon-cog"></i> 
				 
					 <select class='selaction' client='{{ip}}' id='sel_{{dn}}'>
							<option value='sensu_client_config'>Sensu Config</option>
							<option value='kz-ecallmgr'>System Info</option>
							<option value='reboot'>Reboot</option>
						 </select>
					 </nobr>
					<div><button class='btn btnaction' ip='{{ip}}' client='{{dn}}'>Go</button></div>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
