{{#each app_list}}
	<li class="applist-elem {{#compare this.app_id '===' ../active}}active-app{{/compare}}" data-app_id="{{this.app_id}}">
		<div class="app-icon {{this.app_class}}">
		</div>
		<div class="app-name">
			{{this.app_name}}
		</div>
		{{#compare this.app_id '===' ../active}}
			<i class="icon-refresh"></i>
		{{/compare}}
	</li>
{{else}}
	<li class="applist-notfound">
		<span>No app found</span>
	</li>
{{/each}}