<div id='appnav'>
	<div class='applist-container'>		
		<div class='applist-filter blue-gradient-reverse'>
			<input id='applist_filter_input' type='text' placeholder='Search for an App' />
			<i class='icon-search icon-white icon-large'></i>
		</div>
		<ul class='applist'>
		</ul>
	</div>
	<div id="appstore_link" class='appstore-link'>
		<i class='icon-cog icon-white icon-large'></i>
		<span class='appstore-label'>App Store</span>
		<span class='appstore-count'>(<span id='total_available_apps'></span> Apps)</span>
	</div>
</div>