<div>
	<div class="row">
		<div class="whapp-header">
			<h1>Account Details</h1>
			<div class="buttons-right pasted view-buttons">
				<button class="btn black basic activate">Basic</button>
				<button class="btn black advanced">Advanced</button>
			</div>
		</div>
	</div>
	<div class="row">
		<ul class="tabs" data-tabs="tabs">
		 	<li class="active"><a href="#caller_id"><span class="icon sip"></span>Caller ID</a></li>
		 	<li><a href="#options"><span class="icon wrench_screw"></span>Options</a></li>
		</ul>
		<form action="#" id="account-form">
			<div class="pill-content">
				<div class="active" id="caller_id">
					<h3>In-House Calls</h3>
					<div class="clearfix">
						<label for="caller_id_name_internal">Caller ID Name</label>
						<div class="input">
							<input class="span4" id="caller_id_name_internal" name="caller_id.internal.name" type="text" placeholder="Name" value="${data.caller_id.internal.name}"  rel="popover" data-content="Define the Caller ID Name of this Account for In-House Calls. If the Caller ID Name of the device and of the user is not set, this Caller ID Name will be used." />
						</div>
					</div>
					<div class="clearfix">
						<label for="caller_id_number_internal">Caller ID Number</label>
						<div class="input">
							<input class="span4" id="caller_id_number_internal" name="caller_id.internal.number" type="text" placeholder="555-555-5555" value="${data.caller_id.internal.number}" rel="popover" data-content="Define the Caller ID Number of this Account for In-House Calls. If the Caller ID Number of the device and of the user is not set, this Caller ID Number will be used."/>
						</div>
					</div>
					<hr />

					<h3>Outbound Calls</h3>
					<div class="clearfix">
						<label for="caller_id_name_external">Caller ID Name</label>
						<div class="input">
							<input class="span4" id="caller_id_name_external" name="caller_id.external.name" type="text" placeholder="Name" value="${data.caller_id.external.name}" rel="popover" data-content="Define the Caller ID Name of this Account for Outbound Calls. If the Caller ID Name of the device and of the user is not set, this Caller ID Name will be used." />
						</div>
					</div>
					<div class="clearfix">
						<label for="caller_id_number_external">Caller ID Number</label>
						<div class="input">
							<input class="span4" id="caller_id_number_external" name="caller_id.external.number" type="text" placeholder="555-555-5555" value="${data.caller_id.external.number}" rel="popover" data-content="Define the Caller ID Number of this Account for Outbound Calls. If the Caller ID Number of the device and of the user is not set, this Caller ID Number will be used."/>
						</div>
					</div>
					<hr />

					<h3>Emergency</h3>
					<div class="clearfix">
						<label for="caller_id_name_emergency">Caller ID Name</label>
						<div class="input">
							<input class="span4" id="caller_id_name_emergency" name="caller_id.emergency.name" type="text" placeholder="Name" value="${data.caller_id.emergency.name}" rel="popover" data-content="Define the Caller ID Name of this Account for Emergency Calls." />
						</div>
					</div>
					<div class="clearfix">
						<label for="caller_id_number_emergency">Caller ID Number</label>
						<div class="input">
							<input class="span4" id="caller_id_number_emergency" name="caller_id.emergency.number" type="text" placeholder="555-555-5555" value="${data.caller_id.emergency.number}" rel="popover" data-content="Define the Caller ID Number of this Account for Emergency Calls."/>
						</div>
					</div>
				</div>

				<div id="options">
					<div class="clearfix">
						<label for="music_on_hold">Music on Hold</label>
						<div class="input">
							<span rel="popover" data-content="Select the media file that you want to be played by default when it's not set on a user or a device.">
								<select name="music_on_hold.media_id" id="music_on_hold_media_id" class="medium">
									{{each field_data.media}}
	                                    {{if data.music_on_hold.media_id == id}}
	                                    <option id="${id}" value="${id}" selected="selected">${name}</option>
	                                    {{else}}
	                                    <option id="${id}" value="${id}">${name}</option>
	                                    {{/if}}
	                            	{{/each}}
								</select>
								<div class="edit_create">
									<a id="edit_link_media" class="inline_action_media" data-action="edit" href="#">Edit</a>
	                            	<a class="inline_action_media" data-action="create" href="#">Create</a>
								</div>
							</span>
						</div>
					</div>
					<hr />

					<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
              					<li>
	              					<label>
	              						<span rel="popover" data-content="Some upstream carriers need to know which specific customer is placing outbound calls. Activating this field puts the account realm into the From: header for all INVITEs so that the upstream carrier can tell which customer is actually making a call. Useful for billing and LCR purposes. WARNING: This also is used in authentication. If you are also authenticating the calls, this will change the authentication realm.">
											{{if data.format_from_uri == true}}
			                                    <input type="checkbox" id="format_from_uri" name="format_from_uri" checked="checked" />
			                                {{else}}
			                                    <input type="checkbox" id="format_from_uri" name="format_from_uri"/>
			                                {{/if}}
			                                <span>Pass Realm in INVITE</span>
		                            	</span>
	                                </label>
                                </li>
                            </ul>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="buttons-right">
            <button class="btn success account-save">Save</button>
		</div>
	</div>
</div>
