<div class="row-fluid balance-title">
	<div class="span12">
	  	<div class="page-header">
		 	<h1>{{t "myaccount.balance.balance"}}</h1>
		</div>
  	</div>
</div> 

<div class="row-fluid">
	<div class="span12">
		<div class="alert alert-info">
			<p>
				Pay-per-minute allows you to pay only for what you use. Deposit money into your account to get started, then pay-as-you-go for usage.
			</p>
			<p>
				 <strong>Your Current Balance: $ <span class="amount">{{amount}}</span></strong>
			</p>
		</div>
	</div>
</div>


<div class="row-fluid">
	<div class="span12">
		<form class="form-inline">
		  	<label for="amount">Amount </label>
		  	<input type="text" id="amount" name="amount" />
		  	<button class="btn btn-success add-credit">Add Credit</button>
		</form>
	</div>
</div>