<li class="myaccount-element" data-module="balance">
	<a href="#myaccount/balance/render">
        <div class="active-highlight">
            <i class="hidden-phone icon-time"></i> {{t "myaccount.balance.title"}}
            <span class="badge pull-right visible-desktop">$ <span class="amount">{{amount}}</span></span>
        </div>
	</a>
</li>
