<li class="balance">
	<a href="#myaccount/balance/render">
		<i class="icon-adjust"></i> {{t "myaccount.balance.balance"}}
		<span class="badge pull-right hidden-phone">$ <span class="amount">{{amount}}</span></span>
	</a>
</li>