<li class="balance myaccount-element">
	<a href="#myaccount/balance/render">
        <div class="active-highlight">
            <i class="hidden-phone icon-adjust"></i> {{t "myaccount.balance.balance"}}
            <span class="badge pull-right visible-desktop">$ <span class="amount">{{amount}}</span></span>
        </div>
	</a>
</li>
