<div>
    <div class="navbar">
        <div id="ws-navbar" class="navbar-inner">
            <div class="light-color-bar"></div>
            <a class="logo" href="javascript:void(0);"></a>
            <ul class="nav whapps"/>
            <ul class="nav secondary-nav links"/>
        </div>
    </div>

    <div class="ws-content container-fluid page" id="ws-content">

    </div>

    <div class="footer_wrapper"></div>

    <div id="loading">
        <div class="graphic"><img src="whapps/core/layout/images/loading.gif"/></div>
        <div class="text">Please wait...</div>
        <div class="clear"/>
    </div>

</div>

