<div class="navbar navbar-inverse">
    <div id="ws-navbar" class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="home" href="#">Home</a>
            <a class="logo" href="javascript:void(0);"></a>
            <ul class="nav whapps">
            </ul>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right links">
                </ul>
            </div>
            
        </div>
    </div>
</div>

<div class="ws-content container-fluid" id="ws-content">

</div>