<div class="navbar navbar-inverse">
    <div id="ws-navbar" class="navbar-inner">
        <div class="container-fluid">
            <a class="pull-right help" href="#help"><i class="icon-question-sign icon-white"></i></a>
            <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a id="home_link" class="pull-left home" href="#home">
                <i class="icon-home icon-white"></i>
                <div id="loading"><img src="whapps/core/layout/images/small_loading.gif"/></div>
            </a>
            <a class="logo" href="#home"></a>
            <ul class="nav whapps hidden-phone">
            </ul>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right links">
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="ws-content container-fluid" id="ws-content"></div>
