<div>
    <div class="navbar navbar-inverse">
        <div id="ws-navbar" class="navbar-inner">
            <div class="light-color-bar"></div>
            <div class="container-fluid">
                <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="logo" href="javascript:void(0);"></a>
                <ul class="nav whapps">
                </ul>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right links">
                    </ul>
                </div>
                
            </div>
        </div>
    </div>

    <div class="ws-content container-fluid page" id="ws-content">

    </div>

    <div class="footer_wrapper"></div>

    <div id="loading">
        <div class="graphic"><img src="whapps/core/layout/images/loading.gif"/></div>
        <div class="text">Please wait...</div>
        <div class="clear"/>
    </div>

</div>

