<div>
    <div style="text-align: center;">
        <div id="not_supported_browsers_div">
            <h1>Oops, Your Browser is not supported! :(</h1>
            We're using <a href="http://en.wikipedia.org/wiki/Cross-origin_resource_sharing" target="_blank">CORS</a> (Cross-Origin Resource Sharing) which this browser does not support.
            <br/><br/>
            Our website is optimized for:
            <div class="list_browsers">
                <ul>
                   <li><div class="li_text firefox-icon"><a href="http://www.mozilla.org/en-US/firefox/" target="_blank">Firefox 4 or higher</a></div></li>
                   <li><div class="li_text chrome-icon"><a href="https://www.google.com/chrome/" target="_blank">Chrome 10 or higher</a></div></li>
                </ul>
            </div>
            But you could also use:
            <div class="list_browsers">
                <ul>
                   <li><div class="li_text safari-icon"><a href="http://www.apple.com/safari/" target="_blank">Safari</a></div></li>
                   <li><div class="li_text opera-icon"><a href="http://www.opera.com/download/" target="_blank">Opera</a></div></li>
                </ul>
            </div>
            <br/>
        </div>
    </div>
</div>
