.login-block {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.login-block .btn.login {
	height: 30px;
}

/* desktop */
@media (min-width: 979px) {
	
}
 
/* Portrait tablet to landscape */
@media (min-width: 768px) and (max-width: 979px) {
	.row-fluid .span6.left_div {
		width: 95%;
	}

	.row-fluid .span6.right_div {
		width: 95%;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.login-block #password {
		width: 45%;
	}
}
