.help_recover {
    color: #eeeeee;
    font-style: normal;
    margin-bottom: 20px;
    padding: 10px;
    width: 370px;
}

@media all and (max-width: 767px) {
    .welcome-page .login-block{
        padding: 30px;
    }
}

@media all and (min-width: 768px) and (max-width: 979px){
    .welcome-page .left_div {
        width: 100%;
    }

    .welcome-page .right_div {
        width: 100%;
        margin: 20px 0 0 0;
    }
}

@media all and (min-width: 980px) {
    .content.welcome-page {
        text-align: center;
        width: 950px;
        display: inline-block;
        text-align: left;
    }
}
