<div>
	<div class="row">
		<div class="whapp-header">
			{{if data.id}}
                <h1>Edit Voicemail Box</h1>
            {{else}}
                <h1>Create Voicemail Box</h1>
            {{/if}}
			<div class="buttons-right pasted view-buttons">
				<button class="btn black basic activate">Basic</button>
				<button class="btn black advanced">Advanced</button>
			</div>
		</div>
	</div>
	<div class="row">
		<ul class="tabs" data-tabs="tabs">
		 	<li class="active"><a href="#basic">Basic</a></li>
		 	<li><a href="#options"><span class="icon wrench_screw"></span>Options</a></li>
		</ul>
		 <form id="vmbox-form" action="" method="post">
		 	<div class="pill-content">
				<div class="active basic_view" id="basic">
					<div class="clearfix">
						<label for="name">Name</label>
						<div class="input">
							<input class="span4" id="name" name="name" type="text" placeholder="Name" value="${data.name}" rel="popover" data-content="Friendly Name for this voicemail box"/>
						</div>
					</div>

					<div class="clearfix">
						<label for="mailbox">Voicemail Number</label>
						<div class="input">
							<input class="span4" id="mailbox" name="mailbox" type="text" placeholder="Number" value="${data.mailbox}" rel="popover" data-content="Number of this voicemail box"/>
						</div>
					</div>

					<div class="clearfix">
						<label for="owner_id">Assign To</label>
						<div class="input">
							<span rel="popover" data-content="Chose the owner of this voicemail box">
								<select name="owner_id" id="owner_id" class="medium" >
									{{each field_data.users}}
	                                    {{if data.owner_id == id}}
	                                        <option value="${id}" id="${id}" selected="selected">${first_name} ${last_name}</option>
	                                    {{else}}
	                                        <option value="${id}" id="${id}">${first_name} ${last_name}</option>
	                                    {{/if}}
	                                {{/each}}
								</select>
								<div class="edit_create">
	                            	<a id="edit_link"  class="inline_action" data-action="edit" href="#">Edit</a>
	                                <a class="inline_action" data-action="create" href="#">Create</a>
								</div>
							</span>
						</div>
					</div>

					<div class="clearfix">
						<label for="pin">PIN number</label>
						<div class="input">
							<input class="span4" id="pin" name="pin" type="text" placeholder="PIN" value="${data.pin}" rel="popover" data-content="Enter the PIN Number of this voicemail box (must be at least 4 digits)"/>
						</div>
					</div>

					<div class="clearfix">
						<label for="media_unavailable">Unavailable Message</label>
						<div class="input">
							<span rel="popover" data-content="Select the Unavailable message that you want to use for this this device. If you select - Not set -, then no media file will be played.">
								<select name="media.unavailable" id="media_unavailable" class="medium" >
									{{each field_data.media}}
	                                    {{if data.media.unavailable == id}}
	                                        <option value="${id}" id="${id}" selected="selected">${name}</option>
	                                    {{else}}
	                                        <option value="${id}" id="${id}">${name}</option>
	                                    {{/if}}
	                                {{/each}}
								</select>
								<div class="edit_create">
	                            	<a id="edit_link_media"  class="inline_action_media" data-action="edit" href="#">Edit</a>
	                                <a class="inline_action_media" data-action="create" href="#">Create</a>
								</div>
							</span>
						</div>
					</div>
				</div>

				<div id="options">
					<div class="clearfix">
						<label for="timezone">Timezone</label>
						<div class="input">
							<select name="timezone" id="timezone">
                            </select>
						</div>
					</div>

					<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
								<li>
									<label>
										<span rel="popover" data-content="Is this voicemail box already considered initialized? If not, the first time the user logs in they will be forced to change their PIN and setup a greeting.">
											{{if data.is_setup}}
							                    <input type="checkbox" id="is_setup" name="is_setup" checked="checked" />
							                {{else}}
							                    <input type="checkbox" id="is_setup" name="is_setup"/>
							                {{/if}}
							                <span>Already Setup</span>
						                </span>
						            </label>
						        </li>
						    </ul>
						</div>
					</div>

					<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
								<li>
									<label>
										<span rel="popover" data-content="Check if voicemail requires a PIN.">
											{{if data.require_pin}}
							                    <input type="checkbox" id="require_pin" name="require_pin" checked="checked" />
							                {{else}}
							                    <input type="checkbox" id="require_pin" name="require_pin" />
							                {{/if}}
							                <span>Require PIN</span>
						                </span>
						            </label>
						        </li>
						    </ul>
						</div>
					</div>

					<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
								<li>
									<label>
										<span rel="popover" data-content="Check to enable auto-login for this voicemail box? (If the user call his own voicemail, it goes straight to his messages)">
											{{if data.check_if_owner}}
							                    <input type="checkbox" id="check_if_owner" name="check_if_owner" checked="checked" />
							                {{else}}
							                    <input type="checkbox" id="check_if_owner" name="check_if_owner" />
							                {{/if}}
							                <span>Auto-login enabled</span>
						                </span>
						            </label>
						        </li>
						    </ul>
						</div>
					</div>

					<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
								<li>
									<label>
										<span rel="popover" data-content="Check to skip greetings by default">
											{{if data.skip_greeting}}
							                    <input type="checkbox" id="skip_greeting" name="skip_greeting" checked="checked" />
							                {{else}}
							                    <input type="checkbox" id="skip_greeting" name="skip_greeting"/>
							                {{/if}}
							                <span>Skip Greeting</span>
						                </span>
						            </label>
						        </li>
						    </ul>
						</div>
					</div>

					<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
								<li>
									<label>
										<span rel="popover" data-content="Check to skip instructions by default">
											{{if data.skip_instructions}}
							                    <input type="checkbox" id="skip_instructions" name="skip_instructions" checked="checked" />
							                {{else}}
							                    <input type="checkbox" id="skip_instructions" name="skip_instructions"/>
							                {{/if}}
							                <span>Skip Instructions</span>
						                </span>
						            </label>
						        </li>
						    </ul>
						</div>
					</div>
				</div>
			</div>
		 </form>

		 <div class="buttons-right">
	        {{if data.id}}
	            <button class="btn danger vmbox-delete">Delete</button>
	        {{/if}}
            <button class="btn success vmbox-save">Save</button>
		</div>
	</div>
</div>
