<div class="monster-media-selection">
	<div class="clearfix">
		<span>{{ label }}</span>
		<select name="{{ name }}" class="media-dropdown{{#if selectClass}} {{selectClass}}{{/if}}">
			{{#select selectedOption}}
				{{#each options}}
					<option value="{{id}}">{{name}}</option>
				{{/each}}
			{{/select}}
		</select>
	{{#if uploadButton}}
		<button type="button" class="monster-button-primary non-fixed upload-toggle" data-toggle="button">
			{{ uploadLabel }}
		</button>
	{{else}}
		<a href="javascript:void(0);" class="upload-toggle" data-toggle="button">
			{{uploadLabel}}
		</a>
	{{/if}}
	</div>
	<div class="control-group clearfix shoutcast-div{{#unless isShoutcast}} hidden{{/unless}}">
		<label class="control-label" for="extra.shoutcastUrl">{{ i18n.mediaSelect.shoutcastURL }}</label>
		<div class="input controls">
			<input type="text" class="shoutcast-url-input {{shoutcastURLInputClass}}" name="extra.shoutcastUrl" value="{{shoutcastValue}}" rel="popover" data-content="{{ i18n.mediaSelect.shoutcastURLHelp }}" />
		</div>
		<div class="shoutcast-warning">
			{{#monsterText 'warning'}}
				{{ i18n.mediaSelect.shoutcastURLWarning }}
			{{/monsterText}}
		</div>
	</div>
	<div class="upload-div">
		<input type="file" class="upload-input" accept="audio/*">
		<button type="button" class="monster-button-success non-fixed upload-action upload-submit"><i class="fa fa-upload"></i></button>
		<button type="button" class="monster-button-danger non-fixed upload-action upload-cancel"><i class="fa fa-times"></i></button>
	{{#if showMediaUploadDisclosure}}
		<div>
			<br>
			{{#monsterPanelText i18n.mediaUploadDisclosure.title "info" "fill-width"}}
				{{i18n.mediaUploadDisclosure.text}}
			{{/monsterPanelText}}
		</div>
	{{/if}}
	</div>
</div>
