<li class="myaccount-element" data-module="service_plan">
	<a href="#myaccount/service_plan/render">
        <div class="active-highlight">
            <i class="hidden-phone icon-calendar"></i> {{t "myaccount.service_plan.title"}}
        </div>
	</a>
</li>
