<div class="balance-content-wrapper">
    <div class="action-bar">

    </div>

    <div class="title-bar fancy-header">
        <div class="box-white-border">
            <div class="box-white-content">
                <div class="title">{{ i18n.availableCredits }}</div>
                <div class="value">{{ i18n.currencyUsed }}<span id="amount">{{amount}}</span></div>
            </div>
        </div>
        <div class="add-credits-div visible-desktop">
            <button class="btn btn-success" id="add_credits">{{ i18n.addCredit }}</button>
        </div>
        <div class="box-white-border pull-right visible-desktop">
            <div class="box-white-content">
                <div class="title">{{ i18n.callCharges }}</div>
                <div class="value">{{ i18n.currencyUsed }}<span id="call_charges">{{totalCharges}}</span></div>
            </div>
        </div>
        <div class="box-white-border pull-right visible-desktop">
            <div class="box-white-content">
                <div class="title">{{ i18n.minutesUsed }}</div>
                <div class="value"><span id="minutes_used">{{totalMinutes}}</span></div>
            </div>
        </div>
        <div class="box-data pull-right hidden-desktop">
            <div class="data-line">{{ i18n.minutesUsed }}: <span class="value">{{totalMinutes}}</span></div>
            <div class="data-line">{{ i18n.callCharges }}: <span class="value">{{ i18n.currencyUsed }}{{totalCharges}}</span></div>
            <button class="btn btn-success" id="add_credits">{{ i18n.addCredit }}</button>
        </div>
    </div>

    <div class="table-wrapper">
        <table id="transactions_grid" class="display table">
        </table>
    </div>
</div>
