<div id="myaccount_creditcard_disclaimer_dialog" class="clearfix">
	<div class="disclaimer-dialog-notice">
		{{#if isCardAccepted}}
			{{{i18n.creditCard.surchargeNotice}}}
			<br/><br/>
			{{{i18n.creditCard.disclaimer.message}}}
		{{else}}
			{{{i18n.creditCard.disclaimer.noCardMessage}}}
		{{/if}}
	</div>
{{#if isCardAccepted}}
	<div class="disclaimer-dialog-agreement">
		{{#monsterCheckbox "raw-label" i18n.creditCard.add.agreement}}
			<input type="checkbox" name="credit_card_accept_agreement" />
		{{/monsterCheckbox}}
	</div>
{{/if}}
	<div class="disclaimer-dialog-footer">
	{{#if isCardAccepted}}
		<button id="myaccount_creditcard_disclaimer_accept" type="button" class="monster-button monster-button-primary pull-right" disabled>{{i18n.creditCard.disclaimer.saveAndContinue}}</button>
	{{/if}}
		<button id="myaccount_creditcard_disclaimer_payments" type="button" class="monster-button pull-right">{{i18n.creditCard.disclaimer.updatePaymentMethod}}</button>
	{{#unless isCardAccepted}}
		<button id="myaccount_creditcard_disclaimer_cancel" type="button" class="monster-button monster-button-ghost pull-right">{{i18n.cancel}}</button>
	{{/unless}}
	</div>
</div>
