{{#monsterPanelText null "danger" "no-card-available no-card-available-hidden fill-width"}}
	{{i18n.billing.paymentMethod.bigNotices.noCard}}
{{/monsterPanelText}}
<table class="show-card-content-wrapper">
	<tbody>
		<tr class="show-card-row">
			<td class="show-card-label">{{i18n.creditCard.show.name}}</td>
			<td class="show-card-value">{{name}}</td>
		</tr>
		<tr class="show-card-row">
			<td class="show-card-label">{{i18n.creditCard.show.number}}</td>
			<td class="show-card-value">{{number}} <span class="card-type {{cardType}}"></span></td>
		</tr>
		<tr class="show-card-row">
			<td class="show-card-label">{{i18n.creditCard.show.expirationDate}}</td>
			<td class="show-card-value">{{expirationDate}}</td>
		</tr>
	{{#unless expiredMode}}
		<tr class="show-card-row">
			<td colspan="2">
				<button id="credit_card_delete" class="monster-button-danger">
					{{i18n.creditCard.show.removeCard}}
				</button>
			</td>
		</tr>
	{{/unless}}
	</tbody>
</table>
