<div id="conferences_information_container">
	<div id="active_conferences_content">
		<div class="header">
			<h1 class="pull-left">{{ i18n.activeConferences }}</h1>
			<span class="search-box pull-right">
				<i class="icon-search"></i>
				<input type="text" class="search-query" placeholder="Search">
			</span>
		</div>
		<table>
			<thead>
				<tr>
					<th>{{ i18n.conferenceNameLabel }}</th>
					<th class="duration">{{ i18n.elapsedTime }}</th>
					<th>{{ i18n.view }}</th>
				</tr>
			</thead>
			<tbody>
			{{#each conferences}}
				<tr data-id="{{id}}" data-search="{{ name }}">
					<td>{{ name }}</td>
					<td class="duration">{{ friendlyDuration }}</td>
					<td class="view-conference"><i class="icon-signin"></i></td>
				</tr>
			{{else}}
				<tr><td colspan="3" class="empty">{{ i18n.noConference }}</td></tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</div>
