<div id="conferences_container" class="clearfix">
	<div class="menu">
		<div class="left-menu">
			<ul class="nav-items">
				<li class="nav-item role">
					<div class="outer">
                    	<div class="middle">
                        	<div class="inner">
								<div class="nav-title">{{ i18n.administrator }}</div>
                        	</div>
                    	</div>
                	</div>
				</li>
				<li class="nav-item" id="active_conferences">
					<div class="outer">
						<div class="middle">
							<div class="inner">
								<i class="icon-user nav-icon"></i>
								<div class="nav-title">{{ i18n.activeConferences }}</div>
							</div>
						</div>
					</div>
				</li>
				<li class="nav-item" id="upcoming_conferences">
					<div class="outer">
                    	<div class="middle">
                        	<div class="inner">
								<i class="icon-calendar nav-icon"></i>
								<div class="nav-title">{{ i18n.upcomingConferences }}</div>
                        	</div>
                    	</div>
                	</div>
				</li>
				<li class="nav-item" id="new_conference">
					<div class="outer">
                    	<div class="middle">
                        	<div class="inner">
								<i class="icon-plus-sign nav-icon"></i>
								<div class="nav-title">{{ i18n.newConferences }}</div>
                        	</div>
                    	</div>
                	</div>
				</li>
				<li class="nav-item" id="callin_numbers">
					<div class="outer">
                    	<div class="middle">
                        	<div class="inner">
								<i class="icon-phone nav-icon"></i>
								<div class="nav-title">{{ i18n.callinNumbers }}</div>
                        	</div>
                    	</div>
                	</div>
				</li>
				<li class="nav-item" id="customize_notifications">
					<div class="outer">
                    	<div class="middle">
                        	<div class="inner">
								<i class="icon-envelope-alt nav-icon"></i>
								<div class="nav-title">{{ i18n.customizeNotifications }}</div>
                        	</div>
                    	</div>
                	</div>
				</li>
			</ul>
		</div>

		<div class="right-content">
		</div>
	</div>

	<div id="conference_viewer" class="clearfix">
	</div>
</div>
