{{#if hasRights}}
	<div class="user" data-id="{{id}}">
		<div class="currently-speaking {{#if isSpeaking}}active{{/if}}"></div>
		<div class="box">
			<div class="image-wrapper">
				<img src="apps/conferences/static/images/{{imageRef}}.png" height="100" width="100" alt="imageRef"></img>
				<div class="admin-icon{{#if isAdmin}} active{{/if}}">
					<i class="icon-user"></i>
				</div>
			</div>
			<div class="user-title">
				{{ name }}
			</div>
			<div class="actions-user">
				<div class="action-user togglable{{#if isMuted}} active{{/if}}" data-action="mute">
					<i class="icon-microphone" data-toggle="tooltip" data-placement="top" data-original-title="{{ i18n.help.unmuteUser }}"></i>
					<i class="icon-microphone-off icon-blue active" data-toggle="tooltip" data-placement="top" data-original-title="{{ i18n.help.muteUser }}"></i>
				</div>
				<div class="action-user togglable{{#if isDeaf}} active{{/if}}" data-action="deaf">
					<i class="icon-headphones" data-toggle="tooltip" data-placement="top" data-original-title="{{ i18n.help.deafUser }}"></i>
					<i class="icon-headphones icon-yellow active" data-toggle="tooltip" data-placement="top" data-original-title="{{ i18n.help.undeafUser }}"></i>
				</div>
				<div class="action-user" data-action="kick">
					<i class="icon-signout" data-toggle="tooltip" data-placement="top" data-original-title="{{ i18n.help.hangupUser }}"></i>
				</div>
			</div>
		</div>
	</div>
{{else}}
	<div class="user" data-id="{{id}}">
    	<div class="currently-speaking {{#if isSpeaking}}active{{/if}}"></div>
    	<div class="box">
        	<div class="image-wrapper">
            	<img src="apps/conferences/static/images/{{imageRef}}.png" height="100" width="100" alt="imageRef"></img>
            	<div class="admin-icon{{#if isAdmin}} active{{/if}}">
                	<i class="icon-user"></i>
            	</div>
        	</div>
        	<div class="user-title">
            	{{ name }}
        	</div>
    	</div>
    	<div class="state-user">
        	<i class="icon-headphones" data-action="deaf" data-toggle="tooltip" data-placement="top" data-original-title="{{ ../i18n.help.deafedUser }}"></i>
        	<i class="icon-microphone-off" data-action="mute" data-toggle="tooltip" data-placement="top" data-original-title="{{ ../i18n.help.mutedUser }}"></i>
    	</div>
	</div>
{{/if}}
