<div id="conferences_information_container">
	<div id="callin_conferences_content">
		<div class="header">
			<h1 class="pull-left">{{ i18n.callinNumbers }}</h1>
			<span class="search-box pull-right">
				<i class="icon-search"></i>
				<input type="text" class="search-query" placeholder="{{ i18n.search }}">
			</span>
		</div>
		<table>
			<thead>
				<tr>
					<th>{{ i18n.assignedConferenceNumbers }}</th>
					<th>{{ i18n.remove }}</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<button id="add_callin_number" class="conf-btn blue-btn pull-right">{{ i18n.addNumber }}</button>
	</div>
</div>
