<form id="edit_conference_container">
	<div class="row-fluid">
		<div class="span6">
			{{#unless conference.id}}
			<div class="conference-title">
				{{ i18n.newConferenceTitle }}
			</div>
			<div class="switch-link-div">
			    <div data-start="now" class="switch-link active">{{ i18n.startNowLink }}</div>
			    <div data-start="later" class="switch-link">{{ i18n.scheduleLink }}</div>
			</div>
			{{/unless}}
			<div class="name-input-div">
				<label>{{ i18n.conferenceNameLabel }}</label>
				<input type="text" name="name" value="{{ conference.name }}">
			</div>
			{{#if conference.id}}
			<div class="date-input-div row-fluid">
				<div class="span5">
					<label>{{ i18n.dateLabel }}</label>
					<input class="date-input" type="text" name="extra.date">
				</div>
				<div class="span5 offset2">
					<label>{{ i18n.timeLabel }}</label>
					<input class="time-input" type="text" name="extra.time">
				</div>
			</div>
			{{/if}}
		</div>
		<div class="span6">
			<div class="credentials">
				<div class="credentials-title">
					{{ i18n.accessCredentials }}
				</div>
				<div class="credentials-content">
					<div class="credentials-element">
						<div class="pin">{{ conference.pins.moderator }}</div>
						<div>
							<i class="icon-user"></i>
							{{ i18n.moderatorPIN }}
						</div>
					</div>
					<div class="credentials-element">
						<div class="pin">{{ conference.pins.member }}</div>
						<div>
							<i class="icon-user"></i>
							{{ i18n.memberPIN }}
						</div>
					</div>
				</div>
			</div>
			{{#unless conference.id}}
			<div class="date-input-div row-fluid">
				<div class="span5">
					<label>{{ i18n.dateLabel }}</label>
					<input class="date-input" type="text" name="extra.date">
				</div>
				<div class="span5 offset2">
					<label>{{ i18n.timeLabel }}</label>
					<input class="time-input" type="text" name="extra.time">
				</div>
			</div>
			{{/unless}}
		</div>
	</div>
	<div class="row-fluid">
		<div class="participant-div span6">
			<div class="participant-div-title">{{ i18n.moderatorListTitle }}</div>
			<div class="participant-list-container" data-type="moderator"></div>
		</div>
		<div class="participant-div span6">
			<div class="participant-div-title">{{ i18n.memberListTitle }}</div>
			<div class="participant-list-container" data-type="member"></div>
		</div>
	</div>
	<div class="row-fluid">
		<label>
			<input type="checkbox" class="record-conference-ckb" name="record">
			{{ i18n.recordConference }}
		</label>
		<div class="button-div">
			{{#if conference.id}}
			<button type="button" id="update_conference_btn" class="btn btn-large btn-primary pull-right">{{ i18n.editConferenceButtons.update }}</button>
			<button type="button" id="cancel_conference_btn" class="btn btn-large pull-right">{{ i18n.editConferenceButtons.cancel }}</button>
			{{else}}
			<button type="button" id="create_conference_btn" class="btn btn-large btn-primary pull-right">{{ i18n.editConferenceButtons.create }}</button>
			{{/if}}
		</div>
	</div>
</form>