<div id="conferences_information_container">
	<div id="upcoming_conferences_content">
		<div class="header">
			<h1 class="pull-left">{{ i18n.upcomingConferences }}</h1>
			<span class="search-box pull-right">
				<i class="icon-search"></i>
				<input type="text" class="search-query" placeholder="Search">
			</span>
		</div>
		<table>
			<thead>
				<tr>
					<th>{{ i18n.conferenceNameLabel }}</th>
					<th>{{ i18n.dateLabel }}</th>
					<th>{{ i18n.startTime }}</th>
					<th>{{ i18n.edit }}</th>
				</tr>
			</thead>
			<tbody>
			{{#each conferences}}
				<tr data-search="{{ name }}">
					<td></td>
					<td rowspan="4">{{ date }}</td>
					<td rowspan="4">{{ startTime }}</td>
					<td rowspan="4"><i data-id="{{ id }}" class="edit-conference-link icon-edit"></i></td>
				</tr>
				<tr data-search="{{ name }}">
					<td>{{ name }}</td>
				</tr>
				<tr data-search="{{ name }}">
					<td>
						<div>
							<span>{{ i18n.moderatorPin }}{{ pins.moderator }}</span>
							<span class="pull-right">{{ i18n.memberPin }}{{ pins.member }}</span>
						</div>
					</td>
				</tr>
				<tr data-search="{{ name }}"><td colspan="4"></td></tr>
			{{else}}
				<tr><td colspan="4" class="empty">{{ i18n.noConferenceScheduled }}</td></tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</div>
