<div id="view_conference" class="user">
	<div class="content clearfix">
		{{#each users}}
		<div class="user" data-id="{{id}}">
			<div class="currently-speaking {{#if isSpeaking}}active{{/if}}"></div>
			<div class="box">
				<div class="image-wrapper">
					<img src="apps/conferences/static/images/{{imageRef}}.png" height="100" width="100" alt="imageRef"></img>
					<div class="admin-icon{{#if isAdmin}} active{{/if}}">
						<i class="icon-user"></i>
					</div>
				</div>
				<div class="user-title">
					{{ name }}
				</div>

				<!--<div class="actions-user">
					<div class="action-user togglable{{#if isMuted}} active{{/if}}" data-action="mute">
						<i class="icon-microphone-off icon-blue active" data-toggle="tooltip" data-placement="top" data-original-title="{{ ../i18n.help.muteUser }}"></i>
					</div>
					<div class="action-user togglable{{#if isDeaf}} active{{/if}}" data-action="deaf">
			 			<i class="icon-headphones" data-toggle="tooltip" data-placement="top" data-original-title="{{ ../i18n.help.deafUser }}"></i>
			 			<i class="icon-headphones icon-yellow active" data-toggle="tooltip" data-placement="top" data-original-title="{{ ../i18n.help.undeafUser }}"></i>
					</div>
				</div>-->
			</div>
			<div class="state-user">
			 	<i class="icon-headphones" data-action="deaf" data-toggle="tooltip" data-placement="top" data-original-title="{{ ../i18n.help.deafedUser }}"></i>
				<i class="icon-microphone-off" data-action="mute" data-toggle="tooltip" data-placement="top" data-original-title="{{ ../i18n.help.mutedUser }}"></i>
			</div>
		</div>
		{{/each}}
	</div>

	<div class="footer navbar navbar-fixed-bottom">
		<div class="info block">
			<div class="info-wrapper">
				<div class="conference-title">{{ name }} <span class="hidden-desktop">(<span class="timerjs">{{ elapsedTime }}</span>)</span></div>
				<div class="pin-block">
					<span class="member-pin"><i class="icon-user"></i>{{ i18n.yourPIN }}: {{ user.pin }}</span>
				</div>
			</div>
		</div>
		<div class="timer block visible-desktop">
			<div class="timer-wrapper">
				<div class="timerjs timer-text">{{ elapsedTime }}</div>
			</div>
		</div>
		<div class="request-summary block">
			<div class="summary-wrapper">
				<div class="title">{{ i18n.requestSummary }} </div>
				<div class="field-block">
					<input type="text" name="email"/>
					<button type="button" id="request_summary" class="conf-btn blue-btn">{{ i18n.send }}</button>
				</div>
			</div>
		</div>
		<div class="actions block">
			<div class="actions-wrapper">
				<div class="action-conference" data-action="logout">
					<i class="icon-signout" data-toggle="tooltip" data-placement="top" data-original-title="{{ i18n.help.logout }}"></i>
				</div>
			</div>
		</div>
	</div>
</div>
