@import "../../../../css/partials/base";

.app-selector-dialog {
	max-height: inherit;
	width: 1100px;
	max-width: inherit;

	.popup-body {
		max-height: inherit;

		.app-selector {
			max-height: inherit;

			.app-selector-body {
				max-height: inherit;
				padding-bottom: 70px;
				box-sizing: border-box;
			}

			.app-selector-menu {
				margin-bottom: 70px;
			}
		}
	}

	.popup-actions {
		height: 70px;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		background-color: #f4f4f5;
		border-top: 1px solid $french-gray2;
		box-sizing: border-box;
		padding: 1rem;

		button {
			margin-left: 10px;
		}
	}
}

.app-selector {
	display: flex;
	height: 100%;

	.text-container {
		padding: 0.75rem 1.5rem;
	}

	.app-selector-menu {
		flex: initial;
		width: 240px;
		font-size: 14px;
		line-height: 14px;
		box-shadow: inset -1px 0px 0px 0px $french-gray2;
		overflow-x: hidden;
		overflow-y: auto;

		ul.nav {
			margin-top: 1.5rem;

			> li {
				a:hover {
					background-color: $background-primary-color;
				}

				a.active {
					font-weight: 600;
					color: $primary-color;
					background-color: $background-primary-color;
					border-right: solid 3px $primary-color;
				}
			}
		}
	}

	.app-selector-body {
		flex: 1;
		margin-left: 25px;
		margin-right: 1rem;
		display: flex;
		flex-direction: column;
		height: 100%;

		.app-selector-group {
			flex: initial;
			margin-top: 1.5rem;
		}

		.selected-title {
			line-height: 23px;

			span {
				vertical-align: middle;
				font-size: 1rem;
			}

			.selected-count {
				font-size: 23px;
				font-weight: 600;
				margin-right: 0.5rem;
			}
		}

		.selected-list {
			display: flex;

			.app-icon-container {
				flex: 1 1 0;
				max-width: 0;
				height: 0;
				box-sizing: border-box;
				opacity: 0;
				transition: all 250ms ease-in-out;

				&.show {
					opacity: 1;
					max-width: 1.5rem;
					height: 3rem;
					padding-top: 1rem;

					&:nth-last-child(8) {
						max-width: 1rem;
					}

					&:nth-last-child(9) {
						max-width: 0.6rem;
					}

					&:nth-last-child(10) {
						max-width: 0.4rem;
					}

					&:nth-last-child(n+11) {
						max-width: 0;
					}
				}

				.app-icon {
					box-shadow: -4px 0px 0px 0px $white;
				}
			}
		}

		.search-box {
			width: 100%;

			.search-query {
				padding: 0.75rem 2.5rem 0.75rem 0.75rem;
				font-size: 14px;
				line-height: 14px;
				height: auto;
				width: 100%;
				box-sizing: border-box;
			}
			.search-icon {
				margin-left: -1.75rem;
				color: $manatee;
			}
		}

		.app-icon {
			width: 2rem;
			height: 2rem;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			background-color: $midgray;
			border-radius: 0.5rem;
		}

		.app-selector-list {
			flex: 1;
			margin-top: 1.5rem;
			overflow-y: auto;
			border-top: solid 1px $french-gray2;

			.app-list {
				margin-left: 0;

				.app-item {
					display: flex;
					flex-wrap: wrap;
					box-shadow: inset 0px 1px 0px 0px $french-gray2;
					width: 100%;
					background-color: $panel-background-color;
					box-sizing: border-box;
					cursor: pointer;

					&:hover {
						background-color: $background-primary-color;
					}

					&.selected {
						background-color: $french-pass;
					}

					.app-icon {
						flex: initial;
						margin-right: 0.75rem;
						margin-bottom: 0.75rem;
					}
					.app-title {
						flex: 1;
						align-self: center;
						margin-bottom: 0.75rem;
					}
					.app-description {
						width: 100%;
					}
				}
			}
		}
	}
}
