@import "../../../../css/partials/base";

.app-selector {
	display: flex;
	height: 100%;

	.text-container {
		padding: 0.75rem 1.5rem;
	}

	.app-selector-menu {
		flex: initial;
		width: 240px;
		font-size: 14px;
		line-height: 14px;
		border-right: 1px solid $french-gray2;

		ul.nav {
			margin-top: 1.5rem;
			padding-right: 14px;

			& > li a.active {
				font-weight: 600;
				color: $primary-color;
				background-color: $background-primary-color;
				border-right: solid 3px $primary-color;
			}
		}
	}

	.app-selector-body {
		flex: 1;
		margin-left: 25px;
		margin-right: 1rem;
		display: flex;
		flex-direction: column;
		height: 100%;

		.app-selector-search {
			flex: initial;
			margin-top: 1.5rem;

			.search-box {
				width: 100%;

				.search-query {
					padding: 0.75rem 2.5rem 0.75rem 0.75rem;
					font-size: 14px;
					line-height: 14px;
					height: auto;
					width: 100%;
					box-sizing: border-box;
				}
				.search-icon {
					margin-left: -1.75rem;
					color: $manatee;
				}
			}
		}

		.app-selector-list {
			flex: 1;
			margin-top: 1.5rem;
			overflow-y: auto;	// TODO: Scroll displayed when .app-selector has a height in pixels. Try to combine with flexbox, to try to make it scrollable (maybe in a layout with the buttons).
			border-top: solid 1px $french-gray2;

			.app-list {
				margin-left: 0;

				.app-item {
					display: flex;
					flex-wrap: wrap;
					box-shadow: inset 0px 1px 0px 0px $french-gray2;

					&:first-of-type {
						box-shadow: none;
					}

					.app-icon {
						flex: initial;
						width: 2rem;
						height: 2rem;
						margin-right: 0.75rem;
						margin-bottom: 0.75rem;
						background-position: center;
						background-repeat: no-repeat;
						background-size: contain;
					}
					.app-title {
						flex: 1;
						align-self: center;
						margin-bottom: 0.75rem;
					}
					.app-description {
						width: 100%;
					}
				}
			}
		}
	}
}
