<div id="voip_container" class="clearfix">
	<div class="left-menu">
		<div id="my_office" class="category simple separated">
			<div class="title">
				<i class="icon-home"></i>
				<span class="title-text visible-desktop">{{ i18n.menuTitles.myOffice }}</span>
			</div>
		</div>

		<div class="category-group">
			<div id="users" class="category">
				<div class="title">
					<i class="icon-telicon-seats"></i>
					<span class="title-text visible-desktop">{{ i18n.menuTitles.users }}</span>
				</div>
			</div>

			<div id="groups" class="category">
				<div class="title">
					<i class="icon-group"></i>
					<span class="title-text visible-desktop">{{ i18n.menuTitles.groups }}</span>
				</div>
			</div>

			<div id="numbers" class="category">
				<div class="title">
					<i class="icon-th larger-margin"></i>
					<span class="title-text visible-desktop">{{ i18n.menuTitles.numbers }}</span>
				</div>
			</div>

			<div id="devices" class="category">
				<div class="title">
					<i class="icon-telicon-voip-phone larger-margin"></i>
					<span class="title-text visible-desktop">{{ i18n.menuTitles.devices }}</span>
				</div>
			</div>
		</div>

		<div id="strategy" class="category simple separated">
			<div class="title">
				<i class="icon-telicon-home-phone"></i>
				<span class="title-text visible-desktop">{{ i18n.menuTitles.mainNumber }}</span>
			</div>
		</div>
		<div id="call_logs" class="category simple separated">
			<div class="title">
				<i class="icon-telicon-pbx"></i>
				<span class="title-text visible-desktop">{{ i18n.menuTitles.callLogs }}</span>
			</div>
		</div>
		<!-- <div id="quick_links" class="category simple separated">
			<div class="title">
				<i class="icon-question larger-margin"></i>
				<span class="title-text visible-desktop">{{ i18n.menuTitles.quickLinks }}</span>
			</div>
		</div>-->
	</div>

	<div class="right-content clearfix">

	</div>
</div>
