<div class="device-popup" type="provisioner">
	<div class="block-brand">
		<div class="title-bar clearfix">
			<div class="title pull-left">{{i18n.devices.provisionerPopup.brandHeadline}}</div>
			<a class="monster-link pull-right missing-brand" href="javascript:void(0)">{{i18n.devices.provisionerPopup.missingBrand}}</a>
		</div>

		<div class="brand-selection">
			{{#each brands}}
			<div class="brand-box {{this.name}}" data-brand="{{this.name}}"/>
			{{/each}}
		</div>
	</div>

	<div class="block-device">
		<div class="title-bar clearfix">
			<div class="title pull-left">{{i18n.devices.provisionerPopup.deviceHeadline}}</div>
			<a class="monster-link pull-right missing-brand" href="javascript:void(0)">{{i18n.devices.provisionerPopup.missingDevice}}</a>
		</div>

		<div class="device-selection">
			{{#each brands}}
				<div class="devices-brand" data-brand="{{this.name}}">
					{{#each this.families}}
						{{#each this.models}}
							<div class="device-box" data-family="{{../name}}" data-model="{{this}}">
								<div class="device-image {{../../name}}-{{this}}"/>
								<div class="device-name">{{this}}</div>
							</div>
						{{/each}}
					{{/each}}
				</div>
			{{/each}}
		</div>
	</div>

	<div class="actions text-right">
		<div class="selection"></div>
		<button class="btn btn-primary next-step">{{i18n.next}}</button>
	</div>
</div>
