<div class="edit-device" data-id="{{id}}">
	<div class="title-bar clearfix">
		<div class="device-title pull-left">
			<div class="device-icon">
				<i class="icon-phone"></i>
			</div>

			{{#if id}}
				<div class="device-model">{{name}}</div>
			{{else}}
				<div class="device-model">{{i18n.devices.cellphone.new}}</div>
			{{/if}}
		</div>

		<ul class="nav nav-pills pull-right">
			<li class="tabs-main-selector main-section active">
				<a class="tabs-selector change-section" data-section="basic" href="javascript:void(0)">{{ i18n.devices.popupSettings.basicTitle }}</a>
			</li>
			<li class="tabs-main-selector main-section dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">{{ i18n.devices.popupSettings.advancedTitle }}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li><a class="tabs-selector change-section" data-section="options" href="javascript:void(0)"><i class="icon-ambulance"></i>{{ i18n.devices.popupSettings.options.menuTitle }}</a></li>
                </ul>
            </li>
		</ul>
	</div>

	<div class="content">
		<form id="form_device" class="form-horizontal">
			<div class="tabs-section active" data-section="basic">
				<div class="control-group">
					<label class="control-label" for="name">{{ i18n.devices.cellphone.deviceName }}</label>
					<div class="controls">
						<input type="text" id="name" name="name" value="{{name}}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="number">{{ i18n.devices.cellphone.number }}</label>
					<div class="controls">
						<input type="text" name="call_forward.number" placeholder="{{ i18n.devices.cellphone.numberPlaceholder }}" value="{{call_forward.number}}">
					</div>
				</div>
			</div>

			<div class="tabs-section" data-section="options">
				<div class="control-group">
            		<label class="control-label" for="require_keypress"></label>
            		<div class="controls">
                		<label>
                    		<input id="require_keypress" type="checkbox" name="call_forward.require_keypress"{{#if call_forward.require_keypress}} checked="checked"{{/if}}></input>
                    		{{ i18n.devices.cellphone.requireKeypress }}
                		</label>
            		</div>
        		</div>
				<div class="control-group">
            		<label class="control-label" for="keep_caller_id"></label>
            		<div class="controls">
                		<label>
                    		<input id="keep_caller_id" type="checkbox" name="call_forward.keep_caller_id"{{#if call_forward.keep_caller_id}} checked="checked"{{/if}}></input>
                    		{{ i18n.devices.cellphone.keepCallerId }}
                		</label>
            		</div>
        		</div>
				<div class="control-group">
            		<label class="control-label" for="hide_contact_list"></label>
            		<div class="controls">
                		<label>
                    		<input id="hide_contact_list" type="checkbox" name="contact_list.exclude"{{#if contact_list.exclude}} checked="checked"{{/if}}></input>
                    		{{ i18n.devices.cellphone.hideContactList }}
                		</label>
            		</div>
        		</div>
			</div>
		</form>
	</div>

	<div class="actions clearfix">
		{{#if id}}
			<a id="delete_device" class="monster-link"><i class="icon-trash icon-red"></i>{{ i18n.devices.deleteDevice }}</a>
		{{/if}}

		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="btn btn-success save">
			{{#if id}}
				{{ i18n.saveChanges }}
			{{else}}
				{{ i18n.devices.createDevice }}
			{{/if}}
			</button>
		</div>
	</div>
</div>
