<div class="detail-numbers">
	<div class="list-wrapper">
		<div class="list-assigned-items number-list">
			<div class="empty-row{{#if emptyAssigned}} visible{{/if}}">
				{{ i18n.groups.noAssignedNumbers }}
			</div>
			{{#each assignedNumbers}}
				<div class="item-row" data-id="{{@key}}" data-search="{{formatPhoneNumber @key}} {{@key}} {{locality.city}} {{locality.country}}">
					<div class="features-block pull-right">
						<div class="pull-right">
							<div class="navbar">
								<ul class="nav pull-right">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></a>
										<ul class="dropdown-menu">
											<li><a class="callerId-number" href="#"><i class="icon-user"></i>{{ ../i18n.callerId }}</a></li>
											<li><a class="e911-number" href="#"><i class="icon-ambulance"></i>{{ ../i18n.e911 }}</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
						<div class="features pull-right">
							{{#each viewFeatures}}
								<i class="{{icon}} {{active}} help-popover" data-toggle="tooltip" data-placement="top" data-original-title="{{ help }}"></i>
							{{/each}}
						</div>
					</div>
					<div class="number">
						<button type="button" class="btn btn-danger remove-number">{{ ../i18n.remove }}</button>
						{{ formatPhoneNumber @key }}
					</div>
					<!--<div class="locality">
						{{#if localityEnabled}}
							<span class="flag"><img src="css/flags/32/{{ locality.iso }}.png" height="32" width="32"></img></span>
							<span class="city">{{ locality.city }}, {{ locality.country }}</span>
						{{else}}
							N/A
						{{/if}}
					</div>
					-->
				</div>
			{{else}}

			{{/each}}
		</div>
	</div>

	<div class="actions">
		<a href="#" class="spare-link monster-link pull-left{{#if emptySpare}} disabled{{/if}}">
			<i class="icon-plus icon-green icon-large"></i>Add from Spare Numbers
		</a>
		<ul class="nav pull-left">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle buy-dropdown monster-link" data-toggle="dropdown" data-target="#"><i class="icon-shopping-cart icon-green icon-large"></i>{{ i18n.strategy.numberLinks.buy.link }}</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="buy-link" data-type="regular" href="#">{{i18n.strategy.numberLinks.buy.regular}}</a></li>
                    <li><a class="buy-link" data-type="tollfree" href="#">{{i18n.strategy.numberLinks.buy.tollfree}}</a></li>
                    <li><a class="buy-link" data-type="vanity" href="#">{{i18n.strategy.numberLinks.buy.vanity}}</a></li>
                </ul>
            </li>
        </ul>

		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
		</div>
	</div>
</div>
