<div class="detail-group extensions">
	<div class="list-wrapper">
		<div class="list-assigned-items number-list">
			<div class="empty-row{{#if emptyExtensions}} visible{{/if}}">
				{{ i18n.groups.noAssignedExtensions }}
			</div>
			{{#each extensions}}
				<div class="item-row" data-id="{{this}}" data-search="{{this}}">
					<div class="number">
						<button type="button" class="btn btn-danger remove-extension">{{ ../i18n.remove }}</button>
						{{ this }}
					</div>
				</div>
			{{/each}}
		</div>
	</div>

	<div class="actions">
		<a id="add_extensions" class="monster-link" href="javascript:void(0);"><i class="icon-plus icon-green"></i>{{ i18n.groups.addExtension }}</a>
		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="btn btn-success save-extensions">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>
