<div class="feature-popup-container" data-feature="call_recording">
	<div class="feature-popup-title">
		<div class="feature-icon-wrapper">
			<i class="{{group.extra.mapFeatures.call_recording.icon}}"></i>
		</div>
		{{ i18n.groups.callRecording.headline }}
		<div class="switch" data-on="success" data-off="default" data-on-label="{{i18n.enabled}}" data-off-label="{{i18n.disabled}}">
			<input type="checkbox"{{#if group.extra.mapFeatures.call_recording.active}} checked="checked"{{/if}}></input>
		</div>
	</div>

	<div class="content{{#unless group.extra.mapFeatures.call_recording.active}} disabled{{/unless}}">
		<form id="call_recording_form">
			<div>
				<span>{{ i18n.groups.callRecording.urlLabel }}</span>
				<input required name="url" type="url" placeholder="{{ i18n.groups.callRecording.urlPlaceholder }}" value="{{url}}">
			</div>
			<div>
				<span>{{ i18n.groups.callRecording.formatLabel }}</span>
				<select name="format" class="input-medium">
					<option value="mp3" {{#if format}}{{#compare format '===' 'mp3'}}selected{{/compare}}{{else}}selected{{/if}}>mp3</option>
					<option value=2"wav" {{#compare format '===' 'wav'}}selected{{/compare}}>wav</option>
				</select>
			</div>
			<div>
				<span>{{ i18n.groups.callRecording.timeLimitLabel }}</span>
				<input required name="time_limit" type="text" class="input-small" value="{{#if timeLimit}}{{timeLimit}}{{else}}600{{/if}}">
			</div>
		</form>
	</div>

	<div class="actions clearfix">
		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="btn btn-success save">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>
