<div class="detail-group">
	<div id="form-{{id}}" class="groups-fields row-fluid" data-id="{{id}}">
	<div class="grid-time">
		<div class="group-row title">
			<div class="scale-container"></div>
			<div class="name"><!--{{ i18n.groups.ringThisMemberFor }}--></div>
			<div class="times"></div>
			<div class="remove">{{ i18n.groups.removeMember }}</div>
		</div>

		{{#each extra.ringGroup}}
			<div class="group-row" data-user_id="{{id}}">
				<div class="scale-container"></div>
				<div class="name">{{name}}</div>
				<div class="times">
					<div class="slider-time">

					</div>
				</div>
				<div class="remove">
					<button class="btn btn-danger remove-user">{{ ../i18n.remove }}</button>
				</div>
			</div>
		{{/each}}
	</div>
	<div class="extra-node">
		<span>{{ i18n.groups.extraNode.label }}</span>
		<select class="extra-node-select">
			<optgroup label="{{ i18n.groups.extraNode.menu }}">
				{{#if extra.callEntities.mainMenu}}
				<option value="{{extra.callEntities.mainMenu.id}}" data-module="callflow" {{#compare extra.selectedEntity.id '===' extra.callEntities.mainMenu.id}}selected{{/compare}}>{{ i18n.groups.extraNode.mainMenu }}</option>
				{{/if}}
			</optgroup>
			<optgroup label="{{ i18n.groups.extraNode.voicemails }}">
				{{#each extra.callEntities.voicemails}}
				<option value="{{id}}" data-module="voicemail" {{#compare ../extra.selectedEntity.id '===' id}}selected{{/compare}}>{{name}}</option>
				{{/each}}
			</optgroup>
			<optgroup label="{{ i18n.groups.extraNode.users }}">
				{{#each extra.callEntities.userCallflows}}
				<option value="{{id}}" data-module="callflow" {{#compare ../extra.selectedEntity.id '===' id}}selected{{/compare}}>{{userName}}</option>
				{{/each}}
			</optgroup>
		</select>
	</div>
	<div class="actions">
		<ul class="pull-left add-user-dropdown">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle monster-link" data-toggle="dropdown" data-target="#">
					<i class="icon-plus-sign icon-green"></i>
					{{ i18n.users.add }}
				</a>
				<ul class="dropdown-menu" role="menu">
					{{#each extra.remainingUsers}}
						<li class="add-user {{#if inUse}}in-use{{/if}}" data-id="{{id}}">{{first_name}} {{last_name}}</li>
					{{/each}}
				</ul>
			</li>
		</ul>
		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="btn btn-success save-groups">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>
