<div id="creation_group_dialog">
	<form id="form_group_creation">
		<div class="one-line-form clearfix">
			<label class="control-label" for="inputName">{{ i18n.groups.dialogCreationGroup.name }}</label>
			<div><input required type="text" id="inputName" name="name" class="input-medium"></input></div>

			<label class="control-label" for="inputExtension">{{ i18n.groups.dialogCreationGroup.extension }}</label>
			<div><input required type="text" id="inputExtension" name="extra.extension" class="input-small"></input></div>
		</div>
	</form>

	<div class="items-selector clearfix" id="group_user_selector">
        <div class="box-selector">
            <div class="box-title">{{ i18n.groups.dialogCreationGroup.availableUsers }}</div>
            <ul class="available-users connectedSortable">
                {{#each extra.listUsers}}
                    <li class="item-selector" data-user_id="{{this.id}}"><div class="item-handle"></div>{{ this.first_name }} {{ this.last_name }}</li>
                {{/each}}
            </ul>
        </div>

        <div class="box-selector">
            <div class="box-title">{{ i18n.groups.dialogCreationGroup.selectedUsers }}</div>
            <ul class="selected-users connectedSortable">
            </ul>
        </div>
    </div>

	<div class="dialog-buttons-wrapper">
		<button id="create_group" class="btn btn-success">{{ i18n.groups.dialogCreationGroup.createGroup }}</button>
	</div>
</div>
