<div id="my_office_music_on_hold_popup" class="feature-popup-container">
	<div class="feature-popup-header">
		<div class="feature-icon-wrapper">
			<i class="icon-music"></i>
		</div>
		{{ i18n.myOffice.musicOnHold.headline }}
	</div>

	<div class="content">
		<div>
			<span>{{ i18n.myOffice.musicOnHold.dropdownLabel }}</span>
			<select name="format" class="media-dropdown">
				<option value="" {{#unless media}}selected{{/unless}}>
					{{ i18n.myOffice.musicOnHold.default }}
				</option>
				<option value="{{silenceMedia}}" {{#compare media '===' silenceMedia}}selected{{/compare}}>
					{{ i18n.myOffice.musicOnHold.silence }}
				</option>
				{{#each mediaList}}
					<option value="{{this.id}}" {{#compare ../media '===' this.id}}selected{{/compare}}>{{this.name}}</option>
				{{/each}}
			</select>
			<button type="button" class="btn btn-primary upload-toggle" data-toggle="button">
				{{ i18n.upload }}
			</button>
		</div>
		<div class="upload-div">
			<input type="file" class="upload-input" accept="audio/*">
			<button type="button" class="btn btn-success upload-submit"><i class="icon-upload-alt"></i></button>
			<button type="button" class="btn btn-danger upload-cancel"><i class="icon-remove"></i></button>
		</div>
	</div>

	<div class="actions clearfix">
		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="btn btn-success save">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>