<div id="strategy_container">
	<div class="element-container main-number" data-template="numbers">
		<div class="element-header-outer clearfix">
			<div class="element-header-inner">
				<div class="title">
					<i class="icon-info-sign"></i>
					<span>{{ i18n.strategy.sectionTitles.numbers }}</span>
				</div>
				<div class="summary">
					<span>{{formatPhoneNumber firstNumber}}</span>
					<i class="icon-play"></i>
				</div>
			</div>
		</div>
		<div class="element-content"></div>
	</div>
	<div class="element-container strategy-hours" data-template="hours">
		<div class="element-header-outer clearfix">
			<div class="element-header-inner">
				<div class="title">
					<i class="icon-info-sign"></i>
					<span>{{ i18n.strategy.sectionTitles.hours }}</span>
				</div>
				<div class="summary">
					<span></span>
					<i class="icon-play"></i>
				</div>
			</div>
		</div>
		<div class="element-content"></div>
	</div>
	<div class="element-container strategy-holidays" data-template="holidays">
		<div class="element-header-outer clearfix">
			<div class="element-header-inner">
				<div class="title">
					<i class="icon-info-sign"></i>
					<span>{{ i18n.strategy.sectionTitles.holidays }}</span>
				</div>
				<div class="summary">
					<span></span>
					<i class="icon-play"></i>
				</div>
			</div>
		</div>
		<div class="element-content"></div>
	</div>
	<div class="element-container strategy-calls" data-template="calls">
		<div class="element-header-outer clearfix">
			<div class="element-header-inner">
				<div class="title">
					<i class="icon-info-sign"></i>
					<span>{{ i18n.strategy.sectionTitles.calls }}</span>
				</div>
				<div class="summary">
					<span></span>
					<i class="icon-play"></i>
				</div>
			</div>
		</div>
		<div class="element-content"></div>
	</div>
</div>
