<div class="holidays-toggler">
	<label>
		<input type="checkbox" name="holidays.enabled" {{#if enabled}}checked{{/if}}>
		{{i18n.strategy.holidays.enableTitle}}
	</label>
</div>

<div class="holidays-div" {{#if enabled}}style="display:block;"{{/if}}>
	<div class="holidays-add navbar clearfix">
		<ul class="nav pull-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">{{i18n.strategy.holidays.addLink}}</a>
				<ul class="dropdown-menu" role="menu">
					<li><a class="add-holidays-link" data-type="single" href="#">{{i18n.strategy.holidays.singleLink}}</a></li>
					<li><a class="add-holidays-link" data-type="range" href="#">{{i18n.strategy.holidays.rangeLink}}</a></li>
					<li><a class="add-holidays-link" data-type="advanced" href="#">{{i18n.strategy.holidays.advancedLink}}</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="holidays-list"></div>
</div>

<div class="holidays-actions basic-actions">
	<a href="#" class="cancel-link">{{i18n.cancel}}</a>
	<button class="btn btn-success save-button">{{i18n.saveChanges}}</button>
</div>