<div id="strategy_menu_popup">
	<div class="info-block">
		Virtual Receptionist will answer incoming calls professionally and automatically transfer them to an appropriate department or person. Main Menu will allow you to set up call routes. Please type or record greetings that matches the Main Menu.
	</div>
	<div class="menu-block clearfix">
		<div class="left">
			<div class="title">Main Menu</div>
			<div class="content">
			</div>
			<div class="add-menu-line">
				<a href="#">Add route</a>
			</div>
		</div>
		<div class="right">
			<div class="title">Greetings</div>
			<div class="content">
				<div id="strategy_menu_popup_accordion">
					<div class="greeting-option accordion-group {{#compare greeting.media_source '===' 'tts'}}active{{/compare}}">
						<div class="greeting-option-header btn-primary" data-toggle="collapse" 
							 data-parent="#strategy_menu_popup_accordion" 
							 data-target="#strategy_menu_popup_tts_greeting">
							<div class="pull-right"><i class="icon-comment icon-white"></i></div>
							<div>Text to Speech</div>
						</div>
						<div class="collapse" id="strategy_menu_popup_tts_greeting">
							<div class="greeting-option-content">
								<textarea placeholder="Please enter your greeting message here.">
									{{#compare greeting.media_source '===' 'tts'}}{{greeting.tts.text}}{{/compare}}
								</textarea>
								<div class="greeting-option-actions clearfix">
									<button class="update-greeting pull-right btn btn-mini btn-primary">Update</button>
									<button class="cancel-greeting pull-right btn btn-mini">Cancel</button>
								</div>
							</div>
						</div>
					</div>
					<div class="greeting-option accordion-group {{#compare greeting.media_source '===' 'upload'}}active{{/compare}}">
						<div class="greeting-option-header btn-primary" data-toggle="collapse" 
							 data-parent="#strategy_menu_popup_accordion" 
							 data-target="#strategy_menu_popup_upload_greeting">
							<div class="pull-right"><i class="icon-upload-alt icon-white"></i></div>
							<div>Upload your own file</div>
						</div>
						<div class="collapse" id="strategy_menu_popup_upload_greeting">
							<div class="greeting-option-content">
								<input type="file">
								<div class="greeting-option-actions clearfix">
									<button class="update-greeting pull-right btn btn-mini btn-primary">Update</button>
									<button class="cancel-greeting pull-right btn btn-mini">Cancel</button>
								</div>
							</div>
						</div>
					</div>
					<div class="greeting-option accordion-group">
						<div class="greeting-option-header btn-primary" data-toggle="collapse" 
							 data-parent="#strategy_menu_popup_accordion" 
							 data-target="#strategy_menu_popup_record_greeting">
							<div class="pull-right"><i class="icon-info-sign icon-white"></i></div>
							<div>Record it over the phone</div>
						</div>
						<div class="collapse" id="strategy_menu_popup_record_greeting">
							<div class="greeting-option-content">
								<div>
									Record the greeting message yourself over the phone, by following the steps below:
								</div>
								<ol style=" margin-top: 15px; margin-bottom: 0; ">
									<li>Pickup you phone.</li>
									<li>Type in this PIN: <span class="record-pin">{{menu.record_pin}}</span>.</li>
									<li>Record your message.</li>
									<li>????</li>
									<li>Profit!</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="action-block clearfix">
		<button class="save-button btn btn-success pull-right">Save</button>
		<a href="#" class="cancel-link pull-right">Cancel</a>
	</div>
</div>