<ul class="nav nav-tabs calls-tabs clearfix">
	<li class="active"><a href="#strategy_calls_open_hours_tab">Open Hours</a></li>
	{{#if lunchbreak}}
	<li><a href="#strategy_calls_lunch_hours_tab">Lunch Hours</a></li>
	{{/if}}
	{{#if afterhours}}
	<li><a href="#strategy_calls_after_hours_tab">After Hours</a></li>
	{{/if}}
	{{#if holidays}}
	<li><a href="#strategy_calls_holidays_tab">Holidays</a></li>
	{{/if}}
</ul>
<div class="tab-content callflow-tabs">
	<div class="callflow-tab tab-pane fade active in" id="strategy_calls_open_hours_tab" data-callflow="MainOpenHours"></div>
	{{#if lunchbreak}}
	<div class="callflow-tab tab-pane fade" id="strategy_calls_lunch_hours_tab" data-callflow="MainLunchHours"></div>
	{{/if}}
	{{#if afterhours}}
	<div class="callflow-tab tab-pane fade" id="strategy_calls_after_hours_tab" data-callflow="MainAfterHours"></div>
	{{/if}}
	{{#if holidays}}
	<div class="callflow-tab tab-pane fade" id="strategy_calls_holidays_tab" data-callflow="MainHolidays"></div>
	{{/if}}
</div>

<div class="calls-actions basic-actions">
	<a href="#" class="cancel-link">Cancel</a>
	<button class="btn btn-success save-button">Save Changes</button>
</div>