<div class="holidays-toggler">
	<label>
		<input type="checkbox" name="holidays.enabled" {{#if holidays.enabled}}checked{{/if}}>
		Are you closed for holidays? This will override the office hours settings above.
	</label>
</div>

<div class="holidays-div">
	<div class="holidays-add">
		<a href="#">Add Holiday</a>
	</div>
	<div class="holidays-list">
		<!-- <div class="holidays-element">
			<input type="text" class="name" value="Independence Day" original="Independence Day">
			<input type="text" class="date single">
		</div>
		<div class="holidays-element">
			<input type="text" class="name" value="Labor Day" original="Labor Day">
			<input type="text" class="date single">
		</div>
		<div class="holidays-element">
			<input type="text" class="name" value="Christmas Holidays" original="Christmas Holidays">
			<input type="text" class="date from">
			to
			<input type="text" class="date to">
		</div> -->
	</div>
</div>

<div class="holidays-actions basic-actions">
	<a href="#" class="cancel-link">Cancel</a>
	<button class="btn btn-success save-button">Save Changes</button>
</div>