<ul class="nav nav-tabs calls-tabs clearfix">
	<li class="open-hours-tab active">
		<a href="#strategy_calls_open_hours_tab"><i class="icon-sun"></i>{{i18n.strategy.calls.openHoursTitle}}</a>
	</li>
	{{#if lunchbreak}}
	<li class="lunch-hours-tab">
		<a href="#strategy_calls_lunch_hours_tab"><i class="icon-food"></i>{{i18n.strategy.calls.lunchHoursTitle}}</a>
	</li>
	{{/if}}
	{{#if afterhours}}
	<li class="after-hours-tab">
		<a href="#strategy_calls_after_hours_tab"><i class="icon-moon"></i>{{i18n.strategy.calls.afterHoursTitle}}</a>
	</li>
	{{/if}}
	{{#if holidays}}
	<li class="holidays-tab">
		<a href="#strategy_calls_holidays_tab"><i class="icon-glass"></i>{{i18n.strategy.calls.holidaysTitle}}</a>
	</li>
	{{/if}}
</ul>
<div class="tab-content callflow-tabs">
	<div class="callflow-tab tab-pane fade active in" id="strategy_calls_open_hours_tab" data-callflow="MainOpenHours"></div>
	{{#if lunchbreak}}
	<div class="callflow-tab tab-pane fade" id="strategy_calls_lunch_hours_tab" data-callflow="MainLunchHours"></div>
	{{/if}}
	{{#if afterhours}}
	<div class="callflow-tab tab-pane fade" id="strategy_calls_after_hours_tab" data-callflow="MainAfterHours"></div>
	{{/if}}
	{{#if holidays}}
	<div class="callflow-tab tab-pane fade" id="strategy_calls_holidays_tab" data-callflow="MainHolidays"></div>
	{{/if}}
</div>

<div class="calls-actions basic-actions">
	<a href="#" class="cancel-link">{{i18n.cancel}}</a>
	<button class="btn btn-success save-button">{{i18n.saveChanges}}</button>
</div>