{{#each numbers}}
<div class="number-element">
	<div class="number">
		<button type="button" class="btn btn-danger remove-number" data-number="{{this.number}}" data-e911="{{this.features.dash_e911.active}}">
			{{ ../i18n.remove }}
		</button>
		<span>{{formatPhoneNumber this.number}}</span>
	</div>
	<div class="features-block pull-right">
		<div class="pull-right">
			<div class="navbar">
				<ul class="nav pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></a>
						<ul class="dropdown-menu">
							<li><a class="callerId-number" href="#"><i class="icon-user"></i>{{ ../i18n.callerId }}</a></li>
							<li><a class="e911-number" href="#"><i class="icon-ambulance"></i>{{ ../i18n.e911 }}</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="features pull-right">
			{{#each this.features}}
				<i class="{{icon}} {{active}} help-popover" data-toggle="tooltip" data-placement="top" data-original-title="{{ help }}"></i>
			{{/each}}
		</div>
	</div>
</div>
{{else}}
<div class="number-element">
	<div class="no-number-error">{{ i18n.strategy.noNumberMessage }}</div>
</div>
{{/each}}
<div class="number-actions">
	<a href="#" class="cancel-link pull-right">{{ i18n.close }}</a>
	<div class="action-links nav-bar clearfix">
		<a href="#" class="spare-link monster-link pull-left{{#unless spareLinkEnabled}} disabled{{/unless}}"><i class="icon-file-text-alt icon-orange icon-large"></i>{{ i18n.strategy.numberLinks.spare }}</a>
		<ul class="nav pull-left">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle buy-dropdown monster-link" data-toggle="dropdown" data-target="#"><i class="icon-shopping-cart icon-green icon-large"></i>{{ i18n.strategy.numberLinks.buy.link }}</a>
				<ul class="dropdown-menu" role="menu">
					<li><a class="buy-link" data-type="regular" href="#">{{i18n.strategy.numberLinks.buy.regular}}</a></li>
					<li><a class="buy-link" data-type="tollfree" href="#">{{i18n.strategy.numberLinks.buy.tollfree}}</a></li>
					<li><a class="buy-link" data-type="vanity" href="#">{{i18n.strategy.numberLinks.buy.vanity}}</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
