<div id="strategy_container">
	<div class="element-container main-number" data-template="numbers">
		<div class="element-header-outer clearfix">
			<div class="element-header-inner">
				<div class="title">
					<i class="icon-info-sign"></i>
					<span>Main Company Numbers</span>
				</div>
				<div class="summary">
					<span>800-779-9000, 415-886-7900</span>
					<i class="icon-play"></i>
				</div>
			</div>
		</div>
		<div class="element-content"></div>
	</div>
	<div class="element-container strategy-hours" data-template="hours">
		<div class="element-header-outer clearfix">
			<div class="element-header-inner">
				<div class="title">
					<i class="icon-info-sign"></i>
					<span>Office Hours Strategy</span>
				</div>
				<div class="summary">
					<span>Custom Office Hours</span>
					<i class="icon-play"></i>
				</div>
			</div>
		</div>
		<div class="element-content"></div>
	</div>
	<div class="element-container strategy-holidays" data-template="holidays">
		<div class="element-header-outer clearfix">
			<div class="element-header-inner">
				<div class="title">
					<i class="icon-info-sign"></i>
					<span>Office Holidays</span>
				</div>
				<div class="summary">
					<span>None</span>
					<i class="icon-play"></i>
				</div>
			</div>
		</div>
		<div class="element-content"></div>
	</div>
	<div class="element-container strategy-calls" data-template="calls">
		<div class="element-header-outer clearfix">
			<div class="element-header-inner">
				<div class="title">
					<i class="icon-info-sign"></i>
					<span>Incoming Call Handling</span>
				</div>
				<div class="summary">
					<span>Default</span>
					<i class="icon-play"></i>
				</div>
			</div>
		</div>
		<div class="element-content">

			<ul class="nav nav-tabs calls-tabs clearfix">
				<li class="active"><a href="#strategy_calls_open_hours_tab">Open Hours</a></li>
				<li><a href="#strategy_calls_lunch_hours_tab">Lunch Hours</a></li>
				<li><a href="#strategy_calls_after_hours_tab">After Hours</a></li>
				<li><a href="#strategy_calls_holidays_tab">Holidays</a></li>
			</ul>
			<div class="tab-content callflow-tabs">
				<div class="tab-pane callflow-tab active" id="strategy_calls_open_hours_tab">
					<div class="callflow-tab-title">Select the way you want your callers to reach you during Open Hours</div>
					<label class="call-option menu-call">
						<div class="radio-div"><input type="radio" name="openCallsRadio" value="menu"></div>
						<div class="title">Incoming Call</div>
						<div class="arrow-icon"><i class="icon-arrow-down icon-large"></i></div>
						<div>
							<div class="virtual-icon"><i class="icon-play-sign icon-3x"></i></div>
							<div class="link"><a href="#"><i class="icon-cog icon-small"></i> Virtual Receptionist</a></div>
						</div>
					</label>
					<label class="call-option user-voicemail-call">
						<div class="radio-div"><input type="radio" name="openCallsRadio" value="menu"></div>
						<div class="title">Incoming Call</div>
						<div class="arrow-icon"><i class="icon-arrow-down icon-large"></i></div>
						<div>
							<div class="link"><a href="#">Receptionist Ext. 0</a></div>
							<select>
								<option>John Doe</option>
							</select>
						</div>
						<div class="arrow-icon"><i class="icon-arrow-down icon-large"></i></div>
						<div class="link"><a href="#">Receptionist's Voicemail</a></div>
					</label>
					<label class="call-option user-menu-call">
						<div class="radio-div"><input type="radio" name="openCallsRadio" value="menu"></div>
						<div class="title">Incoming Call</div>
						<div class="arrow-icon"><i class="icon-arrow-down icon-large"></i></div>
						<div>
							<div class="link"><a href="#">Receptionist Ext. 0</a></div>
							<select>
								<option>John Doe</option>
							</select>
						</div>
						<div class="arrow-icon"><i class="icon-arrow-down icon-large"></i></div>
						<div>
							<div class="virtual-icon"><i class="icon-play-sign icon-3x"></i></div>
							<div class="link"><a href="#"><i class="icon-cog icon-small"></i> Virtual Receptionist</a></div>
						</div>
					</label>
				</div>
				<div class="tab-pane callflow-tab" id="strategy_calls_lunch_hours_tab">b</div>
				<div class="tab-pane callflow-tab" id="strategy_calls_after_hours_tab">c</div>
				<div class="tab-pane callflow-tab" id="strategy_calls_holidays_tab">d</div>
			</div>

		</div>
	</div>
</div>