<div>
	<form id="strategy_custom_hours_form">
		<div class="custom-hours-toggler">
			<label>
				<div class="title">
					<input type="radio" name="enabled" value="false" {{#if alwaysOpen}}checked{{/if}}>
					{{i18n.strategy.hours.alwaysOpenTitle}}
				</div>
				<div class="description">
					{{i18n.strategy.hours.alwaysOpenDescription}}
				</div>
			</label>
			<label>
				<div class="title">
					<input type="radio" name="enabled" value="true" {{#unless alwaysOpen}}checked{{/unless}}>
					{{i18n.strategy.hours.customHoursTitle}}
				</div>
				<div class="description">
					{{i18n.strategy.hours.customHoursDescription}}
				</div>
			</label>
		</div>

		<div class="custom-hours-div" {{#unless alwaysOpen}}style="display: block;"{{/unless}}>
			<div class="custom-hours-header">
				<span class="pull-right timezone">{{i18n.strategy.hours.timezone}} {{companyTimezone}}</span>
				<span class="title">{{i18n.strategy.hours.listTitle}}</span>
			</div>
			<div class="custom-days">
				{{#each days}}
				<div class="custom-day">
					<span class="status pull-right">{{#if this.open}}{{../../i18n.strategy.open}}{{else}}{{../../i18n.strategy.closed}}{{/if}}</span>
					<div>
						<label class="custom-day-label">
							<input type="checkbox" name="opendays[]" value="{{this.name}}" {{#if this.open}}checked{{/if}}>
							{{this.label}}
						</label>
						<span class="timepickers" {{#unless this.open}}style="display:none;"{{/unless}}>
							<input required class="from-hour timepicker" type="text" name="weekdays.{{this.name}}.from" value="{{this.from}}">
							{{../i18n.strategy.hours.to}}
							<input required class="to-hour timepicker" type="text" name="weekdays.{{this.name}}.to" value="{{this.to}}">
						</span>
					</div>
				</div>
				{{/each}}
			</div>
			<div class="custom-hours-lunchbreak">
				<label>
					<input type="checkbox" name="lunchbreak.enabled" {{#if lunchbreak.enabled}}checked{{/if}}>
					{{i18n.strategy.hours.lunchbreakTitle}}
				</label>
				<span class="timepickers" {{#unless lunchbreak.enabled}}style="display:none;"{{/unless}}>
					<input required class="from-hour timepicker" type="text" name="lunchbreak.from" value="{{lunchbreak.from}}">
					{{i18n.strategy.hours.to}}
					<input required class="to-hour timepicker" type="text" name="lunchbreak.to" value="{{lunchbreak.to}}">
				</span>
			</div>
		</div>
		<div class="custom-hours-actions basic-actions">
			<a href="#" class="cancel-link">{{i18n.cancel}}</a>
			<button class="btn btn-success save-button">{{i18n.saveChanges}}</button>
		</div>
	</form>
</div>