<div class="holidays-toggler">
	<label>
		<input type="checkbox" name="holidays.enabled" {{#if holidays.enabled}}checked{{/if}}>
		Are you closed for holidays? This will override the office hours settings above.
	</label>
</div>

<div class="holidays-div">
	<div class="holidays-add navbar clearfix">
		<ul class="nav pull-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">Add Holiday</a>
				<ul class="dropdown-menu" role="menu">
					<li><a class="add-holidays-link" data-type="single" href="#">Single Day</a></li>
					<li><a class="add-holidays-link" data-type="range" href="#">Date Range</a></li>
					<li><a class="add-holidays-link" data-type="advanced" href="#">Advanced</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="holidays-list"></div>
</div>

<div class="holidays-actions basic-actions">
	<a href="#" class="cancel-link">Cancel</a>
	<button class="btn btn-success save-button">Save Changes</button>
</div>