<div id="creation_user_dialog">
	<form class="form-horizontal small-labels" id="form_user_creation">
	<div>
		<div class="control-group">
			<label class="control-label" for="first_name"><i class="icon-user"></i></label>
			<div class="controls">
				<input required class="input-small" type="text" id="first_name" name="user.first_name" placeholder="{{i18n.users.dialogCreationUser.firstName}}"></input>
				<input required class="same-line input-small" type="text" name="user.last_name" placeholder="{{i18n.users.dialogCreationUser.lastName}}"></input>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="email"><i class="icon-key"></i></label>
			<div class="controls">
				<input required type="email" name="user.username" id="username" placeholder="{{i18n.users.dialogCreationUser.loginEmail}}"/>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="password"><i class="icon-unlock"></i></label>
			<div class="controls">
				<input required minlength="8" type="password" name="user.password" id="password" placeholder="{{i18n.users.dialogCreationUser.password}}"/>
			</div>
		</div>
	</div>

	<div>
		<div class="control-group-split clearfix">
			<div class="split-group">
				<div class="split-title">{{ i18n.users.dialogCreationUser.extension }}</div>
				<div class="split-field">
					<i class="icon-telicon-extension"></i>
					<input required maxlength="6" class="input-mini" type="text" name="callflow.extension" id="extension" placeholder="{{i18n.users.dialogCreationUser.extension}}" value="{{nextExtension}}"/>
				</div>
			</div>
			<div class="split-group">
				<div class="split-title">{{ i18n.users.dialogCreationUser.vmboxNumber }}</div>
				<div class="split-field">
					<i class="icon-telicon-voicemail"></i>
					<input required maxlength="6" class="input-mini" type="text" name="vmbox.number" id="extension" placeholder="{{i18n.users.dialogCreationUser.extension}}" value="{{nextExtension}}"/>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="control-group hack-left">
			<label class="control-label" for="include_directory"></label>
			<div class="controls">
				<label>
					<input id="include_directory" type="checkbox" name="extra.includeInDirectory"{{#if includeInDirectory}} checked="checked"{{/if}}></input>
					{{ i18n.users.includeInDirectory }}
				</label>
			</div>
		</div>
		<div class="control-group hack-left">
			<label class="control-label" for="notification_email"></label>
			<div class="controls">
				<label>
					<input id="notification_email" type="checkbox" name="extra.differentEmail"{{#if sendToDifferentEmail}} checked{{/if}}></input>
					{{ i18n.users.dialogCreationUser.sendToDifferentEmail }}
				</label>
			</div>
		</div>
		<div class="control-group email-group{{#unless sendToDifferentEmail}} hidden{{/unless}}">
			<label class="control-label" for="email"><i class="icon-envelope"></i></label>
			<div class="controls">
				<input type="email" name="extra.email" id="email" placeholder="{{i18n.users.dialogCreationUser.notificationEmail}}">
			</div>
		</div>
	</div>
	</form>
	<div class="dialog-buttons-wrapper">
		<button id="create_user" class="btn btn-success">{{ i18n.users.dialogCreationUser.createUser }}</button>
	</div>
</div>
