<div id="creation_user_dialog">
	<form class="form-horizontal small-labels" id="form_user_creation">
		<div class="control-group">
			<label class="control-label" for="first_name"><i class="icon-book"></i></label>
			<div class="controls">
				<input class="input-small" type="text" id="first_name" name="user.first_name" placeholder="{{i18n.users.dialogCreationUser.firstName}}"></input>
				<input class="same-line input-small" type="text" name="user.last_name" placeholder="{{i18n.users.dialogCreationUser.lastName}}"></input>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="email"><i class="icon-key"></i></label>
			<div class="controls">
				<input type="email" name="user.username" id="username" placeholder="{{i18n.users.dialogCreationUser.loginEmail}}">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="timezone"><i class="icon-telicon-moderator"></i></label>
			<div class="controls">
				<select id="priv_level" name="user.priv_level" class="input-small">
					<option value="admin">{{ i18n.users.admin }}</option>
					<option value="user" selected>{{ i18n.users.user }}</option>
				</select>
				<i class="second-field icon-phone"></i>
				<input class="input-mini" type="text" name="callflow.extension" id="extension" placeholder="{{i18n.users.dialogCreationUser.extension}}" value="{{nextExtension}}">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="user_creation_timezone"><i class="icon-time"></i></label>
			<div class="controls">
				<select id="user_creation_timezone" name="user.timezone" data-original_value="{{timezone}}"></select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="include_directory"></label>
			<div class="controls">
				<label>
					<input id="include_directory" type="checkbox" name="extra.includeInDirectory"{{#if includeInDirectory}} checked="checked"{{/if}}></input>
					{{ i18n.users.includeInDirectory }}
				</label>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="notification_email"></label>
			<div class="controls">
				<label>
					<input id="notification_email" type="checkbox" name="extra.sameEmail"{{#if sendToSameEmail}} checked{{/if}}></input>
					{{ i18n.users.dialogCreationUser.sendToSameEmail }}
				</label>
			</div>
		</div>
		<div class="control-group email-group{{#if sendToSameEmail}} hidden{{/if}}">
			<label class="control-label" for="email"><i class="icon-envelope"></i></label>
			<div class="controls">
				<input type="email" name="extra.email" id="email" placeholder="{{i18n.users.dialogCreationUser.notificationEmail}}">
			</div>
		</div>
	</form>
	<div class="dialog-buttons-wrapper">
		<button id="create_user" class="btn btn-success">{{ i18n.users.dialogCreationUser.createUser }}</button>
	</div>
</div>
