<div class="change-password-popup">
	<div class="change-password-content">
		<form id="form_new_username" class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="inputEmail">{{ i18n.users.dialogChangePassword.username }}</label>
				<div class="controls">
					<input required name="username" type="email" id="inputEmail" placeholder="Email" value="{{username}}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputPassword">{{ i18n.users.dialogChangePassword.password }}</label>
				<div class="controls">
					<input required minlength="8" name="password" type="password" id="inputPassword" placeholder="{{ i18n.users.dialogChangePassword.passwordPlaceholder }}">
				</div>
			</div>
		</form>

		<div class="help-box gray-box">
        	<div class="wrapper-icon">
            	&nbsp;<i class="icon-info-sign2"></i>&nbsp;
        	</div>
        	<div class="text-wrapper">
            	<p>{{ i18n.users.dialogChangePassword.help }}</p>
        	</div>
    	</div>
    </div>

	<div class="actions clearfix">
        <div class="pull-right">
            <a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
            <button type="button" class="btn btn-success save-new-username">{{ i18n.saveChanges }}</button>
        </div>
    </div>
</div>
