<div class="item-row" data-id="{{this.id}}" data-search="{{formatPhoneNumber this.id}} {{this.id}}">
	<div class="features-block pull-right">
		<div class="pull-right">
			<div class="navbar">
				<ul class="nav pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></a>
						<ul class="dropdown-menu">
							<li><a class="callerId-number" href="#"><i class="icon-user"></i>{{ i18n.callerId }}</a></li>
							<li><a class="e911-number" href="#"><i class="icon-ambulance"></i>{{ i18n.e911 }}</a></li>
							{{#compare this.used_by "===" "trunkstore"}}
								<li><a class="failover-number" href="#"><i class="icon-thumbs-down"></i>{{ ../i18n.failover }}</a></li>
							{{/compare}}
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="features pull-right">
			{{#each this.viewFeatures}}
				<i class="{{icon}} {{active}} help-popover" data-toggle="tooltip" data-placement="top" data-original-title="{{ help }}"></i>
			{{/each}}
		</div>
	</div>
	<div class="number">
		<button type="button" class="btn btn-primary add-number">{{ i18n.add }}</button>
		{{ formatPhoneNumber this.id }}
	</div>
</div>
