<div class="feature-popup-container">
	<div class="feature-popup-title">
        <div class="feature-icon-wrapper{{#if this.active}} active{{/if}}">
            <i class="{{this.icon}}"></i>
        </div>
	</div>
	<h1> Welcome on a feature popup </h1>
	<p>
	Lorem Ipsum, etc...
	Lorem Ipsum, etc...
	Lorem Ipsum, etc...
	Lorem Ipsum, etc...
	Lorem Ipsum, etc...
	Lorem Ipsum, etc...
	Lorem Ipsum, etc...
	Lorem Ipsum, etc...
	</p>
	<p>
	Lorem Ipsum, etc...
	Lorem Ipsum, etc...
	Lorem Ipsum, etc...
	Lorem Ipsum, etc...
	Lorem Ipsum, etc...
	Lorem Ipsum, etc...
	</p>
</div>
