<div class="item-row" data-id="{{number.phoneNumber}}" data-search="{{formatPhoneNumber number.phoneNumber}} {{number.phoneNumber}} {{number.locality.city}} {{number.locality.country}}">
	<div class="features-block pull-right">
		<div class="pull-right">
			<div class="navbar">
				<ul class="nav pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></a>
						<ul class="dropdown-menu">
							<li><a class="callerId-number" href="#"><i class="icon-user"></i>{{ i18n.callerId }}</a></li>
							<li><a class="e911-number" href="#"><i class="icon-ambulance"></i>{{ i18n.e911 }}</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="features pull-right">
			{{#each number.viewFeatures}}
				<i class="{{icon}} {{active}} help-popover" data-toggle="tooltip" data-placement="top" data-original-title="{{ help }}"></i>
			{{/each}}
		</div>
	</div>
	<div class="number">
		<button type="button" class="btn btn-danger remove-number">{{ i18n.remove }}</button>
		{{ formatPhoneNumber number.phoneNumber }}
	</div>
</div>
