<div class="detail-user">
	<form id="form-{{id}}" class="user-fields row-fluid">
		<div class="basic-fields span6">

			<div class="row-fields">
				<div class="icon-wrapper"><i class="icon-user"></i></div>
				<input required type="text" class="input-small" name="first_name" value="{{first_name}}" placeholder="{{i18n.users.editionForm.firstName}}"></input><input required class="input-small fix-left" type="text" name="last_name" value="{{last_name}}" placeholder="{{i18n.users.editionForm.lastName}}"></input>
			</div>

			<div class="row-fields">
				<div class="icon-wrapper"><i class="icon-key"></i></div>
				<span id="username">{{username}}</span>
				<a href="javascript:void(0);" id="change_username" class="monster-link blue">{{i18n.users.changeUsername}}</a>
			</div>

			<div class="row-fields vmbox">
				<div class="icon-wrapper"><i class="icon-telicon-voicemail"></i></div>
				<label for="vmbox_number">
					{{ i18n.users.editionForm.vmboxNumber }}
				</label>
				<input id="vmbox_number" class="input-small" required type="text" name="extra.vmboxNumber" value="{{extra.vmbox.mailbox}}"></input>
			</div>

			<div class="email-border{{#compare email '!==' username }} open{{/compare}}">
				<div class="row-fields email-checkbox">
					<label class="fix-left" for="notification_email">
						<input id="notification_email" type="checkbox" name="extra.differentEmail"{{#if extra.differentEmail}} checked{{/if}}></input>
						{{ i18n.users.dialogCreationUser.sendToDifferentEmail }}
					</label>
				</div>

				<div class="row-fields email-group{{#unless extra.differentEmail}} hidden{{/unless}}">
					<div class="icon-wrapper"><i class="icon-envelope"></i></div>
					<input type="email" name="extra.email" id="email" placeholder="{{i18n.users.dialogCreationUser.notificationEmail}}" value="{{email}}">
				</div>
			</div>

			{{#if extra.mainCallflowId}}
			<div class="row-fields">
				<label class="fix-left">
					<input id="include_directory" type="checkbox" name="extra.includeInDirectory"{{#if extra.includeInDirectory}} checked="checked"{{/if}}></input>
					{{ i18n.users.includeInDirectory }}
				</label>
			</div>
			{{/if}}
		</div>
		<div class="basic-fields span6">
			<div class="row-fields">
				<div class="icon-wrapper"><i class="icon-telicon-moderator"></i></div>
				<select id="priv_level" name="priv_level">
					{{#compare priv_level '===' 'admin'}}
						<option value="admin" selected>{{ i18n.users.admin }}</option>
						<option value="user">{{ i18n.users.user }}</option>
					{{else}}
						<option value="admin">{{ i18n.users.admin }}</option>
						<option value="user" selected>{{ i18n.users.user }}</option>
					{{/compare}}
				</select>
			</div>

			<div class="row-fields">
				<div class="icon-wrapper"><i class="icon-time"></i></div>
				<select id="user_timezone" name="timezone" data-original_value="{{timezone}}"></select>
			</div>

			<div class="row-fields">
            	<div class="icon-wrapper"><i class="icon-flag"></i></div>
				<select id="user_language" name="extra.language">
					<option value="auto">{{i18n.languages.auto}}</option>
					<option value="en-US"{{#compare language '===' 'en-US'}} selected{{/compare}}>{{i18n.languages.americanEnglish}}</option>
					<option value="fr-FR"{{#compare language '===' 'fr-FR'}} selected{{/compare}}>{{i18n.languages.frenchFrench}}</option>
				</select>
			</div>
		</div>
		<!--<div class="advanced-fields content-centered span3">
			<a id="resend_instructions" href="javascript:void(0)">{{ i18n.users.resendInstructions }}</a>
			<button type="button" id="reset_password" class="btn btn-primary">{{ i18n.users.resetPassword }}</button>
		</div>-->
	</form>
	<div class="actions">
		<a id="delete_user" class="monster-link" href="javascript:void(0);"><i class="icon-trash icon-red"></i>{{ i18n.users.delete }}</a>

		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="btn btn-success save-user">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>
