<div class="grid-row" data-id="{{id}}" data-search="{{first_name}} {{last_name}}{{#each extra.listCallerId}} {{formatPhoneNumber this}} {{this}}{{/each}}">
	<div class="user-cells">
		<div class="name grid-cell" data-type="name"><i class="{{#if extra.isAdmin}}icon-telicon-moderator icon-blue{{else}}icon-telicon-user icon-lightgrey{{/if}}"></i> {{ first_name }} {{ last_name }}</div>
		<div class="extension grid-cell" data-type="extensions">
			{{#if extra.extension}}
				{{ extra.extension }}

				{{#if extra.additionalExtensions}}
					<i class="icon-telicon-multiple-items"></i>
				{{/if}}
			{{else}}
				{{ i18n.users.noExtension }}
			{{/if}}
		</div>
		<div class="phone-number grid-cell" data-type="numbers">
			{{#if extra.phoneNumber}}
				{{ formatPhoneNumber extra.phoneNumber }}

				{{#if extra.additionalNumbers}}
					<i class="icon-telicon-multiple-items"></i>
				{{/if}}
			{{else}}
				{{ i18n.users.noNumber }}
			{{/if}}
		</div>
		<div class="devices grid-cell" data-type="devices">
			{{#each extra.devices}}
				{{#compare this '===' 'softphone'}}
					<i class="icon-telicon-soft-phone"></i>
				{{/compare}}
				{{#compare this '===' 'cellphone'}}
					<i class="icon-phone"></i>
				{{/compare}}
				{{#compare this '===' 'smartphone'}}
					<i class="icon-telicon-mobile-phone"></i>
				{{/compare}}
				{{#compare this '===' 'mobile'}}
					<i class="icon-telicon-sprint-phone"></i>
				{{/compare}}
				{{#compare this '===' 'sip_device'}}
					<i class="icon-telicon-voip-phone"></i>
				{{/compare}}
				{{#compare this '===' 'fax'}}
					<i class="icon-telicon-fax"></i>
				{{/compare}}
				{{#compare this '===' 'landline'}}
					<i class="icon-telicon-home-phone"></i>
				{{/compare}}
			{{else}}
				{{ i18n.users.noUserDevices }}
			{{/each}}

			{{#if extra.additionalDevices}}
				(+{{extra.additionalDevices}})
			{{/if}}
		</div>
		<div class="features grid-cell right-aligned{{#compare extra.countFeatures ">" 5}} smaller{{/compare}}" data-type="features">
			{{#if extra.hasFeatures}}
				{{#each extra.mapFeatures}}
					{{#if this.active}}
						<i class="{{this.icon}} {{this.iconColor}}"></i>
					{{/if}}
				{{/each}}
			{{else}}
				{{ i18n.users.noUserFeatures }}
			{{/if}}
		</div>
	</div>

	<div class="edit-user" style="display:none;">

	</div>
</div>
