<div class="detail-devices">
	<div class="list-wrapper">
		<div class="list-assigned-items device-list">
			<div class="empty-row{{#if emptyAssigned}} visible{{/if}}">
				{{ i18n.users.noAssignedDevices }}
			</div>
			{{#each assignedDevices}}
				<div class="item-row" data-id="{{this.id}}" data-search="{{ this.name }}">
					<div class="device">
						<button type="button" class="btn btn-danger remove-device">{{ ../i18n.remove }}</button>
						{{ this.name }}
					</div>
				</div>
			{{else}}

			{{/each}}
		</div>

		<div class="unassigned-list-header">
			<div class="title">{{i18n.users.addFromSpareDevices}} (<span data-count="{{countSpare}}" class="count-spare">{{countSpare}}</span>)</div>
			<div class="search-bar pull-right">
				<span class="search-box pull-right">
					<i class="icon-search"></i>
					<input type="text" class="search-query" placeholder="{{ i18n.search }}..."></input>
				</span>
			</div>
		</div>

		<div class="list-unassigned-items device-list">
			<div class="empty-search-row">
				{{ i18n.users.noMatchingDevices }}
			</div>
			<div class="empty-row{{#if emptySpare}} visible{{/if}} ">
				{{ i18n.users.noMoreSpareDevices }}
			</div>
			{{#each unassignedDevices}}
				<div class="item-row" data-id="{{this.id}}" data-search="{{this.name}}">
					<div class="device">
						<button type="button" class="btn btn-primary add-device">{{ ../i18n.add }}</button>
						{{ this.name }}
					</div>
				</div>
			{{/each}}
		</div>
	</div>

	<div class="actions">
		<div class="dropdown pull-left">
            <a href="#" class="add-device monster-link dropdown-toggle" data-toggle="dropdown"><i class="icon-plus-sign icon-green"></i>{{i18n.devices.add }}</a>
            <ul class="dropdown-menu">
                <li><a class="create-device" data-type="sip_device"><i class="icon-telicon-voip-phone"></i>{{ i18n.devices.types.sip_device }}</a></li>
                <li><a class="create-device" data-type="cellphone"><i class="icon-phone"></i>{{ i18n.devices.types.cellphone }}</a></li>
                <li><a class="create-device" data-type="smartphone"><i class="icon-telicon-mobile-phone"></i>{{ i18n.devices.types.smartphone }}</a></li>
                <li><a class="create-device" data-type="mobile"><i class="icon-telicon-sprint-phone"></i>{{ i18n.devices.types.mobile }}</a></li>
                <li><a class="create-device" data-type="softphone"><i class="icon-telicon-soft-phone"></i>{{ i18n.devices.types.softphone }}</a></li>
                <li><a class="create-device" data-type="landline"><i class="icon-telicon-home-phone"></i>{{ i18n.devices.types.landline }}</a></li>
                <li><a class="create-device" data-type="fax"><i class="icon-telicon-fax"></i>{{ i18n.devices.types.fax }}</a></li>
                <li><a class="create-device" data-type="ata"><i class="icon-telicon-fax"></i>{{ i18n.devices.types.ata }}</a></li>
            </ul>
        </div>

		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="btn btn-success save-devices">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>
