<div class="detail-numbers">
	<div class="list-wrapper">
		<div class="list-assigned-items number-list">
			<div class="empty-row{{#if emptyAssigned}} visible{{/if}}">
				{{ i18n.users.noAssignedNumbers }}
			</div>
			{{#eachkeys assignedNumbers}}
				<div class="item-row" data-id="{{this.key}}" data-search="{{formatPhoneNumber this.key}} {{this.key}} {{this.value.locality.city}} {{this.value.locality.country}}">
					<div class="features-block pull-right">
						<div class="pull-right">
							<div class="navbar">
								<ul class="nav pull-right">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></a>
										<ul class="dropdown-menu">
											<li><a class="callerId-number" href="#"><i class="icon-user"></i>{{ ../i18n.callerId.label }}</a></li>
											<li><a class="e911-number" href="#"><i class="icon-ambulance"></i>{{ ../i18n.e911.label }}</a></li>
											{{#compare this.value.used_by "===" "trunkstore"}}
												<li><a class="failover-number" href="#"><i class="icon-thumbs-down"></i>{{ ../../i18n.failover.label }}</a></li>
											{{/compare}}
										</ul>
									</li>
								</ul>
							</div>
						</div>
						<div class="features pull-right">
							{{#each this.value.viewFeatures}}
								<i class="{{icon}} {{active}} help-popover" data-toggle="tooltip" data-placement="top" data-original-title="{{ help }}"></i>
							{{/each}}
						</div>
					</div>
					<div class="number">
						<button type="button" class="btn btn-danger remove-number">{{ ../i18n.remove }}</button>
						{{ formatPhoneNumber this.key }}
					</div>
					<!--<div class="locality">
						{{#if this.value.localityEnabled}}
							<span class="flag"><img src="css/flags/32/{{ this.value.locality.iso }}.png" height="32" width="32"></img></span>
							<span class="city">{{ this.value.locality.city }}, {{ this.value.locality.country }}</span>
						{{else}}
							N/A
						{{/if}}
					</div>
					-->
				</div>
			{{else}}

			{{/eachkeys}}
		</div>

		<div class="unassigned-list-header">
			<div class="title">{{i18n.users.addFromSpare}} (<span data-count="{{countSpare}}" class="count-spare">{{countSpare}}</span>)</div>
			<div class="search-bar pull-right">
				<span class="search-box pull-right">
					<i class="icon-search"></i>
					<input type="text" class="search-query" placeholder="{{ i18n.search }}..."></input>
				</span>
			</div>
		</div>

		<div class="list-unassigned-items number-list">
			<div class="empty-search-row">
				{{ i18n.users.noMatchingNumbers }}
			</div>
			<div class="empty-row{{#if emptySpare}} visible{{/if}} ">
				{{ i18n.users.noMoreSpareNumbers }}
			</div>
			{{#eachkeys unassignedNumbers}}
				<div class="item-row" data-id="{{this.key}}" data-search="{{formatPhoneNumber this.key}} {{this.key}} {{this.value.locality.city}} {{this.value.locality.country}}">
					<div class="features-block pull-right">
						<div class="pull-right">
							<div class="navbar">
								<ul class="nav pull-right">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></a>
										<ul class="dropdown-menu">
											<li><a class="callerId-number" href="#"><i class="icon-user"></i>{{ ../i18n.callerId.label }}</a></li>
											<li><a class="e911-number" href="#"><i class="icon-ambulance"></i>{{ ../i18n.e911.label }}</a></li>
											{{#compare this.value.used_by "===" "trunkstore"}}
												<li><a class="failover-number" href="#"><i class="icon-thumbs-down"></i>{{ ../../i18n.failover.label }}</a></li>
											{{/compare}}
										</ul>
									</li>
								</ul>
							</div>
						</div>
						<div class="features pull-right">
							{{#each this.value.viewFeatures}}
								<i class="{{icon}} {{active}} help-popover" data-toggle="tooltip" data-placement="top" data-original-title="{{ help }}"></i>
							{{/each}}
						</div>
					</div>
					<div class="number">
						<button type="button" class="btn btn-primary add-number">{{ ../i18n.add }}</button>
						{{ formatPhoneNumber this.key }}
					</div>
					<!--
					<div class="locality">
						{{#if this.value.localityEnabled}}
							<span class="flag"><img src="css/flags/32/{{ this.value.locality.iso }}.png" height="32" width="32"></img></span>
							<span class="city">{{ this.value.locality.city }}, {{ this.value.locality.country }}</span>
						{{else}}
							N/A
						{{/if}}
					</div>-->
				</div>
			{{/eachkeys}}
		</div>
	</div>

	<div class="actions">
		<ul class="nav pull-left">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle buy-dropdown monster-link" data-toggle="dropdown" data-target="#"><i class="icon-shopping-cart icon-green icon-large"></i>{{ i18n.strategy.numberLinks.buy.link }}</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="buy-link" data-type="regular" href="#">{{i18n.strategy.numberLinks.buy.regular}}</a></li>
                    <li><a class="buy-link" data-type="tollfree" href="#">{{i18n.strategy.numberLinks.buy.tollfree}}</a></li>
                    <li><a class="buy-link" data-type="vanity" href="#">{{i18n.strategy.numberLinks.buy.vanity}}</a></li>
                </ul>
            </li>
        </ul>
		<!--<a id="buy_numbers" class="monster-link" href="javascript:void(0);"><i class="icon-shopping-cart icon-green"></i>{{ i18n.users.buy }}</a>-->
		<a id="port_numbers" class="monster-link" href="javascript:void(0);"><i class="icon-random icon-blue"></i>{{ i18n.users.port }}</a>

		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="btn btn-success save-numbers">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>
