<div class="detail-devices">
	<div class="list-wrapper">
		<div class="list-assigned-items device-list">
			<div class="empty-row{{#if emptyAssigned}} visible{{/if}}">
				{{ i18n.users.noAssignedDevices }}
			</div>
			{{#each assignedDevices}}
				<div class="item-row" data-id="{{this.id}}" data-search="{{ this.name }}">
					<div class="device">
						<button type="button" class="btn btn-danger remove-device">{{ ../i18n.remove }}</button>
						{{ this.name }}
					</div>
				</div>
			{{else}}

			{{/each}}
		</div>

		<div class="unassigned-list-header">
			<div class="title">{{i18n.users.addFromSpareDevices}} (<span data-count="{{countSpare}}" class="count-spare">{{countSpare}}</span>)</div>
			<div class="search-bar pull-right">
				<span class="search-box pull-right">
					<i class="icon-search"></i>
					<input type="text" class="search-query" placeholder="{{ i18n.search }}..."></input>
				</span>
			</div>
		</div>

		<div class="list-unassigned-items device-list">
			<div class="empty-search-row">
				{{ i18n.users.noMatchingDevices }}
			</div>
			<div class="empty-row{{#if emptySpare}} visible{{/if}} ">
				{{ i18n.users.noMoreSpareDevices }}
			</div>
			{{#each unassignedDevices}}
				<div class="item-row" data-id="{{this.id}}" data-search="{{this.name}}">
					<div class="device">
						<button type="button" class="btn btn-primary add-device">{{ ../i18n.add }}</button>
						{{ this.name }}
					</div>
				</div>
			{{/each}}
		</div>
	</div>

	<div class="actions">
		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="btn btn-success save-devices">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>
