<div class="detail-numbers">
	<div class="list-wrapper">
		<div class="list-assigned-numbers number-list">
			{{#eachkeys assignedNumbers}}
				<div class="phone-number-row" data-id="{{this.key}}">
					<div class="features-block pull-right">
						<div class="pull-right">
							<div class="navbar">
								<ul class="nav pull-right">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></a>
										<ul class="dropdown-menu">
											<li><a class="cnam-number" href="#"><i class="icon-user"></i>{{ ../i18n.cnam }}</a></li>
											<li><a class="e911-number" href="#"><i class="icon-ambulance"></i>{{ ../i18n.e911 }}</a></li>
											{{#compare this.value.used_by "===" "trunkstore"}}
												<li><a class="failover-number" href="#"><i class="icon-thumbs-down"></i>{{ ../../i18n.failover }}</a></li>
											{{/compare}}
										</ul>
									</li>
								</ul>
							</div>
						</div>
						<div class="features pull-right">
							{{#each this.value.viewFeatures}}
								<i class="{{icon}} {{active}} help-popover" data-toggle="tooltip" data-placement="top" data-original-title="{{ help }}"></i>
							{{/each}}
						</div>
					</div>
					<div class="number">
						<button type="button" class="btn btn-danger remove-number">{{ ../i18n.remove }}</button>
						{{ formatPhoneNumber this.key }}
					</div>
					<div class="locality">
						{{#if this.value.localityEnabled}}
							<span class="flag"><img src="css/flags/32/{{ this.value.locality.iso }}.png" height="32" width="32"></img></span>
							<span class="city">{{ this.value.locality.city }}, {{ this.value.locality.country }}</span>
						{{else}}
							N/A
						{{/if}}
					</div>

				</div>
			{{else}}
				<div class="phone-number-row empty">
					{{../i18n.users.noAssignedNumbers}}
				</div>
			{{/eachkeys}}
		</div>

		<div class="unassigned-list-header">
			<div class="title">{{i18n.users.addFromSpare}} (<span data-count="{{countSpare}}" class="count-spare">{{countSpare}}</span>)</div>
			<div class="search-bar pull-right">
				<span class="search-box pull-right">
					<i class="icon-search"></i>
					<input type="text" class="search-query" placeholder="{{ i18n.search }}..."></input>
				</span>
			</div>
		</div>

		<div class="list-unassigned-numbers number-list">
			{{#eachkeys unassignedNumbers}}
				<div class="phone-number-row" data-id="{{this.key}}" data-search="{{formatPhoneNumber this.key}} {{this.key}} {{this.value.locality.city}} {{this.value.locality.country}}">
					<div class="features-block pull-right">
						<div class="pull-right">
							<div class="navbar">
								<ul class="nav pull-right">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></a>
										<ul class="dropdown-menu">
											<li><a class="cnam-number" href="#"><i class="icon-user"></i>{{ ../i18n.cnam }}</a></li>
											<li><a class="e911-number" href="#"><i class="icon-ambulance"></i>{{ ../i18n.e911 }}</a></li>
											{{#compare this.value.used_by "===" "trunkstore"}}
												<li><a class="failover-number" href="#"><i class="icon-thumbs-down"></i>{{ ../../i18n.failover }}</a></li>
											{{/compare}}
										</ul>
									</li>
								</ul>
							</div>
						</div>
						<div class="features pull-right">
							{{#each this.value.viewFeatures}}
								<i class="{{icon}} {{active}} help-popover" data-toggle="tooltip" data-placement="top" data-original-title="{{ help }}"></i>
							{{/each}}
						</div>
					</div>
					<div class="number">
						<button type="button" class="btn btn-primary add-number">{{ ../i18n.add }}</button>
						{{ formatPhoneNumber this.key }}
					</div>
					<div class="locality">
						{{#if this.value.localityEnabled}}
							<span class="flag"><img src="css/flags/32/{{ this.value.locality.iso }}.png" height="32" width="32"></img></span>
							<span class="city">{{ this.value.locality.city }}, {{ this.value.locality.country }}</span>
						{{else}}
							N/A
						{{/if}}
					</div>
				</div>
			{{else}}
				<div class="phone-number-row empty-row">
					{{../i18n.users.noMoreSpareNumbers}}
				</div>
			{{/eachkeys}}
		</div>
	</div>

	<div class="actions">
		<a id="buy_numbers" class="monster-link" href="javascript:void(0);"><i class="icon-shopping-cart icon-green"></i>{{ i18n.users.buy }}</a>
		<a id="port_numbers" class="monster-link" href="javascript:void(0);"><i class="icon-random icon-blue"></i>{{ i18n.users.port }}</a>

		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="btn btn-success save-numbers">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>
