{{#if features}}
	<div class="navbar">
		<ul class="nav pull-right">
			<li class="dropdown">
				<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
				<ul class="dropdown-menu">
				{{#ifInArray 'cnam' features}}
					{{> featureItem feature="cnam" icon="fa fa-user" label=@root.i18n.callerId.label}}
				{{/ifInArray}}
				{{#ifInArray 'e911' features}}
					{{> featureItem feature="e911" icon="fa fa-ambulance" label=@root.i18n.e911.label}}
				{{/ifInArray}}
				{{#ifInArray 'prepend' features}}
					{{> featureItem feature="prepend" icon="fa fa-file-text-o" label=@root.i18n.numberPrepend.label}}
				{{/ifInArray}}
				{{#ifInArray 'failover' features}}
					{{> featureItem feature="failover" icon="icon-telicon-failover" label=@root.i18n.failover.label}}
				{{/ifInArray}}
				{{#ifInArray 'carrier_name' features}}
					{{> featureItem feature="rename-carrier" icon="fa fa-exchange" label=@root.i18n.numberRenameCarrier.label}}
				{{/ifInArray}}
				{{#ifInArray 'messaging' features}}
					{{> featureItem feature="messaging" icon="fa fa-comment" label=@root.i18n.numberMessaging.labels.messaging}}
				{{/ifInArray}}
					{{> featureItem feature="sync" icon="fa fa-refresh" label=@root.i18n.numbers.sync.label}}
				</ul>
			</li>
		</ul>
	</div>
{{/if}}

{{#*inline "featureItem"}}
<li>
	<a class="{{feature}}-number" href="javascript:void(0);">
		<i class="{{icon}}"></i>
		{{label}}
	</a>
</li>
{{/inline}}
