<div id="mobile_container" class="clearfix">
	<div class="left-menu">
		<!--<div id="dashboard" class="category simple separated">
			<div class="title">
				<i class="icon-home"></i>
				<span class="title-text visible-desktop">2600hz Mobile</span>
			</div>
		</div>-->

		<div class="category-group">
			<div id="devices" class="category">
				<div class="title">
					<i class="icon-group"></i>
					<span class="title-text visible-desktop">Your Devices</span>
				</div>
			</div>

			<div id="activate" class="category">
				<div class="title">
					<i class="icon-th larger-margin"></i>
					<span class="title-text visible-desktop">Activations</span>
				</div>
			</div>

			<!--
			<div id="buy" class="category">
				<div class="title">
					<i class="icon-telicon-mobile-phone"></i>
					<span class="title-text visible-desktop">Buy Phones</span>
				</div>
			</div>-->
		</div>
		<!--
		<div id="call_logs" class="category-group simple separated">
			<div id="models" class="category">
				<div class="title">
					<i class="icon-telicon-outbound-call larger-margin"></i>
					<span class="title-text visible-desktop">Model Info</span>
				</div>
			</div>

			<div id="ideas" class="category">
				<div class="title">
					<i class="icon-lightbulb larger-margin"></i>
					<span class="title-text visible-desktop">Get Ideas</span>
				</div>
			</div>

			<div id="help" class="category">
				<div class="title">
					<i class="icon-question larger-margin"></i>
					<span class="title-text visible-desktop">Get Help</span>
				</div>
			</div>
		</div>-->
	</div>

	<div class="right-content clearfix">

	</div>
</div>
