<div class="mobile-wrapper" id="models_view">
	<div class="title-header">
		<h1>Buy Phones</h1>
	</div>
	
	<div>
		Here are some places you can buy and sell used phones:<br/>
		<br/>
Buy and sell gently used mobile phones and tablets safely with Swappa - <a href="http://swappa.com">Click here</a><br/><br/>
Buy and sell phones with Glyde - <a href="http://www.glyde.com">Click here</a><br/><br/>
<br/>
<b>How do you know a phone will work?</b><br/>
XXX
	</div>

	<div class="clearfix">
	</div>
</div>
