<div class="results-esn">
	{{#if esn.validationMessage}}
		{{esn.validationMessage}}<br/>
		{{esn.model_name}}
	{{else}}
		{{esn.error}}<br/>
		{{esn.errordetail}}
	{{/if}}
</div>

<div class="results-coverage">
	<div class="result-line">
		CDMA: {{coverage.CDMA}} / 3
	</div>
	<div class="result-line">
		LTE: {{coverage.LTE}} / 2
	</div>
	<div class="result-line">
		WIMAX: {{coverage.WIMAX}} / 2
	</div>

	<img style="-webkit-user-select: none" src="http://maps.google.com/maps/api/staticmap?center={{coverage.latitude}},{{coverage.longitude}}&amp;zoom=14&amp;size=800x400&amp;maptype=roadmap&amp;sensor=false">
</div>
