<div class="mobile-wrapper" id="activate_view">
	<div class="title-header">
		<h1>{{i18n.editView.activationTitle}}</h1>
		<!--<a class="monster-link cancel">{{i18n.editView.goBack}}</a>-->
	</div>

	<div class="form-wrapper">
		<form id="form_check" novalidate="novalidate">
			<div id="bootstrap-wizard-1" class="col-sm-12">
				<div class="activation-Wizard-header">
					<ul class="bootstrapWizard form-wizard">
						<li class="active" data-target="#step1">
							<a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span class="title">Validate Device</span> </a>
						</li>
						<li data-target="#step2">
							<a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span class="title">Check Coverage</span> </a>
						</li>
						<li data-target="#step3">
							<a href="#tab3" data-toggle="tab"> <span class="step">3</span> <span class="title">Activate Device</span> </a>
						</li>
						<li data-target="#step4">
							<a href="#tab4" data-toggle="tab"> <span class="step">4</span> <span class="title">Confirmation</span> </a>
						</li>
					</ul>

				</div>
				<div class="clearfix"></div>
				<div class="activaiton-Wizard-body tab-content">
					<div class="tab-pane active" id="tab1">
						<br>
						<h3><strong>Step 1 </strong> - Validate Device</h3>
						<div class="control-group">
							<table cellpadding='20px'>
								<tr>
									<td>
										Phone's ESN/MEID Number:<br/>
										(15 or 20 characters)
									</td>
									<td>
										<input required type="text" id="esn" name="esn"></input>
									</td>
									<td><a href='#'>How Do I Find This?</a></td>
									 
								</tr>
								<tr>
									<td>
										SIM Card Number (ICC ID):<br/>
										(OPTIONAL: LTE Devices Only)
									</td>
									<td>
										<input type="text" id="icc" name="icc" value="{{icc}}" placeholder="{{i18n.editView.icc.placeholder}}"></input>
									</td>
									<td><a href='#'>How Do I Find This?</a></td>
								</tr>
								<tr>
									<td colspan=3 align='center'>
										<button id="verifyDevice" type='button' class='btn btn-primary'>Verify Device<br/>Is Eligible</button>
									</td>
								</tr>
							</table>
							
							<div class='results' id="device_results"></div>
						</div>
	
					</div>
					<div class="tab-pane" id="tab2">
						<br>
						<h3><strong>Step 2</strong> - Check Coverage</h3>
						<div class="control-group">

							<table cellpadding='20px'>
								<tr>
									<td>
										Phone's Home Zip Code<br/>
										(Primary Coverage Area)
									</td>
									<td>
										<input required type="text" id="zipCode" name="zip_code" value="{{zip_code}}" placeholder="{{i18n.editView.zipCode.placeholder}}"></input>
									</td>
									<td>
										<a href="#">See Coverage Map</a>
									</td>
								</tr>
								<tr>
									<td align='center' colspan='3'>
										<button id="checkCoverage" type='button' class='btn btn-primary'>Verify Coverage<br/>of Area</button>
									</td>
								</tr>
							</table>
							<div class='results' id="coverage_results"></div>

						</div>
					</div>
					<div class="tab-pane" id="tab3">
						<br>
						<h3><strong>Step 3</strong> - Activate Device</h3>
						
					</div>
					<div class="tab-pane" id="tab4">
						<br>
						<h3><strong>Step 4</strong> - Confirmation</h3>
					</div>



				</div>
			</div>
		</form>
		<!--
		<div class="button-wrapper">
			<button class="btn btn-danger cancel">{{i18n.editView.cancel}}</button>
			{{#if esn_dec}}
				<button class="btn btn-success" id="update_sprint_phone">{{i18n.editView.update}}</button>
			{{else}}
				<button class="btn btn-success" id="activate_sprint_phone">{{i18n.editView.activate}}</button>
			{{/if}}
		</div>-->
	</div>
</div>
