<div class='helptitle'>Feature Phones / Most Smartphones</div>
<div class='helptext'>
Turn your phone completely off and remove the battery according to manufacturer instructions. Some phones have a battery which slides or clips onto the back as one piece, however, most phones have a battery cover that must be removed first.
Within the empty battery slot there should be a white label applied with "FCC ID" printed at the top and several numbers and bar codes. The IMEI/MEID number is a 15-17 digit number and will usually have either "IMEI" or "MEID in front.
</div>

<div class='helptitle'>iPhones, iPads</div>
<div class='helptext'>
From the homescreen, tap "Settings."
Tap "General," then "About." Scroll down this screen until you find the MEID.
Alternatively, you can connect your iPhone or iPad to your computer running iTunes and look on the left side column under "Devices." Click your device name, and on the screen that appears, click on your phone number to see your MEID.
</div>

<div class='helptitle'>Android Smartphones</div>
<div class='helptext'>
<table cellspacing='10px'>
	<tr><td>
Either look under the battery for the white label, or, from the phone's dialer screen, dial #06# and your phone's IMEID will be displayed.
You may also find the IMEI number in settings. From the homescreen, press the menu button, then tap settings, then find and tap "About Phone," then tap "Status." The IMEI number is listed on that screen.
	</td><td>
	<!--<img src="apps/mobile/static/images/esnbattery.png" width='250px'/>-->
	</td></tr>
</table>
</div>
