<div class="mobile-wrapper" id="list_view">
	<div class="title-header">
		<h1>Active Devices</h1>
	</div>
	
	<div id="mobile_list">
		<div class="mobile-grid">
			<div class="grid-row title">
				<div class="grid-cell mobile-name">Device Name</div>
				<div class="grid-cell mobile-number">Device MDN</div>
				<div class="grid-cell mobile-esn">Device ESN</div>
				<div class="grid-cell mobile-network">Network</div>
				<div class="grid-cell mobile-services">Services</div>
				<div class="grid-cell mobile-actions">Actions</div>
			</div>
			<div class="mobile-rows">
				{{#each devices}}
				<div class="grid-row mobile-row" data-id="{{this.number}}">
					<div class="mobile-cells">
						<div class="grid-cell mobile-name">{{this.name}}</div>
						<div class="grid-cell mobile-number">{{this.number}}</div>
						<div class="grid-cell mobile-esn">{{this.esn_hex}}</div>
						<div class="grid-cell mobile-network">Sprint</div>
						<div class="grid-cell mobile-services">
							<a class="mobile-action" title="3G Data" data-action="3G_data"><i class="icon-blue icon-exchange"></i>{{i18n.listView.removeDevice}}</a>
							<a class="mobile-action" title="4G LTE/WiMax" data-action="4G_data"><i class="icon-blue icon-fighter-jet"></i>{{i18n.listView.removeDevice}}</a>
							<a class="mobile-action" title="SMS In / Out" data-action="SMS"><i class="icon-blue icon-comments"></i>{{i18n.listView.removeDevice}}</a>
							<a class="mobile-action" title="MMS / Pictures" data-action="MMS"><i class="icon-blue icon-picture"></i>{{i18n.listView.removeDevice}}</a>

						</div>
						<div class="grid-cell mobile-actions right-aligned">
							<a class="mobile-action" title="Usage" data-action="usage"><i class="icon-dollar"></i>{{i18n.listView.removeDevice}}</a>
							<a class="mobile-action" title="Swap Device" data-action="swap-device"><i class="icon-mobile-phone"></i>{{i18n.listView.removeDevice}}</a>
							<a class="mobile-action" title="Cancel" data-action="cancel"><i class="icon-remove"></i>{{i18n.listView.removeDevice}}</a>
							<a class="mobile-action" title="Settings" data-action="edit"><i class="icon-cog"></i>{{i18n.listView.editDevice}}</a>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>

	<div class="list-devices clearfix">
	</div>
</div>
