<div class="monster-listing-container">
	<div class="monster-listing-grid">
		<div class="grid-title">
			{{headline}}
			<span class="search-box pull-right">
				<i class="fa fa-search"></i>
				<input type="text" class="search-query" placeholder="{{ i18n.search }}..."></input>
			</span>
		</div>
		<div class="grid-content">
		</div>
	</div>

	<div class="dialog-buttons-wrapper">
		<button class="monster-button cancel">{{cancelButton}}</button>
		<button class="monster-button-primary proceed">{{okButton}}</button>
	</div>
</div>
