<div class="form-horinzontal add-tag-dialog">
	<div class="control-group">
		<p>{{ i18n.tagSelector.description }}</p>
	</div>

	<div class="dialog-content-wrapper">
		<div class="action-element">
			<div class="tags-search transparent">
				<div class="tags">
					<input type="text" class="tags-keyword" placeholder="{{ i18n.tagSelector.placeholder }}">
				</div>
			</div>

			<div class="tags-list hide">
				{{#each tags}}
					<a href="#" data-id="{{ this.id }}">{{this.tag}}</a>
				{{/each}}
			</div>
		</div>
	</div>

	<div class="actions">
		<div class="pull-right">
			<button class="monster-button cancel">
				{{i18n.cancel}}
			</button>
			<button class="monster-button-success update">
				{{ i18n.tagSelector.add }}
			</button>
		</div>
	</div>
</div>
