#user-form input[disabled=disabled] {
    background: #ccc;
}

#user-form #equipment {
    text-align: center;
}

#user-form #equipment .add_device {
    margin-top: 15px;
    display: inline-block;
}

#user-form #equipment .add_device:hover a {
    color: #333333;
}

#user-form #equipment .add_device:hover .add_device_icon {
    background-position: 0 -24px;
    cursor: pointer;
}

#user-form #equipment .add_device .add_device_icon {
    background-image: url("../../../core/layout/images/plus_btn.png");
    background-position: 0 0;
    display: inline-block;
    height: 25px;
    margin-top: -4px;
    vertical-align: middle;
    width: 25px;
}

#user-form #equipment #tab_devices  {
    border: 2px solid #666666;
    border-radius: 15px 15px 15px 15px;
    color: #666666;
    margin: 20px auto auto;
    width: 560px;
}

#user-form #equipment #tab_devices .action_device {
    color: #666666;
    cursor: pointer;
    text-decoration: underline;
    line-height: 30px;
}

#user-form #equipment #tab_devices .action_device:not(:first-child) {
    margin-left: 10px;
}
#user-form #equipment #tab_devices .action_device:hover {
    color: #05addc;
}

#user-form #equipment #tab_devices .column:not(.fifth) {
    border-right: 1px solid #A6A6A6;
}

#user-form #equipment #tab_devices .column {
    float: left;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

#user-form #equipment #tab_devices .column.first {
    width: 190px;
    overflow: hidden;
    text-align:center;
}

#user-form #equipment #tab_devices .column.second {
    width: 99px;
}

#user-form #equipment #tab_devices .column.third {
    min-width: 49px;
}

#user-form #equipment #tab_devices .rows .column.third {
    background-image: url('../../device/images/red.png');
    background-repeat: no-repeat;
    background-position: 16px center;
}

#user-form #equipment #tab_devices .rows .column.third.registered, #user-form #equipment #tab_devices .rows .column.third.cellphone {
    background-image: url('../../device/images/green.png');
}

#user-form #equipment #tab_devices .rows .column.third.disabled {
    background-image: url('../../device/images/gray.png') !important;
}

#user-form #equipment #tab_devices .column.fourth {
    width: 59px;
}

#user-form #equipment #tab_devices .column.fourth .enabled_checkbox {
    margin-top: 8px;
}

#user-form #equipment #tab_devices .column.fifth {
    width: 159px;
}

#user-form #equipment #tab_devices .column.merged {
    width: 560px;
}

#user-form #equipment #tab_devices .row {
    height: 30px;
    margin-left: 0px;
}

#user-form #equipment #tab_devices .row.title {
    background-color: #dddddd !important;
    border-bottom: 2px solid #666666 !important;
    border-radius: 15px 15px 0px 0px;
    font-weight: bold;
}

#user-form #equipment #tab_devices .row:not(:last-child) {
    border-bottom: 1px solid #A6A6A6;
}

#user-form #equipment #tab_devices .row:last-child {
    border-radius: 0px 0px 15px 15px;
}

#user-form #equipment #tab_devices .row:nth-child(odd) {
    background-color: #eeeeee;
}

#user-form #equipment #tab_devices .row:nth-child(even) {
    background-color: #dddddd;
}

#user-form #username_label {
    color: #05addc;
    text-align: left;
    font-weight: bold;
}
