#content_welcome_page {
}

#content_welcome_page .left_div .title {
    color: #c4db4c;
    line-height: 35px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#content_welcome_page .left_div .learn_more {
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px #333;
    text-align: center;
}

#content_welcome_page .left_div .learn_more > a {
    color: #EEEEEE;
}

#content_welcome_page .left_div .learn_more > a:hover {
    color: #05addc;
    text-decoration: underline;
}
