@import url(../submodules/accountAncestors/accountAncestors.css);
@import url(../submodules/accountBrowser/accountBrowser.css);
@import url(../submodules/appSelector/appSelector.css);
@import url(../submodules/buyNumbers/buyNumbers.css);
@import url(../submodules/callerId/callerId.css);
@import url(../submodules/e911/e911.css);
@import url(../submodules/failover/failover.css);
@import url(../submodules/numbers/numbers.css);
@import url(../submodules/chooseModel/chooseModel.css);
@import url(../submodules/carrierSelector/carrierSelector.css);
@import url(../submodules/servicePlanDetails/servicePlanDetails.css);
@import url(../submodules/ringingDurationControl/ringingDurationControl.css);
@import url(../submodules/numberPrepend/numberPrepend.css);
@import url(../submodules/numberMessaging/numberMessaging.css);
@import url(../submodules/navigationWizard/navigationWizard.css);
@import url(../submodules/numberSelector/numberSelector.css);
@import url(../submodules/monsterListing/monsterListing.css);
@import url(../submodules/extensionTools/extensionTools.css);
@import url(../submodules/mediaSelect/mediaSelect.css);
@import url(../submodules/portListing/portListing.css);
@import url(../submodules/portWizard/portWizard.css);
@import url(../submodules/conferenceViewer/conferenceViewer.css);
@import url(../submodules/numberRenameCarrier/numberRenameCarrier.css);
@import url(../submodules/storageSelector/storageSelector.css);
@import url(../submodules/storagePlanManager/storagePlanManager.css);
@import url(../submodules/deleteSmartUser/deleteSmartUser.css);
@import url(../submodules/dragableUploads/dragableUploads.css);
@import "../submodules/servicePlanItemEditor/servicePlanItemEditor";
@import "../submodules/csvUploader/csvUploader";
@import "../submodules/cidNumber/cidNumber";


/* Hack because of otpimization: can't have relative paths since the folder hierarchy changes after optimization */
.trunkstore_popup.cnam .left_image {
    background: url('static/images/cid_phone.png') center no-repeat;
}

.trunkstore_popup.e911 .e911_image {
    background: url('static/images/e911_image.png') no-repeat center;
}

.trunkstore_popup.failover .header {
    background: url('static/images/failover_header.png') no-repeat center;
}

#buy_number #vanity_search_div .dialpad_img {
    background: url('static/images/dialpad.png') no-repeat center;
}

#vanity_country_select, #tollfree_country_select, #regular_country_select {
    background-image: url('static/images/US_flag.png');
    background-repeat: no-repeat;
}
