html {
    height: 100%;
}

body {
}

body a, button {
    outline: none !important;
}

body h1 {
    color: #22ccff;
}

body h1.lobster {
    font-family: 'Lobster', cursive;
}

/* Hack to remove iPad clipping onclick */
body div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Accordion */
.ui-accordion h3 .pull-right i {
    margin: 8px 8px 0 0;
}

.ui-accordion .ui-accordion-header i.icon-chevron-down {
    display: none;
}

.ui-accordion .ui-accordion-header.ui-state-active i.icon-chevron-right {
    display: none;
}

.ui-accordion .ui-accordion-header.ui-state-active i.icon-chevron-down {
    display: inline-block;
}

/* Links Classes */
body a.monster_link {
    color: #777;
    text-decoration: underline;
}

body a.monster_link:hover {
    color: #555;
}
/* NAVBAR */
body > .navbar  {
    border-top: 5px solid #22ccff;
    margin-bottom: 0;
}

body > .navbar .navbar-inner {

    background: rgb(17,17,17); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(17,17,17,1) 0%, rgba(51,51,51,1) 50%, rgba(17,17,17,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(17,17,17,1)), color-stop(50%,rgba(51,51,51,1)), color-stop(100%,rgba(17,17,17,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(17,17,17,1) 0%,rgba(51,51,51,1) 50%,rgba(17,17,17,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(17,17,17,1) 0%,rgba(51,51,51,1) 50%,rgba(17,17,17,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(17,17,17,1) 0%,rgba(51,51,51,1) 50%,rgba(17,17,17,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(17,17,17,1) 0%,rgba(51,51,51,1) 50%,rgba(17,17,17,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#111111',GradientType=1 ); /* IE6-9 */

    border-radius: 0;
    box-shadow: none;
    border: none;
    padding: 0 0 0 0;
}

body > .navbar .btn-navbar {
    margin-top: 15px;
}

body > .navbar .btn-navbar .icon-bar {
    background-color: #22ccff;
}

body > .navbar .nav > li > a {
    text-shadow: none;
    color: whiteSmoke;
    padding-top: 21px;
    font-size: 20px;
}

body > .navbar .nav-collapse .nav > li > a:hover,
body > .navbar .nav-collapse .dropdown-menu a:hover {
    background-color: transparent;
}

body > .navbar .nav > li > a:focus,
body > .navbar .nav > li > a:hover {
    color: #22ccff;
}

.nav .dropdown-toggle .caret {
    border-top-color: whiteSmoke;
    border-bottom-color: whiteSmoke;
}

.nav .dropdown-toggle:hover .caret {
    border-top-color: #22ccff;
    border-bottom-color: #22ccff;
}

body > .navbar .navbar-inner .logo {
    background-repeat: no-repeat;
    background-position: center center;
    border-left: 1px solid #353535;
    border-right: 1px solid #353535;
    float: left;
    height: 62px;
    padding: 0 15px;
    width: 192px;
}

body > .navbar .navbar-inner .home {
    padding: 0 10px;
    height: 62px;
    width: 42px;
    text-align: center;
    margin-left: -20px;
}

body > .navbar .navbar-inner .home i {
    margin-top: 20px;
}

body > .navbar .navbar-inner .home #loading {
    margin-top: 25px;
}

body > .navbar .navbar-inner .help {
    padding: 0 10px;
    height: 62px;
    width: 42px;
    text-align: center;
    margin-right: -20px;
    margin-left: 9px;
    border-left: 1px solid #353535;
}

body > .navbar .navbar-inner .help i {
    margin-top: 23px;
}

body > .ws-content {
    margin-top: 20px;
}

/* Bottom navbar */
.navbar.navbar-fixed-bottom {
    background: rgb(17,17,17); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(17,17,17,1) 0%, rgba(51,51,51,1) 50%, rgba(17,17,17,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(17,17,17,1)), color-stop(50%,rgba(51,51,51,1)), color-stop(100%,rgba(17,17,17,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(17,17,17,1) 0%,rgba(51,51,51,1) 50%,rgba(17,17,17,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(17,17,17,1) 0%,rgba(51,51,51,1) 50%,rgba(17,17,17,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(17,17,17,1) 0%,rgba(51,51,51,1) 50%,rgba(17,17,17,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(17,17,17,1) 0%,rgba(51,51,51,1) 50%,rgba(17,17,17,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#111111',GradientType=1 ); /* IE6-9 */

    border-top: 5px solid #22ccff;
    border-radius: 0;
    box-shadow: none;
    height: 85px;
    margin: 20px 0 0;
    padding: 15px 5px;
    position: fixed;
    width: auto;
    z-index: 999;
}

/* Default Blue Gradient */
.blue-gradient {
    background-color:#22a5ff;
    background-image:linear-gradient(to bottom,#22a5ff,#22ccff);
    background-image:-moz-linear-gradient(top,#22a5ff,#22ccff);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#22a5ff),to(#22ccff));
    background-image:-webkit-linear-gradient(top,#22a5ff,#22ccff);
    background-image:-o-linear-gradient(top,#22a5ff,#22ccff);
    filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ff22a5ff',endColorstr='#ff22ccff',GradientType=0);
}

.blue-gradient-reverse {
    background-color:#22ccff;
    background-image:linear-gradient(to bottom,#22ccff,#22a5ff);
    background-image:-moz-linear-gradient(top,#22ccff,#22a5ff);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#22ccff),to(#22a5ff));
    background-image:-webkit-linear-gradient(top,#22ccff,#22a5ff);
    background-image:-o-linear-gradient(top,#22ccff,#22a5ff);
    filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ff22ccff',endColorstr='#ff22a5ff',GradientType=0);
}

/* + Btn used to add elements */
.plus-btn {
    background-image: url(../images/plus_btn.png);
    background-position: 0px 0px;
    height: 25px;
    margin: auto;
    vertical-align: middle;
    width: 25px;
}

.plus-btn:hover {
    background-position: 0px 25px;
    cursor: pointer;
}

/* jQuery Popup Customization */
.ui-dialog {
    background: #444;
    border-width: 1px 20px 20px;
    border-color: #444;
    border-top: 1px solid #333;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #333;
    padding: 0px;
}

.ui-dialog .ui-dialog-content {
    background: #f9f9f9;
    border-radius: 4px;
    min-width: 400px;
}

.ui-dialog .ui-dialog-titlebar {
    background: rgb(68,68,68); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(68,68,68,1) 0%, rgba(89,89,89,1) 50%, rgba(68,68,68,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(68,68,68,1)), color-stop(50%,rgba(89,89,89,1)), color-stop(100%,rgba(68,68,68,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(68,68,68,1) 0%,rgba(89,89,89,1) 50%,rgba(68,68,68,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(68,68,68,1) 0%,rgba(89,89,89,1) 50%,rgba(68,68,68,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(68,68,68,1) 0%,rgba(89,89,89,1) 50%,rgba(68,68,68,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(68,68,68,1) 0%,rgba(89,89,89,1) 50%,rgba(68,68,68,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#444444',GradientType=1 ); /* IE6-9 */

    border-radius: 0px;
    padding: 5px;
}

.ui-dialog .ui-dialog-titlebar-close {
    color: #ccc;
    line-height: 14px;
    font-size: 14px;
    font-weight: normal;
    width: 82px;
    white-space: nowrap;
    word-spacing: 8px;
}

.ui-dialog .ui-dialog-titlebar-close.ui-state-hover {
    text-decoration: none;
    font-weight: 500;
    color: #ddd;
    padding: 1px;
}

.ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick {
    background: none !important;
}

.ui-dialog .ui-dialog-title {
    margin-right: 70px;
    font-weight: 500;
}

.ui-dialog .ui-dialog-titlebar-close span {
    overflow: visible;
    text-align: right;
    text-indent: 0px;
    width: 80px;
}

.ui-widget-overlay {
    background: #333;
}

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: 'Maven Pro', Helvetica, sans-serif;
}

/* Search Box */
.search-box > i.icon-search {
    position: absolute;
    margin: 4px 0 0 8px;
}

.search-box .search-query {
    padding-left: 26px;
}

/* Help Box */
.gray-box {
    border: 1px solid #ddd;
    background: #eee;
}

.yellow-box {
    border: 1px solid yellow;
    background: yellow;
}

.orange-box {
    background: #efe5db;
}

.red-box {
    background: #fce3e3;
}

.blue-box {
    border: 1px solid blue;
    background: blue;
}

.help-box {
    box-shadow: 1px 1px 2px #ddd;
    border-radius: 4px;
    min-height: 20px;
    margin: 10px 0 10px 0;
}

.help-box .wrapper-icon {
    background: #eee;
    border-radius: 15px;
    box-shadow: 1px 1px 2px #888 inset;
    height: 30px;
    line-height: 30px;
    left: -10px;
    position: relative;
    text-align: center;
    top: -10px;
    width: 30px;
}

.help-box .wrapper-icon > i {
    font-size: 20px;
    font-weight: bold;
    margin: 4px 0;
}

.help-box .text-wrapper {
    font-size: 12px;
    line-height: 25px;
    margin-top: -40px;
    padding: 15px 10px 5px 30px;
    text-align: left;
}

.help-box .text-wrapper > pre {
    max-height: 300px;
    overflow: auto;
}

.help-box p:last-of-type {
    margin-bottom: 0;
}

/* Confirm Box */
.alert-dialog {
    max-width: 400px;
    width: 400px;
    padding: 20px;
}

.alert-dialog .help-box .text-wrapper {
    padding: 25px 10px 15px 30px
}

.alert-dialog .alert-buttons-wrapper {
    margin-top: 20px;
}

.alert-dialog .alert-buttons-wrapper > button {
    width: 48%;
}

.alert-dialog .alert-buttons-wrapper > button:first-child {
    margin-right: 4%;
}

/* Wizard Layout */
.wizard .wizard-top-bar {
    border-bottom: 10px solid #333;
    text-align: center;
    margin: -20px -20px 0 -20px;
}

.wizard .wizard-top-bar .steps-wrapper {
    display: inline-block;
}

.wizard .wizard-top-bar .steps-wrapper .step {
    color: #fff;
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    cursor: pointer
}

.wizard .wizard-top-bar .steps-wrapper .step.active {
    box-shadow: 1px 1px 25px #444 inset;
}

.wizard .wizard-top-bar .steps-wrapper .step.inactive {
    cursor: not-allowed;
}

.wizard .wizard-top-bar .steps-wrapper .step .step-title {
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
}

.wizard .wizard-top-bar .steps-wrapper .step .wrapper-icon {
    background: #fff;
    border-radius: 50px;
    border: 1px solid #777;
    display: inline-block;
    height: 50px;
    margin-bottom: 10px;
    padding: 15px;
    width: 50px;
}

.wizard .wizard-top-bar .steps-wrapper .step .wrapper-icon > i {
    font-size: 50px;
    color: #aaa;
}

.wizard .wizard-top-bar .steps-wrapper .step.active .wrapper-icon > i, .wizard .wizard-top-bar .steps-wrapper .step.completed .wrapper-icon > i {
    color: #22ccff;
}

.wizard .wizard-buttons {
    margin: auto;
    text-align: right;
    height: 30px;
}

.wizard .wizard-buttons > button > i{
    margin-right: 10px;
}

.wizard .wizard-buttons > button.next-step > i{
    margin-left: 10px;
    margin-right: 0px;
}

.wizard .wizard-buttons > button.prev-step {
    float: left;
}

.wizard .wizard-content-wrapper {
    text-align: center;
}

.wizard .wizard-content-wrapper .wizard-content {
    display: inline-block;
    min-width: 680px;
}

.wizard .wizard-content-wrapper .wizard-content .wizard-content-step {
    text-align: left;
    padding: 30px 0px;
}

.wizard .wizard-content-wrapper .wizard-content .wizard-content-step h4 {
    font-size: 16px;
    font-weight: 500;
}
/* desktop */
@media (min-width: 979px) {

}

/* Portrait tablet to landscape */
@media (min-width: 768px) and (max-width: 979px) {
    body > .navbar .navbar-inner .help {
        border-left: none;
    }
}

/* Phone to portrait tablet */
@media (max-width: 767px) {
    body > .navbar .navbar-inner .logo {
        border: none;

    }

    body > .navbar .navbar-inner .help {
        border-left: none;
        margin-right: 0;
        margin-left: 0;
    }

    body > .navbar .navbar-inner .home {
        border-left: none;
        margin-left: 0;
    }

    body > .ws-content {
        padding-right: 20px;
        padding-left: 20px;
    }
}
