html {
    height: 100%;
}

body {
}

/* NAVBAR */
body > .navbar  {
    border-top: 5px solid #05addc;
    margin-bottom: 0;
}

body > .navbar .navbar-inner {

    background: rgb(17,17,17); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(17,17,17,1) 0%, rgba(51,51,51,1) 50%, rgba(17,17,17,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(17,17,17,1)), color-stop(50%,rgba(51,51,51,1)), color-stop(100%,rgba(17,17,17,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(17,17,17,1) 0%,rgba(51,51,51,1) 50%,rgba(17,17,17,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(17,17,17,1) 0%,rgba(51,51,51,1) 50%,rgba(17,17,17,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(17,17,17,1) 0%,rgba(51,51,51,1) 50%,rgba(17,17,17,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(17,17,17,1) 0%,rgba(51,51,51,1) 50%,rgba(17,17,17,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#111111',GradientType=1 ); /* IE6-9 */

    border-radius: 0;
    box-shadow: none;
    border: none;
    padding: 0 0 0 0;
}

body > .navbar .btn-navbar {
    margin-top: 15px;
}

body > .navbar .btn-navbar .icon-bar {
    background-color: #05addc;
}

body > .navbar .nav > li > a {
    text-shadow: none;
    color: whiteSmoke;
    padding-top: 21px;
    font-size: 20px;
}

body > .navbar .nav-collapse .nav > li > a:hover,
body > .navbar .nav-collapse .dropdown-menu a:hover {
    background-color: transparent;
}

body > .navbar .nav > li > a:focus,
body > .navbar .nav > li > a:hover {
    color: #05ADDC;
}

.nav .dropdown-toggle .caret {
    border-top-color: whiteSmoke;
    border-bottom-color: whiteSmoke;
}

.nav .dropdown-toggle:hover .caret {
    border-top-color: #05addc;
    border-bottom-color: #05addc;
}

body > .navbar .navbar-inner .logo {
    float: left;
    width: 192px;
    height: 62px;
    background-repeat: no-repeat;
    background-position: center center;

    border-left: 1px solid #353535;
    border-right: 1px solid #353535;
}

body > .navbar .navbar-inner .home {
    padding: 0 10px;
    height: 62px;
    width: 42px;
    text-align: center;
    margin-left: -20px;
}

body > .navbar .navbar-inner .home i {
    margin-top: 25px;
}

body > .navbar .navbar-inner .home #loading {
    margin-top: 25px;
}

body > .navbar .navbar-inner .help {
    padding: 0 10px;
    height: 62px;
    width: 42px;
    text-align: center;
    margin-right: -20px;
    margin-left: 9px;
    border-left: 1px solid #353535;
}

body > .navbar .navbar-inner .help i {
    margin-top: 23px;
}

body > .ws-content {
    margin-top: 20px;
}

/* desktop */
@media (min-width: 979px) {

}

/* Portrait tablet to landscape */
@media (min-width: 768px) and (max-width: 979px) {
    body > .navbar .navbar-inner .help {
        border-left: none;
    }
}

/* Phone to portrait tablet */
@media (max-width: 767px) {
    body > .navbar .navbar-inner .logo {
        width: 100px;
        border: none;

    }

    body > .navbar .navbar-inner .help {
        border-left: none;
        margin-right: 0;
        margin-left: 0;
    }

    body > .navbar .navbar-inner .home {
        border-left: none;
        margin-left: 0;
    }

    body > .ws-content {
        padding-right: 20px;
        padding-left: 20px;
    }
}
