<div class="trunkstore_popup cnam clearfix">
    <div class="left_image"></div>

    <div class="right_part">
        <div class="row-fluid">
            <form id="cnam">
                Show <input type="text" class="caller_id" name="display_name" value="{{display_name}}" placeholder="John Doe"/> as your name
                when you call someone on their Caller ID device.
            </form>
        </div>

        <div class="row-fluid">
            <div class="well well-small">
                <i class="icon-info-sign"></i> This request takes up to 72 hours to process and can only be placed once every 72 hours.
            </div>
        </div>

        <div class="row-fluid">
            <div class="buttons">
                <button class="btn btn-primary submit_btn">Add</button>
            </div>
        </div>
    </div>
</div>
