<div class="container-fluid">
    <div class="row-fluid">
        <div id="detail_pbx" class="span12">
            <h1>Phone numbers for {{server_name}}</h1>
            <button class="btn btn-primary detail_pbx">Edit settings</button>
            <button class="btn btn-success" id="assign_number">Assign Numbers</button>
            <button class="btn btn-info" id="move_numbers">Move to another PBX</button>
            <button class="btn btn-danger" id="delete_number">Unassign selected Numbers</button>

            <table id="pbxs_manager-grid" class="display"></table>
        </div>
    </div>

    <div class="row-fluid">
        <div id="unassigned_numbers" class="row-fluid">
    </div>
</div>
