<div>
    <div class="trunkstore_popup failover">
        <div>
            <div class="header ${radio}"></div>
            <form id="failover" action="#">
                <h2>Choose a type of failover:</h2>

                <div class="radio_block">
                    <div class="inline_field">
                        {{if radio === 'number'}}
                        <input type="radio" name="failover_type" value="number" CHECKED/>
                        Alternative Number #
                        <input placeholder="+1 415-222-5555" type="text" name="raw_input" value="${failover}" class="text_field failover_number">
                        {{else}}
                        <input type="radio" name="failover_type" value="number"/>
                        Alternative Number #
                        <input placeholder="+1 415-222-5555" type="text" name="raw_input" style="display: none;" class="text_field failover_number">
                        {{/if}}
                    </div>
                    <div class="inline_field">
                        {{if radio === 'sip'}}
                        <input type="radio" name="failover_type" value="sip" CHECKED/>
                        Failover SIP Address
                        <input placeholder="sip:jon@doe.com" type="text" name="raw_input" value="${failover}" class="text_field failover_sip">
                        {{else}}
                        <input type="radio" name="failover_type" value="sip"/>
                        Failover SIP Address
                        <input placeholder="sip:jon@doe.com" type="text" name="raw_input" style="display: none;" class="text_field failover_sip">
                        {{/if}}
                    </div>
                </div>

                <div class="fancy_help border">
                    <div class="wrapper_icon"><span class="note_icon"/></div>
                    <div class="help_text">If your phone system is unreachable for any reason, we can redirect a caller to an alternate phone number or VoIP device. If the Failover number is an external number this call will cost you for both inbound and outbound.</div>
                    <div class="clear"/>
                </div>

                <div class="buttons">
                    {{if radio}}
                    <button class="btn danger remove_failover">Remove</button>
                    {{/if}}
                    <button class="btn primary submit_btn">Activate</button>
                </div>
            </form>
        </div>
    </div>
</div>
