<div class="move-pbx-popup">
    <div class="row-fluid">
        <form class="form-inline">
            <label for="select_pbxs">{{t "pbxs.pbxs_manager.choose_pbx"}}</label>
            <select id="select_pbxs">
                {{#each servers}}
                    <option value="{{this.key}}">{{this.server_name}}</option>
                {{/each}}
            </select>
        </form>
    </div>
    <div class="row-fluid">
        <div class="content-centered">
            <button class="btn btn-large btn-success move">{{t "pbxs.pbxs_manager.btn_confirm_move"}}</button>
        </div>
    </div>
</div>
