<div id="pbxs_manager_view" class="main-content"></div>

<div id="list_pbxs_navbar" class="navbar navbar-fixed-bottom">
    <div id="add_pbx" class="pbx-wrapper pull-right">
        <div class="plus-btn"></div>
        {{t "pbxs.pbxs_manager.add_pbx"}}
    </div>
    <div id="pbxs_manager_listpanel"></div>
</div>
