<div id="pbxs_manager_view" class="main-content"></div>

<div id="list_pbxs_navbar" class="navbar navbar-fixed-bottom">
    <div id="add_pbx" class="pbx-wrapper">
        <div class="img-wrapper">
            <div class="plus-btn"></div>
        </div>
        <div class="pbx-name">{{t "pbxs.pbxs_manager.add_pbx"}}</div>
    </div>
    <div id="pbxs_manager_listpanel"></div>
</div>
