#strategy_container .clearfix:after {
	clear: right;
}

#strategy_container .element-container:not(:first-of-type) {
	margin-top: 10px;
}

#strategy_container .element-header-outer {
	background: #dedede;
	border-radius: 4px;
}

#strategy_container .element-header-inner {
	height: 60px;
	background: #f3f3f3;
	margin: 5px;
	cursor: pointer;
}

#strategy_container .element-container.open .element-header-outer {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#strategy_container .element-container.open .element-header-inner {
	margin-bottom: 0px;
}

#strategy_container .element-container .element-content {
	display: none;
}

#strategy_container .element-content {
	border: solid 1px #dedede;
}

#strategy_container .element-header-inner > div {
	width: 50%;
	line-height: 60px;
	height: 60px;
	display: inline-block;
	white-space: nowrap;   overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#strategy_container .element-header-inner .title > i {
	margin: 0px 20px;
}

#strategy_container .element-header-inner .title > span {
	font-size: 18px;
}

#strategy_container .element-header-inner .summary {
	padding-right: 60px;
	padding-left: 20px;
}

#strategy_container .element-header-inner .summary > span i {
	margin-left: 15px;
}

#strategy_container .element-header-inner .summary > i {
	position: absolute;
	line-height: 60px;
	margin-right: 20px;
	margin-left: 20px;
	right: 0px;
}

#strategy_container .element-container.open .element-header-inner .summary > i {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	color: #22ccff;
}

#strategy_container .element-container .basic-actions {
	padding: 20px;
	border-top: solid 1px #ccc;
	background-color: #f3f3f3;
	text-align: right;
}

#strategy_container .element-container .basic-actions .cancel-link {
	margin-right: 40px;
	vertical-align: middle;
}

#strategy_container .element-container:not(.strategy-confnum) .title .icon-phone {
	color: #22ccff;
}

/************** Main Numbers **************/

#strategy_container .element-container.main-number .title .icon-phone {
	position: relative;
	top: 3px;
	font-size: 28px;
}

#strategy_container .element-container .number-element {
	border-bottom: solid 1px #dedede;
	height: 70px;
}

#strategy_container .element-container .number-element > div {
	display: inline-block;
	padding: 10px;
	line-height: 50px;
	height: 50px;
}

#strategy_container .element-container .number-element .features-block .dropdown-toggle {
	background-color: #ffffff;
	margin-top: 5px;
}
#strategy_container .element-container .number-element .features-block .features > i {
	display: none;
}

#strategy_container .element-container .number-element .features-block .features > i.active {
	display: inline-block;
}

#strategy_container .element-container .number-element .number > button {
	margin: 0px 15px;
}

#strategy_container .element-container .number-element .no-number-error {
	font-style: italic;
	color: #ee1212;
	font-weight: 500;
}

#strategy_container .element-container .number-actions {
	padding: 25px 20px;
	line-height: 30px;
	background-color: #f3f3f3;
}

#strategy_container .element-container .number-actions .action-links a i {
	margin-right: 5px;
}

#strategy_container .element-container .number-actions .action-links ul.dropdown-menu {
	min-width: 0;
}

#strategy_container .element-container .number-actions .action-links .buy-dropdown:hover {
	background-color: transparent;
	text-decoration: underline;
}

/********** Strategy Hours ***********/

#strategy_container .element-container.strategy-hours form {
	margin: 0px;
}

#strategy_container .element-container.strategy-hours .custom-hours-toggler {
	padding: 20px;
}

#strategy_container .element-container.strategy-hours .custom-hours-toggler .title {
	font-size: 18px;
	line-height: 30px;
}

#strategy_container .element-container.strategy-hours .custom-hours-toggler > label:first-of-type {
	margin-bottom: 20px;
}

#strategy_container .element-container.strategy-hours .custom-hours-toggler .title > input {
	margin: 0 16px 4px 0;
}

#strategy_container .element-container.strategy-hours .custom-hours-toggler .description {
	margin-left: 30px;
}

#strategy_container .element-container.strategy-hours .custom-hours-div {
	border-top: dashed 1px #ccc;
	padding: 20px;
	display: none;
}

#strategy_container .element-container.strategy-hours .custom-hours-header {
	font-size: 18px;
	padding: 15px;
}

#strategy_container .element-container.strategy-hours .custom-days {
	border: solid 1px #ccc;
	border-radius: 10px;
	background-color: #FCFCFC;
}

#strategy_container .element-container.strategy-hours .custom-day {
	min-height: 32px;
	line-height: 30px;
	padding: 15px;
}

#strategy_container .element-container.strategy-hours .custom-day:not(:first-of-type) {
	border-top: solid 1px #ccc;
}

#strategy_container .element-container.strategy-hours .custom-hours-div label {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

#strategy_container .element-container.strategy-hours .custom-hours-div .custom-day .custom-day-label {
	width: 120px;
}

#strategy_container .element-container.strategy-hours .custom-hours-div .custom-day label.monster-invalid {
	position: static;
}

#strategy_container .element-container.strategy-hours .custom-hours-div input[type="text"] {
	width: 80px;
	margin: 0 10px;
}

#strategy_container .element-container.strategy-hours .custom-day .status {
	color: #999;
}

#strategy_container .element-container.strategy-hours .custom-hours-lunchbreak {
	height: 30px;
	line-height: 30px;
	padding: 15px;
	margin-top: 20px;
}

/********** Strategy Holidays ***********/

#strategy_container .element-container.strategy-holidays .holidays-toggler {
	padding: 20px;
}

#strategy_container .element-container.strategy-holidays .holidays-div {
	border-top: dashed 1px #ccc;
	padding: 20px;
	display: none;
}

#strategy_container .element-container.strategy-holidays .holidays-div .holidays-add {
	padding: 0px 60px;
	margin: 0;
}

#strategy_container .element-container.strategy-holidays .holidays-div .holidays-add .dropdown {
	display: inline-block;
}

#strategy_container .element-container.strategy-holidays .holidays-div .holidays-add .dropdown-menu {
	min-width: 0;
}

#strategy_container .element-container.strategy-holidays .holidays-div .holidays-add .dropdown-toggle {
	color: #22ccff;
	background-color: transparent;
}

#strategy_container .element-container.strategy-holidays .holidays-div .holidays-element {
	padding: 5px 40px;
}

#strategy_container .element-container.strategy-holidays .holidays-div .holidays-element:not(:last-of-type) {
	border-bottom: solid 1px #dedede;
}

#strategy_container .element-container.strategy-holidays .holidays-div .holidays-element input,
#strategy_container .element-container.strategy-holidays .holidays-div .holidays-element span,
#strategy_container .element-container.strategy-holidays .holidays-div .holidays-element select {
	margin: 5px 20px 5px 0px;
}

#strategy_container .element-container.strategy-holidays .holidays-div .holidays-element .month {
	width: 70px;
	text-transform: uppercase;
}

#strategy_container .element-container.strategy-holidays .holidays-div .holidays-element .wday {
	width: 70px;
}

#strategy_container .element-container.strategy-holidays .holidays-div .holidays-element .day {
	width: 60px;
}

#strategy_container .element-container.strategy-holidays .holidays-div .holidays-element .ordinal {
	width: 120px;
}

#strategy_container .element-container.strategy-holidays .holidays-div .holidays-element .name {
	width: 180px;
}

#strategy_container .element-container.strategy-holidays .holidays-div .holidays-element .date {
	width: 120px;
}

#strategy_container .element-container.strategy-holidays .holidays-div .holidays-element .delete-holiday {
	float: right;
	line-height: 40px;
	cursor: pointer;
}

/********** Strategy Calls ***********/

#strategy_container .element-container.strategy-calls .calls-tabs {
	height: 32px;
	padding: 20px 20px 0;
}

#strategy_container .element-container.strategy-calls .calls-tabs .open-hours-tab i {
	color: #74B814;
}
#strategy_container .element-container.strategy-calls .calls-tabs .open-hours-tab.active i {
	color: #333;
}
#strategy_container .element-container.strategy-calls .calls-tabs .open-hours-tab.active a {
	background-color: hsl(85, 80%, 40%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bcef75", endColorstr="#73b714");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#bcef75), to(#73b714));
	background-image: -moz-linear-gradient(top, #bcef75, #73b714);
	background-image: -ms-linear-gradient(top, #bcef75, #73b714);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcef75), color-stop(100%, #73b714));
	background-image: -webkit-linear-gradient(top, #bcef75, #73b714);
	background-image: -o-linear-gradient(top, #bcef75, #73b714);
	background-image: linear-gradient(#bcef75, #73b714);
	border-color: #73b714 #73b714 hsl(85, 80%, 32.5%);
	color: #333 !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.49);
	-webkit-font-smoothing: antialiased;
}

#strategy_container .element-container.strategy-calls .calls-tabs .lunch-hours-tab i {
	color: #f89406;
}
#strategy_container .element-container.strategy-calls .calls-tabs .lunch-hours-tab.active a {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
	border-color: #f89406 #f89406 #ad6704;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

#strategy_container .element-container.strategy-calls .calls-tabs .after-hours-tab i {
	color: #363636;
}
#strategy_container .element-container.strategy-calls .calls-tabs .after-hours-tab.active a {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: -moz-linear-gradient(top, #444444, #222222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
	background-image: -webkit-linear-gradient(top, #444444, #222222);
	background-image: -o-linear-gradient(top, #444444, #222222);
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
	border-color: #222222 #222222 #000000;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

#strategy_container .element-container.strategy-calls .calls-tabs .holidays-tab i {
	color: #49afcd;
}
#strategy_container .element-container.strategy-calls .calls-tabs .holidays-tab.active a {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

#strategy_container .element-container.strategy-calls .calls-tabs li.active i {
	color: #ffffff;
}

#strategy_container .element-container.strategy-calls .callflow-tabs {
	padding: 20px;
	border: none;
	background: transparent;
}

#strategy_container .element-container.strategy-calls .callflow-tabs .callflow-tab-title {
	margin-bottom: 10px;
}

#strategy_container .element-container.strategy-calls .callflow-tabs .call-option {
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	border: solid 2px #ccc;
	border-radius: 10px;
	text-align: center;
	background-color: #f9f9f9;
}

#strategy_container .element-container.strategy-calls .callflow-tabs .call-option i {
	color: #aaa;
}

#strategy_container .element-container.strategy-calls .callflow-tabs .call-option .radio-div .iradio_flat {
	margin: 0;
}

#strategy_container .element-container.strategy-calls .callflow-tabs .call-option select {
	width: 160px;
}

#strategy_container .element-container.strategy-calls .callflow-tabs .call-option:not(:first-of-type) {
	margin-left: 20px;
}

#strategy_container .element-container.strategy-calls .callflow-tabs .call-option > div:not(:first-of-type) {
	margin-top: 10px;
}

#strategy_container .element-container.strategy-calls .callflow-tabs .call-option .menu-div .link-icon i {
	margin-right: 5px;
}

#strategy_container .element-container.strategy-calls .callflow-tabs .call-option .menu-div .link a {
	color: #333;
	text-decoration: underline;
}

#strategy_container .element-container.strategy-calls .callflow-tabs .call-option.active {
	background-color: #f0f0f0;
}

#strategy_container .element-container.strategy-calls .callflow-tabs #strategy_calls_open_hours_tab .call-option.active {
	border-color: #74B814;
}
#strategy_container .element-container.strategy-calls .callflow-tabs #strategy_calls_lunch_hours_tab .call-option.active {
	border-color: #f89406;
}
#strategy_container .element-container.strategy-calls .callflow-tabs #strategy_calls_after_hours_tab .call-option.active {
	border-color: #363636;
}
#strategy_container .element-container.strategy-calls .callflow-tabs #strategy_calls_holidays_tab .call-option.active {
	border-color: #49afcd;
}

#strategy_container .element-container.strategy-calls .callflow-tabs .call-option.active .menu-div .menu-icon i {
	color: rgba(238, 18, 18, 0.8);
}

#strategy_container .element-container.strategy-calls .callflow-tabs .call-option.active .menu-div.has-menu .menu-icon i {
	color: #22ccff;
}

/********** Strategy Conference ***********/

#strategy_container .element-container.strategy-confnum .title i {
	position: relative;
	top: 2px;
	font-size: 28px;
	color: #44cc44;
}

/********** Strategy Helper ***********/

#strategy_container .element-container.helper {
	/*display: none;*/
}

#strategy_container .element-container.helper .icon-info-sign {
	float: left;
	margin-right: 10px;
}

#strategy_container .element-container.helper p {
	text-align: justify;
}

/******************* Menu Popup *******************/

#strategy_menu_popup {
	width: 700px;
	padding: 20px;
}
#strategy_menu_popup > div:not(:last-of-type) {
	margin-bottom: 25px;
}
#strategy_menu_popup .menu-block > div {
	float: left;
	width: 340px;
}
#strategy_menu_popup .menu-block .right {
	margin-left: 20px;
}
#strategy_menu_popup .menu-block .title {
	color: #22ccff;
	font-size: 22px;
	font-weight: 500;
	padding: 15px 0;
}
#strategy_menu_popup .menu-block .menu-line {
	padding: 5px 0px;
}
#strategy_menu_popup .menu-block .menu-line > div,
#strategy_menu_popup .menu-block .menu-line > input,
#strategy_menu_popup .menu-block .menu-line > select {
	margin: 0 15px 0 0;
	display: inline-block;
	vertical-align: initial;
}
#strategy_menu_popup .menu-block .menu-line .number-input {
	width: 18px;
}
#strategy_menu_popup .menu-block .menu-line .number-text {
	width: 32px;
	text-align: center;
	color: #22ccff;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}
#strategy_menu_popup .menu-block .menu-line .target-select {
	width: 140px;
}
#strategy_menu_popup .menu-block .menu-line i {
	cursor: pointer;
	opacity: 0.8;
}
#strategy_menu_popup .menu-block .menu-line i:hover {
	color: #ff1212 !important;
}
#strategy_menu_popup .menu-block .menu-line i:active {
	color: #ff1212 !important;
	text-shadow: 1px 1px 1px #999;
}
#strategy_menu_popup .menu-block .menu-line.editing .number-text {
	display: none;
}
#strategy_menu_popup .menu-block .menu-line:not(.editing) .number-input {
	display: none;
}

#strategy_menu_popup .menu-block .add-menu-line a {
	color: #22ccff;
	text-decoration: underline;
}

#strategy_menu_popup .menu-block .add-menu-line {
	margin-top: 10px;
}

#strategy_menu_popup .action-block .cancel-link {
    line-height: 30px;
    margin-right: 40px;
    color: #22ccff;
}

#strategy_menu_popup_accordion .greeting-option:not(:last-of-type) {
    margin-bottom: 15px;
}

#strategy_menu_popup_accordion .greeting-option.active .greeting-option-header i {
	color: #7FFF55 !important;
}

#strategy_menu_popup_accordion .greeting-option-header {
	padding: 10px;
	font-weight: bold;
	border-radius: 4px;
	cursor: pointer;
}

#strategy_menu_popup_accordion .greeting-option-header i {
	vertical-align: middle;
	text-shadow: 0 0 1px #000;
}

#strategy_menu_popup_accordion .greeting-option-content {
	padding: 10px;
	font-size: 14px;
}

#strategy_menu_popup_accordion .greeting-option-content textarea {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0px;
	min-height: 90px;
}

#strategy_menu_popup_accordion .greeting-option-actions {
	margin-top: 10px;
}

#strategy_menu_popup_accordion .greeting-option-actions button:not(:first-of-type) {
	margin-right: 10px;
}
