<div>
    <div class="dialog_popup">
        <h1>Connect a caller to a user...</h1>
        <form name="form" method="post" action="#">
            <div class="form_content">
                <div class="popup_field">
                    <label for="user_selector">Which user?</label>
                    <div class="select_wrapper">
                        <select id="user_selector">
                            {{each(i, item) objects.items}}
                                {{if objects.selected == item.id}}
                                    <option value="${item.id}" SELECTED>${item.name}</option>
                                {{else}}
                                    <option value="${item.id}">${item.name}</option>
                                {{/if}}
                            {{/each}}
                        </select>
                        <div class="action_links_div">
                            <div id="edit_link"><a class="inline_action" data-action="edit" href="#">Edit user options</a></div>
                            <div><a class="inline_action" data-action="create" href="#">Add a user</a></div>
                        </div>
                    </div>
                    <div class="clear"/>
                </div>
            </div>
            <div class="parameter_div">
                Ring this user's devices for <input type="text" class="size2" name="parameter_input" id="parameter_input" value="${parameter.value}"/> seconds.
            </div>
            <div class="parameter_div">
                {{if can_call_self === true}}
                <input type="checkbox" checked="checked" id="user_can_call_self">
                {{else}}
                <input type="checkbox" id="user_can_call_self">
                {{/if}}
                Allow this user to call himself.
                <div class="parameter_description">When you check this box, calls from the user's own extension to themselves will ring the extension. If this box isn't checked, calls from the user's own extension to themselves will go to their voicemail.</div>
            </div>
        </form>
        <div class="buttons-center">
            <button id="add" class="btn primary">OK</button>
        </div>
    </div>
</div>
