<div id="password_recovery">
	<form class="form form-horizontal" id="form_password_recovery">
		<div class="control-group">
			<label for="recover_username" class="control-label">{{ i18n.username }}</label>
			<div class="controls">
				<input type="text" id="recover_username" name="username" placeholder="{{ i18n.passwordRecovery.placeholder.username }}" required>
			</div>
		</div>
		<div class="control-group">
			<label for="recover_account_name" class="control-label">{{ i18n.account.name }}</label>
			<div class="controls">
				<input type="text" id="recover_account_name" name="account_name" placeholder="{{ i18n.passwordRecovery.placeholder.account.name }}">
			</div>
		</div>
		<div class="control-group">
			<label for="recover_account_realm" class="control-label">{{ i18n.account.realm }}</label>
			<div class="controls">
				<input type="text" id="recover_account_realm" name="account_realm" placeholder="{{ i18n.passwordRecovery.placeholder.account.realm }}">
			</div>
		</div>
		<div class="control-group">
			<label for="recover_phone_number" class="control-label">{{ i18n.passwordRecovery.label.phoneNumber }}</label>
			<div class="controls">
				<input type="text" id="recover_phone_number" name="phone_number" placeholder="{{ i18n.passwordRecovery.placeholder.phoneNumber }}">
			</div>
		</div>
	</form>

	{{#monsterText}}
		{{ i18n.passwordRecovery.help.text }}
	{{/monsterText}}

	<div class="action clearfix">
		<div class="pull-right">
			<a href="javascript:void(0);" class="cancel-link monster-link blue">{{ i18n.cancel }}</a>
			<button type="button" class="btn btn-success recover-password">{{ i18n.passwordRecovery.button.recover }}</button>
		</div>
	</div>
</div>