<div id="password_update_dialog">
	<form class="form form-horizontal" id="form_password_update">
		<div class="control-group">
			<label for="new_password" class="control-label">{{ i18n.passwordUpdate.label.password.new }}</label>
			<div class="controls">
				<input type="password" name="new_password" id="new_password" minlength="6" required>
			</div>
		</div>
		<div class="control-group">
			<label for="new_password_confirmation" class="control-label">{{ i18n.passwordUpdate.label.password.confirmation }}</label>
			<div class="controls">
				<input type="password" name="new_password_confirmation" id="new_password_confirmation" minlength="6" required>
			</div>
		</div>
	</form>

	{{#monsterText}}
		{{i18n.passwordUpdate.help.text}}
	{{/monsterText}}

	<div class="action clearfix">
		<div class="pull-right">
			<a href="javascript:void(0);" class="cancel-link monster-link blue">{{ i18n.cancel }}</a>
			<button type="button" class="monster-button-success update-password">{{ i18n.passwordUpdate.button.update }}</button>
		</div>
	</div>
</div>