{{#if ssoProviders}}
	<div class="sso-providers">
		{{#if isUnknownKazooUser}}
			<div class="sso-buttons">
				<div class="sso-user sso-button sso-button-{{ssoUser.auth_provider}} btn-block text-left">
					<div class="sso-user-photo-div"></div>
					<div class="sso-user-info">
						<div class="upper-info">
							<div class="text-left">{{ssoUser.displayName}}</div>
							<div class="sso-logout"><a href="javascript:void(0);" class="kill-sso-session"><i class="sso-logout"><img src="apps/auth/style/oauth/{{ssoUser.auth_provider}}.png" width="14"></i>{{ i18n.oauth.logout }}</a></div>
						</div>
						<div class="text-left">{{ssoUser.email}}</div>
					</div>
				</div>
			</div>

			<div class="user-not-linked">
				<i class="fa fa-info-circle"></i>
				{{ i18n.oauth.noLinkMsg }}
			</div>
		{{else}}
			<div class="sso-buttons">
				{{#each ssoProviders}}
					 <a class="sso-button sso-button-{{name}}" data-provider="{{name}}" data-original-title="{{name}}" href="javascript:void(0);">
						<i class=""><img src="apps/auth/style/oauth/{{name}}.png" width="14"></i> {{friendly_name}}
					</a>
				{{/each}}
			</div>
		{{/if}}
	</div>
{{/if}}