<li class="trunks">
	<a href="#myaccount/trunks/render">
		<i class="icon-fullscreen"></i> {{t "myaccount.trunks.trunks"}}
		<span class="badge pull-right hidden-phone">
			{{inbound}}/{{twoway}}
		</span>
	</a>
</li>