<li class="myaccount-element" data-module="trunks" data-key="inbound_title">
	<a href="#myaccount/trunks_inbound/render">
        <div class="active-highlight">
            <i class="hidden-phone icon-arrow-right"></i> {{t "myaccount.trunks.inbound"}}
            <span class="badge pull-right visible-desktop">
                {{inbound}}
            </span>
        </div>
	</a>
</li>
