<div class="row-fluid balance-title">
	<div class="span12">
	  	<div class="page-header">
		 	<h1>{{t "myaccount.trunks.trunks"}}</h1>
		</div>
  	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<div class="alert alert-info">
			<p>
				Flat-Rate calling allows you to pay a monthly, predictable fee that never changes, regardless of your usage.
			</p>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<form class="form-horizontal">
			<h5>Flat-Rate Two-Way Calling</h5>
			<div class="control-group">
		    	<label class="control-label" for="twoway">Allow up to</label>
		    	<div class="controls">
		      		<input type="text" id="twoway" name="twoway" class="span1" value="{{twoway}}" />
		      		<span class="help-inline">
		      			simultaneous two-way calls to the US-48 at $29.99/month per line
		      		</span>
		    	</div>
		  	</div>
		  	<h5>Flat-Rate Inbound Calling</h5>
		  	<div class="control-group">
		    	<label class="control-label" for="inbound">Allow up to</label>
		    	<div class="controls">
		      		<input type="text" id="inbound" name="inbound" class="span1" value="{{inbound}}" />
		      		<span class="help-inline">
		      			simultaneous inbound calls at $6.99/month per line
		      		</span>
		    	</div>
		  	</div>
	  		<div class="control-group">
			    <div class="controls">
			    	<button type="submit" class="btn btn-success update-limits">Update Limits</button>
			    </div>
	  		</div>
		</form>
	</div>
</div>