{{#if id}}
	<li class="account-browser-breadcrumb">
		<span class="divider"><i class="fa fa-angle-right"></i></span>
		<a data-id="{{id}}" data-parent="{{parentId}}">{{name}}</a>
	</li>
{{else}}
	{{#if ../search}}
		<li class="account-browser-breadcrumb">
			<span class="divider"><i class="fa fa-angle-right"></i></span>
			<span class="missing-info">{{../search}}</span>
		</li>
	{{else}}
		<li class="account-browser-breadcrumb">
			<span class="divider"><i class="fa fa-angle-right"></i></span>
			<span class="missing-info">{{../i18n.accountBrowser.missingInfo}}</span>
		</li>
	{{/if}}
{{/if}}