{{#if currentAccount}}
	<li class="account-list-element current-account" data-id="{{currentAccount.id}}">
		<div class="account-link">
			<div class="account-name">{{currentAccount.name}}</div>
			<div class="account-realm">{{currentAccount.realm}}</div>
		</div>
	</li>
{{/if}}
{{#each accounts}}
	<li class="account-list-element{{#compare this.id "===" ../selectedId}} active{{/compare}}" data-id="{{this.id}}">
		{{#if this.descendants_count}}
			<div class="account-children-link"><i class="icon-caret-right"></i></div>
			<div class="account-link smaller-link">
				<div class="account-name">{{this.name}}</div>
				<div class="account-realm">{{this.realm}}</div>
			</div>
		{{else}}
			<div class="account-link">
				<div class="account-name">{{this.name}}</div>
				<div class="account-realm">{{this.realm}}</div>
			</div>
		{{/if}}
	</li>
{{/each}}