{{#each accounts}}
	<li class="account-list-element" data-id="{{this.id}}">
		{{#if this.children}}
			{{#if this.name}}
				<div class="account-link smaller-link">
					<div class="account-name">{{this.name}}</div>
				</div>
				<div class="account-children-link"><i class="icon-caret-right"></i></div>
			{{else}}
				<div class="account-link smaller-link disabled">
					<div class="account-name">{{../../../i18n.accountDropdown.missingAccount}}</div>
				</div>
				<div class="account-children-link"><i class="icon-caret-right"></i></div>
			{{/if}}
		{{else}}
			<div class="account-link" data-id="{{this.id}}">
				<div class="account-name">{{this.name}}</div>
			</div>
		{{/if}}
	</li>
{{/each}}