<div class="number-selector">
	<div class="number-selector-content">
		<input class="number-selector-input" type="hidden" name="{{inputName}}" value="{{number}}">
		<div class="number-selector-dropdown" tabindex="0">
			<div class="number-selector-clickable"></div>
			<div class="number-selector-element remove-element {{#unless number}}hidden{{/unless}}" data-action="remove">
				<span class="link">{{labels.remove}}</span>
				{{#unless labels.hideNumber}}
				<span class="number">{{formatPhoneNumber number}}</span>
				{{/unless}}
			</div>
			{{#unless noSpare}}
			<div class="number-selector-element" data-action="spare">
				<span class="link">{{labels.spare}}</span>
			</div>
			{{/unless}}
			{{#unless noBuy}}
			<div class="number-selector-element" data-action="buy">
				<span class="link">{{labels.buy}}</span>
			</div>
			{{/unless}}
			{{#unless noExtension}}
			<div class="number-selector-element" data-action="extension">
				<span class="link">{{labels.extension}}</span>
			</div>
			{{/unless}}
		</div>
		<div class="number-selector-displayed">
			<span class="number">
			{{#if number}}
				{{formatPhoneNumber number}}
			{{else}}
				{{labels.empty}}
			{{/if}}
			</span>
			<span class="handle"></span>
		</div>
	</div>
</div>