{{#each usedNumbers}}
	<div class="number-box disabled" data-phoneNumber="{{this.phoneNumber}}">
	{{#compare used_by "!==" "mobile"}}
		<div class="number-options pull-right">
			<div class="navbar">
				<ul class="nav pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
						<ul class="dropdown-menu">
						{{#if ../isCnamEnabled}}
							<li><a class="cnam-number" href="#"><i class="fa fa-user"></i>{{ @root.i18n.callerId.label }}</a></li>
						{{/if}}
						{{#if ../isE911Enabled}}
							<li><a class="e911-number" href="#"><i class="fa fa-ambulance"></i>{{ @root.i18n.e911.label }}</a></li>
						{{/if}}
							<li><a class="failover-number" href="#"><i class="fa fa-thumbs-down"></i>{{ @root.i18n.failover.label }}</a></li>
							<li><a class="prepend-number" href="#"><i class="fa fa-file-text-o"></i>{{ @root.i18n.numberPrepend.label }}</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	{{/compare}}
		<div class="phone-number">{{formatPhoneNumber this.phoneNumber}}</div>
		<span class="locality">
			{{#if this.isoCountry }}
				<span class="flag"><img src="css/assets/flags/32/{{ this.isoCountry }}.png" height="32" width="32"></img></span>
			{{/if}}
			{{#if this.friendlyLocality }}
				<span class="city">{{ this.friendlyLocality }}</span>
			{{/if}}
		</span>

		<div class="used-by">
			{{#compare ../viewType '!==' 'pbx'}}
				{{ this.friendlyUsedBy }}
			{{else}}
				{{#compare this.ownerType '===' 'user'}}
					<i class="icon-telicon-seats"></i>
				{{else}}
					{{#compare this.ownerType '===' 'group'}}
						<i class="fa fa-users"></i>
					{{else}}
						{{#compare this.ownerType '===' 'main'}}
							<i class="icon-telicon-home"></i>
						{{else}}
							{{#compare this.ownerType '===' 'conference'}}
								<i class="fa fa-comments"></i>
							{{else}}
								{{#compare this.ownerType '===' 'callflows'}}
									<i class="fa fa-random"></i>
								{{else}}
									{{#compare this.ownerType '===' 'mobileUser'}}
										<i class="icon-telicon-mobile-phone"></i>
									{{/compare}}
								{{/compare}}
							{{/compare}}
						{{/compare}}
					{{/compare}}
				{{/compare}}

				{{ this.owner }}
			{{/compare}}
		</div>

		<div class="features pull-right">
			{{#if this.viewFeatures}}
				{{#each this.viewFeatures}}
					<i class="{{icon}} {{active}} help-popover" data-toggle="tooltip" data-placement="top" data-original-title="{{ help }}"></i>
				{{/each}}
			{{/if}}
		</div>
	</div>
{{else}}
	<div class="number-box disabled no-data">
		{{ i18n.numbers.noUsedNumber }}
	</div>
{{/each}}
