{{#each spareNumbers}}
	<div class="number-box" data-phoneNumber="{{this.phoneNumber}}">
		<input type="checkbox"></input>
		<div class="phone-number">{{formatPhoneNumber this.phoneNumber}}</div>
		<span class="locality">
			<!--
			<span class="flag"><img src="css/flags/32/{{ this.isoCountry }}.png" height="32" width="32"></img></span>
			<span class="city">{{ this.friendlyLocality }}</span>
			-->
		</span>
	</div>
{{else}}
	<div class="number-box no-data">
		{{ i18n.numbers.noSpareNumber }}
	</div>
{{/each}}
