<div class="number-listing-container">
	<div class="grid-numbers">
		<div class="title blue-gradient-reverse">
			{{headline}}
			<span class="search-box pull-right">
				<i class="icon-search"></i>
				<input type="text" class="search-query" placeholder="{{ i18n.search }}..."></input>
			</span>
		</div>
		<div class="numbers">
			<div class="empty-search-row">
				{{ i18n.numberListing.noMatchingNumbers }}
			</div>
			{{#each numbers}}
				<div class="number-box" data-number="{{this.phoneNumber}}" data-search="{{this.phoneNumber}} {{formatPhoneNumber this.phoneNumber}}">
					<div class="checkbox-container">
					{{#if ../singleNumber}}
						<input type="radio" name="numberbox"></input>
					{{else}}
						{{#monsterCheckbox}}<input type="checkbox"></input>{{/monsterCheckbox}}
					{{/if}}
					</div>
					<span class="phone-number">{{formatPhoneNumber this.phoneNumber}}</span>
					<span class="locality">
						{{#if this.isoCountry }}
							<span class="flag"><img src="css/assets/flags/32/{{ this.isoCountry }}.png" height="32" width="32"></img></span>
						{{/if}}
						{{#if this.friendlyLocality }}
							<span class="city">{{ this.friendlyLocality }}</span>
						{{/if}}
					</span>


					<div class="features pull-right">
						{{#each this.viewFeatures}}
							<i class="{{icon}} {{active}} help-popover" data-toggle="tooltip" data-placement="top" data-original-title="{{ help }}"></i>
						{{/each}}
						{{#compare this.state '===' 'port_in'}}
							<i class="icon-warning-sign icon-red active help-popover" data-toggle="tooltip" data-placement="top" data-original-title="{{../../i18n.numbers.portIconHelp}}"></i>
						{{/compare}}
					</div>
				</div>
			{{else}}
				<div class="number-box no-data">
					{{ i18n.numberListing.noNumber }}
				</div>
			{{/each}}
		</div>
	</div>

	<div class="dialog-buttons-wrapper">
		<button class="monster-button cancel">{{cancelButton}}</button>
		<button class="monster-button-primary proceed">{{okButton}}</button>
	</div>
</div>
