<div id="manage_orders">
	<div class="row-fluid info">
		<i class="icon-info-sign"></i>
		<p>Due to the nature of your numbers or the carriers, we may split your order. You will be able to process all the orders, one at a time.</p>
	</div>
	<div class="row-fluid">
	{{#each orders}}
		<div class="order">
			<div class="header">
				<h3>Order {{@key}}</h3>
				<p>{{carrier}}<i class="icon-info-sign pull-right"></i></p>
			</div>
			<div class="scroll">
				<ul>
				{{#each numbers}}
					<li data-value="{{this}}"><i class="icon-warning-sign"></i>{{this}}<i class="icon-remove-sign pull-right"></i></li>
				{{/each}}
				</ul>
			</div>
		</div>
	{{/each}}
	</div>
</div>
<div id="eula">
	<div class="row-fluid info">
		<i class="icon-info-sign"></i>
		<p>In the next step we need to collect the bill to show that you are the rightful owner of these numbers. This is required by law. We may split your order further if the numbers are not mentioned in the bill you will upload</p>
	</div>
	<p class="important"><span>Important!</span> Please understand and agree with the following</p>
	<label for="cancel_service">
		<input type="checkbox" id="cancel_service"> I will not cancel my old service until after the numbers are ompletely transfered,
	</label>
	<label for="cancel_numbers">
		<input type="checkbox" id="cancel_numbers"> I understand any other numbers on the old account may be cancelled by the old provider,
	</label>
	<label for="change_fee">
		<input type="checkbox" id="change_fee"> I understand my old carrier may charge an early termination fee,
	</label>
	<label for="not_featured">
		<input type="checkbox" id="not_featured"> These are standard phone numbers, not featured (like [star-ring]).
	</label>
</div>
<div id="footer">
	<div class="row-fluid">
	<div class="span2">
		<button class="btn btn-danger">cancel</button>
	</div>
	<div class="span6 offset1">
		<ul class="help-links">
			<li><a href="#footer">View Porting FAQs</a></li>
			<li class="separator"></li>
			<li><a href="#footer">Watch Video</a></li>
		</ul>
	</div>
	<div class="span2 offset1">
		<button class="btn btn-success pull-right">next</button>
	</div>
	</div>
</div>