<div id="port_container">
	<div id="notification">
	
		<!-- First solution with :after -->
		<div class="transfer-status">
			<div class="step1">
				<i class="icon-ok-status"></i>
				<span>Add Number</span>
			</div>
			<div class="step2">
				<i class="icon-ok-status"></i>
				<span>Submit Documents</span>
			</div>
			<div class="step3">
				<i class="icon-cirlce"></i>
				<span>Confirm Order</span>
			</div>
		</div>
	
		<!-- Second solution with hr balise -->
		<!-- <div class="transfer-status">
			<i class="icon-ok-sign"></i>
			<hr>
			<i class="icon-ok-status"></i>
			<hr>
			<i class="icon-cirlce"></i>
		</div>
		<div class="transfer-status-name">
			<span>Add Numbers</span>
			<span>Submit Documents</span>
			<span>Confirm Order</span>
		</div> -->
	
		<h2>Great! Total 30 numbers are ready to transfert!</h2>
	
		<div class="row-fluid">
			<div class="span6">
				<label for="notification_email">Who should we notify upon completion?</label>
			</div>
			<div class="span6">
				<input type="text" class="span8" id="notification_email" placeholder="Email address">
			</div>
		</div>
	</div>
	<div id="transfer_date">
		<div class="row-fluid">
			<div class="span6">
				<label for="">When do you want to transfer the numbers?</label>
			</div>
			<div class="span6">
				<input class="date-input span8" type="text" name="extra.date">
			</div>
		</div>
		<div class="row-fluid info">
			<i class="icon-info-sign"></i>
			<p><span class="important">important:</span> We do not guarantee same date but we will try our best or inform you if any changes. Please note that ports can take from 3 to 30 days.</p>
		</div>
	</div>
	<div id="temporary_numbers">
		<div class="row-fluid">
			<div class="span6">
				<label for="">Would you like to have temporary numbers?</label>
			</div>
			<div class="span6">
				<div class="switch-on switch-animate">
					<input type="checkbox" name="installed" checked="">
					<span class="switch-left switch-success">yes</span>
					<label style="border-radius: 20px;">&nbsp;</label>
					<span class="switch-right switch-default">no</span>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<label for="">How many numbers would you like to buy?</label>
			</div>
			<div class="span6">
				<select name="" id="">
					<option value="">1</option>
					<option value="">2</option>
					<option value="">3</option>
					<option value="">4</option>
					<option value="" selected>5</option>
				</select>
			</div>
		</div>
		<div class="row-fluid info">
			<i class="icon-info-sign"></i>
			<p>These numbers will automatically be added to your current application. You will be charged &#36;1/Month/Number. Delete these numbers once your existing number transfer get completed to avoid charges.</p>
		</div>
	</div>
	<div id="order_summary">
		<h2>Order Summary</h2>
		<div class="row-fluid">
			<div class="span6">
				<div class="row-fluid">
					<div class="span1">
						<p>1.</p>
					</div>
					<div class="span11">
						<p>AT&amp;T local numbers</p>
						<ul>
							<li>Order Date: 07/14/13</li>
							<li>Transfer Schedule Date: 07/30/13</li>
							<li>Total Numbers: 15</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="span6">
				<p>Order total: &#36;75</p>
				<div class="row-fluid info">
					<i class="icon-info-sign"></i>
					<p>One time fees of &#36;5/number will be charged to your account.</p>
				</div>
			</div>
		</div>
	</div>
	<div id="continue_later">
		<div class="row-fluid">
			<div class="span4">
				<button class="btn btn-info span12">save &amp; continue later</button>
			</div>
			<div class="span8">
				<p>If you do not have all the required documents, save and come back later.</p>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="row-fluid">
		<div class="span3">
			<button class="btn btn-danger">cancel this order</button>
		</div>
		<div class="span6">
			<ul class="help-links">
				<li><a href="">View Porting FAQs</a></li>
				<li class="separator"></li>
				<li><a href="">Watch Video</a></li>
				<li class="separator"></li>
				<li><a href="">Conact Us</a></li>
			</ul>
		</div>
		<div class="span2 offset1">
			<button class="btn btn-success pull-right">submit</button>
		</div>
		</div>
	</div>
</div>