<div id="port_container">
	<div id="add_numbers">
		<h2>We are excited you are moving numbers to our service!</h2>
		<div class="row-fluid">
			<div class="span6">
				<p>What numbers do you want to transfer? Type one number in at a time or paste all. No extra characters beside number.</p>
				<ul class="help-links">
					<li><a href="#">View Porting FAQs</a></li>
					<li class="separator"></li>
					<li><a href="#">Watch Video</a></li>
				</ul>
			</div>
			<div class="span6">
				<div class="input-append search-custom">
					<input type="text" placeholder="4158867900">
					<button class="btn btn-success btn-large" type="button">add</button>
				</div>
			</div>
		</div>
	</div>
</div>
