<div id="port_container">
	<div id="notification">
		<div class="row-fluid" id="transfer_status">
			<div class="span4 done">
				<i class="icon-ok-sign"></i>
				<div class="title">Add Number</div>
			</div>
			<div class="span4 done">
				<i class="icon-ok-sign"></i>
				<div class="title">Submit Documents</div>
			</div>
			<div class="span4 todo">
				<i class="icon-circle"></i>
				<div class="title">Confirm Order</div>
			</div>
		</div>
	
		<h2>Great! {{total}} numbers are ready to transfert!</h2>
	
		<div class="row-fluid control-group">
			<div class="span6">
				<label class="control-label" for="notification_email">Who should we notify upon completion?</label>
			</div>
			<div class="span6">
				<input type="text" class="span8" id="notification_email" placeholder="Email address" value="{{#if email}}{{email}}{{/if}}">
				<span class="help-inline"><i class="icon-warning-sign"></i></span>
			</div>
		</div>
	</div>
	<div id="transfer_date">
		<div class="row-fluid">
			<div class="span6">
				<label for="transfer_numbers_date">When do you want to transfer the numbers?</label>
			</div>
			<div class="span6">
				<input class="date-input span8" type="text" id="transfer_numbers_date" name="extra.date" value="{{#if transfer_date}}{{transfer_date}}{{/if}}">
			</div>
		</div>
		<div class="row-fluid info">
			<i class="icon-info-sign"></i>
			<p><span class="important">important:</span> We do not guarantee same date but we will try our best or inform you if any changes. Please note that ports can take from 3 to 30 days.</p>
		</div>
	</div>
	<div id="temporary_numbers">
		<div class="row-fluid">
			<div class="span6">
				<label for="have_temporary_numbers">Would you like to have temporary numbers?</label>
			</div>
			<div class="span6">
				<div class="toggle-button-bloc">
					<div class="switch" data-on="success" data-off="default" data-on-label="YES" data-off-label="NO">
						<input type="checkbox" id="have_temporary_numbers" name="installed" checked />
					</div>
			</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<label for="numbers_to_buy">How many numbers would you like to buy?</label>
			</div>
			<div class="span6">
				<select name="" class="span2" id="numbers_to_buy">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5" selected>5</option>
				</select>
			</div>
		</div>
		<div class="row-fluid info">
			<i class="icon-info-sign"></i>
			<p>These numbers will automatically be added to your current application. You will be charged &#36;1/Month/Number. Delete these numbers once your existing number transfer get completed to avoid charges.</p>
		</div>
	</div>
	<div id="order_summary">
		<h2>Order Summary</h2>
		<div class="row-fluid">
			<div class="span6">
				<p>{{name}}</p>
				<ul>
					<li>Order Date: {{created}}</li>
					<li>Transfer Schedule Date: <span id="transfer_schedule_date">{{transfer}}</span></li>
					<li>Total Numbers: {{total}}</li>
				</ul>
			</div>
			<div class="span6">
				<p>Total order: &#36;{{price}}</p>
				<div class="row-fluid info">
					<i class="icon-info-sign"></i>
					<p>One time fees of &#36;5/number will be charged to your account.</p>
				</div>
			</div>
		</div>
	</div>
	<div id="continue_later">
		<div class="row-fluid">
			<div class="span4">
				<button class="btn btn-info span12">save &amp; continue later</button>
			</div>
			<div class="span8">
				<p>If you do not have all the required documents, save and come back later.</p>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="row-fluid">
		<div class="span3">
			<button class="btn btn-danger">cancel this order</button>
		</div>
		<div class="span6">
			<ul class="help-links">
				<li><a href="">View Porting FAQs</a></li>
				<li class="separator"></li>
				<li><a href="">Watch Video</a></li>
				<li class="separator"></li>
				<li><a href="">Conact Us</a></li>
			</ul>
		</div>
		<div class="span2 offset1">
			<button class="btn btn-success pull-right">submit</button>
		</div>
		</div>
	</div>
</div>