<div id="manage_orders">
	<div class="row-fluid info">
		<i class="fa fa-info-circle"></i>
		<p>{{ i18n.port.manageOrders.orderListInfo }}</p>
	</div>
	<div class="row-fluid">
	{{#each orders}}
		<div class="order" data-carrier="{{carrier}}">
			<h4>{{carrier}}</h4>
			<div class="scroll">
				<ul>
				{{#each numbers}}
					<li data-value="{{this}}" data-carrier="{{../carrier}}"><i class="fa fa-exclamation-triangle"></i>{{formatPhoneNumber this}}<i class="fa fa-times-circle pull-right remove-number"></i></li>
				{{/each}}
				</ul>
			</div>
		</div>
	{{/each}}
	</div>
</div>
<div id="eula">
	<div class="row-fluid info">
		<i class="fa fa-info-circle"></i>
		<p>{{ i18n.port.manageOrders.eulaInfo }}</p>
	</div>
	<p class="important"><span>{{ i18n.port.manageOrders.eulaWarningPartOne }}</span> {{ i18n.port.manageOrders.eulaWarningPartTwo }}</p>
	<form action="">
		<div class="control-group">
			<label class="control-label" for="cancel_service">
				{{#monsterCheckbox i18n.port.manageOrders.labelCancelService}}
					<input type="checkbox" id="cancel_service" name="conditions[]" required minlength="4">
				{{/monsterCheckbox}}
			</label>
		</div>
		<div class="control-group">
			<label class="control-label" for="cancel_numbers">
				{{#monsterCheckbox i18n.port.manageOrders.labelCancelNumbers}}
					<input type="checkbox" id="cancel_numbers" name="conditions[]">
				{{/monsterCheckbox}}
			</label>
		</div>
		<div class="control-group">
			<label class="control-label" for="change_fee">
				{{#monsterCheckbox i18n.port.manageOrders.labelChangeFee}}
					<input type="checkbox" id="change_fee" name="conditions[]">
				{{/monsterCheckbox}}
			</label>
		</div>
		<div class="control-group">
			<label class="control-label" for="not_featured">
				{{#monsterCheckbox i18n.port.manageOrders.labelStandardNumbers}}
					<input type="checkbox" id="not_featured" name="conditions[]">
				{{/monsterCheckbox}}
			</label>
		</div>
	</form>
</div>
<div id="footer">
	<div class="row-fluid">
	<div class="span2">
		<button class="btn btn-danger">{{ i18n.port.cancelButton }}</button>
	</div>
	<div class="span6 offset1">
		<ul class="help-links">
			<li><a class="monster-link blue" href="#" data-type="faq">{{ i18n.port.faqLink }}</a></li><!--
			<li class="separator"></li>
			<li><a class="monster-link blue disabled" href="#">{{ i18n.port.videoLink }}</a></li>-->
		</ul>
	</div>
	<div class="span2 offset1">
		<button class="btn btn-success pull-right" id="manage_orders_next_link">{{ i18n.port.nextButton }}</button>
	</div>
	</div>
</div>