<div id="manage_orders">
	<div class="row-fluid info">
		<i class="icon-info-sign"></i>
		<p>{{ i18n.port.manageOrders.orderListInfo }}</p>
	</div>
	<div class="row-fluid">
	{{#each orders}}
		<div class="order">
			<h4>{{carrier}}</h4>
			<div class="scroll">
				<ul>
				{{#each numbers}}
					<li data-value="{{this}}" data-carrier="{{../carrier}}"><i class="icon-warning-sign"></i>{{this}}<i class="icon-remove-sign pull-right"></i></li>
				{{/each}}
				</ul>
			</div>
		</div>
	{{/each}}
	</div>
</div>
<div id="eula">
	<div class="row-fluid info">
		<i class="icon-info-sign"></i>
		<p>{{ i18n.port.manageOrders.eulaInfo }}</p>
	</div>
	<p class="important"><span>{{ i18n.port.manageOrders.eulaWarningPartOne }}</span> {{ i18n.port.manageOrders.eulaWarningPartTwo }}</p>
	<form action="">
		<div class="control-group">
			<label class="control-label" for="cancel_service">
				<input type="checkbox" id="cancel_service"> {{ i18n.port.manageOrders.labelCancelService }}
			</label>
		</div>
		<div class="control-group">
			<label class="control-label" for="cancel_numbers">
				<input type="checkbox" id="cancel_numbers"> {{ i18n.port.manageOrders.labelCancelNumbers }}
			</label>
		</div>
		<div class="control-group">
			<label class="control-label" for="change_fee">
				<input type="checkbox" id="change_fee"> {{ i18n.port.manageOrders.labelChangeFee }}
			</label>
		</div>
		<div class="control-group">
			<label class="control-label" for="not_featured">
				<input type="checkbox" id="not_featured"> {{ i18n.port.manageOrders.labelStandardNumbers }}
			</label>
		</div>
	</form>
</div>
<div id="footer">
	<div class="row-fluid">
	<div class="span2">
		<button class="btn btn-danger">{{ i18n.port.cancelButton }}</button>
	</div>
	<div class="span6 offset1">
		<ul class="help-links">
			<li><a href="#footer">{{ i18n.port.faqLink }}</a></li>
			<li class="separator"></li>
			<li><a href="#footer">{{ i18n.port.videoLink }}</a></li>
		</ul>
	</div>
	<div class="span2 offset1">
		<button class="btn btn-success pull-right">{{ i18n.port.nextButton }}</button>
	</div>
	</div>
</div>