<div id="port_container">
	<div id="orders_list">
		<h3 class="pull-left">{{ i18n.port.pendingOrders.title}}</h3>
		<span class="pull-right">
			<a class="monster-link blue" href="#"><i class="icon-telicon-porting"></i>{{ i18n.port.pendingOrders.newPortLink }}</a>
		</span>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>{{ i18n.port.pendingOrders.tableOrderName }}</th>
					<th>{{ i18n.port.pendingOrders.tableOrderDate }}</th>
					<th>{{ i18n.port.pendingOrders.tableOrderStatus }}</th>
					<th>{{ i18n.port.pendingOrders.tableOrderAction }}</th>
				</tr>
			</thead>
			<tbody>
			{{#if data}}
			{{#each data}}
				<tr class="collapse" data-id="{{id}}">
					<td><i class="icon-caret-right"></i>{{name}}</td>
					<td>{{#if created}}{{toFriendlyDate created 'short'}}{{else}}.....{{/if}}</td>
					<td></td>
					<td>
					{{#compare port_state '===' 'unconfirmed'}}
						<button class="btn btn-success">{{ ../../i18n.port.pendingOrders.continueButton }}</button>
					{{else}}
						<button class="btn btn-info">{{ ../../i18n.port.pendingOrders.infoButton }}</button>
					{{/compare}}
						<i class="icon-comments"></i>
					</td>
				</tr>
				{{#each numbers}}
				<tr data-id="{{../id}}"><td colspan="4">{{this}}</td></tr>
				{{/each}}
			{{/each}}
			{{else}}
				<tr><td colspan="4">{{ i18n.port.pendingOrders.noOrder}}</td></tr>
			{{/if}}
			</tbody>
		</table>
	</div>
</div>