<div class="ringing-duration-control">
	<div class="grid-time">
		<div class="grid-time-row title">
			<div class="scale-container"></div>
			<div class="name">
				<button type="button" class="distribute-button btn btn-primary btn-small">{{ i18n.ringingDurationControl.distribute }}</button>
			</div>
			<div class="times"></div>
			{{#if hasRemoveColumn}}
			<div class="remove">
				<i class="help-popover icon-question-sign icon-large" data-original-title="{{ i18n.ringingDurationControl.maxDurationTooltip }}" data-placement="top" data-toggle="tooltip"></i>
			</div>
			{{/if}}
			{{#if hasDisableColumn}}
			<div class="action">{{ i18n.ringingDurationControl.doNotRing }}</div>
			{{/if}}
		</div>

		{{#each endpoints}}
			<div class="grid-time-row item-selector{{#if deleted}} deleted{{/if}}" data-id="{{id}}">
				<div class="scale-container"></div>
				<div class="name">
					{{#if icon}}<i class="{{icon}}"></i>{{/if}}
					{{name}}
				</div>
				<div class="times">
					<div class="slider-time">

					</div>
				</div>
				{{#if ../hasRemoveColumn}}
				<div class="action">
					<button class="btn btn-danger remove-user">{{ ../../i18n.remove }}</button>
				</div>
				{{/if}}
				{{#if ../hasDisableColumn}}
				<div class="action">
					<input type="checkbox" class="disable-row">
				</div>
				{{/if}}
			</div>
		{{/each}}
	</div>
</div>