<div class="override-header">
	{{ i18n.servicePlanDetails.overrides }}
	<div class="dropdown add-link-container">
		<a href="#" class="add-override monster-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus monster-green"></i>{{ i18n.servicePlanDetails.addOverrides }}</a>
		<ul class="dropdown-menu select-field-override" role="menu" aria-labelledby="dropdownMenu">
			{{#each allowedOverrides}}
				<li class="dropdown-submenu" data-category="{{@key}}">
					<a tabindex="-1" href="#">{{ @key}}</a>
					<ul class="dropdown-menu">
						{{#each this}}
							<li class="dropdown-submenu" data-key="{{@key}}">
								<a tabindex="-1" href="#">{{ @key}}</a>
								<ul class="dropdown-menu">
									{{#each this}}
										<li><a tabindex="-1" href="#" data-field="{{@key}}">{{ @key}}</a></li>
									{{/each}}
								</ul>
							</li>
						{{/each}}
					</ul>
				</li>
			{{/each}}
		</ul>
	</div>

	<div class="service-plan-details details-overrides">
		{{#each overrides}}
			<div class="override-category" data-category="{{@key}}">
				<div class="line header">
					<div>{{ @key}}</div>
					<div></div>
				</div>
				{{#each this}}
					<div class="line" data-key="{{@key}}">
						<div class="name">{{ @key}}</div>
						<div class="charges">
							{{#each this}}
								<div data-field="{{@key}}">
									{{@key}}: <input class="input-value" value="{{this}}">
									<i class="fa fa-remove monster-red remove-line"></i>
								</div>
							{{/each}}
						</div>
					</div>
				{{/each}}
			</div>
		{{else}}
			<span class="no-overrides">{{i18n.servicePlanDetails.noOverrides}}</span>
		{{/each}}
	</div>
</div>
