<div>
	<div class="row">
		<div class="whapp-header">
			{{if data.id}}
                <h1>Edit Directory</h1>
            {{else}}
                <h1>Create Directory</h1>
            {{/if}}
			<div class="buttons-right pasted view-buttons">
				<button class="btn black basic activate">Basic</button>
				<button class="btn black advanced">Advanced</button>
			</div>
		</div>
	</div>
	<div class="row">
		<ul class="tabs" data-tabs="tabs">
		 	<li class="active"><a href="#basic">Basic</a></li>
		 	<li><a href="#options"><span class="icon wrench_screw"></span>Options</a></li>
		</ul>
		<form id="directory-form" action="" method="post">
			<div class="pill-content">
				<div class="active basic_view" id="basic">
					<div class="clearfix">
						<label for="name">Name</label>
						<div class="input">
							<input class="span4" id="name" name="name" type="text" placeholder="Name" value="${data.name}" rel="popover" data-content="Friendly name for this Directory"/>
						</div>
					</div>

					<div class="row">
                    	<div id="tab_users">
	                        <div class="row title">
	                            <div class="column first">User&nbsp;&nbsp;<span class="icon medium user"/></div>
	                            <div class="column second">Callflow&nbsp;&nbsp;<span class="icon medium callflow"/></div>
	                            <div class="column third">Remove</div>
	                        </div>
	                        <div class="rows">
	                        </div>
	                    </div>

	                    
	                    <div class="add_user">
	                        <div class="add_user_title">Add User</div>
	                        <div class="add_content_wrapper">
	                            <div class="add_user_fields">
	                                <ul class="controls">
	                                    <div id="user_list_select">
	                                        <li>
	                                            <label>User</label>
	                                            <select name="user_id" id="user_id">
	                                                <option id="empty_option_user" value="empty_option_user">-- Select --</option>
	                                                {{each field_data.users}}
	                                                    <option value="${id}" id="option_user_${id}">${first_name} ${last_name}</option>
	                                                {{/each}}
	                                            </select>
	                                        </li>
	                                        <div class="clear"/>
	                                    </div>
	                                    <li id="callflow_li">
	                                        </span>
	                                        <label>Callflow</label>
	                                        <select name="callflow_id" id="callflow_id">
	                                            <option id="empty_option_callflow" value="empty_option_callflow">-- Select --</option>
	                                            {{each field_data.callflows}}
	                                                <option value="${id}" id="option_callflow_${id}">&nbsp;{{each(k,v) numbers}}${v}&nbsp;{{/each}}</option>
	                                            {{/each}}
	                                        </select>
	                                    </li>
	                                    <div class="clear"/>
	                                </ul>
	                            </div>
	                            <div class="add_user_div">
	                                <span class="add_user_icon"/>
	                                <a class="add_user_link" href="javascript:void(0);" data-directory_id="${data.id}">Add this user to the directory</a>
	                                <div class="clear"/>
	                            </div>
	                        </div>
	                    </div>
                    </div>
				</div>

				<div id="options">
					<div class="clearfix">
						<label for="min_dtmf">Minimum number of input</label>
						<div class="input">
							<input class="span4" id="min_dtmf" name="min_dtmf" type="text" placeholder="Min of input" value="${data.min_dtmf}" rel="popover" data-content="Count of how many DTMFs must be collected before processing begins"/>
						</div>
					</div>

					<div class="clearfix">
						<label for="max_dtmf">Max number of input</label>
						<div class="input">
							<input class="span4" id="max_dtmf" name="max_dtmf" type="text" placeholder="Max of input" value="${data.max_dtmf}" rel="popover" data-content="Count of the most DTMFs collected, once reached the list of matches is played. If set to 0, then there is no limit to the number of DTMFs collected."/>
						</div>
					</div>

					<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
								<li>
									<label>
										<span rel="popover" data-content="If only one match is found, is the caller prompted to confirm the match before connecting">
											{{if data.confirm_match == true}}
							                    <input type="checkbox" id="confirm_match" name="confirm_match" checked="checked" />
							                {{else}}
							                    <input type="checkbox" id="confirm_match" name="confirm_match" />
							                {{/if}}
							                <span>Confirm Match</span>
						                </span>
						            </label>
						        </li>
						    </ul>
						</div>
					</div>

					<div class="clearfix">
						<label for="sort_by">Sort by</label>
						<div class="input">
							<select name="sort_by" id="sort_by" class="medium" rel="popover" data-content="Select your sort method">
								 {{each(key, val) field_data.sort_by}}
                                    {{if data.sort_by == key}}
                                    <option value="${key}" selected="selected">${val}</option>
                                    {{else}}
                                    <option value="${key}">${val}</option>
                                    {{/if}}
                            	{{/each}}
							</select>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="buttons-right">
	        {{if data.id}}
	            <button class="btn danger directory-delete">Delete</button>
	        {{/if}}
            <button class="btn success directory-save">Save</button>
		</div>
	</div>
</div>