<div class="service-plan-content-wrapper">
	<div class="fancy-header">
		<div class="left-image">
			<i class="icon-calendar"></i>
		</div>

		<div class="title-block">
			{{ i18n.titleHeader }}
		</div>

		<div class="right-block box-white-border">
			<div class="content box-white-content">
				<div class="main-title">
					{{ i18n.currencyUsed }}{{ totalAmount }}
				</div>
				<div class="sub-title">
					{{ i18n.dueOn }} {{ dueDate }}
				</div>
			</div>
		</div>
	</div>

	<div class="action-bar">
		<li class="dropdown dropdown-download">
			<a href="#" id="download" role="button" class="action-number dropdown-toggle" data-toggle="dropdown"><i class="icon-download icon-green"></i>{{ i18n.download }}</a>
			<ul class="dropdown-menu">
				<!--<li id="get_pdf" class="pbx-dropdown"><a href="#">PDF</a></li>-->
				<li id="get_csv"><a href="#">{{ i18n.CSV }}</a></li>
			</ul>
		</li>
	</div>

	<div class="table-content">
		<table class="table">
			<thead>
				<tr>
					<th class="blue-gradient-reverse">{{ i18n.serviceTitle }}</th>
					<th class="blue-gradient-reverse">{{ i18n.rateTitle }}</th>
					<th class="blue-gradient-reverse"></th>
					<th class="blue-gradient-reverse">{{ i18n.quantityTitle }}</th>
					<th class="blue-gradient-reverse">{{ i18n.discount }}</th>
					<th class="blue-gradient-reverse">{{ i18n.monthlyChargesTitle }}</th>
				</tr>
			</thead>
			<tbody>
				{{#each servicePlanArray}}
					<tr>
						<td>{{ this.service }}</td>
						<td>{{ ../i18n.currencyUsed }}{{ this.rate }}</td>
						<td>X</td>
						<td>{{ this.quantity }}</td>
						<td>{{ this.discount }}</td>
						<td>{{ ../i18n.currencyUsed }}{{ this.monthlyCharges }}</td>
					</tr>
				{{else}}
					<tr>NO DATA TO DISPLAY TODO</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
