.wizard-step {
	.document-icon {
		padding-right: 0;
		line-height: 1rem;
		color: $midgray2;
	}

	.monster-panel-text {
		width: auto;
	}

	.number-list {
		align-items: flex-start;
		padding-bottom: 0;
		margin-bottom: 2.5rem;
		margin-left: 0;
		margin-right: 0;
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='72'><rect y='37' width='1' height='36' fill='rgb(216, 216, 222, 0.48)' /></svg>");

		.number-item {
			padding: 0.5rem 1rem;
			line-height: 1.25rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
