#step_review.wizard-step {
	.country-flag {
		margin-left: 0.75rem;
		max-width: 21px;
	}

	.document-icon {
		margin-right: 0.5rem;
		margin-top: -0.25rem;
	}

	.monster-panel-text {
		margin-bottom: 0;
	}

	.number-list {
		margin-bottom: 0;
	}

	@media print {
		.number-item {
			width: 50%;
		}

		.monster-checkbox i {
			display: none;
		}
	}
}
