#step_ownership_confirmation.wizard-step {
	#latest_bill_change_file_wrapper {
		line-height: 1.25rem;
		margin-bottom: 0.5rem;
	}

	#latest_bill_document_container .monster-pdf-viewer-iframe {
		height: 50.5rem !important;
	}
}
