#step_name_and_numbers.wizard-step {
	#numbers_to_port_numbers {
		min-height: 16rem;

		&.monster-invalid + label.monster-invalid {
			position: static;
		}
	}

	.numbers-file-upload .field-foot-notice {
		line-height: 1rem;
	}
}
