.number-selector .number-selector-content {
	position: relative;
	display: inline-block;
}
.number-selector .number-selector-displayed {
	position: relative;
	width: 220px;
	border: 1px solid #c0c0c9;
	background: #fff;
	box-sizing: border-box;
	height: 30px;
	line-height: 30px;
	border-radius: 4px;
	z-index: 1;
}
.number-selector .number-selector-dropdown.open + .number-selector-displayed {
	border-radius: 4px 4px 0px 0px;
}
.number-selector .number-selector-displayed .number {
	padding: 0px 10px;
}
.number-selector .number-selector-displayed .handle {
	position: absolute;
	width: 18px;
	height: 100%;
	top: 0px;
	right: 0px;
}
.number-selector .number-selector-displayed .handle:before {
	content: '';
	position: absolute;
	top: 50%;
	right: 7px;
	border-color: #000 transparent;
	transform: translateY(-50%);
	border-style: solid;
	border-width: 6px 3px 0;
}

.number-selector .number-selector-dropdown {
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	cursor: pointer;
	z-index: 2;
}
.number-selector .number-selector-dropdown .number-selector-clickable {
	background-color: transparent;
	height: 30px;
}
.number-selector .number-selector-dropdown .number-selector-element {
	display: none;
	height: 30px;
	line-height: 30px;
	padding: 0px 10px;
	background: #fff;
	border: solid 1px #c0c0c9;
	border-bottom: none;
}
.number-selector .number-selector-dropdown.open .number-selector-element:not(.hidden) {
	display: block;
}
.number-selector .number-selector-dropdown .number-selector-element:hover {
	cursor: pointer;
	background: #f0f0f9;
}
.number-selector .number-selector-dropdown .number-selector-element:last-child {
	border-radius: 0px 0px 4px 4px;
	border-bottom: solid 1px #c0c0c9;
}
.number-selector .number-selector-dropdown .link {
	color: #22a5ff;
}
.number-selector .number-selector-dropdown .number {
	margin-left: 5px;
}


/* Special rules to fit firefox's dropdown style */
@-moz-document url-prefix() {
	.number-selector .number-selector-displayed .handle {
		border: solid 1px #aaa;
		background-color: #eee;
		box-sizing: border-box;
	}
	.number-selector .number-selector-displayed .handle:before {
		top: 11px;
		right: 4px;
		border-color: #555 transparent;
		border-width: 6px 4px 0px;
		transform: none;
	}
	.number-selector .number-selector-displayed .handle:after {
		content: '';
		position: absolute;
		top: 8px;
		right: 4px;
		border-style: solid;
		border-color: #eee transparent;
		border-width: 6px 4px 0px;
	}
	.number-selector .number-selector-dropdown.open + .number-selector-displayed .handle:before {
		border-color: #000 transparent;
	}
	.number-selector .number-selector-dropdown.open + .number-selector-displayed .handle {
		background-color: #e7f2fc;
		border-color: #7eb4ea;
	}
}