#mobile_container {
	margin: auto;
	max-width: 1024px;
}
#mobile_container > .left-menu {
	float: left;
	margin: 5px 10px 0 11px;
	width: 179px;
}
#mobile_container > .left-menu .category {
	position: relative;
	display: block;
	padding: 15px 5px;
	height: 30px;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
	background-color: #f6f6f6;
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:    -moz-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:     -ms-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:      -o-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:         linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	color: #929799;
	font-size: 18px;
	line-height: 30px;
	cursor: pointer;
}
#mobile_container > .left-menu .category:hover { background: #eee; }
#mobile_container > .left-menu .category.active {
	position: relative;
	background: none #22ccff;
	color: #fff;
}
#mobile_container > .left-menu .category.active::after {
	position: absolute;
	top: 21px;
	right: -11px;
	display: block;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #22ccff;
	content: "";
}
#mobile_container > .left-menu .category.active .title i { color: #fff; }
#mobile_container > .left-menu .category.simple { margin: 10px auto 0 auto; }
#mobile_container > .left-menu .category .title {
	display: inline-block;
	overflow: hidden;
	max-width: 126px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 16px;
}
#mobile_container > .left-menu .category.simple .title { max-width: 165px; }
#mobile_container > .left-menu .category .title i {
	margin: 0px 8px 0px 4px;
	color: #929799;
}
#mobile_container > .left-menu .category-group { margin-top: 20px; }
#mobile_container > .left-menu .category-group .category {
	border-top: 0;
	border-bottom: 1px solid #dcdcdc;
	border-radius: 0;
}
#mobile_container > .left-menu .category-group .category:not(:first-child)::before {
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	width: 100%;
	height: 100%;
	border-top: 1px solid #fff;
	content: "";
}
#mobile_container > .left-menu .category-group .category:not(:first-child):hover::before { border-top: 1px solid #eee; }
#mobile_container > .left-menu .category-group .category.active:not(:first-child)::before { border-top: 1px solid #22ccff; }
#mobile_container > .left-menu .category-group .category:first-child {
	border: 1px solid #dcdcdc;
	border-radius: 4px 4px 0 0;
}
#mobile_container > .left-menu .category-group .category:last-child {
	border-radius: 0 0 4px 4px;
}
#mobile_container > .left-menu .category .title i.larger-margin { margin-right: 12px; }
#mobile_container .right-content {
	margin-bottom: 20px;
	margin-left: 201px;
	padding: 15px 15px 0;
}
#mobile_container .right-content > * {
	margin-top: 0;
	padding-top: 0;
}




.mobile-wrapper {
}
.mobile-wrapper .title-header {
	margin-top: 30px;
	text-align: center;
	width: 100%;
}
.mobile-wrapper .form-wrapper .button-wrapper {
	text-align: center;
	padding-bottom: 20px;
}
.mobile-wrapper .form-wrapper .button-wrapper > button{
	margin: 0 5px;
}
.mobile-wrapper#check_view .form-wrapper {
	background: #eee;
	border: 1px solid #22CCFF;
	border-radius: 4px;
	display: block;
	margin: 0px auto;
	padding: 0px 0px;
	width: 80%;
}
.mobile-wrapper#check_view .form-wrapper .results {
	text-align: center;
	margin-top: 10px;
}
.mobile-wrapper#check_view .form-wrapper .results img {
	margin: 10px;
}
.mobile-wrapper#check_view .form-wrapper .results .results-esn {
	background: #22CCFF;
	border: 1px solid #FFFFFF;
	border-radius: 4px;
	color: #FFF;
	border-radius: 4px;
	padding: 10px;
	margin: 10px 0;
}
.mobile-wrapper#list_view #addNewDevice {
	margin-right: 10px;
}
.mobile-wrapper#edit_view .form-wrapper .form-horizontal .control-group {
	margin-bottom: 10px;
}
.mobile-wrapper#edit_view .form-wrapper .form-horizontal .control-group .controls {
	line-height: 30px;
}
.mobile-wrapper#edit_view .ui-tabs {
	padding: 0px 0px !important;
}
.mobile-wrapper#edit_view .form-wrapper {
	background: #eee;
	border: 1px solid #22CCFF;
	border-radius: 4px;
	margin: 30px auto;
	width: 80%;
	display: block;
}
.mobile-wrapper#edit_view .form-wrapper label input[type="checkbox"] {
	margin-right: 5px;
	margin-top: -2px;
}

#advancedrouting {
	display:none;
	border: 1px;
}


#mobile_list .mobile-header .add-group i {
	display: block;
	color: #929799;
	text-decoration: none;
}
#mobile_list .mobile-header .search-box { margin: 16px 0 16px 15px; }
#mobile_list .mobile-grid {
/*	margin-right: 20px;
	margin-left: 20px;
	margin-top: 20px;*/
	font-family: verdana;
}
#mobile_list .mobile-grid i.icon-plus {
	margin-left: 5px;
}
#mobile_list .mobile-grid .empty-search-row,
#mobile_list .mobile-grid .no-mobile-row {
	display: none;
	padding: 16px;
	text-align: center;
}
#mobile_list .mobile-grid .grid-row.title,
#mobile_list .mobile-grid .grid-row .mobile-cells{
	height: 50px;
	line-height: 50px; 
}
#mobile_list .mobile-grid .grid-row.title .grid-cell {
	padding-left: 10px;
	text-align: left;
}
#mobile_list .mobile-grid .grid-row .grid-cell {
	display: inline-block;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 10px;
	width: 20%;
	height: 100%;
	vertical-align: top;
}
#mobile_list .mobile-grid .grid-row .grid-cell.active {
	height: 51px;
	border-right: 1px solid #a6a7a9;
	border-bottom-left-radius: 0;
	background: #e0e0e0;
}
#xxxmobile_list .mobile-grid .mobile-rows .grid-cell:not(.active):hover {
	border-right: 1px solid #eee;
	background: #eee;
	cursor: pointer;
}
#xxxmobile_list .mobile-grid .mobile-rows .grid-cell.active:hover {
	background-color: #e0e0e0;
	cursor: pointer;
}
#xxxmobile_list .mobile-grid .mobile-rows .grid-cell:last-child:not(.active):hover { border-right: 1px solid #dcdcdc; }
#mobile_list .mobile-grid .grid-row .grid-cell:not(:last-child) { white-space: nowrap; }
#mobile_list .mobile-grid .grid-row .grid-cell.centered {
	padding: 0;
	text-align: center;
}
#mobile_list .mobile-grid .grid-row .grid-cell.right-aligned {
	padding: 0 10px 0 0;
	text-align: right;
}
#mobile_list .mobile-grid .grid-row .grid-cell.devices i,
#mobile_list .mobile-grid .grid-row .grid-cell.features i {
	margin: 0 5px;
}
#mobile_list .mobile-grid .grid-row .grid-cell.features .navbar {
	margin-bottom: 0;
	text-align: left;
}
#mobile_list .mobile-grid .grid-row .grid-cell.features a.dropdown-toggle {
	padding: 15px 7px 2px 15px;
	background: transparent !important;
	text-align: left;
}
#mobile_list .mobile-grid .grid-row .edit-groups {
	border: 1px solid #a6a7a9;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background: #e0e0e0;
}
#mobile_list .mobile-grid .grid-row .grid-cell.name,
#mobile_list .mobile-grid .grid-row .grid-cell.phone-number {
	width: 25%;
}
#mobile_list .mobile-grid .grid-row .grid-cell.members,
#mobile_list .mobile-grid .grid-row .grid-cell.extension {
	width: 15%;
}
#mobile_list .mobile-rows .grid-row {
	margin-bottom: 0px;
	border-radius: 4px;
}
#mobile_list .mobile-rows .grid-cell {
	border: 1px solid #dcdcdc;
	border-right: 1px solid #fff;
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:    -moz-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:     -ms-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:      -o-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:         linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
}
#mobile_list .mobile-rows .grid-cell.active {
	border: 1px solid #a6a7a9;
	border-bottom: 0;
}
#mobile_list .mobile-rows .grid-cell:first-child {
	border-radius: 4px 0 0 4px;
}
#mobile_list .mobile-rows .grid-cell:last-child {
	border-right: 1px solid #dcdcdc;
	border-radius: 0 4px 4px 0;
}
#mobile_list .mobile-rows .grid-cell.active:first-child {
	border: 1px solid #a6a7a9;
	border-bottom: 0;
}
#mobile_list .mobile-rows .grid-row.active .grid-cell:last-child { border-bottom-right-radius: 0; }
#mobile_list .mobile-rows .grid-row.active .grid-cell:first-child { border-bottom-left-radius: 0; }
#mobile_list .mobile-name { width: 25% !important; }
#mobile_list .mobile-esn { width: 25% !important; }
#mobile_list .mobile-number { width: 16% !important; }
#mobile_list .mobile-network { width: 10% !important; }
#mobile_list .mobile-services { width: 15% !important; }
#mobile_list .mobile-services i { margin-right: 4px; cursor:pointer; }
#mobile_list .mobile-actions { width: 9% !important; }
#mobile_list .mobile-actions i { margin-right: 4px; cursor:pointer; }
#mobile_list .actions {
	position: relative;
	padding: 15px;
	height: 30px;
	border-top: 1px solid #fff;
	line-height: 30px;
}
#mobile_list .actions:before {
	position: absolute;
	top: -2px;
	right: 0;
	display: block;
	width: 100%;
	border-top: 1px solid #a6a7a9;
	content: "";
}
#mobile_list .mobile-grid i.icon-telicon-multiple-items {
    margin-left: 15px;
    font-size: 14px;
}



.mobile-wrapper#edit_view .sprint-infos {
	background: #FFF;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	padding: 10px;
	margin: 10px;
}
.mobile-wrapper#edit_view .sprint-infos .sprint-line > div{
	display: inline-block;
	float: left;
	padding: 5px 10px;
}
.mobile-wrapper#edit_view .sprint-infos .sprint-line .sprint-label{
	color: #22CCFF;
	font-weight: bold;
	text-align: right;
	width: 40%;
}
.mobile-wrapper#edit_view .sprint-infos .sprint-line .value{
	height: 20px;
	line-height: 20px;
	width: 40%;
}

/*
.mobile-wrapper#edit_view .ui-helper-clearfix {height:1px !important;  display:inline; clear:right;}
.mobile-wrapper#edit_view .ui-helper-clearfix:after {height:1px !important;  display:inline; clear:right;}
*/

/*WIZARDS*/

.bootstrapWizard {
  display: block;
  list-style: none;
  padding: 0;
  position: relative;
  width: 100%;
}
.bootstrapWizard a:hover,
.bootstrapWizard a:active,
.bootstrapWizard a:focus {
  text-decoration: none;
}
.bootstrapWizard li {
  display: block;
  float: left;
  width: 25%;
  text-align: center;
  padding-left: 0;
}
.bootstrapWizard li:before {
  border-top: 3px solid #55606E;
  content: "";
  display: block;
  font-size: 0;
  overflow: hidden;
  position: relative;
  top: 11px;
  right: 1px;
  width: 100%;
  z-index: 1;
}
.bootstrapWizard li:first-child:before {
  left: 50%;
  max-width: 50%;
}
.bootstrapWizard li:last-child:before {
  max-width: 50%;
  width: 50%;
}
.bootstrapWizard li.complete .step {
  background: #0aa66e;
  padding: 1px 6px;
  border: 3px solid #55606E;
}
.bootstrapWizard li .step i {
  font-size: 10px;
  font-weight: normal;
  position: relative;
  top: -1.5px;
}
.bootstrapWizard li .step {
  background: #B2B5B9;
  color: #ffffff;
  display: inline;
  font-size: 15px;
  font-weight: bold;
  line-height: 12px;
  padding: 7px 13px;
  border: 3px solid transparent;
  border-radius: 50%;
  line-height: normal;
  position: relative;
  text-align: center;
  z-index: 2;
  transition: all 0.1s linear 0s;
}
.bootstrapWizard li.active .step,
.bootstrapWizard li.active.complete .step {
  background: #0091d9;
  color: #ffffff;
  font-weight: bold;
  padding: 7px 13px;
  font-size: 15px;
  border-radius: 50%;
  border: 3px solid #55606E;
}
.bootstrapWizard li.complete .title,
.bootstrapWizard li.active .title {
  color: #2B3D53;
}
.bootstrapWizard li .title {
  color: #bfbfbf;
  display: block;
  font-size: 13px;
  line-height: 15px;
  max-width: 100%;
  position: relative;
  table-layout: fixed;
  text-align: center;
  top: 20px;
  word-wrap: break-word;
  z-index: 2;
}
.wizard-actions {
  display: block;
  list-style: none;
  padding: 0;
  position: relative;
  width: 100%;
}
.wizard-actions li {
  display: inline;
}
.tab-content.transparent {
  background-color: transparent;
}
.activation-Wizard-header {margin-bottom: 20px !important}
.activation-Wizard-body {margin-top: 20px !important}

.helptitle {font-weight:bold;}
#cancel_sprint_phone {float:right;}

