<div>
	<div id="accounts_manager_view" class="clearfix">
	    <div class="left-menu">
	    	<div class="search-box">
	            <i class="icon-search"></i>
	            <input id="account_search_input" type="text" class="search-query" placeholder="Search...">
	        </div>
	        <div class="account-list-container">
				<ul class="account-list">
				</ul>
				<ul class="account-list-slider">
				</ul>
			</div>
	    </div>
	    <div class="content">
	    	<div class="top-bar">
	    		<div id="add_account_link">
	    			<i class="icon-plus-sign icon-large"></i>
	    			<span>Add New Account</span>
	    		</div>
	    		<div class="account-breadcrumbs">
	    			<a id="main_account_link" href="#">N/A</a>
	    		</div>
	    	</div>
	    	<div class="main-content container-fluid">
	    		
	    	</div>
	    </div>
	</div>
</div>