<div>
	<div id="accounts_manager_view" class="clearfix">
		<div class="edition-view">
			<div class="left-menu">
				<div class="search-box">
					<i class="icon-search"></i>
					<input id="account_search_input" type="text" class="search-query" placeholder="{{i18n.search}}...">
				</div>
				<div class="account-list-container">
					<div class="account-list-add">
						<i class="icon-plus-sign icon-large"></i>
						<span>{{ i18n.addAccount }}</span>
					</div>
					<ul class="account-list">
					</ul>
					<ul class="account-list-slider">
					</ul>
				</div>
			</div>
			<div class="content">
				<div class="top-bar">
					<div class="account-breadcrumbs">
						<span><a id="main_account_link" href="#"></a></span>
					</div>
				</div>
				<div class="main-content container-fluid">
					
				</div>
			</div>
		</div>
		<div class="creation-view">
		</div>
	</div>
</div>