{{#each accounts}}
	<li class="account-list-element {{#compare this.id "===" ../selectedId}}active{{/compare}}" data-account_id="{{this.id}}">
		{{#if this.children}}
			{{#if this.name}}
				<div class="account-link smaller-link">
					<div class="account-name">{{this.name}}</div>
					<div class="account-realm">{{this.realm}}</div>
				</div>
				<div class="account-children-link"><i class="icon-caret-right"></i></div>
			{{else}}
				<div class="account-link smaller-link disabled">
					<div class="account-error">{{../../../i18n.missingAccount}}</div>
				</div>
				<div class="account-children-link"><i class="icon-caret-right"></i></div>
			{{/if}}
		{{else}}
			<div class="account-link">
				<div class="account-name">{{this.name}}</div>
				<div class="account-realm">{{this.realm}}</div>
			</div>
		{{/if}}
	</li>
{{/each}}