<div class="row-fluid">
	<div class="span12">
		<div class="tab-bar">
			<button type="button" id="accountsmanager_use_account_btn" class="btn btn-success pull-right">{{ i18n.useAccount }}</button>
			<ul class="nav nav-tabs account-tabs">
				<li class="active"><a href="#accountsmanager_overview_tab">{{ i18n.tabTitles.overview }}</a></li>
				<li class="{{#unless account.enabled}}disabled{{/unless}}"><a href="#accountsmanager_serviceplans_tab">{{ i18n.tabTitles.servicePlans }}</a></li>
				<li class="{{#unless account.enabled}}disabled{{/unless}}"><a href="#accountsmanager_limits_tab">{{ i18n.tabTitles.limits }}</a></li>
				<li class="{{#unless account.enabled}}disabled{{/unless}}"><a href="#accountsmanager_restrictions_tab">{{ i18n.tabTitles.restrictions }}</a></li>
				<li><a href="#accountsmanager_notes_tab">{{ i18n.tabTitles.notes }}</a></li>
			</ul>
		</div>
		<div class="tab-content">
			<div class="tab-pane active" id="accountsmanager_overview_tab">
				<ul class="list-settings">
					<!-- Account Status -->
					<li class="settings-item" data-name="accountsmanager_account_status">
						<a class="settings-link clearfix">
							<span class="title">{{ i18n.accountStatus }}</span>
							<span class="description">
								{{#if account.enabled}}
									{{ i18n.active }}
								{{else}}
									{{ i18n.disabled }}
								{{/if}}
								{{#if account.created}}
								<span class="date">({{ i18n.createdOn }} {{account.created}})</span>
								{{/if}}
							</span>
							<span class="update">
								<i class="icon-cog icon-small"></i>
								<span class="text">{{ i18n.editSetting }}</span>
							</span>
							<span class="changes-saved">{{ i18n.changesSaved }}</span>
						</a>
						<div class="settings-item-content">
							<div class="row-fluid">
								<div class="span12">
									<form class="form-horizontal" id="form_accountsmanager_account_status">
										<div class="control-group">
											<label class="control-label">
												{{ i18n.accountId }}
											</label>
											<div class="controls">
												<div class="plain-text">{{account.id}}</div>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label">
												{{#if account.enabled}}
													{{ i18n.disableAccount }}
												{{else}}
													{{ i18n.enableAccount }}
												{{/if}}
											</label>
											<div class="controls">
												{{#if account.enabled}}
												<input type="hidden" name="enabled" value="false"/>
												<button type="button" data-field="accountsmanager_account_status" class="btn btn-warning change">
													{{ i18n.disable }}
												</button>
												{{else}}
												<input type="hidden" name="enabled" value="true"/>
												<button type="button" data-field="accountsmanager_account_status" class="btn btn-success change">
													{{ i18n.enable }}
												</button>
												{{/if}}
											</div>
										</div>
										<div class="control-group">
											<label class="control-label">
												{{ i18n.deleteAccount }}
											</label>
											<div class="controls">
												<button type="button" id="accountsmanager_delete_account_btn" class="btn btn-danger">{{ i18n.delete }}</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</li>
					<!-- Account name -->
					<li class="settings-item {{#unless account.enabled}}disabled{{/unless}}" data-name="accountsmanager_account_name">
						<a class="settings-link clearfix">
							<span class="title">{{ i18n.accountName }}</span>
							<span class="description">{{account.name}}</span>
							<span class="update">
								<i class="icon-cog icon-small"></i>
								<span class="text">{{ i18n.editSetting }}</span>
							</span>
							<span class="changes-saved">{{ i18n.changesSaved }}</span>
						</a>
						<div class="settings-item-content">
							<div class="row-fluid">
								<div class="span12">
									<form class="form-horizontal" id="form_accountsmanager_account_name">
										<div class="control-group">
											<label class="control-label" for="accountsmanager_account_name">{{ i18n.accountName }}</label>
											<div class="controls">
												<input required type="text" id="accountsmanager_account_name" name="name" value="{{account.name}}" data-original_value="{{account.name}}" maxlength="32" />
											</div>
										</div>
										<div class="control-group">
											<div class="controls action-bar">
												<a href="#" class="cancel">{{ i18n.cancel }}</a>
												<button type="submit" class="btn btn-success change" data-field="accountsmanager_account_name">{{ i18n.saveChanges }}</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</li>
					<!-- Account realm -->
					<li class="settings-item {{#unless account.enabled}}disabled{{/unless}}" data-name="accountsmanager_account_realm">
						<a class="settings-link clearfix">
							<span class="title">{{ i18n.accountRealm }}</span>
							<span class="description">{{account.realm}}</span>
							<span class="update">
								<i class="icon-cog icon-small"></i>
								<span class="text">{{ i18n.editSetting }}</span>
							</span>
							<span class="changes-saved">{{ i18n.changesSaved }}</span>
						</a>
						<div class="settings-item-content">
							<div class="row-fluid">
								<div class="span12">
									<form class="form-horizontal" id="form_accountsmanager_account_realm">
										<div class="control-group">
											<label class="control-label" for="accountsmanager_account_realm">{{ i18n.accountRealm }}</label>
											<div class="controls">
												<input required type="text" id="accountsmanager_account_realm" name="realm" value="{{account.realm}}" data-original_value="{{account.realm}}" maxlength="32" />
											</div>
										</div>
										<div class="control-group">
											<div class="controls action-bar">
												<a href="#" class="cancel">{{ i18n.cancel }}</a>
												<button type="submit" class="btn btn-success change" data-field="accountsmanager_account_realm">{{ i18n.saveChanges }}</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</li>
					<!-- Account admins -->
					<li class="settings-item {{#unless account.enabled}}disabled{{/unless}}" data-name="accountsmanager_account_admins">
						<a class="settings-link clearfix">
							<span class="title">{{ i18n.accountAdmins }} (<span class="total-admins">{{accountAdmins.length}}</span>)</span>
								<div class="description">
									<ul>
										<li class="first-admin-name">
											{{#if accountAdmins.length}}
												{{accountAdmins.0.first_name}}&nbsp;{{accountAdmins.0.last_name}}
											{{else}}
												-
											{{/if}}
										</li>
										<li class="first-admin-email">{{accountAdmins.0.email}}</li>
									</ul>
								</div>
							<span class="update">
								<i class="icon-cog icon-small"></i>
								<span class="text">{{ i18n.editSetting }}</span>
							</span>
							<span class="changes-saved">{{ i18n.changesSaved }}</span>
						</a>
						<div class="settings-item-content">
							<div class="row-fluid">
								<div class="span12">
									<div id="form_accountsmanager_account_admins">
									</div>
								</div>
							</div>
						</div>
					</li>
					<!-- Technical Contact -->
					<li class="settings-item {{#unless account.enabled}}disabled{{/unless}}" data-name="accountsmanager_technical_contact">
						<a class="settings-link clearfix">
							<span class="title">{{ i18n.technicalContact.label }}</span>
							<div class="description">
								<ul>
								{{#if account.contact.technical.name}}
									<li>{{account.contact.technical.name}}</li>
								{{/if}}
								{{#if account.contact.technical.email}}
									<li>{{account.contact.technical.email}}</li>
								{{/if}}
								{{#if account.contact.technical.number}}
									<li>{{formatPhoneNumber account.contact.technical.number}}</li>
								{{/if}}
								</ul>
							</div>
							<span class="update">
								<i class="icon-cog icon-small"></i>
								<span class="text">{{ i18n.editSetting }}</span>
							</span>
							<span class="changes-saved">{{ i18n.changesSaved }}</span>
						</a>
						<div class="settings-item-content">
							<div class="row-fluid">
								<div class="span12">
									<form class="form-horizontal" id="form_accountsmanager_technical_contact">
										<div class="control-group">
											<label class="control-label" for="accountsmanager_technical_contact_name">{{ i18n.technicalContact.name }}</label>
											<div class="controls">
												<input type="text" id="accountsmanager_technical_contact_name" name="contact.technical.name" value="{{account.contact.technical.name}}" data-original_value="{{account.contact.technical.name}}" maxlength="32" />
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="accountsmanager_technical_contact_email">{{ i18n.technicalContact.email }}</label>
											<div class="controls">
												<input type="email" id="accountsmanager_technical_contact_email" name="contact.technical.email" value="{{account.contact.technical.email}}" data-original_value="{{account.contact.technical.email}}" maxlength="32" />
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="accountsmanager_technical_contact_number">{{ i18n.technicalContact.number }}</label>
											<div class="controls">
												<input type="text" id="accountsmanager_technical_contact_number" name="contact.technical.number" value="{{account.contact.technical.number}}" data-original_value="{{account.contact.technical.number}}" maxlength="12" />
											</div>
										</div>
										<div class="control-group">
											<div class="controls action-bar">
												<a href="#" class="cancel">{{ i18n.cancel }}</a>
												<button type="submit" class="btn btn-success change" data-field="accountsmanager_technical_contact">{{ i18n.saveChanges }}</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</li>
					<!-- Billing Contact -->
					<li class="settings-item {{#unless account.enabled}}disabled{{/unless}}" data-name="accountsmanager_billing_contact">
						<a class="settings-link clearfix">
							<span class="title">{{ i18n.billingContact.label }}</span>
							<div class="description">
								<ul>
								{{#if account.contact.billing.name}}
									<li>{{account.contact.billing.name}}</li>
								{{/if}}
								{{#if account.contact.billing.email}}
									<li>{{account.contact.billing.email}}</li>
								{{/if}}
								{{#if account.contact.billing.number}}
									<li>{{formatPhoneNumber account.contact.billing.number}}</li>
								{{/if}}
								</ul>
							</div>
							<span class="update">
								<i class="icon-cog icon-small"></i>
								<span class="text">{{ i18n.editSetting }}</span>
							</span>
							<span class="changes-saved">{{ i18n.changesSaved }}</span>
						</a>
						<div class="settings-item-content">
							<div class="row-fluid">
								<div class="span12">
									<form class="form-horizontal" id="form_accountsmanager_billing_contact">
										<div class="control-group">
											<label class="control-label" for="accountsmanager_billing_contact_name">{{ i18n.billingContact.name }}</label>
											<div class="controls">
												<input type="text" id="accountsmanager_billing_contact_name" name="contact.billing.name" value="{{account.contact.billing.name}}" data-original_value="{{account.contact.billing.name}}" maxlength="32" />
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="accountsmanager_billing_contact_email">{{ i18n.billingContact.email }}</label>
											<div class="controls">
												<input type="email" id="accountsmanager_billing_contact_email" name="contact.billing.email" value="{{account.contact.billing.email}}" data-original_value="{{account.contact.billing.email}}" maxlength="32" />
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="accountsmanager_billing_contact_number">{{ i18n.billingContact.number }}</label>
											<div class="controls">
												<input type="text" id="accountsmanager_billing_contact_number" name="contact.billing.number" value="{{account.contact.billing.number}}" data-original_value="{{account.contact.billing.number}}" maxlength="32" />
											</div>
										</div>
										<div class="control-group">
											<div class="controls action-bar">
												<a href="#" class="cancel">{{ i18n.cancel }}</a>
												<button type="submit" class="btn btn-success change" data-field="accountsmanager_billing_contact">{{ i18n.saveChanges }}</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</li>
					<!-- Account timezone -->
					<li class="settings-item {{#unless account.enabled}}disabled{{/unless}}" data-name="accountsmanager_account_timezone">
						<a class="settings-link clearfix">
							<span class="title">{{ i18n.accountTimezoneTitle }}</span>
							<div class="description">
								<ul>
									<li>{{account.timezone}}</li>
									<li>{{account.language}}</li>
								</ul>
							</div>
							<span class="update">
								<i class="icon-cog icon-small"></i>
								<span class="text">{{ i18n.editSetting }}</span>
							</span>
							<span class="changes-saved">{{ i18n.changesSaved }}</span>
						</a>
						<div class="settings-item-content">
							<div class="row-fluid">
								<div class="span12">
									<form class="form-horizontal" id="form_accountsmanager_account_timezone">
										<div class="control-group">
											<label class="control-label" for="accountsmanager_account_timezone">{{ i18n.accountTimezone }}</label>
											<div class="controls">
												<select id="accountsmanager_account_timezone" name="timezone" data-original_value="{{account.timezone}}"></select>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="accountsmanager_language">{{ i18n.accountLanguage }}</label>
											<div class="controls">
												<select id="user_language" name="language">
                    								<option value="auto">{{i18n.languages.auto}}</option>
                    								<option value="en-US"{{#compare account.language '===' 'en-US'}} selected{{/compare}}>{{i18n.languages.americanEnglish}}</option>
                    								<option value="fr-FR"{{#compare account.language '===' 'fr-FR'}} selected{{/compare}}>{{i18n.languages.frenchFrench}}</option>
                								</select>
											</div>
										</div>
										<div class="control-group">
											<div class="controls action-bar">
												<a href="#" class="cancel">{{ i18n.cancel }}</a>
												<button type="submit" class="btn btn-success change" data-field="accountsmanager_account_timezone">{{ i18n.saveChanges }}</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="tab-pane" id="accountsmanager_serviceplans_tab">
				<div class="serviceplans-container">
					<div class="serviceplans-update clearfix">
						<legend>{{ i18n.activeServicePlan }}</legend>
						{{#compare isReseller "===" true}}
						<form>
							<div class="controls-group">
								<div class="controls">
									<select id="accountsmanager_serviceplan_select">
										<option value="" {{#unless accountServicePlans.current.id}}selected{{/unless}} >- {{ i18n.none }} -</option>
										{{#each accountServicePlans.list}}
										<option value="{{this.id}}" {{#compare ../accountServicePlans.current.id "===" this.id}}selected{{/compare}}>{{this.name}}</option>
										{{/each}}
									</select>
								</div>
							</div>
							<div class="controls-group">
								<div class="controls">
									<button type="button" id="accountsmanager_serviceplan_save" class="btn btn-success pull-right">{{ i18n.save }}</button>
								</div>
							</div>
						</form>
						{{else}}
							<span>
								{{#if accountServicePlans.current.id}}
									{{accountServicePlans.current.name}}
								{{else}}
									- {{ i18n.none }} -
								{{/if}}
							</span>
						{{/compare}}
					</div>
					{{#compare isReseller "===" true}}
					<div class="serviceplans-maintenance clearfix">
						<form>
							<legend>{{ i18n.servicePlanMaintenance }}</legend>
							<div class="controls-group">
								<div class="controls">
									<button type="button" id="accountsmanager_serviceplan_reconciliation" class="btn btn-primary">{{ i18n.servicePlanReconciliation }}</button>
									<button type="button" id="accountsmanager_serviceplan_synchronization" class="btn btn-primary">{{ i18n.servicePlanSynchronization }}</button>
								</div>
							</div>
						</form>
					</div>
					{{/compare}}
				</div>
			</div>

			<div class="tab-pane" id="accountsmanager_limits_tab">
				<form id="accountsmanager_callrestrictions_form">
				</form>
				<div class="clearfix buttons-div">
					<button type="button" id="accountsmanager_limits_save" class="btn btn-success">{{ i18n.update }}</button>
				</div>
			</div>

			<div class="tab-pane" id="accountsmanager_restrictions_tab">
				<form class="clearfix" id="accountsmanager_uirestrictions_form">
				</form>
				<div class="buttons-div">
					<button type="button" id="accountsmanager_uirestrictions_save" class="btn btn-success">{{ i18n.update }}</button>
				</div>
			</div>

			<div class="tab-pane" id="accountsmanager_notes_tab">
				<legend>{{ i18n.notesLegend }}</legend>
				<div class="clearfix wysiwyg-container">
					<div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
						<div class="btn-group">
							<a class="btn dropdown-toggle" data-toggle="dropdown" title data-original-title="{{ i18n.wysiwygLabels.fontSize.title }}">
								<i class="icon-text-height"></i>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a data-edit="fontSize 5"><font size="5">{{ i18n.wysiwygLabels.fontSize.huge }}</font></a></li>
								<li><a data-edit="fontSize 3"><font size="3">{{ i18n.wysiwygLabels.fontSize.normal }}</font></a></li>
								<li><a data-edit="fontSize 1"><font size="1">{{ i18n.wysiwygLabels.fontSize.small }}</font></a></li>
							</ul>
						</div>
						<div class="btn-group">
							<a class="btn" data-edit="bold" title data-original-title="{{ i18n.wysiwygLabels.bold }} (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
							<a class="btn" data-edit="italic" title data-original-title="{{ i18n.wysiwygLabels.italic }} (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
							<a class="btn" data-edit="underline" title data-original-title="{{ i18n.wysiwygLabels.underline }} (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
							<a class="btn" data-edit="strikethrough" title data-original-title="{{ i18n.wysiwygLabels.strikethrough }}"><i class="icon-strikethrough"></i></a>
						</div>
						<div class="btn-group">
							<a class="btn dropdown-toggle" data-toggle="dropdown" title data-original-title="{{ i18n.wysiwygLabels.fontColor }}">
								<i class="icon-font"></i>
								<b class="caret"></b>
							</a>
							<div class="dropdown-menu color-menu">
								{{#each wysiwygColorList}}
									<a data-edit="foreColor #{{this}}" style="background-color: #{{this}}"></a>
								{{/each}}
							</div>
						</div>
						<div class="btn-group">
							<a class="btn dropdown-toggle" data-toggle="dropdown" title data-original-title="{{ i18n.wysiwygLabels.alignment.title }}">
								<i class="icon-file-text"></i>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu submenu">
								<a class="btn" data-edit="justifyLeft" title data-original-title="{{ i18n.wysiwygLabels.alignment.left }} (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
								<a class="btn" data-edit="justifyCenter" title data-original-title="{{ i18n.wysiwygLabels.alignment.center }} (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
								<a class="btn" data-edit="justifyRight" title data-original-title="{{ i18n.wysiwygLabels.alignment.right }} (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
								<a class="btn" data-edit="justifyFull" title data-original-title="{{ i18n.wysiwygLabels.alignment.justify }} (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
							</ul>
						</div>
						<div class="btn-group">
							<a class="btn dropdown-toggle" data-toggle="dropdown" title data-original-title="{{ i18n.wysiwygLabels.list.title }}">
								<i class="icon-list"></i>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu submenu">
								<a class="btn" data-edit="insertUnorderedList" title data-original-title="{{ i18n.wysiwygLabels.list.bullet }}"><i class="icon-list-ul"></i></a>
								<a class="btn" data-edit="insertOrderedList" title data-original-title="{{ i18n.wysiwygLabels.list.number }}"><i class="icon-list-ol"></i></a>
							</ul>
						</div>
						<div class="btn-group">
							<a class="btn" data-edit="outdent" title data-original-title="{{ i18n.wysiwygLabels.reverseIndent }} (Shift+Tab)"><i class="icon-indent-left"></i></a>
							<a class="btn" data-edit="indent" title data-original-title="{{ i18n.wysiwygLabels.indent }} (Tab)"><i class="icon-indent-right"></i></a>
						</div>
						<div class="btn-group">
							<a class="btn dropdown-toggle" data-toggle="dropdown" title data-original-title="{{ i18n.wysiwygLabels.insertLink }}"><i class="icon-link"></i></a>
							<div class="dropdown-menu input">
								<input class="span2" placeholder="URL" type="text" data-edit="createlink">
								<button class="btn btn-primary" type="button">{{ i18n.add }}</button>
							</div>
							<a class="btn" data-edit="unlink" title data-original-title="{{ i18n.wysiwygLabels.removeLink }}"><i class="icon-unlink"></i></a>
						</div>
						<div class="btn-group">
							<a class="btn" data-edit="undo" title data-original-title="{{ i18n.wysiwygLabels.undo }} (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
							<a class="btn" data-edit="redo" title data-original-title="{{ i18n.wysiwygLabels.redo }} (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
						</div>
						<div class="btn-group">
							<a class="btn" data-edit="insertHorizontalRule" title data-original-title="{{ i18n.wysiwygLabels.horizontalRule }}"><i class="icon-minus"></i></a>
						</div>
					</div>
					<div id="editor" class="wysiwyg-editor"></div>
				</div>
				<div class="buttons-div">
					<button type="button" id="accountsmanager_notes_save" class="btn btn-success">{{ i18n.update }}</button>
				</div>
			</div>
		</div>
	</div>
</div>
