<div class="row-fluid">
	<div class="span12">
		<ul class="nav nav-tabs account-tabs">
			<li class="active"><a href="#accountsmanager_overview_tab">{{ i18n.tabTitles.overview }}</a></li>
			<li class="{{#unless account.enabled}}disabled{{/unless}}"><a href="#accountsmanager_serviceplans_tab">{{ i18n.tabTitles.servicePlans }}</a></li>
			<li class="{{#unless account.enabled}}disabled{{/unless}}"><a href="#accountsmanager_limits_tab">{{ i18n.tabTitles.limits }}</a></li>
			<li class="{{#unless account.enabled}}disabled{{/unless}}"><a href="#accountsmanager_restrictions_tab">{{ i18n.tabTitles.restrictions }}</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="accountsmanager_overview_tab">
				<ul class="list-settings">
					<!-- Account Status -->
					<li class="settings-item" data-name="accountsmanager_account_status">
						<a class="settings-link clearfix">
							<span class="title">{{ i18n.accountStatus }}</span>
							<span class="description">
								{{#if account.enabled}}
									{{ i18n.active }}
								{{else}}
									{{ i18n.disabled }}
								{{/if}}
								{{#if account.created}}
								<span class="date">({{ i18n.createdOn }} {{account.created}})</span>
								{{/if}}
							</span>
							<span class="update">
								<i class="icon-cog icon-small"></i>
								<span class="text">{{ i18n.editSettings }}</span>
							</span>
							<span class="changes-saved">{{ i18n.changesSaved }}</span>
						</a>
						<div class="settings-item-content">
							<div class="row-fluid">
								<div class="span12">
									<form class="form-horizontal" id="form_accountsmanager_account_status">
										<a href="#" class="close-link">
											<i class="icon-remove icon-small"></i>
											<span>{{ i18n.close }}</span>
										</a>
										<div class="control-group">
											<label class="control-label">
												{{ i18n.accountId }}
											</label>
											<div class="controls">
												<div class="plain-text">{{account.id}}</div>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label">
												{{ i18n.masquerading }}
											</label>
											<div class="controls">
												<button id="accountsmanager_use_account_btn" class="btn btn-primary">{{ i18n.useAccount }}</button>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label">
												{{#if account.enabled}}
													{{ i18n.disableAccount }}
												{{else}}
													{{ i18n.enableAccount }}
												{{/if}}
											</label>
											<div class="controls">
												{{#if account.enabled}}
												<input type="hidden" name="enabled" value="false"/>
												<button data-field="accountsmanager_account_status" class="btn btn-warning change">
													{{ i18n.disable }}
												</button>
												{{else}}
												<input type="hidden" name="enabled" value="true"/>
												<button data-field="accountsmanager_account_status" class="btn btn-success change">
													{{ i18n.enable }}
												</button>
												{{/if}}
											</div>
										</div>
										<div class="control-group">
											<label class="control-label">
												{{ i18n.deleteAccount }}
											</label>
											<div class="controls">
												<button id="accountsmanager_delete_account_btn" class="btn btn-danger">{{ i18n.delete }}</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</li>
					<!-- Account name -->
					<li class="settings-item {{#unless account.enabled}}disabled{{/unless}}" data-name="accountsmanager_account_name">
						<a class="settings-link clearfix">
							<span class="title">{{ i18n.accountName }}</span>
							<span class="description">{{account.name}}</span>
							<span class="update">
								<i class="icon-cog icon-small"></i>
								<span class="text">{{ i18n.editSettings }}</span>
							</span>
							<span class="changes-saved">{{ i18n.changesSaved }}</span>
						</a>
						<div class="settings-item-content">
							<div class="row-fluid">
								<div class="span12">
									<form class="form-horizontal" id="form_accountsmanager_account_name">
										<a href="#" class="close-link">
											<i class="icon-remove icon-small"></i>
											<span>{{ i18n.close }}</span>
										</a>
										<div class="control-group">
											<label class="control-label" for="accountsmanager_account_name">{{ i18n.accountName }}</label>
											<div class="controls">
												<input type="text" id="accountsmanager_account_name" name="name" value="{{account.name}}" data-original_value="{{account.name}}"/>
											</div>
										</div>
										<div class="control-group">
											<div class="controls">
												<button class="btn btn-danger cancel">{{ i18n.cancel }}</button>
												<button type="submit" class="btn btn-success change" data-field="accountsmanager_account_name">{{ i18n.saveChanges }}</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</li>
					<!-- Account realm -->
					<li class="settings-item {{#unless account.enabled}}disabled{{/unless}}" data-name="accountsmanager_account_realm">
						<a class="settings-link clearfix">
							<span class="title">{{ i18n.accountRealm }}</span>
							<span class="description">{{account.realm}}</span>
							<span class="update">
								<i class="icon-cog icon-small"></i>
								<span class="text">{{ i18n.editSettings }}</span>
							</span>
							<span class="changes-saved">{{ i18n.changesSaved }}</span>
						</a>
						<div class="settings-item-content">
							<div class="row-fluid">
								<div class="span12">
									<form class="form-horizontal" id="form_accountsmanager_account_realm">
										<a href="#" class="close-link">
											<i class="icon-remove icon-small"></i>
											<span>{{ i18n.close }}</span>
										</a>
										<div class="control-group">
											<label class="control-label" for="accountsmanager_account_realm">{{ i18n.accountRealm }}</label>
											<div class="controls">
												<input type="text" id="accountsmanager_account_realm" name="realm" value="{{account.realm}}" data-original_value="{{account.realm}}"/>
											</div>
										</div>
										<div class="control-group">
											<div class="controls">
												<button class="btn btn-danger cancel">{{ i18n.cancel }}</button>
												<button type="submit" class="btn btn-success change" data-field="accountsmanager_account_realm">{{ i18n.saveChanges }}</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</li>
					<!-- Account admins -->
					<li class="settings-item {{#unless account.enabled}}disabled{{/unless}}" data-name="accountsmanager_account_admins">
						<a class="settings-link clearfix">
							<span class="title">{{ i18n.accountAdmins }} ({{accountAdmins.length}})</span>
							{{#if accountAdmins.length}}
								<div class="description">
									<ul>
										<li>{{accountAdmins.0.firstName}}&nbsp;{{accountAdmins.0.lastName}}</li>
										<li>{{accountAdmins.0.email}}</li>
										{{#if accountAdmins.0.contactNumber}}
										<li>{{formatPhoneNumber accountAdmins.0.contactNumber}}</li>
										{{/if}}
									</ul>
								</div>
							{{else}}
								<span class="description">-</span>
							{{/if}}
							<span class="update">
								<i class="icon-cog icon-small"></i>
								<span class="text">{{ i18n.editSettings }}</span>
							</span>
							<span class="changes-saved">{{ i18n.changesSaved }}</span>
						</a>
						<div class="settings-item-content">
							<div class="row-fluid">
								<div class="span12">
									<div id="form_accountsmanager_account_admins">
									</div>
								</div>
							</div>
						</div>
					</li>
					<!-- Technical Contact -->
					<li class="settings-item {{#unless account.enabled}}disabled{{/unless}}" data-name="accountsmanager_technical_contact">
						<a class="settings-link clearfix">
							<span class="title">{{ i18n.technicalContact.label }}</span>
							<div class="description">
								<ul>
								{{#if account.contact.technical.name}}
									<li>{{account.contact.technical.name}}</li>
								{{/if}}
								{{#if account.contact.technical.email}}
									<li>{{account.contact.technical.email}}</li>
								{{/if}}
								{{#if account.contact.technical.number}}
									<li>{{formatPhoneNumber account.contact.technical.number}}</li>
								{{/if}}
								</ul>
							</div>
							<span class="update">
								<i class="icon-cog icon-small"></i>
								<span class="text">{{ i18n.editSettings }}</span>
							</span>
							<span class="changes-saved">{{ i18n.changesSaved }}</span>
						</a>
						<div class="settings-item-content">
							<div class="row-fluid">
								<div class="span12">
									<form class="form-horizontal" id="form_accountsmanager_technical_contact">
										<a href="#" class="close-link">
											<i class="icon-remove icon-small"></i>
											<span>{{ i18n.close }}</span>
										</a>
										<div class="control-group">
											<label class="control-label" for="accountsmanager_technical_contact_name">{{ i18n.technicalContact.name }}</label>
											<div class="controls">
												<input type="text" id="accountsmanager_technical_contact_name" name="contact.technical.name" value="{{account.contact.technical.name}}" data-original_value="{{account.contact.technical.name}}"/>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="accountsmanager_technical_contact_email">{{ i18n.technicalContact.email }}</label>
											<div class="controls">
												<input type="email" id="accountsmanager_technical_contact_email" name="contact.technical.email" value="{{account.contact.technical.email}}" data-original_value="{{account.contact.technical.email}}"/>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="accountsmanager_technical_contact_number">{{ i18n.technicalContact.number }}</label>
											<div class="controls">
												<input type="text" id="accountsmanager_technical_contact_number" name="contact.technical.number" value="{{account.contact.technical.number}}" data-original_value="{{account.contact.technical.number}}"/>
											</div>
										</div>
										<div class="control-group">
											<div class="controls">
												<button class="btn btn-danger cancel">{{ i18n.cancel }}</button>
												<button type="submit" class="btn btn-success change" data-field="accountsmanager_technical_contact">{{ i18n.saveChanges }}</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</li>
					<!-- Billing Contact -->
					<li class="settings-item {{#unless account.enabled}}disabled{{/unless}}" data-name="accountsmanager_billing_contact">
						<a class="settings-link clearfix">
							<span class="title">{{ i18n.billingContact.label }}</span>
							<div class="description">
								<ul>
								{{#if account.contact.billing.name}}
									<li>{{account.contact.billing.name}}</li>
								{{/if}}
								{{#if account.contact.billing.email}}
									<li>{{account.contact.billing.email}}</li>
								{{/if}}
								{{#if account.contact.billing.number}}
									<li>{{formatPhoneNumber account.contact.billing.number}}</li>
								{{/if}}
								</ul>
							</div>
							<span class="update">
								<i class="icon-cog icon-small"></i>
								<span class="text">{{ i18n.editSettings }}</span>
							</span>
							<span class="changes-saved">{{ i18n.changesSaved }}</span>
						</a>
						<div class="settings-item-content">
							<div class="row-fluid">
								<div class="span12">
									<form class="form-horizontal" id="form_accountsmanager_billing_contact">
										<a href="#" class="close-link">
											<i class="icon-remove icon-small"></i>
											<span>{{ i18n.close }}</span>
										</a>
										<div class="control-group">
											<label class="control-label" for="accountsmanager_billing_contact_name">{{ i18n.billingContact.name }}</label>
											<div class="controls">
												<input type="text" id="accountsmanager_billing_contact_name" name="contact.billing.name" value="{{account.contact.billing.name}}" data-original_value="{{account.contact.billing.name}}"/>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="accountsmanager_billing_contact_email">{{ i18n.billingContact.email }}</label>
											<div class="controls">
												<input type="email" id="accountsmanager_billing_contact_email" name="contact.billing.email" value="{{account.contact.billing.email}}" data-original_value="{{account.contact.billing.email}}"/>
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="accountsmanager_billing_contact_number">{{ i18n.billingContact.number }}</label>
											<div class="controls">
												<input type="text" id="accountsmanager_billing_contact_number" name="contact.billing.number" value="{{account.contact.billing.number}}" data-original_value="{{account.contact.billing.number}}"/>
											</div>
										</div>
										<div class="control-group">
											<div class="controls">
												<button class="btn btn-danger cancel">{{ i18n.cancel }}</button>
												<button type="submit" class="btn btn-success change" data-field="accountsmanager_billing_contact">{{ i18n.saveChanges }}</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</li>
					<!-- Account timezone -->
					<li class="settings-item {{#unless account.enabled}}disabled{{/unless}}" data-name="accountsmanager_account_timezone">
						<a class="settings-link clearfix">
							<span class="title">{{ i18n.accountTimezone }}</span>
							<span class="description">{{account.timezone}}</span>
							<span class="update">
								<i class="icon-cog icon-small"></i>
								<span class="text">{{ i18n.editSettings }}</span>
							</span>
							<span class="changes-saved">{{ i18n.changesSaved }}</span>
						</a>
						<div class="settings-item-content">
							<div class="row-fluid">
								<div class="span12">
									<form class="form-horizontal" id="form_accountsmanager_account_timezone">
										<a href="#" class="close-link">
											<i class="icon-remove icon-small"></i>
											<span>{{ i18n.close }}</span>
										</a>
										<div class="control-group">
											<label class="control-label" for="accountsmanager_account_timezone">{{ i18n.accountTimezone }}</label>
											<div class="controls">
												<select id="accountsmanager_account_timezone" name="timezone" data-original_value="{{account.timezone}}"></select>
											</div>
										</div>
										<div class="control-group">
											<div class="controls">
												<button class="btn btn-danger cancel">{{ i18n.cancel }}</button>
												<button type="submit" class="btn btn-success change" data-field="accountsmanager_account_timezone">{{ i18n.saveChanges }}</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="tab-pane" id="accountsmanager_serviceplans_tab">
				<div class="serviceplans-container">
					<div class="serviceplans-update clearfix">
						<legend>{{ i18n.activeServicePlan }}</legend>
						{{#compare isReseller "===" true}}
						<form>
							<div class="controls-group">
								<div class="controls">
									<select id="accountsmanager_serviceplan_select">
										<option value="" {{#unless accountServicePlans.current.id}}selected{{/unless}} >- {{ i18n.none }} -</option>
										{{#each accountServicePlans.list}}
										<option value="{{this.id}}" {{#compare ../accountServicePlans.current.id "===" this.id}}selected{{/compare}}>{{this.name}}</option>
										{{/each}}
									</select>
								</div>
							</div>
							<div class="controls-group">
								<div class="controls">
									<button id="accountsmanager_serviceplan_save" class="btn btn-success pull-right">{{ i18n.save }}</button>
								</div>
							</div>
						</form>
						{{else}}
							<span>
								{{#if accountServicePlans.current.id}}
									{{accountServicePlans.current.name}}
								{{else}}
									- {{ i18n.none }} -
								{{/if}}
							</span>
						{{/compare}}
					</div>
					{{#compare isReseller "===" true}}
					<div class="serviceplans-maintenance clearfix">
						<form>
							<legend>{{ i18n.servicePlanMaintenance }}</legend>
							<div class="controls-group">
								<div class="controls">
									<button id="accountsmanager_serviceplan_reconciliation" class="btn btn-primary">{{ i18n.servicePlanReconciliation }}</button>
									<button id="accountsmanager_serviceplan_synchronization" class="btn btn-primary">{{ i18n.servicePlanSynchronization }}</button>
								</div>
							</div>
						</form>
					</div>
					{{/compare}}
				</div>
			</div>

			<div class="tab-pane" id="accountsmanager_limits_tab">
				<form id="accountsmanager_callrestrictions_form">
				</form>
				<div class="clearfix buttons-div">
					<button id="accountsmanager_limits_save" class="btn btn-success">{{ i18n.update }}</button>
				</div>
			</div>
			
			<div class="tab-pane" id="accountsmanager_restrictions_tab">
				<form class="clearfix" id="accountsmanager_uirestrictions_form">
				</form>
				<div class="buttons-div">
					<button id="accountsmanager_uirestrictions_save" class="btn btn-success">{{ i18n.update }}</button>
				</div>
			</div>
		</div>
	</div>
</div>