<div class="restrictions-tab-container clearfix">
	<legend>
		{{ i18n.uiRestrictionsLegend }}
		<i class="help-popover icon-question" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ i18n.uiRestrictionsTooltip }}"></i>
	</legend>
	<div class="restrictions-menu">
		<ul class="nav">
			<li class="nav-header blue-gradient-reverse">{{ i18n.uiRestrictionsMenu.account }}</li>
			<li class="restrictions-element" data-content="restrictions-profile">
				<a href="javascript:void(0);">
					<input type="checkbox" name="account.ui_restrictions.profile.show_tab" {{#compare account.ui_restrictions.profile.show_tab '!==' false }}checked{{/compare}}>
					{{ i18n.uiRestrictionsMenu.settings }}
					<i class="icon-caret-right pull-right"></i>
				</a>
			</li>
			<li class="nav-header blue-gradient-reverse">{{ i18n.uiRestrictionsMenu.billing }}</li>
			<li class="restrictions-element">
				<a>
					<input type="checkbox" name="account.ui_restrictions.transactions.show_tab" {{#compare account.ui_restrictions.transactions.show_tab '!==' false }}checked{{/compare}}>{{ i18n.uiRestrictionsMenu.transactions }}
				</a>
			</li>
			<li class="restrictions-element">
				<a>
					<input type="checkbox" name="account.ui_restrictions.service_plan.show_tab" {{#compare account.ui_restrictions.service_plan.show_tab '!==' false }}checked{{/compare}}>{{ i18n.uiRestrictionsMenu.servicePlan }}
				</a>
			</li>
			<li class="restrictions-element" data-content="restrictions-balance">
				<a href="javascript:void(0);">
					<input type="checkbox" name="account.ui_restrictions.balance.show_tab" {{#compare account.ui_restrictions.balance.show_tab '!==' false }}checked{{/compare}}>
					{{ i18n.uiRestrictionsMenu.perMinute }}
					<i class="icon-caret-right pull-right"></i>
				</a>
			</li>
			<li class="nav-header blue-gradient-reverse">{{ i18n.uiRestrictionsMenu.trunking }}</li>
			<li class="restrictions-element">
				<a>
					<input type="checkbox" name="account.ui_restrictions.inbound.show_tab" {{#compare account.ui_restrictions.inbound.show_tab '!==' false }}checked{{/compare}}>{{ i18n.uiRestrictionsMenu.inbound }}
				</a>
			</li>
			<li class="restrictions-element">
				<a>
					<input type="checkbox" name="account.ui_restrictions.outbound.show_tab" {{#compare account.ui_restrictions.outbound.show_tab '!==' false }}checked{{/compare}}>{{ i18n.uiRestrictionsMenu.outbound }}
				</a>
			</li>
		</ul>
	</div>
	<div class="restrictions-right">
		<div class="restrictions-profile container-fluid" data-content="restrictions-profile">
			<legend>{{ i18n.uiRestrictionsExtraSettings.profile.legend }}</legend>
			<label class="checkbox">
				<input type="checkbox" name="account.ui_restrictions.profile.show_user" {{#compare account.ui_restrictions.profile.show_user '!==' false }}checked{{/compare}}>{{ i18n.uiRestrictionsExtraSettings.profile.showUserTab }}
			</label>
			<label class="checkbox">
				<input type="checkbox" name="account.ui_restrictions.profile.show_account" {{#compare account.ui_restrictions.profile.show_account '!==' false }}checked{{/compare}}>{{ i18n.uiRestrictionsExtraSettings.profile.showAccountTab }}
			</label>
			<label class="checkbox">
				<input type="checkbox" name="account.ui_restrictions.profile.show_billing" {{#compare account.ui_restrictions.profile.show_billing '!==' false }}checked{{/compare}}>{{ i18n.uiRestrictionsExtraSettings.profile.showBillingTab }}
			</label>
		</div>
		<div class="restrictions-balance container-fluid" data-content="restrictions-balance">
			<legend>{{ i18n.uiRestrictionsExtraSettings.perMinute.legend }}</legend>
			<label class="checkbox">
				<input type="checkbox" name="account.ui_restrictions.balance.show_credit" {{#compare account.ui_restrictions.balance.show_credit '!==' false }}checked{{/compare}}>{{ i18n.uiRestrictionsExtraSettings.perMinute.showCreditInfo }}
			</label>
			<label class="checkbox">
				<input type="checkbox" name="account.ui_restrictions.balance.show_minutes" {{#compare account.ui_restrictions.balance.show_minutes '!==' false }}checked{{/compare}}>{{ i18n.uiRestrictionsExtraSettings.perMinute.showMinutesInfo }}
			</label>
		</div>
	</div>
</div>