/* e911 POPUP */
.trunkstore_popup.e911 {
    padding:15px 15px 5px 15px;
    width: 480px
}

.trunkstore_popup.e911 .e911-title {
    margin-left: 320px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.trunkstore_popup.e911 .rotated-text {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 20px;
    font-weight: 600;
    color: #ccc;
}

.trunkstore_popup.e911 .e911_image {
    width: 80px;
    height: 265px;
    margin: 0 10px 0 30px;
}

.trunkstore_popup.e911 form.form-horizontal {
    margin-bottom: 0px;
}

.trunkstore_popup.e911 form.form-horizontal .control-group {
    margin-bottom: 10px;
}

.trunkstore_popup.e911 form.form-horizontal .control-group .control-label {
    width: 140px;
    padding-top: 10px;
}

.trunkstore_popup.e911 form.form-horizontal .control-group .control-label.remove-btn-container {
    padding-top: 0;
}

.trunkstore_popup.e911 form.form-horizontal .control-group .controls {
    margin-left: 160px;
}

.trunkstore_popup.e911 form.form-horizontal .control-group .controls input {
    width: 186px;
    padding: 10px 5px;
}

.trunkstore_popup.e911 form.form-horizontal .control-group .controls button {
    width: 200px;
    text-transform: uppercase;
}

.trunkstore_popup.e911 .e911_text {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
}

/* MULTIPLE ADDRESSES POPUP */
.e911-address-dialog {
	padding: 15px;
	width: 400px;
}

.e911-address-dialog .list-choices {
	margin-bottom: 20px;
}

.e911-address-dialog .list-choices .address-option {
	background-color: #EEE;
	padding: 20px;
	border: 1px solid #CCC;
	margin-bottom: 5px;
}

.e911-address-dialog .list-choices .address-option:hover {
	background-color: #FFF;
	cursor: pointer;
}

.e911-address-dialog .list-choices .address-option.active {
	background-color: #FFF;
	border-color: #22a5ff;
}