@import "../../../../css/partials/base";

/* e911 POPUP */
.trunkstore_popup.e911 {
	margin-bottom: 0;
	width: 510px;

	.row-fluid {
		padding: 0 15px;
		box-sizing: border-box;

		&:first-child {
			padding: 15px 15px 0;
		}
		&:last-child {
			padding: 0 15px 15px;
		}
	}

	.e911-title {
		margin-left: 320px;
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 15px;
	}

	.rotated-text {
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		text-transform: uppercase;
		position: absolute;
		top: 0px;
		left: 0px;
		font-size: 20px;
		font-weight: 600;
		color: #ccc;
	}

	.e911_image {
		width: 80px;
		height: 265px;
		margin: 0 10px 0 30px;
	}

	.control-group {
		margin-bottom: 10px;
	}

	.control-group .control-label {
		width: 140px;
		padding-top: 10px;
	}

	.control-group .controls {
		margin-left: 160px;
	}

	.control-group .controls input,
	.control-group .controls textarea {
		width: 186px;
		padding: 10px 5px;
	}
	
	.control-group .controls select {
		width: 197px;
		height: 42px;
	}

	.control-group .controls button {
		width: 200px;
		text-transform: uppercase;
	}

	.e911_text {
		font-weight: 600;
		font-size: 16px;
		line-height: 30px;
	}

	.form-actions {
		display: flex;
		justify-content: space-between;
		background: none;
		margin-bottom: 0;
		padding: 15px;

		&::before,
		&::after {
			content: none;
		}

		.actions-group {

			& > *:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
}

/* MULTIPLE ADDRESSES POPUP */
.e911-address-dialog {
	padding: 15px;
	width: 400px;
}

.e911-address-dialog .list-choices {
	margin-bottom: 20px;
}

.e911-address-dialog .list-choices .address-option {
	background-color: #EEE;
	padding: 20px;
	border: 1px solid #CCC;
	margin-bottom: 5px;
}

.e911-address-dialog .list-choices .address-option:hover {
	background-color: #FFF;
	cursor: pointer;
}

.e911-address-dialog .list-choices .address-option.active {
	background-color: #FFF;
	border-color: $primary-color;
}
