/* _colors.scss */
/* unique color names */
$dodger-blue: #2297FF;
$french-pass: #B8DEFF;
$emerald: #33DB24;
$sunglow: #FFCC33;
$yellow-sea: #F8A506;
$ecstasy: #FD720F;
$red-orange: #FF3D24;
$white: #FFF;

// names found with http://chir.ag/projects/name-that-color
// Neutral Dark
$woodsmoke: #151517;
$shark: #202029;
$shark2: #2e2e32;
$tuna: #303039;
$tuna2: #404049;

// Neutral grays
$midgray: #606069;
$midgray2: #64646c;
$jumbo: #808089;
$manatee: #909099;

// Neutral Lightgrays
$french-gray: #c0c0c9;
$french-gray2: #bcbcc2;
$mischka: #e0e0e9;
$athens-gray: #f4f4f5;
$white-lilac: #F0F0F9;

/* semantic color names */
$primary-color: $dodger-blue;
$secondary-color: $ecstasy;
$danger-color: $red-orange;
$error-color: $red-orange;
$success-color: $emerald;
$warning-color: $yellow-sea;

$foreground-primary-color: $white;
$background-primary-color: $white-lilac;
$background-off-color: $white-lilac;
$font-primary-color: $tuna;

$panel-border-color: $mischka;
$panel-background-color: $white;

$input-border-color: $french-gray;
