<h4 class="title">
	{{i18n.portWizard.addNumbers.list.title}}{{#if request.extra.numbers_count}} ({{request.extra.numbers_count}}){{/if}}
</h4>
{{#if request.extra.numbers_count}}
	<ul class="numbers-list">
	{{#each request.numbers}}
		<li class="item{{#compare @key '===' @root.request.bill.btn}} warning{{/compare}}" data-number="{{@key}}">
			{{#monsterNumberWrapper @key}}{{/monsterNumberWrapper}} <i class="icon-telicon-x-circled remove-number"></i>
		</li>
	{{/each}}
	</ul>
{{else}}
	<p class="empty-list">
		{{i18n.portWizard.addNumbers.list.text}}
	</p>
{{/if}}
