<div class="error-message">
	<i class="icon-telicon-warning pull-left"></i>
	<div class="text">
		{{i18n.portRequestWizard.addNumbers.btn.errorMessage}}
	</div>
</div>
<p class="text">
	{{i18n.portRequestWizard.addNumbers.btn.text1}}
	<br>
	{{i18n.portRequestWizard.addNumbers.btn.text2}}
</p>
<div class="row-fluid">
	<div class="portion-item span4 offset1" data-portion="full">
		<div class="portion"></div>
		<div class="title">
			{{toUpperCase i18n.portRequestWizard.addNumbers.btn.selection.full}}
		</div>
	</div>
	<div class="portion-item span4 offset2" data-portion="partial">
		<div class="portion partial"></div>
		<div class="title">
			{{toUpperCase i18n.portRequestWizard.addNumbers.btn.selection.portion}}
		</div>
	</div>
</div>
