<div class="app-content wizard">
	<h3 class="title">
		{{i18n.portRequestWizard.addNumbers.title}}
	</h3>
	<p class="text">
		{{i18n.portRequestWizard.addNumbers.text1}}
		<br>
		{{i18n.portRequestWizard.addNumbers.text2}}
	</p>
	<div class="row-fluid">
		<div class="span6">
			<form id="form_add_numbers">
				<legend>
					{{i18n.portRequestWizard.addNumbers.form.legend}}
				</legend>
				<div class="control-group">
					<div class="controls">
						<textarea name="numbers" id="numbers" cols="50" rows="5"></textarea>
					</div>
				</div>
				<button class="monster-button-primary add-numbers">
					{{i18n.portRequestWizard.addNumbers.form.button}}
				</button>
			</form>
			<h4 class="title">
				{{i18n.portRequestWizard.addNumbers.list.title}}{{#if request.extra.numbers_count}} ({{request.extra.numbers_count}}){{/if}}
			</h4>
		{{#if request.extra.numbers_count}}
			<ul class="numbers-list">
			{{#each request.numbers}}
				<li class="item" data-number="{{@key}}">
					{{formatPhoneNumber @key}} <i class="fa fa-times-circle-o pull-right remove"></i>
				</li>
			{{/each}}
			</ul>
		{{else}}
			<p class="empty">
				{{i18n.portRequestWizard.addNumbers.list.text}}
			</p>
		{{/if}}
		</div>
		<div class="span6 pdf-container"></div>
	</div>
	<div class="actions">
	{{#if request.extra.numbers_count}}
		<div>
			<button class="monster-button-primary next">
			{{#compare request.extra.type '===' 'local'}}
				{{i18n.portRequestWizard.addNumbers.buttons.next.manual.loa}}
			{{else}}
				{{i18n.portRequestWizard.addNumbers.buttons.next.manual.resporg}}
			{{/compare}}
			</button>
			<button class="monster-button-primary next">
			{{#compare request.extra.type '===' 'local'}}
				{{i18n.portRequestWizard.addNumbers.buttons.next.eSign.loa}}
			{{else}}
				{{i18n.portRequestWizard.addNumbers.buttons.next.eSign.resporg}}
			{{/compare}}
			</button>
		</div>
	{{/if}}
		<a href="javascript:void(0);" class="monster-link cancel">
			{{i18n.portRequestWizard.buttons.cancel}}
		</a>
	</div>
</div>
