<div class="app-content" id="port_wizard">
	<h3 class="title">
		{{i18n.portRequestWizard.addNumbers.title}}
	</h3>
	<p class="title-help">
		{{i18n.portRequestWizard.addNumbers.text1}}
		<br>
		{{i18n.portRequestWizard.addNumbers.text2}}
	</p>
	<div class="row-fluid">
		<div class="span5">
			<form class="form textarea-wrapper" id="form_add_numbers">
				<a class="collapse">
					<i class="icon-telicon-plus-circled"></i>
					{{i18n.portRequestWizard.addNumbers.form.link}}
				</a>
				<div class="accordion">
					<h4 class="title">
						{{i18n.portRequestWizard.addNumbers.form.legend}}
					</h4>
					<textarea name="numbers" id="numbers" rows="5"></textarea>
					<button class="monster-button-primary add-numbers">
						{{i18n.portRequestWizard.addNumbers.form.button}}
					</button>
				</div>
			</form>

			<div class="list-wrapper"></div>

			<div class="portion-wrapper"></div>

			<form class="form form-horizontal btn-wrapper" id="form_new_btn"></form>
		</div>

		<div class="span6 offset1 pdf-container"></div>
	</div>
	<div class="actions-wrapper">
		<div class="actions">
			<button class="monster-button-secondary save">
			{{i18n.portRequestWizard.buttons.save}}
		</button>
	{{#if request.extra.numbers_count}}
		<div>
			<button class="monster-button-primary next" data-sign="manual">
			{{#compare request.extra.type '===' 'local'}}
				{{i18n.portRequestWizard.addNumbers.buttons.next.manual.loa}}
			{{else}}
				{{i18n.portRequestWizard.addNumbers.buttons.next.manual.resporg}}
			{{/compare}}
			</button>
			<button class="monster-button-primary next" data-sign="electronic">
			{{#compare request.extra.type '===' 'local'}}
				{{i18n.portRequestWizard.addNumbers.buttons.next.eSign.loa}}
			{{else}}
				{{i18n.portRequestWizard.addNumbers.buttons.next.eSign.resporg}}
			{{/compare}}
			</button>
		</div>
	{{/if}}
		</div>
		<a href="javascript:void(0);" class="monster-link cancel">
			{{i18n.portRequestWizard.buttons.cancel}}
		</a>
	</div>
</div>
