<div class="app-content-wrapper" id="port_wizard">
	<div class="app-content">
		<h3 class="title">
			{{i18n.portWizard.portNotify.title}}
		</h3>
		<p class="title-help">
			{{i18n.portWizard.portNotify.text}}
		</p>
		<form id="form_notify" class="form-horizontal">
			<p class="text">
				{{i18n.portWizard.portNotify.email.text1}}
				<br>
				{{i18n.portWizard.portNotify.email.text2}}
			</p>
			<div class="control-group single-group">
				<label for="email" class="control-label">
					{{i18n.portWizard.portNotify.email.label}}
				</label>
				<div class="controls">
					<input type="text" id="email" name="notifications.email.send_to" value="{{request.notifications.email.send_to}}">
				</div>
			</div>
			<p class="text">
				{{i18n.portWizard.portNotify.target.text1}}
			</p>
			<div class="control-group single-group control-date">
				<label for="transfer_date" class="control-label">
					{{i18n.portWizard.portNotify.target.label}}
				</label>
				<div class="controls">
					<input type="text" id="transfer_date" name="transfer_date" readonly="true" class="input-small">
				</div>
			</div>
			<p class="note">
				{{i18n.portWizard.portNotify.target.text2}}
				<br>
				{{i18n.portWizard.portNotify.target.text3}}
			</p>
		</form>
		<div class="actions-wrapper">
			<div class="actions">
				<button class="monster-button-secondary next" data-action="save">
					{{i18n.portWizard.buttons.save}}
				</button>
				<button class="monster-button-primary next" data-action="next">
					{{i18n.portWizard.portNotify.button}}
				</button>
			</div>
			<a href="javascript:void(0);" class="monster-link cancel">
				{{i18n.portWizard.buttons.cancel}}
			</a>
		</div>
	</div>
</div>
