<div class="bill-upload">
	<h3 class="title">
		{{i18n.portWizard.portInfo.verifyOwner.title}} 
	</h3>
	<p class="title-help">
		{{i18n.portWizard.portInfo.verifyOwner.text1}}
		<br>
		{{i18n.portWizard.portInfo.verifyOwner.text2}}
	</p>
	<div class="file-upload-wrapper">
		<h5 class="title">
			{{i18n.portWizard.fileUpload.title}}
			<span class="hint">
				{{i18n.portWizard.fileUpload.hint}}
			</span>
		</h5>
		<div class="file-upload-container">
			<input id="bill_input" type="file" name="bill">
		</div>
	</div>
</div>
