<div class="app-content" id="port_wizard">
	<h3 class="title">
		{{replaceVar i18n.portRequestWizard.portSubmit.title request.extra.numbers_count}}
	</h3>
	<p class="title-help">
		{{i18n.portRequestWizard.portSubmit.text}}
	</p>
	<div class="row-fluid">
		<div class="span5">
			<form class="form form-horizontal form-text">
				<legend>
					{{i18n.portRequestWizard.portSubmit.review.title}}
				</legend>
				<div class="control-group">
					<label class="control-label">
						{{i18n.portRequestWizard.portSubmit.review.label.name}}
					</label>
					<div class="controls">
						<div class="control-text">
							{{request.name}}
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">
						{{i18n.portRequestWizard.portSubmit.review.label.amount}}
					</label>
					<div class="controls">
						<div class="control-text">
							{{request.extra.numbers_count}}
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">
						{{i18n.portRequestWizard.portSubmit.review.label.requested}}
					</label>
					<div class="controls">
						<div class="control-text">
							{{toFriendlyDate today 'date'}}
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">
						{{i18n.portRequestWizard.portSubmit.review.label.scheduled}}
					</label>
					<div class="controls">
						<div class="control-text">
							{{toFriendlyDate request.transfer_date 'date'}}
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="span6 offset1">
			<form class="form form-text" id="form_conditions">
				<legend class="important">
					{{i18n.portRequestWizard.portSubmit.agree.title}}
				</legend>
				<div class="control-group">
					<label for="service">
					{{#monsterCheckbox i18n.portRequestWizard.portSubmit.agree.label.service}}
						<input type="checkbox" id="service" class="conditions" name="conditions[]">
					{{/monsterCheckbox}}
					</label>
				</div>
				<div class="control-group">
					<label for="canceled">
					{{#monsterCheckbox i18n.portRequestWizard.portSubmit.agree.label.canceled}}
						<input type="checkbox" id="canceled" class="conditions" name="conditions[]">
					{{/monsterCheckbox}}
					</label>
				</div>
				<div class="control-group">
					<label for="fee">
					{{#monsterCheckbox i18n.portRequestWizard.portSubmit.agree.label.fee}}
						<input type="checkbox" id="fee" class="conditions" name="conditions[]">
					{{/monsterCheckbox}}
					</label>
				</div>
				<div class="control-group">
					<label for="standard">
					{{#monsterCheckbox i18n.portRequestWizard.portSubmit.agree.label.standard}}
						<input type="checkbox" id="standard" class="conditions" name="conditions[]">
					{{/monsterCheckbox}}
					</label>
				</div>
			</form>
		</div>
	</div>
	<div class="actions-wrapper">
		<div class="actions">
			<button class="monster-button-success success" disabled="true">
				{{i18n.portRequestWizard.portSubmit.button}}
			</button>
		</div>
		<a href="javascript:void(0);" class="monster-link cancel">
			{{i18n.portRequestWizard.buttons.cancel}}
		</a>
	</div>
</div>
