<div class="app-content-wrapper" id="port_wizard">
	<div class="app-content">
		<h3 class="title">
			{{replaceVar i18n.portWizard.portSubmit.title request.extra.numbers_count}}
		</h3>
		<p class="title-help">
			{{i18n.portWizard.portSubmit.text}}
		</p>
		<div class="row-fluid">
			<div class="span5">
				<form class="form form-horizontal form-text">
					<legend>
						{{i18n.portWizard.portSubmit.review.title}}
					</legend>
					<div class="control-group">
						<label class="control-label">
							{{i18n.portWizard.portSubmit.review.label.name}}
						</label>
						<div class="controls">
							<div class="control-text">
								{{request.name}}
							</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">
							{{i18n.portWizard.portSubmit.review.label.amount}}
						</label>
						<div class="controls">
							<div class="control-text">
								{{request.extra.numbers_count}}
							</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">
							{{i18n.portWizard.portSubmit.review.label.requested}}
						</label>
						<div class="controls">
							<div class="control-text">
								{{toFriendlyDate today 'date'}}
							</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">
							{{i18n.portWizard.portSubmit.review.label.scheduled}}
						</label>
						<div class="controls">
							<div class="control-text">
								{{toFriendlyDate request.transfer_date 'date'}}
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="span6 offset1">
				<form class="form form-text" id="form_conditions">
					<legend class="important">
						{{i18n.portWizard.portSubmit.agree.title}}
					</legend>
					<div class="control-group">
						<label for="service">
						{{#monsterCheckbox i18n.portWizard.portSubmit.agree.label.service}}
							<input type="checkbox" id="service" class="conditions" name="conditions[]">
						{{/monsterCheckbox}}
						</label>
					</div>
					<div class="control-group">
						<label for="canceled">
						{{#monsterCheckbox i18n.portWizard.portSubmit.agree.label.canceled}}
							<input type="checkbox" id="canceled" class="conditions" name="conditions[]">
						{{/monsterCheckbox}}
						</label>
					</div>
					<div class="control-group">
						<label for="fee">
						{{#monsterCheckbox i18n.portWizard.portSubmit.agree.label.fee}}
							<input type="checkbox" id="fee" class="conditions" name="conditions[]">
						{{/monsterCheckbox}}
						</label>
					</div>
					<div class="control-group">
						<label for="standard">
						{{#monsterCheckbox i18n.portWizard.portSubmit.agree.label.standard}}
							<input type="checkbox" id="standard" class="conditions" name="conditions[]">
						{{/monsterCheckbox}}
						</label>
					</div>
				</form>
			</div>
		</div>
		<div class="actions-wrapper">
			<div class="actions">
				<button class="monster-button-secondary next" id="save" type="button">
					{{i18n.portWizard.buttons.save}}
				</button>
				<button class="monster-button-success success" disabled="true">
					{{i18n.portWizard.portSubmit.button}}
				</button>
			</div>
			<a href="javascript:void(0);" class="monster-link cancel">
				{{i18n.portWizard.buttons.cancel}}
			</a>
		</div>
	</div>
</div>
