<div class="app-content wizard">
	<h3 class="title">
		{{i18n.portRequestWizard.portNotify.title}}
	</h3>
	<p class="text">
		{{i18n.portRequestWizard.portNotify.text}}
	</p>
	<form id="form_notify" class="form-horizontal">
		<p class="text">
			{{i18n.portRequestWizard.portNotify.email.text1}}
			<br>
			{{i18n.portRequestWizard.portNotify.email.text2}}
		</p>
		<div class="control-group">
			<label for="email" class="control-label">
				{{i18n.portRequestWizard.portNotify.email.label}}
			</label>
			<div class="controls">
				<input type="text" id="email" name="notifications.email.send_to">
			</div>
		</div>
		<p class="text">
			{{i18n.portRequestWizard.portNotify.target.text1}}
		</p>
		<div class="control-group">
			<label for="transfer_date" class="control-label">
				{{i18n.portRequestWizard.portNotify.target.label}}
			</label>
			<div class="controls">
				<input type="text" id="transfer_date" name="transfer_date" readonly="true">
			</div>
		</div>
		<p class="text">
			{{i18n.portRequestWizard.portNotify.target.text2}}
			<br>
			{{i18n.portRequestWizard.portNotify.target.text3}}
		</p>
	</form>
	<div class="actions">
		<button class="monster-button-primary success">
			{{i18n.portRequestWizard.portNotify.button}}
		</button>
		<a href="javascript:void(0);" class="monster-link cancel">
			{{i18n.portRequestWizard.buttons.cancel}}
		</a>
	</div>
</div>
