<div class="app-content-wrapper" id="port_wizard">
	<div class="app-content">
		<h3 class="title">
			{{replaceVar i18n.portWizard.signForm.title type.compact}}
		</h3>
		<p class="title-help">
			{{replaceVar i18n.portWizard.signForm.text type.compact}}
		</p>
		<div class="actions-wrapper">
			<div class="actions">
				<button class="monster-button-secondary save">
					{{i18n.portWizard.buttons.save}}
				</button>
				<button class="monster-button-primary success">
					{{i18n.portWizard.signForm.button}}
				</button>
			</div>
			<a href="javascript:void(0);" class="monster-link cancel">
				{{i18n.portWizard.buttons.cancel}}
			</a>
		</div>
	</div>
</div>
