<div class="app-content-wrapper" id="port_wizard">
	<div class="app-content">
		<h3 class="title">
			{{replaceVar i18n.portWizard.uploadForm.title type.extended}} ({{type.compact}})
		</h3>
		<p class="title-help">
			{{replaceVar i18n.portWizard.uploadForm.text type.compact}}
			{{!-- <br>
			<a href="{{helpLink}}" class="monster-link">
				{{replaceVar i18n.portWizard.uploadForm.link type.compact}}
			</a> --}}
		</p>
		<ul class="steps">
			<li class="item">
				<h4 class="title">
					{{i18n.portWizard.uploadForm.download.title}}
				</h4>
				<span class="label-button">
					<a href="{{formLink}}" target="_blank">
						<button class="monster-button-primary">
							{{replaceVar i18n.portWizard.uploadForm.download.button type.compact}}
						</button>
					</a>
				</span>
			</li>
			<li class="item">
				<h4 class="title">
					{{i18n.portWizard.uploadForm.doubleCheck.title}}
				</h4>
				<span class="text">
					{{replaceVar i18n.portWizard.uploadForm.doubleCheck.text type.compact}}
				</span>
			</li>
			<li class="item">
				<h4 class="title">
					{{i18n.portWizard.uploadForm.upload.title}}
				</h4>
				<div class="file-upload-wrapper">
					<h5 class="title">
						{{replaceVar i18n.portWizard.uploadForm.upload.text type.compact}}
						<span class="hint">
							{{i18n.portWizard.fileUpload.hint}}
						</span>
					</h5>
					<div class="file-upload-container">
						<input id="form_input" type="file" name="form">
					</div>
				</div>
				<form class="form-horizontal" id="form_upload_document">
					<div class="control-group">
						<label for="signee_name" class="control-label">
							{{i18n.portWizard.uploadForm.signee.label.name}}
						</label>
						<div class="controls">
							<input type="text" id="signee_name" name="signee_name" value="{{request.signee_name}}">
						</div>
					</div>
					<div class="control-group">
						<label for="signing_date" class="control-label">
							{{i18n.portWizard.uploadForm.signee.label.date}}
						</label>
						<div class="controls">
							<input type="text" id="signing_date" name="signing_date" readonly="true" class="input-small">
						</div>
					</div>
				</form>
			</li>
		</ul>
		<div class="actions-wrapper">
			<div class="actions">
				<button class="monster-button-secondary save">
					{{i18n.portWizard.buttons.save}}
				</button>
			</div>
			<a href="javascript:void(0);" class="monster-link cancel">
				{{i18n.portWizard.buttons.cancel}}
			</a>
		</div>
	</div>
</div>
