@import url('../submodules/balance/balance.css');
@import url('../submodules/servicePlan/servicePlan.css');
@import url('../submodules/transactions/transactions.css');
@import url('../submodules/trunks/trunks.css');

/* My account */
#myaccount {
	width: 100%;
	height: 487px;
	background-color: white;
	display: none;
	border-bottom: 5px solid #22ccff;
	position: absolute;
	z-index: 20;

	box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.75);
}

#myaccount > .container-fluid {
	height: 100%;
	padding: 0;
}

#myaccount > .container-fluid > .row-fluid {
	height: 100%;
}

#myaccount > .container-fluid > .row-fluid > [class*="span"]{
	height: 100%;
}

/* MYACCOUNT MENU */
#myaccount .myaccount-menu {
	background-color: #f3f3f3;
	float: left;
	height: 100%;
	width: 20%;
	box-shadow: 1px 0px 1px #bbb;
}
#myaccount .myaccount-right {
	float: left;
	width: 80%;
}

#myaccount .myaccount-menu .nav {
	color: #777;
	/* height: 85%; */
	height: 100%;
	padding-right: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding-left: 0;
}

#myaccount .myaccount-menu .badge {
	background: #fff;
	border: 1px solid #ccc;
	color: #22ccff;
	margin-right: 10px;
	margin-top: 10px;
}

#myaccount .myaccount-menu li.active .badge {
	background: #f3f3f3;
}

#myaccount .myaccount-menu .nav li:not(.nav-header) {
	border-top: 1px solid #ccc;
}

#myaccount .myaccount-menu .nav li:last-child {
	border-bottom: 1px solid #ccc;
}

#myaccount .myaccount-menu .nav li {
	border-right: 1px solid #ccc;
	height: 56px;
	line-height: 56px;
	font-weight: 700;
	font-size: 16px;
	overflow: hidden;
}

#myaccount .myaccount-menu .nav > li.active {
	background-color: #fff !important;
	border-right: 1px solid #fff;
}

#myaccount .myaccount-menu .nav > li:hover {
	background-color: #eee;
}

#myaccount .myaccount-menu .nav li.nav-header {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	height: 20px;
	letter-spacing: 2px;
	line-height: 20px;
	margin: 0;
	padding: 10px 30px;
	text-shadow: 1px 0 1px #333333;
	text-transform: uppercase
}

#myaccount .myaccount-menu .nav a {
	background: none !important;
	color: #777777;
	height: 38px;
	line-height: 38px;
	padding: 10px 0;
	margin: 0;
}

#myaccount .myaccount-menu .nav a i {
	margin-left: 10px;
	margin-right: 10px;
}

#myaccount .myaccount-menu .menu-bottom {
	height: 15%;
}

#myaccount .myaccount-menu .nav li .active-highlight {
	border-left: 3px solid #e9e9e9;
}

#myaccount .myaccount-menu .nav li .active-highlight i{
	font-size: 20px;
}

#myaccount .myaccount-menu .nav li.active .active-highlight {
	border-left: 3px solid #22CCFF;
	color: #22ccff;
}

#myaccount .myaccount-menu .menu-bottom .signout {
	text-transform: uppercase;
	background: #333;
	color: #fff;
	height: 100%;
}

#myaccount .myaccount-menu .menu-bottom .signout-text {
	padding: 27px 10% 0;
	line-height: 20px;
	font-size: 16px;
	font-weight: 700;
}

#myaccount .myaccount-menu .menu-bottom .signout:hover {
	cursor: pointer;
	color: #22ccff;
}

/* MYACCOUNT CONTENT */
#myaccount .myaccount-content {
	background-color: white;
	height: 406px;
	padding: 20px 30px;
	overflow-x: hidden;
}

#myaccount .myaccount-titlebar {
	background-color: #E9E9E9;
	height: 41px;
	line-height: 41px;
	box-shadow: 1px 0px 3px #bbb inset;
}

#myaccount .myaccount-right .myaccount-titlebar .myaccount-module-title {
	margin-left: 30px;
	font-size: 16px;
	font-weight: 600;
}

#myaccount .myaccount-right .myaccount-titlebar .myaccount-close {
	background: #fff;
	cursor: pointer;
	padding: 0px 5px;
	text-align: center;
	width: 100px;
	position: absolute;
	right: 5%;
	top: 0;
}

#myaccount .myaccount-right .myaccount-titlebar .myaccount-close:hover span > * {
	color: #22ccff;
}
@media (max-width: 767px) {
	#myaccount .myaccount-menu {
		width: 47px;
		-webkit-transition:width 0.5s;
		-moz-transition:width 0.5s;
		-o-transition:width 0.5s;
		transition:width 0.5s;
	}

	#myaccount .myaccount-menu .nav li.active .active-highlight {
		border-color: #fff;
	}

	#myaccount .myaccount-menu .nav li.active .active-highlight i {
		color: #22ccff;
	}
}
@media (min-height: 700px) {
	#myaccount {
		height: 577px;
	}

	#myaccount .myaccount-content {
		height: 495px;
	}
}

#myaccount .myaccount-content .list-settings .card-type.visa {
	background: url(static/visa.png);
}

#myaccount .myaccount-content .list-settings .card-type.amex {
	background: url(static/amex.png);
}

#myaccount .myaccount-content .list-settings .card-type.discover {
	background: url(static/discover.png);
}

#myaccount .myaccount-content .list-settings .card-type.mastercard {
	background: url(static/mastercard.png);
}

#myaccount .myaccount-content .list-settings {
	overflow: visible;
	margin: 0;
	padding: 0;
	list-style-type: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	background-color: #F3F3F3;
}

#myaccount .myaccount-content .list-settings .settings-item:not(:first-child) {
	border-top: 1px solid #CCCCCC;
}

#myaccount .myaccount-content .list-settings .settings-item:last-child .settings-item-content {
	border-radius: 0 0 4px 4px;
}

#myaccount .myaccount-content .list-settings .settings-item.open {
	border-top: 1px solid #22ccff;
}

#myaccount .myaccount-content .list-settings .settings-item .settings-link {
	color: #333;
	cursor: pointer;
	display: block;
	font-weight: 600;
	height: 60px;
	line-height: 60px;
	padding: 0px 15px;
	text-decoration: none;
}

#myaccount .myaccount-content .list-settings .settings-item .settings-link:hover {
	background-color: #eeeeee;
}

#myaccount .myaccount-content .list-settings .settings-item .title {
	float: left;
	font-size: 13px;
	font-weight: bold;
	width: 220px;
}

#myaccount .myaccount-content .list-settings .settings-item .settings-link .description {
	display: inline-block;
	font-weight: 600;
}

#myaccount .myaccount-content .list-settings .settings-item .settings-link .description .number {
	font-weight: bold;
	color: #22ccff;
}

#myaccount .myaccount-content .list-settings .settings-item .settings-link .update {
	color: #22ccff;
	float: right;
}

#myaccount .myaccount-content .list-settings .settings-item .settings-link .changes-saved {
	float: right;
	display: none;
}

#myaccount .myaccount-content .list-settings .settings-item .settings-link:hover .update .text {
	text-decoration: underline;
}

#myaccount .myaccount-content .list-settings .settings-item .settings-link .update .text {
	margin-left: 5px;
}

#myaccount .myaccount-content .list-settings .settings-item-content {
	background-color: #ffffff;
	border-top: 1px solid #e6e6e6;
	display: none;
	padding: 20px 15px 0;
}

#myaccount .myaccount-content .list-settings .settings-item-content .form-horizontal {
	margin: 0;
	display: inline-block;
}

#myaccount .myaccount-content .list-settings .settings-item-content label.uneditable {
	color: #22ccff;
	cursor: default;
	font-weight: 600;
	padding-top: 5px;
}

#myaccount .myaccount-content .list-settings .settings-item-content .edition {
	display: none;
}

#myaccount .myaccount-content .list-settings .settings-item .settings-link .description > ul {
	display: table-cell;
	height: 60px;
	list-style: none outside none;
	margin: 0;
	vertical-align: middle;
}

#myaccount .myaccount-content .list-settings .card-type {
	display: inline-block;
	margin-bottom: -9px;
	margin-right: 5px;
	background-repeat: no-repeat;
	height: 25px;
	width: 40px;
}

#myaccount .myaccount-content .list-settings .input-prepend .add-on {
	padding: 1px 7px;
	height: 26px;
}

#myaccount .myaccount-content .list-settings .input-prepend .add-on i {
	margin: 0 5px;
	font-size: 24px;
}

#myaccount .myaccount-content .list-settings .input-prepend .add-on .card-type {
	margin: 0;
}

#myaccount .myaccount-content .list-settings .settings-item-content .edition .card-type {
	display: none;
}


#myaccount .myaccount-content .list-settings .controls button, #myaccount .myaccount-content .list-settings .controls input {
	margin-right: 5px;
}

#myaccount .myaccount-content .list-settings .controls.action-bar {
	text-align: right;
}

#myaccount .myaccount-content .list-settings .controls.action-bar a {
	vertical-align: middle;
}

#myaccount .myaccount-content .list-settings .controls.action-bar > *:not(:last-child) {
	margin-right: 10px;
}

#myaccount .myaccount-content .list-settings .controls .plain-text {
	margin-top: 5px;
}

#myaccount .myaccount-content .list-settings .controls.checkbox-container {
	padding-top: 5px;
}
