/* Step 1 */
#edit_server .pbx-brand-list {
    /*width: 530px;*/
    display: inline-block;
    line-height: 100px;
    margin: 20px 0;
    max-width: 680px;
}

#edit_server .pbx-brand-list .pbx {
    width: 95px;
    height: 67px;
    border: 2px solid #666;
    border-radius: 4px;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    line-height: 69px;
    margin-right: 20px;
    background: #fff;
    text-align: center;
}

#edit_server .pbx-brand-list .pbx.selected {
    border: 2px solid #22ccff;
    color: #22ccff;
    opacity: 1 !important;
}

#edit_server .info_pbx {
    min-height: 25px;
}

#edit_server .selected-pbx {
    color: #22ccff;
    font-weight: 500;
    font-size: 15px;
}

#edit_server .selected-pbx-block input {
    margin: 0px 5px 5px 5px
}

#edit_server .pbx-brand-list .bluebox {
    background: url('images/endpoints/bluebox.png');
}

#edit_server .pbx-brand-list .freeswitch {
    background: url('images/endpoints/freeswitch.png');
}

#edit_server .pbx-brand-list .threecom {
    background: url('images/endpoints/threecom.png');
}

#edit_server .pbx-brand-list .allworks {
    background: url('images/endpoints/allworks.png');
}

#edit_server .pbx-brand-list .altigen {
    background: url('images/endpoints/altigen.png');
}

#edit_server .pbx-brand-list .asterisk {
    background: url('images/endpoints/asterisk.png');
}

#edit_server .pbx-brand-list .avaya {
    background: url('images/endpoints/avaya.png');
}

#edit_server .pbx-brand-list .cisco {
    background: url('images/endpoints/cisco.png');
}

#edit_server .pbx-brand-list .digium {
    background: url('images/endpoints/digium.png');
}

#edit_server .pbx-brand-list .epygi {
    background: url('images/endpoints/epygi.png');
}

#edit_server .pbx-brand-list .freepbx {
    background: url('images/endpoints/freepbx.png');
}

#edit_server .pbx-brand-list .mitel {
    background: url('images/endpoints/mitel.png');
}

#edit_server .pbx-brand-list .objectworld {
    background: url('images/endpoints/objectworld.png');
}

#edit_server .pbx-brand-list .pingtel {
    background: url('images/endpoints/pingtel.png');
}

#edit_server .pbx-brand-list .responsepoint {
    background: url('images/endpoints/responsepoint.png');
}

#edit_server .pbx-brand-list .samsung {
    background: url('images/endpoints/samsung.png');
}

#edit_server .pbx-brand-list .shoretel {
    background: url('images/endpoints/shoretel.png');
}

#edit_server .pbx-brand-list .sutus {
    background: url('images/endpoints/sutus.png');
}

#edit_server .pbx-brand-list .talkswitch {
    background: url('images/endpoints/talkswitch.png');
}

#edit_server .pbx-brand-list .taridium {
    background: url('images/endpoints/taridium.png');
}

/* Step 2 */
#edit_server .wizard-content-step .radio-wrapper {
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top,  hsl(0,0%,98%) 0%, hsl(0,0%,89%) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(0,0%,98%)), color-stop(100%,hsl(0,0%,89%))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  hsl(0,0%,98%) 0%,hsl(0,0%,89%) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  hsl(0,0%,98%) 0%,hsl(0,0%,89%) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  hsl(0,0%,98%) 0%,hsl(0,0%,89%) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  hsl(0,0%,98%) 0%,hsl(0,0%,89%) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 1px 2px #AAAAAA;
    display: inline-block;
    margin-left: 20px;
    padding: 5px 15px;
}

#edit_server .wizard-content-step .radio-wrapper .inline {
    padding-top: 0px;
}

#edit_server .wizard-content-step .well .well-title {
    font-family: 'Lobster', cursive;
    color: #22ccff;
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 30px 0;
}

#edit_server .wizard-content-step .well {
    display: block;
    margin: 20px auto auto;
}

#edit_server .wizard-content-step #test_number {
    height: 35px;
    width: 140px;
    margin-top: 20px;
    text-align: center;
}

.ui-dialog #edit_server .wizard-content-step .well {
    margin: 20px 20px 0px 20px;
}

#edit_server .wizard-content-step .well .row-fluid {
    line-height: 40px;
    text-align: left;
}

#edit_server .wizard-content-step .well .row-fluid input {
    margin: 5px 0;
}

#edit_server .wizard-content-step .well .registration-server-ip:not(:last-child) {
    margin-right: 50px;
}

#edit_server .wizard-content-step .well .field-name {
    text-align: right;
}

#edit_server .wizard-content-step .help-registration {
    display: block;
    line-height: 30px;
    margin: 10px auto auto;
    max-width: 650px;
}

/* Step 3 */
#edit_server .wizard-content-step .testing-block #stop_tests {
    margin-left: 5px;
    text-decoration: none;
}

#edit_server .wizard-content-step .testing-block {
    width: 680px;
    margin: auto;
}

#edit_server .wizard-content-step .testing-block .configure-line {
    margin-top: 25px;
}

#edit_server .wizard-content-step .testing-block .configure-line [data-toggle="tooltip"] {
    float: left;
}

#edit_server .wizard-content-step .testing-block .configure-line input[type="text"] {
    width: auto;
}

#edit_server .wizard-content-step .testing-block .configure-line .btn-group {
    margin-top: 5px;
}

#edit_server .wizard-content-step .testing-block .configure-line .title > label{
    color: #22ccff;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
}

#edit_server .wizard-content-step .testing-block .testing-progress {
    height: 55px;
    line-height: 40px;
}

#edit_server .wizard-content-step .testing-block .testing-step {
    color: #22ccff;
    padding: 7px 0;
    text-align: center;
    white-space: nowrap;
}

#edit_server .wizard-content-step .testing-block .testing-step.title {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

#edit_server .wizard-content-step .testing-block .testing-step .testing-step-title i{
    margin-right: 10px;
    display: none;
}

#edit_server form {
    margin: 0;
}

#edit_server .wizard-buttons {
    margin-bottom: 20px;
}

#edit_server .header-step {
    line-height: 30px;
    text-align: center;
    display: none;
}

#edit_server .header-step #phone_number_test {
    color: #22ccff;
    font-size: 18px;
    font-weight: 500;
}

#edit_server .wizard-automatic {
    padding: 0 20px;
}

#edit_server .wizard-automatic-step {
    display: none;
}

#edit_server .wizard-automatic-step-title {
    font-size: 22px;
    text-align: left;
    margin-bottom: 25px;
}

#edit_server .wizard-automatic-step-title i{
    background: #44cc44;
    border-radius: 22px 22px 22px 22px;
    color: #EEEEEE;
    font-size: 22px;
    margin-right: 10px;
    padding: 6px 10px;
}

#edit_server .wizard-automatic-step-title a {
    font-size: 14px;
}

#edit_server .wizard-automatic-step-content .progress-title {
    font-size: 18px;
    font-weight: 500;
}

#edit_server .wizard-automatic-step-content table tr {
    line-height: 30px;
}

#edit_server .wizard-automatic-step-content table tr td {
    padding: 0 10px;
    min-width: 15px;
}

#edit_server .wizard-automatic-step-content table tr td:first-child {
    border-right: 1px solid #aaa;
}

#edit_server .wizard-automatic-step:not([data-value="8"]) .wizard-automatic-step-content table tr td i {
    display: none;
}
