.move-pbx-popup {
    padding: 20px;
}

/* Add DID Popup */
#edit_number .row-fluid.centered {
    text-align: center;
}

#edit_number .row-fluid.row-popup {
    text-align: center;
    padding: 15px 0;
}

#edit_number .help-box {
    margin: 20px;
}

#edit_number .area_code_input {
    font-size: 24px;
    height: 28px;
    margin: 0;
    padding: 8px 11px;
    width: 60px;
    text-align: center;
    color: #22ccff;
}

#edit_number .area_code_input::-webkit-input-placeholder {
    color: #CCCCCC !important;
    font-size: 12px !important;
}

#edit_number .area_code_input::-moz-placeholder {
    color: #CCCCCC !important;
    font-size: 12px !important;
}

#edit_number .toggle_div {
    border-top: 1px solid #ccc;
    padding: 15px 20px;
    margin: 0;
}

#edit_number .content .stats {
    text-align: left;
}

#edit_number .content .toggle_div .right-div .row-fluid:not(:last-child) {
    margin-bottom: 20px;
}

#edit_number #add_numbers_button {
    padding: 11px 40px;
}

#edit_number .number-box {
    height: 35px;
    line-height: 35px;
}

#edit_number .number-box input[type="checkbox"] {
    margin: 0;
}

#edit_number .content .stats .title_stats {
    font-size: 16px;
    font-weight: 500;
}

#edit_number .content .stats .stat_number {
    font-size: 26px;
    color: #22ccff;
    font-weight: 500;
}

#edit_number #foundDIDList {
    /*max-height: 206px;
    overflow-y: auto;*/
    height: 206px;
    overflow: auto;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

/* Port Number */
#port_number {
    background-color: #fff;
    padding: 0px;
    cursor: default;
}

#port_number .wizard_buttons {
    height: 30px;
    text-align: right;
    padding: 15px;
}

#port_number .wizard_buttons > button > i {
    margin-right: 10px;
}

#port_number .wizard_buttons > button.next_step > i {
    margin-left: 10px;
    margin-right: 0px;
}

#port_number .wizard_buttons .prev_step {
    float: left;
}

#port_number .wizard_content {
    margin-top: 20px;
    margin: auto;
    background: #fff;
    width: 588px;
    padding: 10px;
}

#port_number .wizard_content form {
    margin-bottom: 0px;
}

#port_number .wizard_nav {
    background: rgb(68,68,68); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(68,68,68,1) 0%, rgba(89,89,89,1) 50%, rgba(68,68,68,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(68,68,68,1)), color-stop(50%,rgba(89,89,89,1)), color-stop(100%,rgba(68,68,68,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(68,68,68,1) 0%,rgba(89,89,89,1) 50%,rgba(68,68,68,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(68,68,68,1) 0%,rgba(89,89,89,1) 50%,rgba(68,68,68,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(68,68,68,1) 0%,rgba(89,89,89,1) 50%,rgba(68,68,68,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(68,68,68,1) 0%,rgba(89,89,89,1) 50%,rgba(68,68,68,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#444444',GradientType=1 ); /* IE6-9 */
}

#port_number .wizard_nav .steps_text {
    list-style: none;
    overflow: hidden;
    padding: 0px;
    margin: auto;
    display: block;
    float: left;
    font-size: 12px;
}

#port_number .wizard_nav .steps_text ul {
    list-style: none;
    margin: 0;
}

#port_number .wizard_nav .steps_image .round_circle {
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 20px;
    color: #eee;
    border-radius: 55px;
    margin: 10px 30px;
    border: 1px solid #222;
    float: left;
    text-align: center;
    background: rgb(34,34,34); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(34,34,34,1) 0%, rgba(57,57,57,1) 40%, rgba(57,57,57,1) 60%, rgba(34,34,34,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(34,34,34,1)), color-stop(40%,rgba(57,57,57,1)), color-stop(60%,rgba(57,57,57,1)), color-stop(100%,rgba(34,34,34,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(34,34,34,1) 0%,rgba(57,57,57,1) 40%,rgba(57,57,57,1) 60%,rgba(34,34,34,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(34,34,34,1) 0%,rgba(57,57,57,1) 40%,rgba(57,57,57,1) 60%,rgba(34,34,34,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(34,34,34,1) 0%,rgba(57,57,57,1) 40%,rgba(57,57,57,1) 60%,rgba(34,34,34,1) 100%); /* IE10+ */
    background: linear-gradient(-45deg,  rgba(34,34,34,1) 0%,rgba(57,57,57,1) 40%,rgba(57,57,57,1) 60%,rgba(34,34,34,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#222222',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#port_number .wizard_nav .steps_image .round_circle.current {
    background: rgb(3,157,209); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(3,157,209,1) 25%, rgba(0,133,192,1) 75%, rgba(2,132,190,1) 87%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(25%,rgba(3,157,209,1)), color-stop(75%,rgba(0,133,192,1)), color-stop(87%,rgba(2,132,190,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(3,157,209,1) 25%,rgba(0,133,192,1) 75%,rgba(2,132,190,1) 87%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(3,157,209,1) 25%,rgba(0,133,192,1) 75%,rgba(2,132,190,1) 87%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(3,157,209,1) 25%,rgba(0,133,192,1) 75%,rgba(2,132,190,1) 87%); /* IE10+ */
    background: linear-gradient(-45deg,  rgba(3,157,209,1) 25%,rgba(0,133,192,1) 75%,rgba(2,132,190,1) 87%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#039dd1', endColorstr='#0284be',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#port_number .wizard_nav .steps_text li {
    font-size: 12px;
    float: left;
    color: #fff;
    width: 132px;
    padding: 0 10px 10px;
    text-align: center;
}

#port_number .wizard_nav .steps_text li span {
    font-size: 11px;
    color: #eeeeee;
    display: block;
}

#port_number .wizard_nav .steps_text li.current {
    color: #22ccff;
}

#port_number .port_help {
    margin-top: 15px;
    text-align: left;
    font-size: 10px;
    line-height: 16px;
    display: block;
    font-weight: normal;
}

#port_number .step_div {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
}

#port_number .step_div .title {
    font-weight: 500;
    font-size: 14px;
    margin: 10px 0px 25px 15px;
    text-align: left;
}

#port_number .step_div .left_part {
    float: left;
    text-align: right;
    width: 48%;
}

#port_number .step_div .left_part.text_only {
    line-height: 22px;
}

#port_number .step_div .right_part {
    float: left;
    text-align: left;
    margin-left: 4%;
    width: 48%;
}

/* Step 1 */
#port_number .step_div.first {
    width: 95%;
    font-weight: 500;
}

#port_number .step_div .split_div.last {
    margin-bottom: 20px;
}

#port_number .step_div.first .split_div {
    width: 100%;
    margin-top: 20px;
    min-height: 30px;
}

#port_number .step_div.first .split_div .left_part {
    width: 48%;
    float: left;
    text-align: right;
}

#port_number .step_div.first .split_div .right_part {
    width: 48%;
    float: left;
    text-align: left;
    margin-left: 4%;
}

#port_number .step_div.first .numbers_text {
    height: 160px;
    width: 210px;
}

#port_number .step_div.first .carrier_dropdown {
    margin-top: 5px;
    width: 220px;
    max-width: 235px;
}

#port_number .step_div.first .numbers_example {
    color: #22ccff;
    margin-top: 5px;
    font-size: 10px;
    font-weight: 500;
}

#port_number .step_div.first .other_carrier {
    margin-top: 5px;
    width: 229px;
}

/* Step 2*/
#port_number .step_div.second .left_part {
    width: 48%;
}

#port_number .step_div.second .left_part .field {
    margin-bottom: 5px;
    float: left;
}

#port_number .step_div.second .left_part .field label {
    width: 115px;
    float: left;
    margin-top: 5px;
}

#port_number .step_div.second .left_part .field input {
    width: 140px;
    margin-left: 10px;
}

#port_number .step_div.second .right_part .bill_image {
    width: 266px;
    height: 129px;
    background: url('images/bill.jpg');
    box-shadow: 1px 3px 3px #444;
    margin: 0 0 24px;
}

#port_number .step_div.second .right_part .files {
    margin-top: 10px;
}

/* Step 3 */
#port_number .step_div.third .loa_block {
    margin: 20px 15px 0px 15px;
    padding-bottom: 20px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
    font-size: 15px;
}

#port_number .step_div.third .loa_block .upload_block {
    font-size: 13px;
    margin: 10px 0 0 0;
}

/* Step 4 */
#port_number .step_div.fourth .block:not(:last-child) {
    padding-bottom: 30px;
}

#port_number .step_div.fourth .block .checkbox_line {
    text-align: left;
    margin: 10px;
}

#port_number .step_div.fourth .block .checkbox_line input {
    margin: 0 5px 0 15px;
}

#number_list {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Old Trunkstore Popup */
.trunkstore_popup .note_icon {
    background: url('images/note.png') no-repeat;
    width: 23px;
    height: 23px;
    display: inline-block;
}

.trunkstore_popup p.note_box {
    background-color: #E7E7E7;
    padding: 15px 10px;
    font-size: 12px;
    line-height:15px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 2px solid #A6A6A6;
    text-align: center;
}

.trunkstore_popup .help {
    margin-top: 15px;
    text-align: left;
    font-size: 10px;
    line-height: 16px;
    display: block;
    font-weight: normal;
}

.trunkstore_popup .fancy_help {
    margin-top: 15px;
    text-align: left;
    font-size: 11px;
    line-height: 16px;
    font-weight: normal;
    margin: 5px 2% 5px 2%;
    padding: 1%;
    display: inline-block;
    width: 93%;
}

.trunkstore_popup .fancy_help.small {
    width: 250px;
}

.trunkstore_popup .fancy_help.small .wrapper_icon {
    width: 23px;
}

.trunkstore_popup .fancy_help.small .help_text {
    width: 220px;
}

.trunkstore_popup .fancy_help.border {
    background: #ddd;
    border: 1px solid #adadad;
}

.trunkstore_popup .fancy_help .wrapper_icon {
    text-align: center;
    padding-right: 1%;
    width: 5%;
    display: inline-block;
    vertical-align: middle;
}

.trunkstore_popup .fancy_help .help_text {
    width: 93%;
    display: inline-block;
    vertical-align: middle;
}

/* FAILOVER POPUP */
.trunkstore_popup.failover {
    padding: 0px;
}

.trunkstore_popup.failover .buttons {
    text-align: center;
    margin-top: 15px;
}

.trunkstore_popup.failover .buttons > button {
    width: 150px;
    padding: 10px;
}

.trunkstore_popup.failover .header {
    background: url('images/failover_header.png') no-repeat center;
    width: 540px;
    height: 136px;
}

.trunkstore_popup.failover .block-container {
    margin-top: 30px;
    margin: 30px 0;
}

.trunkstore_popup.failover .block-container .wrapper-phone-icon {
    margin-bottom: 10px;
}

.trunkstore_popup.failover .block-container label {
    font-size: 16px;
    font-weight: 500;
    margin: 10px;
}

.trunkstore_popup.failover .block-container input {
    padding: 10px 15px;
    text-align: center;
    width: 150px;
}

.trunkstore_popup.failover .block-container > .span2 {
    margin-top: 87px;
}

.trunkstore_popup.failover .icon-phone {
    background-color: #BBBBBB;
    border-radius: 22px 22px 22px 22px;
    color: #EEEEEE;
    font-size: 32px;
    padding: 6px 10px;
}

.trunkstore_popup.failover .failover-block.selected .icon-phone {
    background-color: #44cc44;
}

.trunkstore_popup.failover form {
    margin:  0 20px;
    padding: 0 0 10px;
}
/* e911 POPUP */
.trunkstore_popup.e911 {
    text-align: center;
}

.trunkstore_popup.e911 form#e911 {
    text-align: left;
}

.trunkstore_popup.e911 .row-fluid:not(:first-child) {
    margin-top: 25px;
}

.trunkstore_popup.e911 .e911_image {
    background: url('images/e911_image.png') no-repeat center;
    width: 100px;
    height: 193px;
    margin-bottom: 10px;
    display: inline-block;
}

.trunkstore_popup.e911 .e911_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
}

.trunkstore_popup.e911 .e911_text .big_blue_text {
    color: #22ccff;
    font-size: 32px;
}

/* CNAM POPUP */
.trunkstore_popup.cnam {
    padding: 15px 15px 0 15px;
    width: 440px;
}

.trunkstore_popup.cnam .right_part{
    line-height: 40px;
    font-size: 18px;
}

.trunkstore_popup.cnam .left_image {
    background: url('images/cid_phone.png') center no-repeat;
    float: left;
    height: 290px;
    width: 152px;
}

.trunkstore_popup.cnam .right_part {
    float: left;
    margin: 0 10px 0 30px;
    max-width: 300px;
}

.trunkstore_popup.cnam input.caller_id {
    padding: 10px 5px;
}

.trunkstore_popup.cnam .btn.btn-success {
    width: 100%;
    padding: 10px 0;
}

.trunkstore_popup.cnam .right_part .row-fluid {
    text-align: center;
    margin: 25px 0;
}

.trunkstore_popup.cnam .right_part .row-fluid form {
    margin: 0;
}
