<li id="main_topbar_alert">
	<a href="javascript:void(0);" class="links" id="main_topbar_alert_link" data-title="{{i18n.alerts.topbarTooltip}}" data-placement="bottom" data-toggle="tooltip">
		{{telicon "bell"}}
		{{#if showAlertCount}}
			<span class="badge danger">{{alertCount}}</span>
		{{/if}}
	</a>
	<div id="main_topbar_alert_toggle_container" class="topbar-toggle-container">
		{{#each alerts}}
			<div class="alert-toggle-header">
				{{ tryI18n ../i18n.alerts.alertToggle.alertTypes type }}
			</div>
			{{#each alerts}}
				<div class="alert-toggle-item">
					<h1>{{title}}</h1>
					<h2>
						{{#if metadata}}
							Metadata goes here!
						{{else}}
							&nbsp;
						{{/if}}
					</h2>
					{{debug}}
				</div>
			{{/each}}
		{{/each}}
	</div>
</li>
