<li id="main_topbar_alert">
	<a href="javascript:void(0);" class="links" id="main_topbar_alert_link" data-title="{{i18n.alerts.topbarTooltip}}" data-placement="bottom" data-toggle="tooltip">
		{{telicon "bell"}}
		{{#if showAlertCount}}
			<span class="badge danger">{{alertCount}}</span>
		{{/if}}
	</a>
	<div id="main_topbar_alert_toggle_container" class="topbar-toggle-container">
		{{#each alerts}}
			<div class="alert-toggle-header">
				{{ tryI18n ../i18n.alerts.alertToggle.alertTypes @key }}
			</div>
			{{#each this}}
				<div class="alert-toggle-item">
					Item
					{{debug}}
				</div>
			{{/each}}
		{{/each}}
	</div>
</li>
