@import url('submodules/accountDropdown/accountDropdown.css');
@import url('submodules/buyNumbers/buyNumbers.css');
@import url('submodules/callerId/callerId.css');
@import url('submodules/e911/e911.css');
@import url('submodules/failover/failover.css');
@import url('submodules/numbers/numbers.css');
@import url('submodules/port/port.css');
@import url('submodules/chooseModel/chooseModel.css');

/* Hack because of otpimization: can't have relative paths since the folder hierarchy changes after optimization */
.trunkstore_popup.cnam .left_image {
    background: url('static/images/cid_phone.png') center no-repeat;
}

.trunkstore_popup.e911 .e911_image {
    background: url('static/images/e911_image.png') no-repeat center;
}

.trunkstore_popup.failover .header {
    background: url('static/images/failover_header.png') no-repeat center;
}

#buy_number #vanity_search_div .dialpad_img {
    background: url('static/images/dialpad.png') no-repeat center;
}

#vanity_country_select, #tollfree_country_select, #regular_country_select {
    background-image: url('static/images/US_flag.png');
    background-repeat: no-repeat;
}

/* Devices Brands */
.device-popup .brand-selection .brand-box.polycom {
    background: url('static/images/brands/polycom.png') center no-repeat;
}
.device-popup .brand-selection .brand-box.yealink {
    background: url('static/images/brands/yealink.png') center no-repeat;
}
.device-popup .brand-selection .brand-box.cisco {
    background: url('static/images/brands/cisco.png') center no-repeat;
}
.device-popup .brand-selection .brand-box.mocet {
    background: url('static/images/brands/mocet.png') center no-repeat;
}
.device-popup .brand-selection .brand-box.snom {
    background: url('static/images/brands/snom.png') center no-repeat;
}
.device-popup .brand-selection .brand-box.audiocodes {
    background: url('static/images/brands/audiocodes.png') center no-repeat;
}

/* Devices Models */

/* Yealink */
.device-image.yealink-t18 {
	background: url('static/images/devices/yealinkt18.jpg') center no-repeat;
}
.device-image.yealink-t20 {
	background: url('static/images/devices/yealinkt20.jpg') center no-repeat;
}
.device-image.yealink-t22 {
	background: url('static/images/devices/yealinkt22.jpg') center no-repeat;
}
.device-image.yealink-t26 {
	background: url('static/images/devices/yealinkt26.jpg') center no-repeat;
}
.device-image.yealink-t28 {
	background: url('static/images/devices/yealinkt28.jpg') center no-repeat;
}
.device-image.yealink-t32 {
	background: url('static/images/devices/yealinkt32.jpg') center no-repeat;
}
.device-image.yealink-t38 {
	background: url('static/images/devices/yealinkt38.jpg') center no-repeat;
}

/* Cisco */
.device-image.cisco-901 {
	background: url('static/images/devices/cisco901.jpg') center no-repeat;
}
.device-image.cisco-921 {
	background: url('static/images/devices/cisco921.jpg') center no-repeat;
}
.device-image.cisco-922 {
	background: url('static/images/devices/cisco922.jpg') center no-repeat;
}
.device-image.cisco-941 {
	background: url('static/images/devices/cisco941.jpg') center no-repeat;
}
.device-image.cisco-942 {
	background: url('static/images/devices/cisco942.jpg') center no-repeat;
}
.device-image.cisco-962 {
	background: url('static/images/devices/cisco962.jpg') center no-repeat;
}
.device-image.cisco-303 {
	background: url('static/images/devices/cisco303.jpg') center no-repeat;
}
.device-image.cisco-501g {
	background: url('static/images/devices/cisco501g.jpg') center no-repeat;
}
.device-image.cisco-502g {
	background: url('static/images/devices/cisco502g.jpg') center no-repeat;
}
.device-image.cisco-504g {
	background: url('static/images/devices/cisco504g.jpg') center no-repeat;
}
.device-image.cisco-525g {
	background: url('static/images/devices/cisco525g.jpg') center no-repeat;
}
.device-image.cisco-525g2 {
	background: url('static/images/devices/cisco525g2.jpg') center no-repeat;
}

/* Polycom */
.device-image.polycom-1500 {
	background: url('static/images/devices/polycom1500.jpg') center no-repeat;
}
.device-image.polycom-321 {
	background: url('static/images/devices/polycom321.jpg') center no-repeat;
}
.device-image.polycom-331 {
	background: url('static/images/devices/polycom331.jpg') center no-repeat;
}
.device-image.polycom-335 {
	background: url('static/images/devices/polycom335.jpg') center no-repeat;
}
.device-image.polycom-450 {
	background: url('static/images/devices/polycom450.jpg') center no-repeat;
}
.device-image.polycom-5000 {
	background: url('static/images/devices/polycom5000.jpg') center no-repeat;
}
.device-image.polycom-550 {
	background: url('static/images/devices/polycom550.jpg') center no-repeat;
}
.device-image.polycom-560 {
	background: url('static/images/devices/polycom560.jpg') center no-repeat;
}
.device-image.polycom-6000 {
	background: url('static/images/devices/polycom6000.jpg') center no-repeat;
}
.device-image.polycom-650 {
	background: url('static/images/devices/polycom650.jpg') center no-repeat;
}
.device-image.polycom-670 {
	background: url('static/images/devices/polycom670.jpg') center no-repeat;
}
.device-image.polycom-7000 {
	background: url('static/images/devices/polycom7000.jpg') center no-repeat;
}