@import "../../../../css/partials/base";

#navigation_wizard_wrapper {
	background-color: #FFFFFF;
}

#navigation_wizard_wrapper .header {
	padding: 15px 0 15px 30px;
	box-shadow: inset 0 -1px 0 0 #BCBCC2,
	0 1px 4px 0 rgba(21, 21, 23, 0.24);
}

#navigation_wizard_wrapper .left-content {
	float: left;
	width: 280px;
	margin-bottom: 20px;
	min-height: 78vh;
}

#navigation_wizard_wrapper .right-content {
	background-color: #F4F4F5;
	margin-bottom: 20px;
	margin-left: 281px;
	padding: 15px 15px 0 55px;
	border-bottom: 1px solid #c0c0c9;
	border-left: 1px solid #c0c0c9;
	min-height: 78vh;
}

#navigation_wizard_wrapper .left-content .nav {
	margin: 25px 10px 0 20px;
}

#navigation_wizard_wrapper .left-content li {
	margin: 15px 0;
}

#navigation_wizard_wrapper #cancel {
	float: right;
	bottom: 38px;
	right: 25px;
}

#navigation_wizard_wrapper .footer {
	margin-right: 25px;
	margin-left: 281px;
	border-left: 1px solid #c0c0c9;
	padding: 15px 15px 30px 0;
	position: relative;
	bottom: 20px;
	height: 50px;
}

#navigation_wizard_wrapper .footer .actions {
	float: right;
}

#navigation_wizard_wrapper .footer .fa {
	margin-left: 8px;
}

#navigation_wizard_wrapper #clear {
	padding: 30px;
	color: black;
}

#navigation_wizard_wrapper .actions .back {
	margin-right: 15px;
}

#navigation_wizard_wrapper .nav .fa {
	float: left;
	position: relative;
	top: 3px;
}

#navigation_wizard_wrapper .nav .fa-circle {
	color: #22A5FF;
	font-size: 9px !important;
	right: 20px;
}

#navigation_wizard_wrapper .nav .fa-check-circle {
	color: #2ED022;
	right: 22px;
}

#navigation_wizard_wrapper .left-content .selected, #navigation_wizard_wrapper .left-content .completed {
	margin-left: 22px;
}

#navigation_wizard_wrapper .left-content .selected li {
	font-weight: bold !important;
}

#navigation_wizard_wrapper .nav .completed, #navigation_wizard_wrapper .nav .selected {
	cursor: pointer;
}

#navigation_wizard_wrapper .nav .completed span, #navigation_wizard_wrapper .nav .step span, #navigation_wizard_wrapper .nav .selected i, #navigation_wizard_wrapper .nav .step i {
	display: none;
}

#navigation_wizard_wrapper .nav .selected span, #navigation_wizard_wrapper .nav .completed i {
	display: block;
}

#navigation_wizard_wrapper .nav .selected .description {
	color: #64646C;
	font-size: 12px;
	line-height: 18px;
	padding: 0;
	position: relative;
	bottom: 10px;
	right: 5px;
}

#navigation_wizard_wrapper .monster-button {
	border-radius: 2px 2px 2px 2px;
	font-family: SourceSansPro-Regular;
	font-size: 14px;
}

#navigation_wizard_wrapper #cancel, #navigation_wizard_wrapper .back {
	background: linear-gradient(-180deg, #FFFFFF 0%, #F4F4F5 100%);
        border: 1px solid #BCBCC2;
	color: #64646C;
}

#navigation_wizard_wrapper #next {
	background: #2297FF;
	border: 1px solid #006BCA;
	height: 38px;
	width: 83px;
	color: #00172B;
}

#navigation_wizard_wrapper #clear {
	color: #64646C;
}

#navigation_wizard_wrapper #done {
	background: #2ED022;
	color: #071F05;
}
