@import "../../../../css/partials/base";

.navigation-wizard .header {
	border-bottom: 1px solid #c0c0c9;
	box-shadow: 1px 2px #e5e5e9;
	padding: 10px 10px 10px 30px;
}

.navigation-wizard .left-content {
	float: left;
	width: 270px;
	margin-bottom: 20px;
	min-height: 600px;
}

.navigation-wizard .right-content {
	background-color: #F9F9F9;
	margin-bottom: 20px;
	margin-left: 271px;
	padding: 15px 15px 0 55px;
	border-bottom: 1px solid #c0c0c9;
	border-left: 1px solid #c0c0c9;
	min-height: 500px;
}

.left-content .nav {
	margin: 25px 10px 0 20px;
}

.left-content li {
	margin: 15px 0;
}

.navigation-wizard #cancel {
	float: right;
	bottom: 38px;
	right: 25px;
}

.navigation-wizard .footer {
	margin-right: 25px;
	border-left: 1px solid #c0c0c9;
	margin-left: 271px;
	padding: 15px 15px 30px 0;
	position: relative;
	bottom: 20px;
}

.navigation-wizard .footer .actions {
	float: right;
}

.navigation-wizard .footer .fa {
	margin-left: 8px;
}

.navigation-wizard #clear {
	padding: 30px;
	color: black;
}

.navigation-wizard .actions .back {
	margin-right: 15px;
}

.navigation-wizard .hide-content, .navigation-wizard .hide-check {
	display: none;
}

.navigation-wizard .show-content {
	display: block;
	font-size: 12px;
	margin-left: 10px;
	color: #909099;
}

.navigation-wizard .left-content .selected, .navigation-wizard .left-content .done {
	margin-left: 22px;
}

.navigation-wizard .left-content .selected {
	font-weight: bold !important;
}

.navigation-wizard .left-content .done {
	font-weight: normal;
}

.navigation-wizard .nav .fa {
	float: left;
	position: relative;
	right: 22px;
	top: 5px;
}

.navigation-wizard .nav .fa-circle {
	color: #22A5FF;
	font-size: 9px !important;
}

.navigation-wizard .nav .fa-check-circle {
	color: #14e715;
}

