/* Step 1 */
#edit_server .pbx-brand-list {
	/*width: 530px;*/
	display: inline-block;
	line-height: 100px;
	margin: 20px 0;
	max-width: 680px;
}

#edit_server .pbx-brand-list .pbx {
	width: 95px;
	height: 67px;
	border: 2px solid #666;
	border-radius: 4px;
	color: #666;
	cursor: pointer;
	display: inline-block;
	font-weight: 500;
	line-height: 69px;
	margin-right: 20px;
	background: #fff;
	text-align: center;
}

#edit_server .pbx-brand-list .pbx.selected {
	border: 2px solid #22ccff;
	color: #22ccff;
	opacity: 1 !important;
}

#edit_server .info_pbx {
	min-height: 25px;
}

#edit_server .selected-pbx {
	color: #22ccff;
	font-weight: 500;
		font-size: 15px;
}

#edit_server .selected-pbx-block input {
	margin: 0px 5px 5px 5px
}

#edit_server .selected-pbx-block > div {
	display: inline-block;
}

#edit_server .selected-pbx-block label.monster-invalid {
	margin-left: 5px;
}

#edit_server .pbx-brand-list .bluebox {
	background: url('static/images/endpoints/bluebox.png');
}

#edit_server .pbx-brand-list .freeswitch {
	background: url('static/images/endpoints/freeswitch.png');
}

#edit_server .pbx-brand-list .threecom {
	background: url('static/images/endpoints/threecom.png');
}

#edit_server .pbx-brand-list .allworks {
	background: url('static/images/endpoints/allworks.png');
}

#edit_server .pbx-brand-list .altigen {
	background: url('static/images/endpoints/altigen.png');
}

#edit_server .pbx-brand-list .asterisk {
	background: url('static/images/endpoints/asterisk.png');
}

#edit_server .pbx-brand-list .avaya {
	background: url('static/images/endpoints/avaya.png');
}

#edit_server .pbx-brand-list .cisco {
	background: url('static/images/endpoints/cisco.png');
}

#edit_server .pbx-brand-list .digium {
	background: url('static/images/endpoints/digium.png');
}

#edit_server .pbx-brand-list .epygi {
	background: url('static/images/endpoints/epygi.png');
}

#edit_server .pbx-brand-list .freepbx {
	background: url('static/images/endpoints/freepbx.png');
}

#edit_server .pbx-brand-list .mitel {
	background: url('static/images/endpoints/mitel.png');
}

#edit_server .pbx-brand-list .objectworld {
	background: url('static/images/endpoints/objectworld.png');
}

#edit_server .pbx-brand-list .pingtel {
	background: url('static/images/endpoints/pingtel.png');
}

#edit_server .pbx-brand-list .responsepoint {
	background: url('static/images/endpoints/responsepoint.png');
}

#edit_server .pbx-brand-list .samsung {
	background: url('static/images/endpoints/samsung.png');
}

#edit_server .pbx-brand-list .shoretel {
	background: url('static/images/endpoints/shoretel.png');
}

#edit_server .pbx-brand-list .sutus {
	background: url('static/images/endpoints/sutus.png');
}

#edit_server .pbx-brand-list .talkswitch {
	background: url('static/images/endpoints/talkswitch.png');
}

#edit_server .pbx-brand-list .taridium {
	background: url('static/images/endpoints/taridium.png');
}

/* Step 2 */
#edit_server .wizard-content-step .radio-wrapper {
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  hsl(0,0%,98%) 0%, hsl(0,0%,89%) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(0,0%,98%)), color-stop(100%,hsl(0,0%,89%))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  hsl(0,0%,98%) 0%,hsl(0,0%,89%) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  hsl(0,0%,98%) 0%,hsl(0,0%,89%) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  hsl(0,0%,98%) 0%,hsl(0,0%,89%) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  hsl(0,0%,98%) 0%,hsl(0,0%,89%) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 1px 2px #AAAAAA;
	display: inline-block;
	margin-left: 20px;
	padding: 5px 15px;
}

#edit_server .wizard-content-step .radio-wrapper .inline {
	padding-top: 0px;
}

#edit_server .wizard-content-step .well .well-title {
	font-family: 'Lobster', cursive;
	color: #22ccff;
	font-size: 36px;
	line-height: 36px;
	margin: 0 0 30px 0;
}

#edit_server .wizard-content-step .well {
	display: block;
	margin: 20px auto auto;
}

#edit_server .wizard-content-step #test_number {
	height: 35px;
	width: 140px;
	margin-top: 20px;
	text-align: center;
}

.ui-dialog #edit_server .wizard-content-step .well {
	margin: 20px 20px 0px 20px;
}

#edit_server .wizard-content-step .well .row-fluid {
	line-height: 40px;
	text-align: left;
}

#edit_server .wizard-content-step[data-step="2"] .well .row-fluid:not(:last-of-type) {
	margin-bottom: 5px;
	position: relative;
}

#edit_server .wizard-content-step[data-step="2"] .well .row-fluid label.monster-invalid {
	top: 36px;
}

#edit_server .wizard-content-step .well .row-fluid input {
	margin: 5px 0;
}

#edit_server .wizard-content-step .well .registration-server-ip:not(:last-child) {
	margin-right: 50px;
}

#edit_server .wizard-content-step .well .field-name {
	text-align: right;
}

#edit_server .wizard-content-step .help-registration {
	display: block;
	line-height: 30px;
	margin: 10px auto auto;
	max-width: 650px;
}

/* Step 3 */
#edit_server .wizard-content-step .testing-block #stop_tests {
	margin-left: 5px;
	text-decoration: none;
}

#edit_server .wizard-content-step .testing-block {
	width: 680px;
	margin: auto;
}

#edit_server .wizard-content-step .testing-block .configure-line {
	margin-top: 25px;
}

#edit_server .wizard-content-step .testing-block .configure-line [data-toggle="tooltip"] {
	float: left;
}

#edit_server .wizard-content-step .testing-block .configure-line input[type="text"] {
	width: auto;
}

#edit_server .wizard-content-step .testing-block .configure-line .btn-group {
	margin-top: 5px;
}

#edit_server .wizard-content-step .testing-block .configure-line .title > label{
	color: #22ccff;
	font-size: 16px;
	font-weight: 500;
	text-align: right;
}

#edit_server .wizard-content-step .testing-block .testing-progress {
	height: 55px;
	line-height: 40px;
}

#edit_server .wizard-content-step .testing-block .testing-step {
	color: #22ccff;
	padding: 7px 0;
	text-align: center;
	white-space: nowrap;
}

#edit_server .wizard-content-step .testing-block .testing-step.title {
	font-size: 18px;
	font-weight: 500;
	color: #fff;
}

#edit_server .wizard-content-step .testing-block .testing-step .testing-step-title i{
	margin-right: 10px;
	display: none;
}

#edit_server form {
	margin: 0;
}

#edit_server .wizard-buttons {
	margin-bottom: 40px;
}

#edit_server .header-step {
	line-height: 30px;
	text-align: center;
	display: none;
}

#edit_server .header-step #phone_number_test {
	color: #22ccff;
	font-size: 18px;
	font-weight: 500;
}

#edit_server .wizard-automatic {
	padding: 0 20px;
}

#edit_server .wizard-automatic-step {
	display: none;
}

#edit_server .wizard-automatic-step-title {
	font-size: 22px;
	text-align: left;
	margin-bottom: 25px;
}

#edit_server .wizard-automatic-step-title i{
	background: #44cc44;
	border-radius: 22px 22px 22px 22px;
	color: #EEEEEE;
	font-size: 22px;
	margin-right: 10px;
	padding: 6px 10px;
}

#edit_server .wizard-automatic-step-title a {
	font-size: 14px;
}

#edit_server .wizard-automatic-step-content .progress-title {
	font-size: 18px;
	font-weight: 500;
}

#edit_server .wizard-automatic-step-content table tr {
	line-height: 30px;
}

#edit_server .wizard-automatic-step-content table tr td {
	padding: 0 10px;
	min-width: 15px;
}

#edit_server .wizard-automatic-step-content table tr td:first-child {
	border-right: 1px solid #aaa;
}

#edit_server .wizard-automatic-step:not([data-value="8"]) .wizard-automatic-step-content table tr td i {
	display: none;
}
/* For some reason the check icon is not really aligned like the other, hack to slightly change the offset to center it visually */
#pbxs_manager_view #edit_server .wizard-top-bar .steps-wrapper .step[data-step="1"] .wrapper-icon {
	padding: 17px 13px 13px 17px;
}

/*************************************************************************************************************************************************
**************************************************************************************************************************************************
**************************************************************************************************************************************************
**************************************************************************************************************************************************
**************************************************************************************************************************************************
*************************************************************************************************************************************************/

/* Unassigned Numbers */
#ws-content #list_pbxs_navbar #unassigned_numbers {
	color: #333;
	display: none;
	position: absolute;
	right: 30px;
	bottom: 120px;
	width: 270px;
}

#ws-content #list_pbxs_navbar #unassigned_numbers #unassigned_numbers_header {
	background-color:#22a5ff;
	background-image:linear-gradient(to bottom,#22a5ff,#22ccff);
	background-image:-moz-linear-gradient(top,#22a5ff,#22ccff);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#22a5ff),to(#22ccff));
	background-image:-webkit-linear-gradient(top,#22a5ff,#22ccff);
	background-image:-o-linear-gradient(top,#22a5ff,#22ccff);
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ff22a5ff',endColorstr='#ff22ccff',GradientType=0);

	border-radius: 4px 4px 0 0;
	color: #eee;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	height: 40px;
	line-height: 38px;
	min-width: 250px;
	padding: 0 10px;
}

#ws-content #list_pbxs_navbar #unassigned_numbers #unassigned_numbers_header > *:not(i) {
	margin: 0 5px;
}

#ws-content #list_pbxs_navbar #unassigned_numbers #unassigned_numbers_header i {
	line-height: 38px;
}

#ws-content #list_pbxs_navbar #unassigned_numbers #unassigned_numbers_header  {
	float: right;
	margin-right: 0;
}

#ws-content #list_pbxs_navbar #unassigned_numbers #unassigned_numbers_header i.icon-chevron-down {
	display: none;
}

#ws-content #list_pbxs_navbar #unassigned_numbers #unassigned_numbers_header #unassigned_numbers_count {
	font-size: 18px;
	line-height: 40px;
	margin-right: 15px;
}

#ws-content #list_pbxs_navbar #unassigned_numbers #unassigned_numbers_header.open i.icon-chevron-down {
	display: block;
}

#ws-content #list_pbxs_navbar #unassigned_numbers #unassigned_numbers_header.open i.icon-chevron-up {
	display: none;
}

#ws-content #list_pbxs_navbar #unassigned_numbers .content{
	background: #f9f9f9;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	display: none;
}

#ws-content #list_pbxs_navbar #unassigned_numbers .content .search-box {
	border-bottom: 1px solid #ccc;
	padding: 10px;
	text-align: center;
}

#ws-content #list_pbxs_navbar #unassigned_numbers .content #empty_search {
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #FFFFFF;
	display: none;
	height: 50px;
	line-height: 50px;
	padding: 5px;
	text-align: center;
}

#ws-content #list_pbxs_navbar #unassigned_numbers .content #unassigned_actions {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ccc;

	height: 50px;
	line-height: 50px;
}

#ws-content #list_pbxs_navbar #unassigned_numbers .content #unassigned_actions > * {
	border-right: 1px solid #ccc;
	border-left: 1px solid #fff;
	cursor: pointer;
	margin: 0;
	padding: 0 10px;
	width: 50%;
}

#ws-content #list_pbxs_navbar #unassigned_numbers .content #unassigned_actions a{
	text-align: left;
}

#ws-content #list_pbxs_navbar #unassigned_numbers .content #unassigned_actions > *:last-child {
	border-right: 0px;
}

#ws-content #list_pbxs_navbar #unassigned_numbers .content #unassigned_actions > *:first-child {
	border-left: 0px;
}

#ws-content #list_pbxs_navbar #unassigned_numbers .content #unassigned_actions .link-box {
	float: left;
}

#ws-content #list_pbxs_navbar #unassigned_numbers .content #unassigned_actions .link-box i {
	margin: 0 10px;
}

/* TODO Responsive height*/
#ws-content #list_pbxs_navbar #unassigned_numbers .content #unassigned_numbers_wrapper {
	max-height: 500px;
	overflow-y: auto;
}

#ws-content #list_pbxs_navbar #unassigned_numbers .content #unassigned_numbers_wrapper .unassigned-number {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
}


#ws-content #list_pbxs_navbar #unassigned_numbers .content #unassigned_numbers_wrapper .unassigned-number .phone-number {
	display: inline-block;
	width: 150px;
}

#ws-content #list_pbxs_navbar #unassigned_numbers .content #unassigned_numbers_wrapper .unassigned-number input[type="checkbox"] {
	margin: 0 10px 0 0;
}

#ws-content #list_pbxs_navbar #unassigned_numbers .content #unassigned_numbers_wrapper .no-number {
	line-height: 50px;
	padding: 5px 10px;
	text-align: center;
}

#ws-content #list_pbxs_navbar #pbxs_manager_listpanel {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

#ws-content #list_pbxs_navbar .pbx-wrapper {
	display: inline-block;
	height: 87px;
	margin-right: 15px;
	text-align: center;
	width: 115px;
	margin-top: -20px
}

#ws-content #list_pbxs_navbar .pbx-wrapper .pbx-name {
	color: #eee;
	margin-top: 10px;
	overflow: hidden;
}

#ws-content #list_pbxs_navbar .pbx-wrapper:hover .pbx-name, #ws-content #list_pbxs_navbar .pbx-wrapper.selected .pbx-name{
	color: #22ccff;
}

#ws-content #list_pbxs_navbar .pbx-wrapper .img-wrapper {
	background: #fff;
	border: 3px solid #333;
	border-radius: 4px;
	color: #22ccff;
	font-size: 60px;
	font-weight: 500;
	height: 51px;
	margin: auto;
	opacity: 0.9;
	width: 76px;
	z-index: 3
}

#ws-content #list_pbxs_navbar #add_pbx .img-wrapper {
	line-height: 42px;
}

#ws-content #list_pbxs_navbar .pbx-wrapper:hover .img-wrapper{
	border: 3px solid #22ccff;
	color: #22ccff;
	cursor: pointer;
	font-weight: 500;
	opacity: 1;
}

#ws-content #list_pbxs_navbar .pbx-wrapper.selected .img-wrapper{
	border: 3px solid #22ccff;
	color: #22ccff;
	font-weight: 500;
}


#ws-content .notif-phones {
	background: #22ccff;
	border-radius:50%;
	width:23px;
	height:23px;
	border:2px solid #22ccff;
	z-index: 4;
	position: relative;
	top: 20px;
	left: 84px;
	color: white;
	text-align: center;
	line-height: 23px;
	font-size: 12px;
	font-weight: bold;

}

#ws-content #list_pbxs_navbar #add_pbx {
	cursor: pointer;
	float: right;
	margin: 0px 5px auto 10px;
}

#ws-content #list_pbxs_navbar #add_pbx .plus-btn{
	margin-top: 10px
}

#ws-content #list_pbxs_navbar #add_pbx:hover .plus-btn {
	background-position: 0px 25px;
}

#ws-content #pbx_connector_container {
	margin: 20px auto 160px;
	width: 902px; /* 3 columns of 300px + padding and borders */
	display: block;
}

#ws-content #pbx_connector_container .pbx-title{
	margin: 0;
}

#ws-content #pbx_connector_container .pbx-title .img-style {
	box-shadow: 1px 1px 5px #ccc;
	margin: 15px;
}

#ws-content #pbx_connector_container .pbx-title .dropdown-toggle i {
	font-size: 26px;
}

#ws-content #pbx_connector_container .pbx-title .dropdown-toggle {
	padding: 27.5px 15px 0;
}

#ws-content #pbx_connector_container .dropdown-menu{
	font-size: 16px;
}

#ws-content #pbx_connector_container .dropdown-menu i {
	margin-right: 10px;
}

#ws-content #pbx_connector_container .dropdown-menu .pbx-dropdown.empty {
	padding: 5px;
}

#ws-content #pbx_connector_container #actions_wrapper {
	margin: 30px 0 0 0;
	line-height: 40px;
}

#ws-content #pbx_connector_container #actions_wrapper #count_phones {
	color: #aaa;
	font-size: 24px;
	margin: 0 25px 0px 3px;
}

#ws-content #pbx_connector_container #actions_wrapper #trigger_links {
	display: none;
}

#ws-content #pbx_connector_container #actions_wrapper label{
	font-size: 16px;
	font-weight: 500;
}

#ws-content #pbx_connector_container #actions_wrapper a.action-number {
	margin-right: 20px;
	color: #666666;
	white-space: nowrap;
	text-decoration: none !important;
}

#ws-content #pbx_connector_container #actions_wrapper .buy-numbers-dropdown {
	margin: 0;
	display: inline-block;
}

#ws-content #pbx_connector_container #actions_wrapper .buy-numbers-dropdown .dropdown-menu {
	min-width: 0;
}

#ws-content #pbx_connector_container #actions_wrapper a.action-number:hover .action-text {
	text-decoration: underline;
}

#ws-content #pbx_connector_container #actions_wrapper a i{
	margin-right: 5px;
}

#ws-content #pbx_connector_container #actions_wrapper .dropdown-move {
	list-style: none;
	display: inline-block;
	margin-right: 20px;
}

#ws-content #pbx_connector_container #actions_wrapper .dropdown-move img {
	margin-right: 10px;
}

#ws-content #pbx_connector_container #actions_wrapper .dropdown-move a {
	margin-right: 0;
	line-height: 32px;
}

#ws-content #pbx_connector_container .numbers-wrapper{
	margin: 0 0 15px 0px;
	display: inline-block;
	width: 100%;
}

#ws-content #list_pbxs_navbar .link-box:hover  {
	background: rgb(240,240,240); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(240,240,240,1) 0%, rgba(249,249,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(249,249,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(249,249,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(249,249,249,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(249,249,249,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(240,240,240,1) 0%,rgba(249,249,249,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

#ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper {
	border: 1px solid #ccc;
	border-bottom-width: 0px;
	float: left;
	margin-right: 20px;
	margin-top: -1px;
	width: 268px;
}

#ws-content #pbx_connector_container .dropdown-toggle {
	background: transparent;
}

#ws-content #pbx_connector_container .dropdown-toggle i:hover {
	color: #333;
}

#ws-content #pbx_connector_container .no-number {
	background: #f9f9f9;

	border-radius: 4px;
	border: 1px solid #ccc;
	line-height: 50px;
	padding: 5px 10px;
	text-align: center;
}

#ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper:nth-of-type(1) {
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
}

#ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper:nth-of-type(2) {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper:nth-last-of-type(1) {
		border-bottom-left-radius: 5px !important;
		border-bottom-right-radius: 5px !important;

		border-bottom-width: 1px;
}

#ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper:nth-last-of-type(2) {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;

		border-bottom-width: 1px;
}

#ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper:nth-of-type(2n+0) {
	margin-right: 0;
}

#ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper .number-options {
	margin-top: 3px;
}

#ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper .features {
	cursor: default;
}

#ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper .features i{
	margin-left: 10px;
}

#ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper input[type="checkbox"] {
	margin: -2px 4px 0 4px;
}

#ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper .phone-number {
	margin-left: 4px;
	display: inline-block;
	width: 135px;
}

#ws-content #pbx_connector_container #search_results #count_result {
	margin-bottom: 10px;
}

/* Responsive Design Specifics */
@media (max-width: 662px) {
	#ws-content #pbx_connector_container {
		width: 292px; /* 1 columns of 300px + padding and borders */
	}

	#ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper:nth-of-type(2), #ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper:nth-last-of-type(2) {
		border-radius: 0;
	}

	#ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper {
		margin-right: 0;
	}

	#ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper .flag {
		display: none;
	}
}

@media (min-width: 663px) and (max-width: 962px) {
	#ws-content #pbx_connector_container {
		width: 582px; /* 2 columns of 300px + padding and borders */
	}

	#ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper .flag {
		display: none;
	}
}

@media (max-width: 962px) {
	#ws-content #pbx_connector_container .no-number {
		line-height: 25px;
	}

	#ws-content #pbx_connector_container #search_results {
		margin-top: 50px;
	}

	#ws-content #pbx_connector_container .search-box {
		margin: 10px 0 20px;
		width: 100%;
	}
}

@media (min-width: 963px) and (max-width: 1262px) {
	#ws-content #pbx_connector_container {
		width: 882px; /* 2 columns of 408px + padding and borders */
	}

	#ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper {
		width: 418px;
	}
}

@media (min-width: 1263px) {
	#ws-content #pbx_connector_container {
		width: 1182px; /* 3 columns of 368px + padding and borders */
	}

	#ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper {
		width: 368px;
	}

	#ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper:nth-of-type(3) {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	#ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper:nth-last-of-type(3) {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;

		border-bottom-width: 1px;
	}

	#ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper:nth-of-type(2n+0) {
		margin-right: 20px;
	}

	#ws-content #pbx_connector_container .numbers-wrapper div.number-wrapper:nth-of-type(3n+0) {
		margin-right: 0;
	}
}

/* Responsive Height */
@media (min-height: 680px) and (max-height: 880px) {
	#ws-content #list_pbxs_navbar #unassigned_numbers .content #unassigned_numbers_wrapper {
		max-height: 350px;
	}
}

@media (min-height: 580px) and (max-height: 679px) {
	#ws-content #list_pbxs_navbar #unassigned_numbers .content #unassigned_numbers_wrapper {
		max-height: 250px;
	}
}

@media (max-height: 579px) {
	#ws-content #list_pbxs_navbar #unassigned_numbers .content #unassigned_numbers_wrapper {
		max-height: 150px;
	}
}

.pbx-fixed-hscroll {
	position: fixed !important;
	top: auto !important;
	bottom: 1px !important;
}

.unassigned-number-fixed-vscroll {
	position: fixed !important;
	top: auto !important;
	bottom: 121px !important;
}

/*************************************************************************************************************************************************
**************************************************************************************************************************************************
**************************************************************************************************************************************************
**************************************************************************************************************************************************
**************************************************************************************************************************************************
*************************************************************************************************************************************************/

.move-pbx-popup {
	padding: 20px;
}

/* Add DID Popup */
#edit_number .row-fluid.centered {
	text-align: center;
}

#edit_number .row-fluid.row-popup {
	text-align: center;
	padding: 15px 0;
}

#edit_number .help-box {
	margin: 20px;
}

#edit_number .area_code_input {
	font-size: 24px;
	height: 28px;
	margin: 0 5px 0 0;
	padding: 8px 11px;
	width: 60px;
	text-align: center;
	color: #22ccff;
}

#edit_number .area_code_input::-webkit-input-placeholder {
	color: #CCCCCC !important;
	font-size: 12px !important;
}

#edit_number .area_code_input::-moz-placeholder {
	color: #CCCCCC !important;
	font-size: 12px !important;
}

#edit_number .toggle_div {
	border-top: 1px solid #ccc;
	padding: 15px 20px;
	margin: 0;
}

#edit_number .content .stats {
	text-align: left;
}

#edit_number .content .toggle_div .right-div .row-fluid:not(:last-child) {
	margin-bottom: 20px;
}

#edit_number #add_numbers_button {
	padding: 11px 40px;
}

#edit_number .number-box {
	height: 35px;
	line-height: 35px;
}

#edit_number .number-box input[type="checkbox"] {
	margin: -2px 10px 0 0;
}

#edit_number .content .stats .title_stats {
	font-size: 16px;
	font-weight: 500;
}

#edit_number .content .stats .stat_number {
	font-size: 26px;
	color: #22ccff;
	font-weight: 500;
}

#edit_number #foundDIDList {
	/*max-height: 206px;
	overflow-y: auto;*/
	height: 206px;
	overflow: auto;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	border: 1px solid #ddd;
}

/* Port Number */
#port_number {
	background-color: #fff;
	padding: 0px;
	cursor: default;
}

#port_number .wizard_buttons {
	height: 30px;
	text-align: right;
	padding: 15px;
}

#port_number .wizard_buttons > button > i {
	margin-right: 10px;
}

#port_number .wizard_buttons > button.next_step > i {
	margin-left: 10px;
	margin-right: 0px;
}

#port_number .wizard_buttons .prev_step {
	float: left;
}

#port_number .wizard_content {
	margin-top: 20px;
	margin: auto;
	background: #fff;
	width: 588px;
	padding: 10px;
}

#port_number .wizard_content form {
	margin-bottom: 0px;
}

#port_number .wizard_nav {
	background: rgb(68,68,68); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(68,68,68,1) 0%, rgba(89,89,89,1) 50%, rgba(68,68,68,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(68,68,68,1)), color-stop(50%,rgba(89,89,89,1)), color-stop(100%,rgba(68,68,68,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(68,68,68,1) 0%,rgba(89,89,89,1) 50%,rgba(68,68,68,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(68,68,68,1) 0%,rgba(89,89,89,1) 50%,rgba(68,68,68,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(68,68,68,1) 0%,rgba(89,89,89,1) 50%,rgba(68,68,68,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(68,68,68,1) 0%,rgba(89,89,89,1) 50%,rgba(68,68,68,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#444444',GradientType=1 ); /* IE6-9 */
}

#port_number .wizard_nav .steps_text {
	list-style: none;
	overflow: hidden;
	padding: 0px;
	margin: auto;
	display: block;
	float: left;
	font-size: 12px;
}

#port_number .wizard_nav .steps_text ul {
	list-style: none;
	margin: 0;
}

#port_number .wizard_nav .steps_image .round_circle {
	width: 90px;
	height: 90px;
	line-height: 90px;
	font-size: 20px;
	color: #eee;
	border-radius: 55px;
	margin: 10px 30px;
	border: 1px solid #222;
	float: left;
	text-align: center;
	background: rgb(34,34,34); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(34,34,34,1) 0%, rgba(57,57,57,1) 40%, rgba(57,57,57,1) 60%, rgba(34,34,34,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(34,34,34,1)), color-stop(40%,rgba(57,57,57,1)), color-stop(60%,rgba(57,57,57,1)), color-stop(100%,rgba(34,34,34,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(34,34,34,1) 0%,rgba(57,57,57,1) 40%,rgba(57,57,57,1) 60%,rgba(34,34,34,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(34,34,34,1) 0%,rgba(57,57,57,1) 40%,rgba(57,57,57,1) 60%,rgba(34,34,34,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(34,34,34,1) 0%,rgba(57,57,57,1) 40%,rgba(57,57,57,1) 60%,rgba(34,34,34,1) 100%); /* IE10+ */
	background: linear-gradient(-45deg,  rgba(34,34,34,1) 0%,rgba(57,57,57,1) 40%,rgba(57,57,57,1) 60%,rgba(34,34,34,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#222222',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#port_number .wizard_nav .steps_image .round_circle.current {
	background: rgb(3,157,209); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(3,157,209,1) 25%, rgba(0,133,192,1) 75%, rgba(2,132,190,1) 87%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(25%,rgba(3,157,209,1)), color-stop(75%,rgba(0,133,192,1)), color-stop(87%,rgba(2,132,190,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(3,157,209,1) 25%,rgba(0,133,192,1) 75%,rgba(2,132,190,1) 87%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(3,157,209,1) 25%,rgba(0,133,192,1) 75%,rgba(2,132,190,1) 87%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(3,157,209,1) 25%,rgba(0,133,192,1) 75%,rgba(2,132,190,1) 87%); /* IE10+ */
	background: linear-gradient(-45deg,  rgba(3,157,209,1) 25%,rgba(0,133,192,1) 75%,rgba(2,132,190,1) 87%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#039dd1', endColorstr='#0284be',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#port_number .wizard_nav .steps_text li {
	font-size: 12px;
	float: left;
	color: #fff;
	width: 132px;
	padding: 0 10px 10px;
	text-align: center;
}

#port_number .wizard_nav .steps_text li span {
	font-size: 11px;
	color: #eeeeee;
	display: block;
}

#port_number .wizard_nav .steps_text li.current {
	color: #22ccff;
}

#port_number .port_help {
	margin-top: 15px;
	text-align: left;
	font-size: 10px;
	line-height: 16px;
	display: block;
	font-weight: normal;
}

#port_number .step_div {
	display: block;
	margin: auto;
	text-align: center;
	width: 100%;
}

#port_number .step_div .title {
	font-weight: 500;
	font-size: 14px;
	margin: 10px 0px 25px 15px;
	text-align: left;
}

#port_number .step_div .left_part {
	float: left;
	text-align: right;
	width: 48%;
}

#port_number .step_div .left_part.text_only {
	line-height: 22px;
}

#port_number .step_div .right_part {
	float: left;
	text-align: left;
	margin-left: 4%;
	width: 48%;
}

/* Step 1 */
#port_number .step_div.first {
	width: 95%;
	font-weight: 500;
}

#port_number .step_div .split_div.last {
	margin-bottom: 20px;
}

#port_number .step_div.first .split_div {
	width: 100%;
	margin-top: 20px;
	min-height: 30px;
}

#port_number .step_div.first .split_div .left_part {
	width: 48%;
	float: left;
	text-align: right;
}

#port_number .step_div.first .split_div .right_part {
	width: 48%;
	float: left;
	text-align: left;
	margin-left: 4%;
}

#port_number .step_div.first .numbers_text {
	height: 160px;
	width: 210px;
}

#port_number .step_div.first .carrier_dropdown {
	margin-top: 5px;
	width: 220px;
	max-width: 235px;
}

#port_number .step_div.first .numbers_example {
	color: #22ccff;
	margin-top: 5px;
	font-size: 10px;
	font-weight: 500;
}

#port_number .step_div.first .other_carrier {
	margin-top: 5px;
	width: 229px;
}

/* Step 2*/
#port_number .step_div.second .left_part {
	width: 48%;
}

#port_number .step_div.second .left_part .field {
	margin-bottom: 5px;
	float: left;
}

#port_number .step_div.second .left_part .field label {
	width: 115px;
	float: left;
	margin-top: 5px;
}

#port_number .step_div.second .left_part .field input {
	width: 140px;
	margin-left: 10px;
}

#port_number .step_div.second .right_part .bill_image {
	width: 266px;
	height: 129px;
	background: url('static/images/bill.jpg');
	box-shadow: 1px 3px 3px #444;
	margin: 0 0 24px;
}

#port_number .step_div.second .right_part .files {
	margin-top: 10px;
}

/* Step 3 */
#port_number .step_div.third .loa_block {
	margin: 20px 15px 0px 15px;
	padding-bottom: 20px;
	text-align: left;
	border-bottom: 1px solid #ccc;
	font-weight: 500;
	font-size: 15px;
}

#port_number .step_div.third .loa_block .upload_block {
	font-size: 13px;
	margin: 10px 0 0 0;
}

/* Step 4 */
#port_number .step_div.fourth .block:not(:last-child) {
	padding-bottom: 30px;
}

#port_number .step_div.fourth .block .checkbox_line {
	text-align: left;
	margin: 10px;
}

#port_number .step_div.fourth .block .checkbox_line input {
	margin: 0 5px 0 15px;
}

#number_list {
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}
