<div>
    <div class="portal-view">
        <div class="left_part">
            <div class="block voicemails">
                <h1>My Voicemails</h1>
                <div class="clearfix table_wrapper">
                    <table id="voicemail-grid" class="display"></table>
                </div>
            </div>

            <div class="block cdrs">
                <h1>My Call History</h1>
                <div class="clearfix table_wrapper">
                    <table id="user_cdr-grid" class="display"></table>
                </div>
            </div>
        </div>

        <div class="right_part">
            <div class="block settings_wrapper">
                <h1>My Settings</h1>
                <div id="settings-view">
                    <form>
                        <div class="clearfix">
                            <label><span class="icon phone"/>Forward Calls To:</label>
                            <div class="input">
                                <input id="ring-number-txt" name="ring-number-txt" type="text" value="${data.call_forward.number}"/>
                            </div>
                        </div>
                        <div class="clearfix device-field">
                            <label>Also Ring My VoIP Phone:</label>
                            <div class="input">
                                {{if data.call_forward.substitute}}
                                    <input class="checkbox" id="ring-device-checkbox" name="ring-device-checkbox" type="checkbox"/>
                                {{else}}
                                    <input class="checkbox" id="ring-device-checkbox" name="ring-device-checkbox" type="checkbox" checked="checked"/>
                                {{/if}}
                            </div>
                        </div>
                        <div class="clearfix">
                            <label>Send Voicemail to Email:</label>
                            <div class="input">
                                {{if data.vm_to_email_enabled}}
                                    <input id="vm-to-email-checkbox" class="checkbox" name="vm-to-email-checkbox" type="checkbox" checked="checked"/>
                                {{else}}
                                    <input id="vm-to-email-checkbox" class="checkbox" name="vm-to-email-checkbox" type="checkbox"/>
                                {{/if}}
                            </div>
                        </div>
                        <div class="clearfix email-field">
                            <label>Email Address:</label>
                            <div class="input">
                                <input id="vm-to-email-txt" name="vm-to-email-txt" type="text" value="${data.email}"/>
                            </div>
                        </div>
                        <div class="buttons">
                            <button id="save-settings-link" class="btn success save-btn">Save</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="block devices_wrapper">
                <h1>My Devices</h1>
                <div class="help_devices">
                    Registered devices are displayed in green.
                </div>
                <div class="list_devices">
                    <div class="clear"/>
                </div>
                <div class="buttons">
                    <button class="btn success add_device">Add a New Device</button>
                </div>
            </div>
        </div>
        <div class="clear"/>
    </div>
</div>
