<div id="buy_number">
	<div class="content">

		<div class="regular-search tollfree-search">
			<div id="search_top_div">

				<div class="regular-search">
					<div class="row-fluid row-popup">
						<div class="input-div">
							<label>{{i18n.buyNumbers.countrySelectLabel}}</label>
							<div id="regular_country_select"></div>
						</div>
						<div class="input-div">
							<label>{{i18n.buyNumbers.cityInputLabel}}{{#if isPhonebookConfigured}}{{i18n.buyNumbers.cityInputLabelZipCode}}{{/if}}</label>
							<input type="text" id="city_input" maxlength="{{#if isPhonebookConfigured}}5{{else}}3{{/if}}" />
						</div>
					</div>
				{{#if isPhonebookConfigured}}
					<div class="row-fluid row-popup" id="area_code_map"></div>
				{{/if}}
					<div id="area_code_radio_div" class="radio-group start-hidden">
					</div>

					<div class="row-fluid row-popup top-splitter">
						<div id="seq_num_div">
							<span id="seq_num_checkbox_span">
								<label>
									<input type="checkbox" class="checkbox" id="seq_num_checkbox" />
									<span for="seq_num_checkbox">{{i18n.buyNumbers.seqCheckboxLabel}}</span>
								</label>
							</span>
							<span id="seq_num_input_span" class="start-hidden">
								<label>
									<span>{{i18n.buyNumbers.seqInputLabel}}</span>
									<input type="text" id="seq_num_input" maxlength="3" />
								</label>
							</span>
						</div>
						<button class="monster-button monster-button-primary" type="submit" id="search_numbers_button">
							<i class="fa fa-search"></i>&nbsp;&nbsp;{{i18n.buyNumbers.search}}
						</button>
					</div>
				</div>

				<div class="row-fluid row-popup tollfree-search">
					<div id="tollfree_search_top_div">
						<div class="clearfix ddlist-mini">
							<div id="tollfree_country_select"></div>
							<div id="tollfree_radio_label">{{i18n.buyNumbers.tollfreeRadioLabel}}</div>
						</div>
						<div class="clearfix">
							<div id="tollfree_radio_group" class="radio-group pull-left">
							</div>
							<button class="monster-button monster-button-primary pull-right" type="submit" id="tollfree_search_button">
								<i class="fa fa-search"></i>&nbsp;&nbsp;{{i18n.buyNumbers.search}}
							</button>
						</div>
					</div>
				</div>

			</div>

			<div id="search_result_div" class="start-hidden">

				<div class="row-fluid row-popup regular-search">
					<div class="result-top-div">
						{{i18n.buyNumbers.searchResults}} <span id="search_parameters"></span>
						<a id="back_to_search" href="#">{{i18n.buyNumbers.backToSearch}}</a>
					</div>
				</div>
				<div class="row-fluid row-popup top-splitter">
					<div class="result-content-div clearfix">
						<div class="left-div"></div>

						<div class="right-div">
							<div class="top-div">
								<span id="total_num_span">0</span>
								<span class="number-added">{{i18n.buyNumbers.numberAddedSingle}}</span>
								<i class="fa fa-shopping-cart monster-green"></i>
							</div>
							<div class="center-div top-splitter"></div>
						</div>
					</div>
				</div>

				<div class="row-fluid row-popup top-splitter">
					<div class="result-bottom-div">
						<!--<a id="more_info_link" class="whitelabel-field" href="" target="_blank">&gt;&gt;{{i18n.buyNumbers.moreInfo}}</a>-->
						<button id="buy_numbers_button" class="monster-button monster-button-success">{{i18n.buyNumbers.buyNumbers}}</button>
					</div>
				</div>
			</div>

			<div id="check_numbers_div" class="start-hidden">
				<div class="checking-div">
					<div class="row-fluid row-popup">
						<i class="fa fa-spinner fa-2x monster-primary-color"></i>
						<span>{{i18n.buyNumbers.checkingMessage}}</span>
					</div>
				</div>
				<div class="unavailable-div start-hidden">
					<div class="summary-div">
						<div class="row-fluid row-popup">
							<div class="summary-label unavailable-label">{{i18n.buyNumbers.unavailableMessage}}</div>
						</div>
						<div class="row-fluid row-popup top-splitter">
							<div class="unavailable-numbers">
							</div>
						</div>
						<div class="row-fluid row-popup top-splitter">
							<button id="continue_buy_button" class="monster-button monster-button-success pull-right">{{i18n.buyNumbers.continue}}</button>
							<a id="back_to_results_link" class="cancel-link pull-right" href="#">{{i18n.buyNumbers.backToSearchResults}}</a>
						</div>
					</div>
				</div>
			</div>

			<div id="processing_purchase_div" class="start-hidden">
				<div class="row-fluid row-popup">
					<div>
						<i class="fa fa-spinner fa-2x monster-primary-color"></i>
						<span>{{i18n.buyNumbers.processingMessage1}}</span>
					</div>
					<div>
						<span>{{i18n.buyNumbers.processingMessage2}}</span>
					</div>
				</div>
			</div>
		</div>

		<div id="vanity_search_div" class="vanity-search">
			<div class="row-fluid row-popup">
				<div class="ddlist-mini clearfix">
					<div id="vanity_country_select"></div>
					<div id="vanity_search_label">{{i18n.buyNumbers.vanitySearchLabel}}</div>
				</div>
				<div class="vanity-input-div clearfix">
					<span class="vanity-input US-input">
						<span>(</span>
						<input type='text' maxlength='3' />
						<span>)</span>
						<input type='text' maxlength='3' />
						<span>-</span>
						<input type='text' maxlength='4' />
					</span>
					<span class="vanity-input default-input start-hidden">
						<input type='text' maxlength='20' />
					</span>
					<i class="fa fa-check fa-2x monster-primary-color start-hidden"></i>
					<i class="fa fa-spinner fa-2x fa-spin monster-orange start-hidden"></i>
					<i class="fa fa-times fa-2x monster-red start-hidden"></i>
					<div class="pull-right">
						<button id="vanity_search_button" class="monster-button monster-button-primary pull-right">
							<i class="fa fa-search"></i>&nbsp;&nbsp;{{i18n.buyNumbers.search}}
						</button>
						<button id="vanity_buy_button" class="monster-button monster-button-success pull-right start-hidden">{{i18n.buyNumbers.buyNumber}}</button>
						<a id="back_to_vanity_search" class="start-hidden" href="#">{{i18n.buyNumbers.searchAgain}}</a>
					</div>
				</div>
			</div>
			<div class="row-fluid row-popup top-splitter">
				<div class="vanity-info-div">
					<p>{{i18n.buyNumbers.vanitySearchInfo1}}</p>
					<p>{{i18n.buyNumbers.vanitySearchInfo2}}</p>
					<a id="send_request_link" class="whitelabel-field" href="mailto:support@2600hz.com?subject=Vanity%20Number%20request">&gt;&gt;{{i18n.buyNumbers.sendRequest}}</a>
				</div>
				<div class="dialpad_img">
				</div>
			</div>
		</div>

	</div>
</div>
