<div id="action_confirmation">
	{{#if delete}}
		<h4>{{i18n.numbers.dialogConfirm.delete.questionPartOne}}<span class="monster-primary-color">{{numberCount}}</span>{{i18n.numbers.dialogConfirm.delete.questionPartTwo}}</h4>
	{{/if}}

	{{#if move}}
		<h4>
			{{i18n.numbers.dialogConfirm.move.questionPartOne}}
			<span class="monster-primary-color">{{numberCount}}</span>
			{{i18n.numbers.dialogConfirm.move.questionPartTwo}}
			<span class="monster-primary-color">{{destinationAccountName}}</span>
			{{i18n.numbers.dialogConfirm.move.questionPartThree}}
		</h4>
	{{/if}}

	<div class="table-wrapper">
		<table class="table">
			{{#each accountList}}
				<thead>
					<tr>
						<th>{{@root.i18n.numbers.dialogConfirm.from}}<span class="monster-primary-color">{{accountName}}</span></th>
					</tr>
				</thead>
				<tbody>
					{{#each this.numbers}}
						<tr>
							<td data-number="{{this}}">
								<div class="pull-left">{{this}}</div>
								<i class="fa fa-times-circle-o pull-right remove-number"></i>
							</td>
						</tr>
					{{/each}}
				</tbody>
			{{/each}}
		</table>
	</div>

	<div class="actions pull-right">
		<a class="cancel-link monster-link blue" href="javascript:void(0);">{{i18n.numbers.dialogConfirm.cancel}}</a>
		{{#if delete}}
			<button class="monster-button monster-button-success" id="delete_action">{{i18n.numbers.dialogConfirm.delete.button}}</button>
		{{/if}}

		{{#if move}}
			<button class="monster-button monster-button-success" id="move_action">{{i18n.numbers.dialogConfirm.move.button}}</button>
		{{/if}}
	</div>
</div>