{{#each usedNumbers}}
	<div class="number-box disabled" data-phoneNumber="{{this.phoneNumber}}">
		<div class="number-options pull-right"></div>

		<div class="phone-number monster-phone-number" data-state="{{this.state}}" data-toggle="tooltip" data-placement="top" data-original-title="{{ formatVariableToDisplay this.state }}">{{formatPhoneNumber this.phoneNumber}}</div>
		<span class="locality">
			{{#if this.isoCountry }}
				<span class="flag"><img src="css/assets/flags/32/{{ this.isoCountry }}.png" height="32" width="32"></img></span>
			{{/if}}
			{{#if this.friendlyLocality }}
				<span class="city">{{ this.friendlyLocality }}</span>
			{{/if}}
		</span>

		<div class="used-by">
			{{#compare ../viewType '!==' 'pbx'}}
				{{ this.friendlyUsedBy }}
			{{else}}
				{{#compare this.ownerType '===' 'user'}}
					<i class="icon-telicon-seats"></i>
				{{else}}
					{{#compare this.ownerType '===' 'group'}}
						<i class="fa fa-users"></i>
					{{else}}
						{{#compare this.ownerType '===' 'main'}}
							<i class="icon-telicon-home"></i>
						{{else}}
							{{#compare this.ownerType '===' 'conference'}}
								<i class="fa fa-comments"></i>
							{{else}}
								{{#compare this.ownerType '===' 'callflows'}}
									<i class="fa fa-random"></i>
								{{else}}
									{{#compare this.ownerType '===' 'mobileUser'}}
										<i class="icon-telicon-mobile-phone"></i>
									{{/compare}}
								{{/compare}}
							{{/compare}}
						{{/compare}}
					{{/compare}}
				{{/compare}}

				{{ this.owner }}
			{{/compare}}
		</div>

		<div class="features pull-right">
			{{#numberFeatures features}}{{/numberFeatures}}
		</div>
	</div>
{{else}}
	<div class="number-box disabled no-data">
		{{ i18n.numbers.noUsedNumber }}
	</div>
{{/each}}
