{{#each spareNumbers}}
	<div class="number-box" data-phoneNumber="{{this.phoneNumber}}">
		<div class="number-options pull-right"></div>
		<input type="checkbox"></input>
		<div class="phone-number monster-phone-number" data-state="{{this.state}}"{{#compare this.state "!==" "in_service"}} data-toggle="tooltip" data-placement="top" data-original-title="{{ formatVariableToDisplay this.state }}"{{/compare}}>{{#monsterNumberWrapper this.phoneNumber}}{{/monsterNumberWrapper}}</div>
		<span class="locality">
			{{#if this.isoCountry }}
				<span class="flag"><img src="css/assets/flags/32/{{ this.isoCountry }}.png" height="32" width="32"></img></span>
			{{/if}}
			{{#if this.friendlyLocality }}
				<span class="city">{{ this.friendlyLocality }}</span>
			{{/if}}
		</span>
		<div class="features pull-right">
			{{#numberFeatures features}}{{/numberFeatures}}
		</div>
	</div>
{{else}}
	<div class="number-box no-data">
		{{ i18n.numbers.noSpareNumber }}
	</div>
{{/each}}
