<div id="numbers_search_result_popup">
	<div class="header">
		<div class="owned-by">
			{{replaceVar i18n.numbers.searchPopup.numberFound ownedBy}}
		</div>
		<div class="used-by">
			{{#if usedBy}}
				{{replaceVar i18n.numbers.searchPopup.usedBy usedBy}}
			{{else}}
				{{i18n.numbers.searchPopup.notUsed}}
			{{/if}}
		</div>
	</div>
	<div class="account-tree">
		{{#each parents}}
		<div class="account-line">
			{{#if isAccountFound}}
			<div class="account-name masqueradable" data-id="{{id}}" data-toggle="tooltip" data-placement="right" data-original-title="{{i18n.numbers.searchPopup.masqueradeTooltip}}">{{name}}</div>
			{{else}}
			<div class="account-name" data-id="{{id}}">{{name}}</div>
			{{/if}}
		{{/each}}
		{{#each parents}}
		</div>
		{{/each}}
	</div>
</div>