<div id="port_container">
	<div id="name_transfer">
		<div class="row-fluid" id="transfer_status">
			<div class="span4 done">
				<i class="fa fa-check-circle"></i>
				<div class="title">{{ i18n.port.progressBarLeft }}</div>
			</div>
			<div class="span4 todo">
				<i class="fa fa-circle"></i>
				<div class="title">{{ i18n.port.progressBarMiddle }}</div>
			</div>
			<div class="span4 todo">
				<i class="fa fa-circle"></i>
				<div class="title">{{ i18n.port.progressBarRight }}</div>
			</div>
		</div>
		<form class="row-fluid control-group" id="transfer_name_form">
			<div class="span6">
				<label class="control-label" for="transfer_helper">{{ i18n.port.submitDocuments.labelOrderName }}</label>
			</div>
			<div class="span6">
				<input type="text" class="span8" id="transfer_helper" name="name" placeholder="AT&amp;T Local Numbers" value="{{#if port.name}}{{port.name}}{{/if}}" required>
				<span class="help-block">{{ i18n.port.submitDocuments.labelOrderNameHelper }}</span>
			</div>
		</form>
	</div>
	<div id="upload_bill">
		<div class="row-fluid">
			<div class="span6">
				<div class="row-fluid info">
					<i class="fa fa-info-circle"></i>
					<p>{{ i18n.port.submitDocuments.billInfoPartOne }} <a href="#">{{ i18n.port.submitDocuments.billInfoPartTwo }}</a></p>
				</div>
				<form action="" id="bill_form" class="row-fluid">
					<div class="file-upload-container">
						<input type="file" data-name="bill">
					</div>
					<span class="help-block">{{ i18n.port.submitDocuments.uploadBillHelper }}</span>
					<label for="account_name">{{ i18n.port.submitDocuments.labelAccountName }}</label>
					<input type="text" class="span12" id="account_name" value="{{#if port.bill.name}}{{port.bill.name}}{{/if}}" name="bill.name" required>
					<label for="address">{{ i18n.port.submitDocuments.labelAddress }}</label>
					<input type="text" class="span12" id="address" value="{{#if port.bill.address}}{{port.bill.address}}{{/if}}" name="bill.address" required>
					<label for="locality">{{ i18n.port.submitDocuments.labelCity }}</label>
					<input type="text" class="span12" id="locality" value="{{#if port.bill.locality}}{{port.bill.locality}}{{/if}}" name="bill.locality" required>
					<label for="region">{{ i18n.port.submitDocuments.labelState }}</label>
					<input type="text" class="span12" id="region" value="{{#if port.bill.region}}{{port.bill.region}}{{/if}}" name="bill.region" required>
					<label for="postal_code">{{ i18n.port.submitDocuments.labelZipCode }}</label>
					<input type="text" class="span12" id="postal_code" value="{{#if port.bill.postal_code}}{{port.bill.postal_code}}{{/if}}" name="bill.postal_code" required>
				</form>
			</div>
			<div class="span6">
				<div class="row-fluid info">
					<i class="fa fa-info-circle"></i>
					<p>{{ i18n.port.submitDocuments.orderListInfoPartOne }} <span class="text-error">{{ i18n.port.submitDocuments.orderListInfoPartTwo }}</span></p>
				</div>
				<div class="order">
					<h4>{{port.carrier}}</h4>
					<div class="scroll">
						<ul>
						{{#each port.numbers}}
							<li data-value="{{this}}"><i class="fa fa-exclamation-triangle"></i>{{this}}<i class="fa fa-times-circle pull-right remove-number"></i></li>
						{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="loa">
		<h4>{{ i18n.port.submitDocuments.loaTitlePartOne }} <a href="https://www.wikiwand.com/en/Letter_of_Agency" target="_blank">{{ i18n.port.submitDocuments.loaTitlePartTwo }}</a></h4>
		<div class="row-fluid">
			<div class="span4">
				<span class="span1 number">1.</span>
				<a id="loa_link" href="{{ whitelabelPort.loa }}" class="btn span10 offset1" target="_blank">{{ i18n.port.submitDocuments.loaDownloadStep }}</a>
			</div>
			<div class="span3">
				<span class="span1 offset3 number">2.</span>
				<span class="span8">{{ i18n.port.submitDocuments.loaSignStep }}</span>
			</div>
			<div class="span5">
				<div class="row-fluid">
					<span class="span1 offset1 number">3.</span>
					<div class="span10 file-upload-container">
						<input type="file" data-name="loa">
					</div>
				</div>
				<div class="row-fluid">
					<span class="help-block offset2">{{ i18n.port.submitDocuments.uploadBillHelper }}</span>
				</div>
			</div>
		</div>
		<p>{{ i18n.port.submitDocuments.loaHelperPartOne }} &#36;{{ i18n.port.submitDocuments.loaHelperPartTwo }} <a href="#">{{ i18n.port.submitDocuments.loaHelperPartThree }}</a> <a id="sign_doc" href="http://www.howtogeek.com/164668/how-to-electronically-sign-documents-without-printing-and-scanning-them/" target="_blank">{{ i18n.port.submitDocuments.loaHelperPartFour }}</a> {{ i18n.port.submitDocuments.loaHelperPartFive }}</p>
	</div>
	<div id="resporg">
		<h4>{{ i18n.port.submitDocuments.resporg.title.partOne }} <a href="https://www.wikiwand.com/en/RespOrg" target="_blank">{{ i18n.port.submitDocuments.resporg.title.partTwo }}</a></h4>
		<div class="row-fluid">
			<div class="span4">
				<div class="span1 number">1.</div>
				<a href="{{ whitelabelPort.resporg }}" class="btn span10 offset1" id="resporg_link" target="_blank">{{ i18n.port.submitDocuments.resporg.downloadStep }}</a>
			</div>
			<div class="span3">
				<span class="span1 offset3 number">2.</span>
				<span class="span8">{{ i18n.port.submitDocuments.resporg.signStep }}</span>
			</div>
			<div class="span5">
				<div class="row-fluid">
					<div class="span1 offset1 number">3.</div>
					<div class="span10 file-upload-container">
						<input type="file" data-name="resporg">
					</div>
				</div>
				<div class="row-fluid">
					<span class="help-block offset2">{{ i18n.port.submitDocuments.uploadBillHelper }}</span>
				</div>
			</div>
		</div>
	</div>
	<div id="continue_later">
		<div class="row-fluid">
			<div class="span3">
				<button class="btn span12" id="submit_documents_add_numbers_link">{{ i18n.port.addMoreNumbers }}</button>
			</div>
			<div class="span3">
				<button class="btn btn-info span12" id="submit_documents_save_link">{{ i18n.port.saveButtonPartOne }} &amp; {{ i18n.port.saveButtonPartTwo}}</button>
			</div>
			<div class="span6">
				<p>{{ i18n.port.labelSaveButton }}</p>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="row-fluid">
		<div class="span3">
			<button class="btn btn-danger">{{ i18n.port.cancelOrderButton }}</button>
		</div>
		<div class="span6">
			<ul class="help-links">
				<li><a class="monster-link blue" href="#footer" data-type="faq">{{ i18n.port.faqLink }}</a></li><!--
				<li class="separator"></li>
				<li><a class="monster-link blue disabled" href="#footer">{{ i18n.port.videoLink }}</a></li>-->
				<li class="separator"></li>
				<li><a class="monster-link blue" href="#footer">{{ i18n.port.contactUsLink }}</a></li>
			</ul>
		</div>
		<div class="span2 offset1">
			<button class="btn btn-success pull-right" id="submit_documents_next_link">{{ i18n.port.nextButton }}</button>
		</div>
		</div>
	</div>
</div>