<div id="port_container">
	<div id="notification">
		<div class="row-fluid" id="transfer_status">
			<div class="span4 done">
				<i class="fa fa-check-circle"></i>
				<div class="title">{{ i18n.port.progressBarLeft }}</div>
			</div>
			<div class="span4 done">
				<i class="fa fa-check-circle"></i>
				<div class="title">{{ i18n.port.progressBarMiddle }}</div>
			</div>
			<div class="span4 todo">
				<i class="fa fa-circle"></i>
				<div class="title">{{ i18n.port.progressBarRight }}</div>
			</div>
		</div>

		<h2>
			{{ i18n.port.confirmOrder.titlePartOne }} {{total}} 
			{{#compare total '==' 1}}
				{{ i18n.port.confirmOrder.titlePartTwo }}
			{{else}}
				{{ i18n.port.confirmOrder.titlePartTwoBis }}
			{{/compare}}
		</h2>

		<form class="row-fluid control-group" id="notification_email_form">
			<div class="span6">
				<label class="control-label" for="notification_email">{{ i18n.port.confirmOrder.labelEmail }}</label>
			</div>
			<div class="span6">
				<input type="text" class="span8" id="notification_email" name="notifications.email.send_to" placeholder="Email address" value="{{#if notifications.email.send_to}}{{notifications.email.send_to}}{{/if}}" required>
				<span class="help-inline"><i class="fa fa-exclamation-triangle"></i></span>
			</div>
		</form>
	</div>
	<div id="transfer_date">
		<form class="row-fluid" id="transfer_date_form">
			<div class="span6">
				<label for="transfer_numbers_date">{{ i18n.port.confirmOrder.labelDate }}</label>
			</div>
			<div class="span6">
				<input class="date-input span8" type="text" id="transfer_numbers_date" name="transfer_date" value="{{#if transfer_date}}{{toFriendlyDate transfer_date 'date'}}{{/if}}" readonly="true">
			</div>
		</form>
		<div class="row-fluid info">
			<i class="fa fa-info-circle"></i>
			<p><span class="important">{{ i18n.port.confirmOrder.dateInfoPartOne }}</span> {{ i18n.port.confirmOrder.dateInfoPartTwo }}</p>
		</div>
	</div>
	<div id="order_summary">
		<h2>{{ i18n.port.confirmOrder.orderSummaryTitle }}</h2>
		<div class="row-fluid">
			<div class="span6 offset4">
				<p>{{name}}</p>
				<ul>
					<li>{{ i18n.port.confirmOrder.labelOrderDate }} {{toFriendlyDate created 'date'}}</li>
					<li>{{ i18n.port.confirmOrder.labelTransferDate }} <span id="transfer_schedule_date">{{toFriendlyDate transfer_date 'date'}}</span></li>
					<li>{{ i18n.port.confirmOrder.labelNumbersTotal }} {{total}}</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="continue_later">
		<div class="row-fluid">
		<div class="row-fluid">
			<div class="span3">
				<button class="btn span12" id="confirm_order_add_numbers_link">{{ i18n.port.addMoreNumbers }}</button>
			</div>
			<div class="span3">
				<button class="btn btn-info span12" id="confirm_order_save_link">{{ i18n.port.saveButtonPartOne }} &amp; {{ i18n.port.saveButtonPartTwo }}</button>
			</div>
			<div class="span6">
				<p>{{ i18n.port.labelSaveButton }}</p>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="row-fluid">
		<div class="span3">
			<button class="btn btn-danger">{{ i18n.port.cancelOrderButton}}</button>
		</div>
		<div class="span6">
			<ul class="help-links">
				<li><a class="monster-link blue" href="" data-type="faq">{{ i18n.port.faqLink }}</a></li><!--
				<li class="separator"></li>
				<li><a class="monster-link blue disabled" href="">{{ i18n.port.videoLink }}</a></li>-->
				<li class="separator"></li>
				<li><a class="monster-link blue" href="">{{ i18n.port.contactUsLink }}</a></li>
			</ul>
		</div>
		<div class="span2 offset1">
			<button class="btn btn-success pull-right" id="confirm_order_submit_link">{{ i18n.port.confirmOrder.submitButton }}</button>
		</div>
		</div>
	</div>
</div>