<div id="port_container">
	<div id="resume_orders">
		<h2>{{ i18n.port.resumeOrder.title }}</h2>
		{{#each orders}}
		<div class="row-fluid">
			<div class="span2">{{ @root.i18n.port.resumeOrder.labelOrder }} <span class="order-key">{{@index}}</span></div>
			<div class="span5 offset1">{{carrier}}</div>
			<div class="span4">
				<button class="btn btn-success resume-order-btn" data-index="{{@index}}">{{ @root.i18n.port.resumeOrder.completeOrderButton }}</button>
			</div>
		</div>
		{{/each}}
	</div>
</div>