<div class="edit-shceduled-date">
	<div class="content">
		<form class="form-horizontal" id="edit_scheduled_date">
			<div class="control-group">
				<label for="scheduled_time" class="control-label">{{i18n.port.pendingOrders.scheduledDatePopup.label.scheduledTime}}</label>
				<div class="controls">
					<input type="text" id="scheduled_time" name="scheduled_time"{{#if scheduledDate}} value="{{toFriendlyDate scheduledDate 'shorttime'}}"{{/if}}>
				</div>
			</div>
			<div class="control-group">
				<label for="scheduled_date" class="control-label">{{i18n.port.pendingOrders.scheduledDatePopup.label.scheduledDate}}</label>
				<div class="controls">
					<input type="text" id="scheduled_date" name="scheduled_date"{{#if scheduledDate}} value="{{toFriendlyDate scheduledDate 'date'}}"{{/if}} readonly="true">
				</div>
			</div>
		</form>
	</div>
	<div class="actions clearfix">
		<div class="pull-right">
			<a href="javascript:void(0);" class="cancel-link monster-link blue">{{i18n.cancel}}</a>
			<button class="btn btn-success save-link">{{i18n.save}}</button>
		</div>
	</div>
</div>