<div id="port_container">
	<div id="add_numbers">
		<h2>{{ i18n.port.addNumbers.title }}</h2>
		<div class="row-fluid control-group">
			<div class="span6">
				<label for="numbers_list">{{ i18n.port.addNumbers.labelAddNumbers }}</label>
				<ul class="help-links">
					<li><a class="monster-link blue" href="#" data-type="faq">{{ i18n.port.faqLink }}</a></li><!--
					<li class="separator"></li>
					<li><a class="monster-link blue disabled" href="#">{{ i18n.port.videoLink }}</a></li>-->
				</ul>
			</div>
			<div class="span6">
				<div class="input-append search-custom">
					<input type="text" id="numbers_list" placeholder="14158867900">
					<button class="btn btn-success btn-large" id="add_numbers_link" type="button">{{ i18n.port.addButton }}</button>
				</div>
			</div>
		</div>
	</div>
</div>
