<div>
    <div class="left_text">
        <div class="title">{{t_var "config.welcome_to_the_platform" company_name}}</div>
        <div class="learn_more"><a href="{{learn_more}}" target="_blank">{{t "config.learn_more"}}</a></div>
    </div>
    <!--<div class="world_map"></div>-->
</div>
