<div class="account-content-wrapper">
	<ul class="list-settings">
		<li class="settings-item clearfix" data-name="account_name">
			<a class="settings-link clearfix">
				<span class="title">{{ i18n.account.accountName }}</span>
				<span class="description">{{account.name}}</span>
				<span class="update">
					<i class="fa fa-cog icon-small"></i>
					<span class="text">{{ i18n.editSettings }}</span>
				</span>
				<span class="changes-saved">{{ i18n.changesSaved }}</span>
			</a>
			<div class="settings-item-content">
				<div class="row-fluid">
					<div class="span12">
						<form class="form-horizontal" id="form_account_name">
							<div class="control-group">
								<label class="control-label" for="account_name">{{ i18n.account.accountName }}</label>
								<div class="controls">
									<input type="text" id="account_name" name="name" value="{{account.name}}" data-original_value="{{account.name}}"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">{{ i18n.account.accountId }}</label>
								<div class="controls">
									<div class="plain-text">{{account.id}}</div>
								</div>
							</div>
							<div class="action-group clearfix">
								<div class="action-bar">
									<button type="button" class="monster-button cancel">{{ i18n.cancel }}</button>
									<button type="submit" class="monster-button-success change" data-module="account" data-field="account_name">{{ i18n.saveChanges }}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</li>
		<li class="settings-item clearfix" data-name="account_realm">
			<a class="settings-link clearfix">
				<span class="title">{{ i18n.account.accountRealm }}</span>
				<span class="description">{{account.realm}}</span>
				<span class="update">
					<i class="fa fa-cog icon-small"></i>
					<span class="text">{{ i18n.editSettings }}</span>
				</span>
				<span class="changes-saved">{{ i18n.changesSaved }}</span>
			</a>
			<div class="settings-item-content">
				<div class="row-fluid">
					<div class="span12">
						<form class="form-horizontal" id="form_account_realm">
							<div class="control-group">
								<label class="control-label" for="password">{{ i18n.account.accountRealm }}</label>
								<div class="controls">
									<input type="text" id="account_realm" name="realm" value="{{account.realm}}" data-original_value="{{account.realm}}"/>
								</div>
							</div>
							<div class="action-group clearfix">
								<div class="action-bar">
									<button type="button" class="monster-button cancel">{{ i18n.cancel }}</button>
									<button type="submit" class="monster-button-success change" data-module="account" data-field="account_realm">{{ i18n.saveChanges }}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</li>

		<li class="settings-item clearfix" data-name="technical_contact">
			<a class="settings-link clearfix">
				<span class="title">{{ i18n.account.technicalContact }}</span>
				<span class="description">{{account.contact.technical.email}}{{#if account.contact.technical.number}}&nbsp;&nbsp;(<span class="number">{{formatPhoneNumber account.contact.technical.number}}</span>){{/if}}</span>
				<span class="update">
					<i class="fa fa-cog icon-small"></i>
					<span class="text">{{ i18n.editSettings }}</span>
				</span>
				<span class="changes-saved">{{ i18n.changesSaved }}</span>
			</a>
			<div class="settings-item-content">
				<div class="row-fluid">
					<div class="span12">
						<form id="form_technical_contact" class="form-horizontal">
							<div class="control-group">
								<label class="control-label" for="technical_contact_email">{{ i18n.account.technicalContactEmail }}</label>
								<div class="controls">
									<input type="email" id="technical_contact_email" name="contact.technical.email" value="{{account.contact.technical.email}}" placeholder="{{ i18n.placeholderEmail }}" data-original_value="{{account.contact.technical.email}}"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="technical_contact_number">{{ i18n.phoneNumber }}</label>
								<div class="controls">
									<input type="text" id="technical_contact_number" name="contact.technical.number" value="{{account.contact.technical.number}}" placeholder="{{ i18n.placeholderNumber }}" data-original_value="{{account.contact.technical.number}}"/>
								</div>
							</div>
							<div class="action-group clearfix">
								<div class="action-bar">
									<button type="button" class="monster-button cancel">{{ i18n.cancel }}</button>
									<button type="submit" class="monster-button-success change" data-module="account" data-field="technical_contact">{{ i18n.saveChanges }}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</li>

		<li class="settings-item clearfix" data-name="account_timezone">
			<a class="settings-link clearfix">
				<span class="title">{{ i18n.account.timezoneTitle }}</span>
				<div class="description">
					<ul>
						<li>{{account.timezone}}</li>
						<li>{{account.language}}</li>
					</ul>
				</div>
				<span class="update">
					<i class="fa fa-cog icon-small"></i>
					<span class="text">{{ i18n.editSettings }}</span>
				</span>
				<span class="changes-saved">{{ i18n.changesSaved }}</span>
			</a>
			<div class="settings-item-content">
				<div class="row-fluid">
					<div class="span12">
						<form class="form-horizontal" id="form_account_timezone">
							<div class="control-group">
								<label class="control-label" for="account_timezone">{{ i18n.account.userTimezone }}</label>
								<div class="controls">
									<select id="account_timezone" name="timezone" data-original_value="{{account.timezone}}"></select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="account_language">{{ i18n.account.userLanguage }}</label>
								<div class="controls">
									<select id="account_language" name="language">
										<option value="auto">{{i18n.languages.auto}}</option>
										<option value="en-US"{{#compare account.language '===' 'en-US'}} selected{{/compare}}>{{i18n.languages.americanEnglish}}</option>
										<option value="en-GB"{{#compare account.language '===' 'en-GB'}} selected{{/compare}}>{{i18n.languages.britishEnglish}}</option>
										<option value="fr-FR"{{#compare account.language '===' 'fr-FR'}} selected{{/compare}}>{{i18n.languages.frenchFrench}}</option>
										<option value="fr-CA"{{#compare account.language '===' 'fr-CA'}} selected{{/compare}}>{{i18n.languages.canadianFrench}}</option>
										<option value="de-DE"{{#compare account.language '===' 'de-DE'}} selected{{/compare}}>{{i18n.languages.germanGerman}}</option>
										<option value="ru-RU"{{#compare account.language '===' 'ru-RU'}} selected{{/compare}}>{{i18n.languages.russianRussian}}</option>
										<option value="es-ES"{{#compare account.language '===' 'es-ES'}} selected{{/compare}}>{{i18n.languages.spanishSpain}}</option>
									</select>
								</div>
							</div>
							<div class="action-group clearfix">
								<div class="action-bar">
									<button type="button" class="monster-button cancel">{{ i18n.cancel }}</button>
									<button type="submit" class="monster-button-success change" data-module="account" data-field="account_timezone">{{ i18n.saveChanges }}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</li>

		<li class="settings-item clearfix" data-name="account_outbound_privacy">
			<a class="settings-link clearfix">
				<span class="title">{{ i18n.myAccountApp.common.outboundPrivacy.label }}</span>
				<span class="description">
					{{#if account.caller_id_options.outbound_privacy}}
						{{tryI18n i18n.myAccountApp.common.outboundPrivacy.values account.caller_id_options.outbound_privacy}}
					{{/if}}
				</span>
				<span class="update">
					<i class="fa fa-cog icon-small"></i>
					<span class="text">{{ i18n.editSettings }}</span>
				</span>
				<span class="changes-saved">{{ i18n.changesSaved }}</span>
			</a>
			<div class="settings-item-content">
				<div class="row-fluid">
					<div class="span12">
						<form class="form-horizontal" id="form_account_outbound_privacy">
							<div class="control-group">
								<label for="account_outbound_privacy" class="control-label">
									{{i18n.myAccountApp.common.outboundPrivacy.label}}
								</label>
								<div class="controls">
									<select name="caller_id_options.outbound_privacy" id="account_outbound_privacy">
									{{#select account.caller_id_options.outbound_privacy}}
										{{#each outboundPrivacy}}
											<option value="{{key}}">
												{{value}}
											</option>
										{{/each}}
									{{/select}}
									</select>
								</div>
							</div>
							<div class="action-group clearfix">
								<div class="action-bar">
									<button type="button" class="monster-button cancel">{{ i18n.cancel }}</button>
									<button type="submit" class="monster-button-success change" data-module="account" data-field="account_outbound_privacy">{{ i18n.saveChanges }}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</li>


		<li class="settings-item clearfix" data-name="numbers_format">
			<a class="settings-link clearfix">
				<span class="title">{{ i18n.numbersFormat.title }}</span>
				<span class="description">
					{{tryI18n i18n.numbersFormat account.ui_flags.numbers_format}}
				</span>
				<span class="update">
					<i class="fa fa-cog icon-small"></i>
					<span class="text">{{ i18n.editSettings }}</span>
				</span>
				<span class="changes-saved">{{ i18n.changesSaved }}</span>
			</a>
			<div class="settings-item-content">
				<div class="row-fluid">
					<div class="span12">
						<form class="form-horizontal" id="form_numbers_format">
							<div class="control-group">
								<label class="control-label">
									{{ i18n.numbersFormat.globalSetting }}
									<i class="help-popover fa fa-question-circle" data-original-title="{{ i18n.numbersFormat.help }}" data-placement="top" data-toggle="tooltip"></i></label>
								<div class="controls checkbox-container">
									<label>
										{{#monsterRadio i18n.numbersFormat.international }}
											<input type="radio" name="ui_flags.numbers_format" value="international"{{#compare account.ui_flags.numbers_format "===" "international"}} checked{{/compare}}>
										{{/monsterRadio}}
									</label>
									<label>
										{{#monsterRadio i18n.numbersFormat.national }}
											<input type="radio" name="ui_flags.numbers_format" value="national"{{#compare account.ui_flags.numbers_format "===" "national"}} checked{{/compare}}>
										{{/monsterRadio}}
									</label>
									<label>
										{{#monsterRadio i18n.numbersFormat.international_with_exceptions }}
											<input type="radio" name="ui_flags.numbers_format" value="international_with_exceptions"{{#compare account.ui_flags.numbers_format "===" "international_with_exceptions"}} checked{{/compare}}>
										{{/monsterRadio}}
									</label>
								</div>
							</div>
							<div class="control-group group-for-exceptions{{#compare account.ui_flags.numbers_format "===" "international_with_exceptions"}} active{{/compare}}">
								<label class="control-label" for="numbers_format_exceptions">{{ i18n.numbersFormat.listCountries }}</label>
								<div class="controls">
									<select multiple id="numbers_format_exceptions" name="ui_flags.numbers_format_exceptions">
										{{#each countries}}
											<option value="{{@key}}" {{#ifInArray @key @root.account.ui_flags.numbers_format_exceptions}} selected{{/ifInArray}}>{{this}}</option>
										{{/each}}
									</select>
								</div>
							</div>
							<div class="action-group clearfix">
								<div class="action-bar">
									<button type="button" class="monster-button cancel">{{ i18n.cancel }}</button>
									<button type="submit" class="monster-button-success change" data-module="account" data-field="numbers_format">{{ i18n.saveChanges }}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</li>
		<!-- Access List -->
		{{#if allowAccessList}}
			<li class="settings-item clearfix" data-name="accountsmanager_access_list">
				<a class="settings-link clearfix">
					<span class="title">
						{{ i18n.account.accessListTitle }}
						(<span class="total-cidrs">{{accessList.length}}</span>)
					</span>
					<div class="description" id="listDescription">
						<ul>
							<li class="first-cidr"></li>
						</ul>
					</div>
					<span class="update">
						<i class="fa fa-cog fa-small"></i>
						<span class="text">{{ i18n.editSettings }}</span>
					</span>
					<span class="changes-saved">{{ i18n.changesSaved }}</span>
				</a>
				<div class="settings-item-content">
					<div class="row-fluid">
						<div class="span12">
							<form class="form-horizontal" id="form_account_list">
								<div class="control-group">
									<label class="control-label" for="account_deny_allow_order">{{ i18n.account.denyAllowOrder }}</label>
									<div class="controls">
										<select id="account_deny_allow_order" name="deny_allow_order">
											<option value="allow,deny">{{i18n.account.allow}}</option>
											<option value="deny,allow"}>{{i18n.account.deny}}</option>
										</select>
									</div>
								</div>
								<div id="form_accountsmanager_access_list" class="control-group">
									<label class="control-label" for="form_accountsmanager_access_list">{{ i18n.account.accessListTitle }}</label>
									<div class="controls">
										<textarea id="access-list-input"></textarea>
									</div>
								</div>
								<div class="action-group clearfix">
									<div class="action-bar">
										<button type="button" class="monster-button cancel">{{ i18n.cancel }}</button>
										<button type="button" class="monster-button-success saveList">{{ i18n.saveChanges }}</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</li>
		{{/if}}
	</ul>
</div>
