.billing-title .page-header {
	padding-bottom: 0;
	margin: 20px 0 15px;
}

.billing-title .page-header h1 {
	color: #05ADDC;
	font-size: 25px;
	margin: 0;
}

.billing-title .page-header h1 small {
	font-size: 18px;
}

.billing-content #card {
	margin: 0 10px;
}

.billing-content .hero-unit.billing-cycle h2 {
	text-align: center;
	letter-spacing: 5px;
}

.billing-content .hero-unit.billing-cycle .days-left {
	width: 100%;
	height: 20px;
	padding: 10px 0;
}

.billing-content .hero-unit.billing-cycle .days-left .progress {
	width: 70%;
	float: left;
	margin-bottom: 0;
	-webkit-box-shadow: inset -1px 2px 2px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: inset -1px 2px 2px rgba(50, 50, 50, 0.4);
	box-shadow: inset -1px 2px 2px rgba(50, 50, 50, 0.4);
}

.billing-content .hero-unit.billing-cycle .days-left h4 {
	width: 20%;
	float: left;
	margin: 0 0 0 10%;
}

.billing-content .hero-unit.charge {
	text-align: center;
}



