.billing-title {
	margin-bottom: 10px;
}

.billing-content form.change-card {
	text-align: center;
}

.billing-content form.change-card label {
	font-size: 20px;
	color: #333;
}

.billing-content #card {
	margin: 0 10px;
}

.billing-content #rate_plan {
    font-size: 18px;
    text-decoration: underline;
}

.billing-content .hero-unit.billing-cycle h2 {
	text-align: center;
	font-weight: normal;
    margin-top: 0px;
}

.billing-content .hero-unit.billing-cycle .days-left {
	width: 80%;
	height: 20px;
	padding: 10px 0;
	margin-left: 10%;
}

.billing-content .hero-unit.billing-cycle .days-left .progress {
	width: 65%;
	float: left;
	margin-bottom: 0;
	-webkit-box-shadow: inset -1px 2px 2px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: inset -1px 2px 2px rgba(50, 50, 50, 0.4);
	box-shadow: inset -1px 2px 2px rgba(50, 50, 50, 0.4);
}

.billing-content .hero-unit.billing-cycle .days-left h4 {
	width: 25%;
	float: left;
	margin: -1px 0 0 10%;
}

.billing-content .hero-unit.charge {
	text-align: center;
	padding: 10px;
}

.billing-content .hero-unit p {
    font-size: 22px;
    line-height: 50px;
}

.billing-content .hero-unit.charge h1 {
	margin-bottom: 10px;
	text-shadow: 2px 2px #333;
	font-weight: normal;
	letter-spacing: 5px;
}

.billing-content .hero-unit.charge a {
	color: whiteSmoke;
	font-size: 15px;
	text-decoration: underline;
}

.billing-content .hero-unit {
    margin-bottom: 5px;
}
