#auth_container.login-background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(static/images/bg.svg) no-repeat center center #303039;
	background-size: cover;
}


#auth_container ::selection {
	background: #00B8FF;
	color: #ffffff;
}
#auth_container ::-moz-selection {
	background: #00B8FF;
	color: #ffffff;
}
#auth_container a {
	text-decoration: none;
}
#auth_container a:focus {
	outline: none;
}
#auth_container .hidden {
	display: none;
}
/* 
===================================== 
	   LOGO AND INTRO TEXT                
===================================== 
*/
#auth_container .intro {
	margin: 0 auto;
	width: 60%;
	float: left;
	height: 100vh;
}
#auth_container .intro .content {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#auth_container .logo {
	width: 210px;
	height: 50px;
	background: url('../img/kazoo-logo.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0 auto;
}
#auth_container .intro h1 {
	text-align: center;
	color: #ffffff;
	font-weight: 300;
	letter-spacing: .015em;
	margin-top: 25px;
	font-size: 34px;
}
/* 
===================================== 
	   FORM CONTAINERS/FORMS                 
===================================== 
*/
#auth_container .form-container {
	margin: 0 auto;
	width: 40%;
	float: right;
	height: 100vh;
}
#auth_container form {
	padding: 20px;
	width: 300px;
	border-radius: 2px;
	background: #202029;
	margin: 0 auto 0 20px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#auth_container .reset-notification p {
	/*display: none;*/
	color: #c0c0c9;
	margin-top: 0;
	margin-bottom: 18px;
	font-size: 15px;
	text-align: center;
}
#auth_container .input-wrap {
	position: relative;
	height: 40px;
	width: 100%;
	margin: 25px 0;
}
#auth_container .input-wrap.alpha {
	margin-top: 15px;
}
#auth_container .input-wrap input {
	border: none;
	border-bottom: 1px solid #808089;
	box-shadow: none;
	color: #e0e0e9;
	background: transparent;
	height: 40px;
	line-height: 45px;
	width: 100%;
	font-size: 15px;
	padding: 0;
	letter-spacing: .02em;
	-webkit-transition: border 0.2s;
	-moz-transition: 	border 0.2s;
	-o-transition: 		border 0.2s;
	-ms-transition: 	border 0.2s;
	transition: 		border 0.2s;
}
#auth_container .input-wrap input:focus {
	outline: none;
}
#auth_container .input-wrap .placeholder-shift {
	position: absolute;
	top: 14px;
	left: 0;
	color: #909099;
	font-size: 15px;
	pointer-events: none;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: 	all 0.2s ease-out;
	-o-transition: 		all 0.2s ease-out;
	-ms-transition: 	all 0.2s ease-out;
	transition: 		all 0.2s ease-out;
}
#auth_container .input-wrap input:focus + .placeholder-shift {
	top: -12px;
	font-size: 12px;
	color: #22a5ff;
	letter-spacing: .02em;
}
#auth_container .input-wrap .placeholder-shift.fixed {
	top: -12px;
	font-size: 12px;
	letter-spacing: .02em;
	color: #808089;
}
#auth_container .input-wrap .border-grow {
	position: absolute;
	display: block;
	bottom: -1px;
	width: 0;
	height: 2px;
	background: #22a5ff;
	-webkit-transition: width 0.2s ease-out;
	-moz-transition: 	width 0.2s ease-out;
	-o-transition: 		width 0.2s ease-out;
	-ms-transition: 	width 0.2s ease-out;
	transition: 		width 0.2s ease-out;
}
#auth_container .input-wrap input:focus + .placeholder-shift + .border-grow {
	width: 100%;
	height: 2px;
}
#auth_container .btn-submit {
	width: 100%;
	border-radius: 2px;
	border: none;
	color: #ffffff;
	height: 50px;
	font-size: 20px;
	background: #22a5ff;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: 	all 0.2s ease-in;
	-o-transition: 		all 0.2s ease-in;
	-ms-transition: 	all 0.2s ease-in;
	transition: 		all 0.2s ease-in;
}
#auth_container .btn-submit:hover,
#auth_container .btn-submit:focus {
	color: #ffffff;
	background: #57bcff;
	outline: none;
}
#auth_container .form-info {
	margin-top: 0;
	font-size: 13px;
	color: #c0c0c9;
}
#auth_container .form-info.dark {
	color: #808089;
	text-align: center;
	margin: 16px 0 0;
}
#auth_container .form-info.dark .form-toggle {
	margin-top: 4px;
}
#auth_container .alt-actions {
	font-size: 13px;
	color: #808089;
	padding: 10px 0 16px;
}
#auth_container .form-toggle {
	text-align: center;
	display: block;
	font-size: 13px;
	color: #22a5ff;
	margin: 0 auto;
	cursor: pointer;
}
#auth_container .form-toggle:hover,
#auth_container .form-toggle:focus {
	text-decoration: underline;
}
#auth_container .alt-actions .monster-checkbox {
	display: inline-block;
}
#auth_container .alt-actions .form-toggle {
	display: inline-block;
	float: right;
}
/* 
===================================== 
	FORM INPUTS WITH .error CLASS                 
===================================== 
*/
#auth_container .input-wrap.error * {
	color: #ff3d24;
}
#auth_container .input-wrap.error > .placeholder-shift.fixed {
	color: #ff3d24;
}
#auth_container .error-icon {
	visibility: hidden;
	position: absolute;
	right: 0;
	top: 15px;
	webkit-transform: 	scale(.25);
	ms-transform: 		scale(.25);
	transform: 			scale(.25);
	-webkit-transition: transform .2s ease-out;
	-moz-transition: 	transform .2s ease-out;
	-o-transition: 		transform .2s ease-out;
	-ms-transition: 	transform .2s ease-out;
	transition: 		transform .2s ease-out;
}
#auth_container .input-wrap.error .error-icon {
	visibility: visible;
	webkit-transform: 	scale(1);
	ms-transform: 		scale(1);
	transform: 			scale(1);
}
#auth_container .input-wrap.error > .border-grow {
	position: absolute;
	display: block;
	bottom: -1px;
	width: 100%;
	height: 2px;
	background: #ff3d24;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: 	all 0.2s ease-out;
	-o-transition: 		all 0.2s ease-out;
	-ms-transition: 	all 0.2s ease-out;
	transition: 		all 0.2s ease-out;
}

@media screen and (max-width: 968px) {

	html, #auth_container.login-background {
		background: #202029;
	}
	#auth_container .intro {
		margin: 0 auto;
		display: block;
		width: 100%;
		height: 200px;
	}
	#auth_container .intro .content {
		display: block;
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	#auth_container .form-container {
		display: block;
		width: 100%;
		height: calc(100vh - 200px);
	}
	#auth_container .form-container.hidden {
		display: none;
	}

	#auth_container form {
		width: 50%;
		margin: 20px auto 0;
		display: block;
		position: relative;
		top: 0%;
		-webkit-transform: translateY(0%);
		-ms-transform: translateY(0%);
		transform: translateY(0%);
	}

}

/* #auth_container .left-div {
	position: relative;
	height: 100%;
	margin-right: 330px;

	background: url(static/images/bg.svg) no-repeat center center #303039;
} */
/* 
#auth_container .hello {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
	font-size: 38px;
	line-height: 38px;
	padding: 0 20px;
}

#auth_container .right-div {
	float: right;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 330px;
	height: 100%;
	overflow: auto;
	background-color: #202029;
}

#auth_container .right-div .right-div-content {
	position: relative;
	padding-bottom: 60px;
	min-height: 100%;
	box-sizing: border-box;
}

#auth_container .right-div .logo-block {
	background: no-repeat center center;
	width: 100%;
	height: 60px;
	margin: 40px 0;
}

#auth_container .login-block {
	color: #fff;
	padding: 30px;
}

#auth_container .login-block .row-login:not(:first-child) {
	margin-top: 15px
}

#auth_container .login-block .row-action {
	padding: 30px 0 8px 0;
	border-bottom: solid 1px #808089;
}

#auth_container .login-block .row-action label {
	color: #808089;
	font-size: 14px;
}

#auth_container .login-block .row-action a,
#auth_container .login-block .row-action a:visited {
	color: #808089;
	font-size: 14px;
}
#auth_container .login-block .row-action a:hover,
#auth_container .login-block .row-action a:focus,
#auth_container .login-block .row-action a:active {
	color: #c0c0c9;
	text-decoration: none;
}

#auth_container .login-block form {
	margin: 0;
}

#auth_container .login-block form .input-prepend .add-on {
	width: 17px;
	text-align: center;
}

#auth_container .login-block form .control-group:last-child {
	margin-bottom: 0;
}

#auth_container .login-input {
	position: relative;
}

#auth_container .login-input > i {
	color: #808089;
	position: absolute;
	left: 3px;
	bottom: 10px;
}

#auth_container .login-input > input {
	background: transparent;
	color: #c0c0c9;
	box-shadow: none;
	border-radius: 0;
	border: none;
	border-bottom: solid 1px #808089;
	font-size: 16px;
	width: 100%;
	height: 40px;
	padding-left: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#auth_container .login-input > input:focus {
	color: #22a5ff;
	box-shadow: inherit;
	border-color: #22a5ff;
}

#auth_container .login-input > input:focus + i {
	color: #22a5ff;
}

#auth_container .login-input > input::-webkit-input-placeholder {color: #808089;}
#auth_container .login-input > input:-moz-placeholder {color: #808089;}
#auth_container .login-input > input::-moz-placeholder {color: #808089;}
#auth_container .login-input > input:-ms-input-placeholder {color: #808089;}

#auth_container .login {
	width: 100%;
	font-size: 24px;
	padding: 12px 20px;
	border: none;
	color: #fff;
	background-color: #22a5ff;
}
#auth_container .login:hover, #auth_container .login:focus {
	background-color: #4db8ff;
}
#auth_container .login:active {
	background-color: #008be8;
}

#auth_container .register-block {
	text-align: center;
	display: none; Temporarily hiding this until we have a register page
}
#auth_container .register-message {
	color: #808089;
	font-size: 14px;
}
#auth_container .register-link {
	font-size: 14px;
	color: #22a5ff;
	cursor: pointer;
}
#auth_container .register-link i {
	color: #22a5ff;
	font-size: 12px;
	margin-left: 3px;
}
#auth_container .register-link:hover {
	color: #4db8ff;
	text-decoration: none;
}
#auth_container .register-link:hover i {
	color: #4db8ff;
}
 */
#auth_container .powered-by-block {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin: 20px 0px;
	font-size: 12px;
	color: #606069;
}
#auth_container .powered-by-block .tag-version {
	margin-left: 5px;
}
#auth_container .powered-by-block a,
#auth_container .powered-by-block a:hover,
#auth_container .powered-by-block a:active,
#auth_container .powered-by-block a:visited,
#auth_container .powered-by-block a:focus {
	color: #646469;
	text-decoration: none;
}
/* 
.popup_recover_password form {
	margin: 20px 0 40px 0;
}

.popup_recover_password form input {
	width: 166px;
}

.popup_recover_password .group-or {
	margin-top: -10px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
} */


/**************************************** Password Recovery ****************************************/
/* #password_recovery {
	width: 510px;
}

#password_update {
	width: 455px;
}

#password_recovery form,
#password_update form {
	padding: 20px 55px 0 0;
}

#password_recovery .action,
#password_update .action {
	padding: 20px;
	border-top: 1px solid #C1C1C1;
	text-align: center;
}

#password_recovery .help-box,
#password_update .help-box {
	margin: 15px 25px;
}

#password_recovery .cancel-link,
#password_update .cancel-link {
	margin-right: 10px;
} */

/* Trial Upgrade Popup */
#trial_upgrade_popup {
	padding: 15px;
	width: 284px;
}

#trial_upgrade_popup .actions {
	margin-top: 20px;
}

#trial_upgrade_popup .actions #upgrade {
	margin-left: 15px;
}