#users_container .users-header {
	background: #fcfcfc;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	padding: 15px;
}

#users_container .users-header > * {
	display: inline-block;
}

#users_container .users-header .count-users {
	color: #22ccff;
	display: inline-block;
	font-size: 28px;
	font-weight: 500;
	margin-left: 10px;
	margin-right: 25px;
	margin-top: -5px;
}

#users_container .users-header .add-user {
	font-size: 14px;
}

#users_container .users-header .add-user i {
	text-decoration: none;
	margin-right: 5px;
}

#users_container .users-grid {
	background: #fcfcfc;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-top: 10px;

	font-family: verdana;
}

#users_container .users-grid i.icon-telicon-multiple-items {
	font-size: 14px;
	margin-left: 15px;
}

#users_container .users-grid .empty-search-row,
#users_container .users-grid .no-users-row {
	display: none;
	padding: 16px;
	text-align: center;
}

#users_container .users-grid .grid-row.title:not(:last-child) {
	border-bottom: 1px solid #ddd;
}

#users_container .users-grid .grid-row.title,
#users_container .users-grid .grid-row .user-cells{
	height: 50px;
	line-height: 50px; /* 60 - padding */
}

#users_container .users-grid .grid-row:not(:last-child) {
	border-bottom: 1px solid #eee;
}

#users_container .users-grid .grid-row.title .grid-cell {
	text-align: center;
	padding-left: 0;
}

#users_container .users-grid .grid-row .grid-cell {
	border-right: 1px solid #eee;
	display: inline-block;
	overflow: hidden;
	padding-left: 10px;
	width: 20%;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#users_container .users-grid .grid-row .grid-cell:first-child {
	border-left: none !important;
}

#users_container .users-grid .grid-row .grid-cell:last-child {
	border-right: none !important;
}

#users_container .users-grid .grid-row .grid-cell.active {
	background: #f5f5f5;
	height: 51px;
}

#users_container .users-grid .grid-row:not(.title) .grid-cell:hover {
	cursor: pointer;
	background: #eee;
}

#users_container .users-grid .grid-row .grid-cell:not(.features) {
	white-space: nowrap;
}

#users_container .users-grid .grid-row .grid-cell.centered {
	padding: 0;
	text-align: center;
}

#users_container .users-grid .grid-row .grid-cell.right-aligned {
	padding: 0 5px 0 0;
	text-align: right;
}

#users_container .users-grid .grid-row .grid-cell.devices i,
#users_container .users-grid .grid-row .grid-cell.features i {
	margin: 0 5px;
}

#users_container .users-grid .grid-row .grid-cell.features .navbar {
	margin-bottom: 0;
	text-align: left;
}

#users_container .users-grid .grid-row .grid-cell.features a.dropdown-toggle {
	padding: 15px 7px 2px 15px;
	text-align: left;
	background: transparent !important;
}

#users_container .users-grid .grid-row .edit-user {
	background: #f5f5f5;
	border-top: 1px solid #eee;
	min-height: 50px;
}

/* Columns */
#users_container .users-grid .grid-row .grid-cell.name,
#users_container .users-grid .grid-row .grid-cell.phone-number {
	width: 25%;
}

#users_container .users-grid .grid-row .grid-cell.devices,
#users_container .users-grid .grid-row .grid-cell.extension {
	width: 15%;
}

#users_container .users-grid .grid-row:not(.title) .grid-cell.extension {
	padding-left: 25px;
}

#users_container .users-grid .grid-row .grid-cell.features {
	border-right: none;
	text-align: center;
}

#users_container .actions {
	border-top: 1px solid #ddd;
	height: 30px;
	line-height: 30px;
	padding: 15px;
}

/* Detail User */
#users_container .detail-user .user-fields {
	display: inline-block;
	padding: 20px;
	margin: 0px;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#users_container .detail-user .user-fields > * {
	display: inline-block;
	margin: 10px 0;
}

#users_container .detail-user .user-fields .basic-fields label {
	display: inline-block;
}

#users_container .detail-user .user-fields .advanced-fields > * {
	display: inline-block;
	margin: 0 5px 15px 5px;
}

#users_container .detail-user .user-fields .basic-fields label.monster-invalid {
	margin-left: -100px;
	margin-top: 30px;
}

#users_container .detail-user .fix-left {
	margin-left: 12px;
}

#users_container .detail-user .row-fields {
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
}

#users_container .detail-user .row-fields #vmbox_number {
	margin-left: 7px;
}

#users_container .detail-user .icon-wrapper {
	display: inline-block;
	text-align: center;
	width: 50px;
}

#users_container .detail-user .icheckbox_flat {
	margin:	0px 16px -5px 3px;
}

#users_container .detail-user #change_username {
	margin-left: 5px;
}

/* Grid add remove */
#users_container .list-wrapper {
	background: #FFF;
	border-radius: 4px;
	border: 1px solid #ddd;
	margin: 10px;
}

#users_container .list-unassigned-items{
	overflow: auto;
	max-height: 211px;
}

#users_container .unassigned-list-header {
	background: #999;
	height: 32px;
	line-height: 32px;
	padding: 10px;
}

#users_container .unassigned-list-header .title {
	color: #FFF;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
}

#users_container .list-wrapper .item-row  {
	border-bottom: 1px solid #ccc;
	white-space: nowrap;
}

#users_container .list-wrapper .item-row > * {
	display: inline-block;
	line-height: 32px;
	height: 32px;
	padding: 10px;
}

#users_container .list-wrapper .empty-search-row,
#users_container .list-wrapper .empty-row {
	display: none;
	padding: 16px;
	text-align: center;
}

#users_container .list-wrapper .empty-search-row.visible,
#users_container .list-wrapper .empty-row.visible {
	display: block;
}

#users_container .list-wrapper .item-row button {
	margin-right: 15px;
	padding: 2px;
	width: 80px;
}

/* Detail Numbers */
#users_container .detail-numbers .list-wrapper .item-row .features > i {
	display: none;
}

#users_container .detail-numbers .list-wrapper .item-row .features > i.active {
	display: inline-block;
}

#users_container .detail-numbers .list-wrapper .item-row .locality {
	border-left: 1px solid #CCC;
	display: none;
}

#users_container .detail-numbers .list-wrapper .list-assigned-items .item-row .locality {
	width: 250px;
	border-right: 1px solid #CCC;
}

#users_container .detail-numbers .list-wrapper .item-row .locality img {
	margin-right: 5px;
}

#users_container .detail-numbers .list-wrapper .list-unassigned-items .features-block {
	display: none;
}

#users_container .detail-numbers .list-wrapper .features-block .dropdown {
	margin-top: -4px;
}

#users_container .detail-numbers .list-wrapper .navbar .nav li.dropdown.open.active > .dropdown-toggle,
#users_container .detail-numbers .list-wrapper .navbar .nav li.dropdown.open > .dropdown-toggle,
#users_container .detail-numbers .navbar .nav li.dropdown.active {
	background: #FFF;
}

@media (min-width: 1000px) {
	#users_container .detail-numbers .list-wrapper .item-row .locality {
		display: inline-block;
	}
}

/* Detail Extensions */
#users_container .detail-numbers.extensions .input-extension {
	margin-right: 5px;
	width: 50px;
}

/* Detail Features */
#users_container .detail-features .features-grid .feature {
	border: 1px solid #FFF;
	cursor: pointer;
	display: inline-block;
	height: 150px;
	text-align: center;
	white-space: nowrap;
	width: 33.3333%;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#users_container .detail-features .features-grid .feature .icon-wrapper,
.feature-popup-container .feature-icon-wrapper{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  hsl(0,0%,100%) 0%, hsl(0,0%,87%) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(0,0%,100%)), color-stop(100%,hsl(0,0%,87%))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  hsl(0,0%,100%) 0%,hsl(0,0%,87%) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  hsl(0,0%,100%) 0%,hsl(0,0%,87%) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  hsl(0,0%,100%) 0%,hsl(0,0%,87%) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  hsl(0,0%,100%) 0%,hsl(0,0%,87%) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */

	border: 5px solid #DDDDDD;
    border-radius: 60px 60px 60px 60px;
    box-shadow: 0 -1px 2px #666666 inset;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    margin: 20px;
    text-align: center;
    width: 60px;
}

#users_container .detail-features .features-grid .feature .icon-wrapper.active,
.feature-popup-container .feature-icon-wrapper.active{
	background: #19d332; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  hsl(128,79%,46%) 0%, hsl(132,46%,46%) 61%, hsl(0,0%,0%) 99%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,hsl(128,79%,46%)), color-stop(61%,hsl(132,46%,46%)), color-stop(99%,hsl(0,0%,0%))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  hsl(128,79%,46%) 0%,hsl(132,46%,46%) 61%,hsl(0,0%,0%) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  hsl(128,79%,46%) 0%,hsl(132,46%,46%) 61%,hsl(0,0%,0%) 99%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  hsl(128,79%,46%) 0%,hsl(132,46%,46%) 61%,hsl(0,0%,0%) 99%); /* IE10+ */
	background: radial-gradient(ellipse at center,  hsl(128,79%,46%) 0%,hsl(132,46%,46%) 61%,hsl(0,0%,0%) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19d332', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#users_container .detail-features .features-grid .feature:hover {
	background: #FFF;
	box-shadow: 1px 1px 15px #ddd inset;
}

#creation_user_dialog {
	padding: 20px 10px 20px 60px
}

#creation_user_dialog .control-group .controls {
	margin-left: 30px;
}

#creation_user_dialog input.same-line {
	margin-left: 6px;
}

#creation_user_dialog input.input-small {
	width: 93px;
}

#creation_user_dialog i.second-field {
	margin-left: 30px;
	margin-right: 12px;
}

#creation_user_dialog button {
	margin-right: 70px;
}

#creation_user_dialog label.monster-invalid[for="user.last_name"] {
	margin-left: 113px;
}

#creation_user_dialog label.monster-invalid[for="extension"] {
	margin-left: 145px;
}

#creation_user_dialog .control-group.hack-left .control-label{
	width: 0px;
}

#creation_user_dialog .control-group.hack-left .controls {
	margin-left: 5px;
}

#creation_user_dialog .control-group-split .split-group {
	float: left;
}

#creation_user_dialog .control-group-split .split-group:not(:first-child) {
	margin-left: 20px;
}

#creation_user_dialog .control-group-split {
	margin-bottom: 22px;
	margin-top: -7px;
}

#creation_user_dialog .control-group-split .split-title {
	margin-left: 30px;
	padding-bottom: 5px;
}

#creation_user_dialog .control-group-split i {
	margin-left: 2px;
	margin-right: 10px;
}

#creation_user_dialog .control-group-split input {
	width: 74px;
}

/* Feature Popups */
.feature-popup-container {
	width: 510px;
}

.feature-popup-container .actions,
.feature-popup-container .content {
	padding: 15px 25px;
	border-top: 1px solid #ccc;
}

.feature-popup-container .switch {
	margin-left: 15px;
}

.feature-popup-container .content.disabled {
	display: none;
}

.feature-popup-container form {
	margin-bottom: 40px;
}

.feature-popup-container form .main-line {
	height: 70px; /* Adding extra space for validation messages */
	line-height: 60px;
	position: relative;
}

.feature-popup-container form .main-line label.monster-invalid {
    top: 45px;
}

.feature-popup-container input,
.feature-popup-container select {
	margin-left: 10px;
}

/* Caller-ID User Feature Popup */
.feature-popup-container[data-feature="caller_id"] {
	width: 525px;
}

.feature-popup-container .caller-id-select {
	margin-top: 5px;
}

/* Hot Desking User Feature Popup */
.feature-popup-container[data-feature="hotdesk"] form .main-line .icheckbox_flat {
	margin-left: 10px;
}

.feature-popup-container[data-feature="hotdesk"] #pin {
	margin-top: 10px;
}

/* VM To Email User Feature Popup */
.feature-popup-container[data-feature="vm_to_email"] #email {
	margin-top: 8px;
}

/* Conferencing */
.feature-popup-container[data-feature="conferencing"] form {
	margin-bottom: 0;
}

/* Change Password Popup */
.change-password-popup {
	width: 430px;
}

.change-password-popup .form-horizontal .control-group .control-label {
	width: 140px;
}

.change-password-popup .form-horizontal .control-group .controls {
	margin-left: 160px;
}

.change-password-popup .change-password-content,
.change-password-popup .actions {
	border-top: 1px solid #CCCCCC;
	padding: 15px 25px;
}
