#users_container_overlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .3;
}

#users_container .users-header {
	font-size: 18px;
	line-height: 30px;
}

#users_container .users-header > * {
	display: inline-block;
}

#users_container .users-header .title {
	padding: 15px;
	border: 1px solid #dcdcdc;
	border-radius: 4px 0 0 4px;
}

#users_container .users-header .count-users {
	display: inline-block;
	margin-top: -5px;
	margin-left: 15px;
	color: #22ccff;
	font-weight: 500;
	font-size: 28px;
}

#users_container .users-header .add-user {
	margin: 0;
	padding: 9px 13px;
	border: 1px solid #dcdcdc;
	border-left: 0;
	border-radius: 0 4px 4px 0;
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:    -moz-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:     -ms-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:      -o-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:         linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	height: 42px;
	vertical-align: top;
	text-align: center;
	font-size: 12px;
}

#users_container .users-header .add-user:hover {
	background-image: none;
	background-color: #eee;
	text-decoration: none;
}

#users_container .users-header .add-user i {
	display: block;
	margin: 0;
	color: #929799;
	text-decoration: none;
}

#users_container .users-header .add-user:hover i {
	color: #22ccff;
}

#users_container .users-header .search-box { margin: 16px 0 16px 15px; }

#users_container .users-grid {
	margin-top: 20px;
	font-family: verdana;
}

#users_container .users-grid i.icon-telicon-multiple-items {
	margin-left: 15px;
	font-size: 14px;
}

#users_container .users-grid .empty-search-row,
#users_container .users-grid .no-users-row {
	display: none;
	padding: 16px;
	text-align: center;
}

#users_container .users-grid .grid-row.title,
#users_container .users-grid .grid-row .user-cells{
	height: 50px;
	line-height: 50px; /* 60 - padding */
}

#users_container .users-grid .grid-row.title .grid-cell {
	padding-left: 10px;
	text-align: left;
}

#users_container .users-grid .grid-row .grid-cell {
	display: inline-block;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

	box-sizing: border-box;
	padding-left: 10px;
	width: 20%;
	height: 100%;
	vertical-align: top;
}

#users_container .users-grid .grid-row .grid-cell.active {
	height: 51px;
	border-right: 1px solid #a6a7a9;
	border-bottom-left-radius: 0;
	background: #e0e0e0;
}

#users_container .users-grid .user-rows .grid-cell:not(.active):hover {
	border-right: 1px solid #eee;
	background-color: #eee;
	background-image: none;
	cursor: pointer;
}

#users_container .users-grid .user-rows .grid-cell.active:hover {
	background-color: #e0e0e0;
	cursor: pointer;
}

#users_container .users-grid .user-rows .grid-cell:last-child:not(.active):hover {
	border-right: 1px solid #dcdcdc;
}

#users_container .users-grid .grid-row .grid-cell.features.smaller {
	line-height: 24px;
}

#users_container .users-grid .grid-row .grid-cell:not(.features) {
	white-space: nowrap;
}

#users_container .users-grid .grid-row .grid-cell.centered {
	padding: 0;
	text-align: center;
}

#users_container .users-grid .grid-row .grid-cell.right-aligned {
	padding: 0 10px 0 0;
	text-align: right;
}

#users_container .users-grid .grid-row .grid-cell.devices i,
#users_container .users-grid .grid-row .grid-cell.features i {
	margin: 0 5px;
}

#users_container .users-grid .grid-row .grid-cell.features .navbar {
	margin-bottom: 0;
	text-align: left;
}

#users_container .users-grid .grid-row .grid-cell.features a.dropdown-toggle {
	padding: 15px 7px 2px 15px;
	background: transparent !important;
	text-align: left;
}

#users_container .users-grid .grid-row .edit-user {
	border: 1px solid #a6a7a9;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background: #e0e0e0;
}

/* Columns */
#users_container .users-grid .grid-row .grid-cell.name,
#users_container .users-grid .grid-row .grid-cell.phone-number {
	width: 25%;
}

#users_container .users-grid .grid-row .grid-cell.devices,
#users_container .users-grid .grid-row .grid-cell.extension {
	width: 15%;
}

#users_container .user-rows .grid-row {
	margin-bottom: 10px;
	border-radius: 4px;
}

#users_container .user-rows .grid-cell {
	border: 1px solid #dcdcdc;
	border-right: 1px solid #fff;
	background-image: -webkit-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:    -moz-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:     -ms-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:      -o-linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
	background-image:         linear-gradient(top, hsl(0, 0%, 98%) 0%, hsl(0, 0%, 95%) 100%);
}

#users_container .user-rows .grid-cell.active {
	border: 1px solid #a6a7a9;
	border-bottom: 0;
}

#users_container .user-rows .grid-cell:first-child {
	border-radius: 4px 0 0 4px;
}

#users_container .user-rows .grid-cell:last-child {
	border-right: 1px solid #dcdcdc;
	border-radius: 0 4px 4px 0;
}

#users_container .user-rows .grid-cell.active:first-child {
	border: 1px solid #a6a7a9;
	border-bottom: 0;
}

#users_container .user-rows .grid-row.active .grid-cell:last-child { border-bottom-right-radius: 0; }

#users_container .user-rows .grid-row.active .grid-cell:first-child { border-bottom-left-radius: 0; }

#users_container .actions {
	position: relative;
	padding: 15px;
	height: 30px;
	border-top: 1px solid #fff;
	line-height: 30px;
}

#users_container .actions:before {
	position: absolute;
	top: -2px;
	right: 0;
	display: block;
	width: 100%;
	border-top: 1px solid #a6a7a9;
	content: "";
}

/* Detail User */
#users_container .detail-user .user-fields {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

	box-sizing: border-box;
	margin: 0px;
	padding: 20px;
}

#users_container .detail-user .user-fields > * {
	margin: 10px 0;
}

#users_container .detail-user .user-fields .basic-fields label {
	display: inline-block;
}

#users_container .detail-user .user-fields .advanced-fields > * {
	display: inline-block;
	margin: 0 5px 15px 5px;
}

#users_container .detail-user .user-fields .basic-fields label.monster-invalid {
	margin-top: 30px;
	margin-left: -100px;
}

#users_container .detail-user .user-fields .basic-fields .row-fields.vmbox label.monster-invalid {
	display: block;
	margin-left: 170px;
	margin-top: -10px;
}

#users_container .detail-user .fix-left {
	margin-left: 12px;
}

#users_container .detail-user .row-fields {
	margin-bottom: 10px;
	height: 40px;
	line-height: 40px;
}

#users_container .detail-user .row-fields #vmbox_number {
	margin-left: 7px;
}

#users_container .detail-user .email-border.open {
	margin-bottom: 10px;
	padding-top: 10px;
	border: 2px dotted #A6A7A9;
	border-radius: 4px;
}

#users_container .detail-user .icon-wrapper {
	display: inline-block;
	width: 50px;
	text-align: center;
}

#users_container .detail-user .icheckbox_flat {
	margin:	0px 16px -5px 3px;
}

#users_container .detail-user #change_username {
	margin-left: 5px;
}

/* Grid add remove */
#users_container .list-wrapper {
	margin: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background: #FFF;
}

#users_container .list-unassigned-items{
	overflow: auto;
	max-height: 212px;
}

#users_container .unassigned-list-header {
	padding: 10px;
	height: 32px;
	background: #999;
	line-height: 32px;
}

#users_container .unassigned-list-header .title {
	display: inline-block;
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
}

#users_container .list-wrapper .item-row  {
	border-bottom: 1px solid #ccc;
	white-space: nowrap;
}

#users_container .list-wrapper .item-row > * {
	display: inline-block;
	padding: 10px;
	height: 32px;
	line-height: 32px;
}

#users_container .list-wrapper .empty-search-row,
#users_container .list-wrapper .empty-row {
	display: none;
	padding: 16px;
	text-align: center;
}

#users_container .list-wrapper .empty-search-row.visible,
#users_container .list-wrapper .empty-row.visible {
	display: block;
}

#users_container .list-wrapper .item-row button {
	margin-right: 15px;
	padding: 2px;
	width: 80px;
}

/* Detail Numbers */
#users_container .detail-numbers .list-wrapper .item-row .features > i {
	display: none;
}

#users_container .detail-numbers .list-wrapper .item-row .features > i.active {
	display: inline-block;
}

#users_container .detail-numbers .list-wrapper .item-row .locality {
	display: none;
	border-left: 1px solid #CCC;
}

#users_container .detail-numbers .list-wrapper .list-assigned-items .item-row .locality {
	width: 250px;
	border-right: 1px solid #CCC;
}

#users_container .detail-numbers .list-wrapper .item-row .locality img {
	margin-right: 5px;
}

#users_container .detail-numbers .list-wrapper .list-unassigned-items .features-block {
	display: none;
}

#users_container .detail-numbers .list-wrapper .features-block .dropdown {
	margin-top: -4px;
}

#users_container .detail-numbers .list-wrapper .navbar .nav li.dropdown.open.active > .dropdown-toggle,
#users_container .detail-numbers .list-wrapper .navbar .nav li.dropdown.open > .dropdown-toggle,
#users_container .detail-numbers .navbar .nav li.dropdown.active {
	background: #FFF;
}

#users_container .detail-numbers .buy-dropdown:hover,
#users_container .detail-numbers .buy-dropdown:focus {
	background-color: #E0E0E0;
	text-decoration: underline;
}

@media (min-width: 1000px) {
	#users_container .detail-numbers .list-wrapper .item-row .locality {
		display: inline-block;
	}
}

/* Detail Extensions */
#users_container .detail-numbers.extensions .input-extension {
	margin-right: 5px;
	width: 50px;
}

/* Detail Features */
#users_container .detail-features .features-grid .feature {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

	box-sizing: border-box;
	width: 25%;
	height: 150px;
	border: 1px solid #FFF;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
}

#users_container .detail-features .features-grid .feature .feature-title {
	overflow: hidden;
	text-overflow: ellipsis;
}

#users_container .detail-features .features-grid .feature .icon-wrapper,
.feature-popup-container .feature-icon-wrapper{
	display: inline-block;
	margin: 20px;
	width: 60px;
	height: 60px;

	border: 5px solid #DDDDDD;
	border-radius: 60px 60px 60px 60px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  hsl(0,0%,100%) 0%, hsl(0,0%,87%) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(0,0%,100%)), color-stop(100%,hsl(0,0%,87%))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  hsl(0,0%,100%) 0%,hsl(0,0%,87%) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  hsl(0,0%,100%) 0%,hsl(0,0%,87%) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  hsl(0,0%,100%) 0%,hsl(0,0%,87%) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  hsl(0,0%,100%) 0%,hsl(0,0%,87%) 100%); /* W3C */
	box-shadow: 0 -1px 2px #666666 inset;
	text-align: center;
	line-height: 60px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

#users_container .detail-features .features-grid .feature .icon-wrapper.active,
.feature-popup-container .feature-icon-wrapper.active{
	background: #19d332; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  hsl(128,79%,46%) 0%, hsl(132,46%,46%) 61%, hsl(0,0%,0%) 99%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,hsl(128,79%,46%)), color-stop(61%,hsl(132,46%,46%)), color-stop(99%,hsl(0,0%,0%))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  hsl(128,79%,46%) 0%,hsl(132,46%,46%) 61%,hsl(0,0%,0%) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  hsl(128,79%,46%) 0%,hsl(132,46%,46%) 61%,hsl(0,0%,0%) 99%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  hsl(128,79%,46%) 0%,hsl(132,46%,46%) 61%,hsl(0,0%,0%) 99%); /* IE10+ */
	background: radial-gradient(ellipse at center,  hsl(128,79%,46%) 0%,hsl(132,46%,46%) 61%,hsl(0,0%,0%) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19d332', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#users_container .detail-features .features-grid .feature:hover {
	background: #FFF;
	box-shadow: 1px 1px 15px #ddd inset;
}

#creation_user_dialog form > div {
	padding: 20px 40px 0px 60px;
	border-bottom: 1px solid #c1c1c1;
}

#creation_user_dialog i {
	color: #929799;
}

#creation_user_dialog div.dialog-buttons-wrapper {
	padding-bottom: 20px;
	text-align: center;
}

#creation_user_dialog .control-group .controls {
	margin-left: 36px;
}

#creation_user_dialog input.same-line {
	margin-left: 6px;
}

#creation_user_dialog input.input-small {
	width: 93px;
}

#creation_user_dialog i.second-field {
	margin-right: 12px;
	margin-left: 30px;
}

#creation_user_dialog label.monster-invalid[for="user.last_name"] {
	margin-left: 113px;
}

#creation_user_dialog label.monster-invalid[for="extension"] {
	margin-left: 35px;
}

#creation_user_dialog .control-group.hack-left .control-label{
	width: 0px;
}

#creation_user_dialog .control-group.hack-left .icheckbox_flat {
	margin-right: 12px;
}

#creation_user_dialog .control-group.hack-left .controls {
	margin-left: 0;
}

#creation_user_dialog .control-group-split .split-group {
	float: left;
}

#creation_user_dialog .control-group-split .split-group:not(:first-child) {
	margin-left: 14px;
}

#creation_user_dialog .control-group-split {
	margin-top: -7px;
	margin-bottom: 22px;
}

#creation_user_dialog .control-group-split .split-title {
	margin-left: 36px;
	padding-bottom: 5px;
	font-size: 12px;
}

#creation_user_dialog .control-group-split i {
	margin-right: 16px;
	margin-left: 2px;
}

#creation_user_dialog .control-group-split input {
	width: 74px;
}

/* Feature Popups */
.feature-popup-container {
	width: 510px;
}

.feature-popup-container .actions,
.feature-popup-container .content {
	padding: 15px 25px;
	border-top: 1px solid #ccc;
}

.feature-popup-container .switch {
	margin-left: 15px;
}

.feature-popup-container .content.disabled {
	display: none;
}

.feature-popup-container form {
	margin-bottom: 40px;
}

.feature-popup-container form .main-line {
	position: relative;
	height: 70px; /* Adding extra space for validation messages */
	line-height: 60px;
}

.feature-popup-container form .main-line label.monster-invalid {
	top: 45px;
}

.feature-popup-container input,
.feature-popup-container select {
	margin-left: 10px;
}

/* Caller-ID User Feature Popup */
.feature-popup-container[data-feature="caller_id"] {
	width: 525px;
}

.feature-popup-container .caller-id-select {
	margin-top: 5px;
}

/* Hot Desking User Feature Popup */
.feature-popup-container[data-feature="hotdesk"] form .main-line .icheckbox_flat {
	margin-left: 10px;
}

.feature-popup-container[data-feature="hotdesk"] #pin {
	margin-top: 10px;
}

/* VM To Email User Feature Popup */
.feature-popup-container[data-feature="vm_to_email"] #email {
	margin-top: 8px;
}

.feature-popup-container[data-feature="vm_to_email"] .main-line {
	height: auto;
	line-height: 20px;
	margin: 10px 0 30px 0;
}

/* Conferencing */
.feature-popup-container[data-feature="conferencing"] form {
	margin-bottom: 0;
}

.feature-popup-container[data-feature="conferencing"] form .list-numbers {
	display: inline-block;
	font-weight: 500;
	height: 65px;
	line-height: 15px;
	margin-left: 25px;
	overflow: auto;
	vertical-align: middle;
	width: 180px;
}

.feature-popup-container[data-feature="conferencing"] form .list-numbers[data-count="1"] {
	line-height: 61px;
}

.feature-popup-container[data-feature="conferencing"] form .list-numbers[data-count="2"] {
	line-height: 32px;
}

.feature-popup-container[data-feature="conferencing"] form .list-numbers[data-count="3"] {
	line-height: 20px;
}

/* Change Password Popup */
.change-password-popup {
	width: 430px;
}

.change-password-popup .form-horizontal .control-group .control-label {
	width: 140px;
}

.change-password-popup .form-horizontal .control-group .controls {
	margin-left: 160px;
}

.change-password-popup .change-password-content,
.change-password-popup .actions {
	padding: 15px 25px;
	border-top: 1px solid #CCCCCC;
}

/* Find me Follow me feature popup */
.feature-popup-container[data-feature="find_me_follow_me"] {
	width: 620px;
}

#find_me_follow_me_form {
	margin: 0;
}

#find_me_follow_me_form .no-device {
	color: red;
	font-size: 18px;
	padding: 10px;
}

#find_me_follow_me_form .grid-time .device-row {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 25px 0 15px;
	width: 100%;
}

#find_me_follow_me_form .grid-time .device-row > div {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#find_me_follow_me_form .grid-time .device-row.title {
	padding: 5px 0px;
}

#find_me_follow_me_form .grid-time .device-row.title .name {
	height: 40px;
	line-height: 40px;
}

#find_me_follow_me_form .grid-time .device-row .name {
	width: 25%;
	vertical-align: bottom;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#find_me_follow_me_form .grid-time .device-row .name i {
	margin-right: 10px;
}
#find_me_follow_me_form .grid-time .device-row.disabled .name {
	color: #999;
}
#find_me_follow_me_form .grid-time .device-row .times {
	padding-right: 30px;
	padding-left: 30px;
	width: 65%;
}
#find_me_follow_me_form .grid-time .device-row .action {
	width: 10%;
	text-align: center;
	vertical-align: bottom;
	padding-left: 10px;
}

#find_me_follow_me_form .slider-time.ui-slider {
	height: 10px;
	border: none;
	background: #DDDDDD;
	cursor: pointer;
}

#find_me_follow_me_form .slider-time.ui-slider .ui-slider-range {
	border: 1px solid #333;
	border-radius: 0;
	background: #33BB44;
}

#find_me_follow_me_form .slider-time.ui-slider .ui-slider-handle {
	margin: -7px 0;
	padding: 3px;
	width: 0px;
	height: 25px;
	border: 1px solid #333333;
	background: #33BB44;
	cursor: pointer;
}

#find_me_follow_me_form .slider-time.ui-slider .ui-slider-range,
#find_me_follow_me_form .slider-time.ui-slider .ui-slider-handle {
	border-color: #73b714 #73b714 hsl(85, 80%, 32.5%);
	background-color: hsl(85, 80%, 40%) !important;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#bcef75), to(#73b714));
	background-image: -moz-linear-gradient(top, #bcef75, #73b714);
	background-image: -ms-linear-gradient(top, #bcef75, #73b714);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcef75), color-stop(100%, #73b714));
	background-image: -webkit-linear-gradient(top, #bcef75, #73b714);
	background-image: -o-linear-gradient(top, #bcef75, #73b714);
	background-image: linear-gradient(#bcef75, #73b714);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bcef75", endColorstr="#73b714");
}

#find_me_follow_me_form .slider-time.ui-slider .slider-tooltip {
	position: absolute;
	right: -11px;
	bottom: 30px;
	display: block;
	font-size: 12px;
}
#find_me_follow_me_form .slider-time.ui-slider .slider-tooltip .slider-tooltip-inner {
	max-width: 200px;
	width: 30px;
	color: #000000;
	text-align: center;
	text-decoration: none;
}

#find_me_follow_me_form .scale-container {
	position: absolute;
	top: 0px;
	right: 10%;
	left: 25%;
	margin: 0 26px 0 34px;
	height: 100%;
	border-bottom: solid 1px #ddd;
}
#find_me_follow_me_form .device-row:last-of-type .scale-container {
	border-bottom: none;
}
#find_me_follow_me_form .scale-container > span {
	position: absolute;
	bottom: 15%;
	left: -8px;
	color: #999;
	font-size: 11px;
}
#find_me_follow_me_form .scale-element {
	position: relative;
	display: inline-block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	border-right: solid 1px #ddd;
}
#find_me_follow_me_form .device-row.title .scale-element {
	top: 85%;
	height: 15%;
	vertical-align: top;
}
#find_me_follow_me_form .scale-element:first-child {
	border-left: solid 1px #ddd;
}
#find_me_follow_me_form .scale-element > span {
	position: absolute;
	top: -20px;
	right: -24px;
	color: #999;
	font-size: 11px;
}
