.profile-title .page-header {
	padding-bottom: 0;
	margin: 20px 0 15px;
}

.profile-title .page-header h1 {
	color: #05ADDC;
	font-size: 25px;
	margin: 0;
}

.profile-title .page-header h1 small {
	font-size: 18px;
}