<div>
    <div class="child">
        {{if node.actionName != 'root'}}
            {{if display_key}}    
                <div class="span_arrow small"></div>
            {{else}}
                <div class="span_arrow large"></div>
            {{/if}}

            <div class="clear"></div>

            <div class="div_line" id="divLine${node.id}"/>

            <div class="clear"></div>

            {{if display_key}}    
                <div class="div_option">
                    <a class="a_link_option" href="#">${node.key_caption}</a>
                </div>
            {{/if}}
        {{/if}}

        <div class="branch">
            {{if node.actionName != 'root'}}
                <div id="${node.id}" name="${node.actionName}" class="node icons_black"></div>
            {{else}}
                <div id="${node.id}" name="root" class="node icons_black root"></div>
            {{/if}}

            <div class="children"></div>
        </div>
    </div>
</div>
