<div>
    {{if endpoint_type === 'user'}}
    <li class="sortable_li" id="${id}" data-endpoint_type="${endpoint_type}" data-id="${id}" data-delay="${delay}", data-timeout="${timeout}">
    {{else}}
    <li class="sortable_li" id="${id}" data-owner_id="${owner_id}" data-endpoint_type="${endpoint_type}" data-id="${id}" data-delay="${delay}", data-timeout="${timeout}">
    {{/if}}
        <a href="#" class="drag_btn"></a>
        {{if endpoint_type === 'user'}}
            <div class="icon head1 medium"/>
        {{else}}
            {{if endpoint_type === 'device'}}
                <div class="icon device medium"/>
            {{/if}}
        {{/if}}
        <div class="item_name">
        ${name}
        </div>
        <div class="options">
            <input class="option delay" type="text" value="${delay}"/>
            <input class="option timeout" type="text" value="${timeout}"/>
        </div>
        <div class="actions_item">
            <a class="icon medium trash"/>
        </div>
    </li>
</div>
