<li class="myaccount-element" data-module="transactions">
	<a href="#myaccount/transactions/render">
        <div class="active-highlight">
            <i class="hidden-phone icon-credit-card"></i> {{t "myaccount.transactions.title"}}
        </div>
	</a>
</li>
