@import '../../../../css/partials/base';

.add-tags-dialog {
	padding: 20px;

	.add-tags-dialog-content-wrapper {
		.tags-list {
			position: absolute;
			background: #FFFFFF;
			border: 1px solid #DBDBDE;
			border-top: none;
			width: 80%;
			max-height: 66px;
			overflow-y: auto;
			z-index: 1000;

			a {
				padding: 12px 16px;
				color: #151517;
				display: block;
			}
		}

		.tags-search {
			border: 1px solid #bcbcc2;
			background: #fff;
			display: flex;

			.tags-keyword {
				border: 0 !important;
				margin: 0;
				max-width: 100px;
			}

			.tags {
				display: flex;
				flex-wrap: wrap;
				padding: 5px;

				.tag {
					color: $shark;
					position: relative;
					margin: 0 5px 5px 0;
					background: linear-gradient(-180deg,#fff 0,#f4f4f5 100%);
					border-radius: 2px;
					border: 1px solid #bcbcc2;
					height: 22px;
					text-align: center;
					margin-right: 5px;

					span {
						padding-left: 10px;
						padding-right: 10px;
					}

					svg {
						cursor: pointer;
					}
				}
			}
		}
	}

	.add-tags-dialog-actions {
		margin-top: 20px;

		button {
			cursor: pointer;

			&:first-child {
				margin-right: 10px;
			}
		}
	}

	#add_selected_skills {
		background: #2ED022 !important;
		border: 1px solid #209218 !important;
		color: #071F05 !important;
	}
}
