<div class="trunkstore_popup e911">
	<div class="row-fluid">
		<div class="e911-title">{{ i18n.e911.title }}</div>
	</div>
	<div class="row-fluid">
		<div class="pull-left">
			<div id="e911_rotated_text" class="rotated-text">{{ i18n.e911.rotatedText }}</div>
			<div class="e911_image"/>
		</div>

		<div class="pull-left">
			<form id="e911" class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="postal_code">{{ i18n.e911.postalCode }}</label>
					<div class="controls">
						<input id="postal_code" type="text" placeholder='{{ i18n.e911.postalCode }}' name="postal_code" value="{{postal_code}}"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="street_address">{{ i18n.e911.addressLine1 }}</label>
					<div class="controls">
						<input id="street_address" type="text" placeholder='{{ i18n.e911.addressLine1 }}' name="street_address" value="{{street_address}}" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="extended_address">{{ i18n.e911.addressLine2 }}</label>
					<div class="controls">
						<input id="extended_address" type="text" placeholder='{{ i18n.e911.addressLine2 }}' name="extended_address" value="{{extended_address}}" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="locality">{{ i18n.e911.city }}</label>
					<div class="controls">
						<input id="locality" type="text" name="locality" placeholder='{{ i18n.e911.city }}' value="{{locality}}" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="region">{{ i18n.e911.state }}</label>
					<div class="controls">
						<input id="region" type="text" name="region" placeholder='{{ i18n.e911.state }}' value="{{region}}" />
					</div>
				</div>
				{{#if status}}
					<div class="control-group gmap_link_div" style="display: none;">
						<div class="controls">
							<a class="monster-link" id="gmap_link" href="http://maps.google.com/maps?q=${latitude},+${longitude}+(Your+E911+Location)&iwloc=A&hl=en" target="_blank">{{ i18n.e911.verifyLocation }}</a>
						</div>
					</div>
				{{/if}}
				<div class="control-group">
					<div class="control-label remove-btn-container">
					{{#if postal_code}}
						<button type="button" class="monster-button monster-button-danger" id="remove_e911_btn">{{ i18n.remove }}</button>
					{{/if}}
					</div>
					<div class="controls">
						<button type="button" class="monster-button monster-button-success" id="submit_btn">{{ i18n.add }}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row-fluid">
		{{#monsterText}}
			{{i18n.e911.infoBox}}
		{{/monsterText}}
	</div>
</div>
