.switch_account_popup .main_content {
    width: 450px;
}

.switch_account_popup .main_content .pill-content .clearfix {
    display: block;
}

#accounts_manager-form .player_file .uneditable-input {
    white-space: nowrap;
    overflow: hidden;
}

#accounts_manager-form .player_file .logo_div {
    margin-top: 10px;
    width: 190px;
    height: 72px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #444;
}

#accounts_manager-form .refresh_text {
    margin-left: 150px;
}

#accounts_manager-form span.mini {
    width: 50px;
}
