{{#each externalNumbers}}
	<div class="number-box" data-id="{{id}}" data-number="{{number}}">
		<div class="number-options pull-right">
			<div class="navbar">
				<ul class="nav pull-right">
					<li class="dropdown">
						<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-cog"></i>
						</a>
						<ul class="dropdown-menu">
						{{#unless verified}}
							<li>
								<a class="verify" href="javascript:void(0);">
									<i class="fa fa-phone"></i>
									{{@root.i18n.numbers.verify}}
								</a>
							</li>
							{{#isSuperDuper}}
							<li>
								<a class="force-verify" href="javascript:void(0);">
									<i class="fa fa-check"></i>
									{{@root.i18n.numbers.forceVerify}}
								</a>
							</li>
							{{/isSuperDuper}}
							<li class="divider"></li>
						{{/unless}}
							<li>
								<a class="delete" href="javascript:void(0);">
									<i class="fa fa-times"></i>
									{{@root.i18n.delete}}
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<input type="checkbox">
		<div class="phone-number monster-phone-number">
			{{#monsterNumberWrapper number}}{{/monsterNumberWrapper}}
		{{#if verified}}
			<i class="fa fa-check-circle monster-green" data-toggle="tooltip" title="{{@root.i18n.numbers.verified}}"></i>
		{{/if}}
		</div>
	</div>
{{else}}
	<div class="number-box no-data">
		{{ @root.i18n.numbers.noExternalNumber }}
	</div>
{{/each}}
