<div class="alert-dialog-advanced">
	<div class="error-line title">
		{{{ message }}}
	</div>

	<div class="details-box">
		<a class="headline monster-link blue">
			<i class="fa fa-angle-up"></i><i class="fa fa-angle-down"></i>{{ i18n.advancedErrorDialog.viewDetails }}
		</a>

		<div class="error-details-wrapper">
			{{#if requestId}}
				<div class="error-line request-id">
					{{ i18n.advancedErrorDialog.requestId }}: {{requestId}}
				</div>
			{{/if}}

			<div class="error-line api-name">
				<span class="verb">{{#if verb}}{{ verb }}{{/if}}</span>
				<span class="url">{{#if url}}{{ url }}{{/if}}</span>
			</div>

			<div class="json-viewer"></div>

			<div class="error-line report-error">
				{{#if showReport}}
					<a class="monster-link blue" target="_blank" href="{{ mailToLink }}">{{ @root.i18n.advancedErrorDialog.report }}</a>
					-
				{{/if}}
				<a class="copy-clipboard monster-link blue" href="javascript:void(0);" type="button">{{ @root.i18n.advancedErrorDialog.copyToClipboard }}</button>
			</div>
		</div>

	</div>
</div>