<div class="debug-dialog">
	<table class="table table-striped">
		<tr>
			<td>{{ i18n.debugAccountDialog.accountName }}</td>
			<td>{{account.name}}</td>
		</tr>

		<tr>
			<td>{{ i18n.debugAccountDialog.accountId }}</td>
			<td>{{account.id}}</td>
		</tr>

		<tr>
			<td>{{ i18n.debugAccountDialog.authToken }}</td>
			<td>{{authToken}}</td>
		</tr>

		{{#unless hideApiUrl}}
			<tr>
				<td>{{ i18n.debugAccountDialog.apiUrl }}</td>
				<td>{{apiUrl}}</td>
			</tr>
		{{/unless}}

		<tr>
			<td>{{ i18n.debugAccountDialog.version }}</td>
			<td>{{version}}</td>
		</tr>
	</table>
</div>
