{{#if features}}
	{{#each features}}
		{{#compare this "e911"}}
			{{> featureIcon feature="e911" color="red" icon="fa fa-ambulance" tooltip=@root.i18n.iconNumberFeatures.e911.tooltip}}
		{{/compare}}
		{{#compare this "failover"}}
			{{> featureIcon feature="failover" color="green" icon="icon-telicon-failover" tooltip=@root.i18n.iconNumberFeatures.failover.tooltip}}
		{{/compare}}
		{{#compare this "outbound_cnam"}}
			{{> featureIcon feature="outbound_cnam" color="blue" icon="fa fa-user" tooltip=@root.i18n.iconNumberFeatures.outbound_cnam.tooltip}}
		{{/compare}}
		{{#compare this "inbound_cnam"}}
			{{> featureIcon feature="inbound_cnam" color="green" icon="fa fa-user" tooltip=@root.i18n.iconNumberFeatures.inbound_cnam.tooltip}}
		{{/compare}}
		{{#compare this "prepend"}}
			{{> featureIcon feature="prepend" color="orange" icon="fa fa-file-text-o" tooltip=@root.i18n.iconNumberFeatures.prepend.tooltip}}
		{{/compare}}
		{{#compare this "local"}}
			{{> featureIcon feature="local" color="purple" icon="fa fa-rocket" tooltip=@root.i18n.iconNumberFeatures.local.tooltip}}
		{{/compare}}
		{{#compare this "mobile"}}
			{{> featureIcon feature="mobile" color="yellow" icon="fa fa-mobile-phone" tooltip=@root.i18n.iconNumberFeatures.mobile.tooltip}}
		{{/compare}}
		{{#compare this "sms"}}
			{{> featureIcon feature="sms" color="blue" icon="fa fa-comment" tooltip=@root.i18n.iconNumberFeatures.sms.tooltip}}
		{{/compare}}
		{{#compare this "mms"}}
			{{> featureIcon feature="mms" color="blue" icon="fa fa-commenting" tooltip=@root.i18n.iconNumberFeatures.mms.tooltip}}
		{{/compare}}
	{{/each}}
{{/if}}

{{#*inline "featureIcon"}}
<i class="feature-{{feature}} monster-{{color}} {{icon}}" data-toggle="tooltip" data-title="{{tooltip}}"></i>
{{/inline}}
