<tr class="footable-paging">
    <td colspan="{{cols}}">
        <div class="footable-pagination-wrapper">
            <ul class="pagination">
                <li class="footable-page-nav disabled" data-page="prev">
                    <a class="footable-page-link">‹</a>
                </li>

                <li class="footable-page visible active" data-page="1">
                    <a class="footable-page-link" href="#">1</a>
                </li>
                <li class="footable-page-nav disabled" data-page="next">
                    <a class="footable-page-link">›</a>
                </li>
            </ul>
            <div class="divider"></div>
            <span class="label label-default">1-{{rowCount}} of {{rowCount}}</span>
        </div>
    </td>    
</tr>
