@import "../../../css/partials/base";
@import "oauth/oauth.css";

#auth_app_container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $primary-color;

	// for Edge
	overflow-y: hidden;

	.app-content {
		margin: 0 auto;
		position: relative;
	}

	.error-message-wrapper {
		display: none;
	}

	.error-message-wrapper .text {
		margin-left: 5px;
		display: inline-block;
		margin-bottom: 10px;
	}

	::selection {
		background: #00B8FF;
		color: #ffffff;
	}
	::-moz-selection {
		background: #00B8FF;
		color: #ffffff;
	}
	a {
		text-decoration: none;
	}
	a:focus {
		outline: none;
	}
	.hidden {
		display: none;
	}
	/*
	=====================================
		LOGO AND INTRO TEXT
	=====================================
	*/
	.intro {
		width: 59%;
		float: left;
		height: 100vh;
		background-color: $font-primary-color;
		position: relative;
	}
	.intro::after {
		display: block;
		content: '';
		background-color: #303039;
		position: absolute;
		right: -120px;
		height: 100%;
		width: 240px;
		transform: skew(-6deg);
		z-index: 0;
	}
	.intro .content {
		position: absolute;
		top: 25%;
		left: 8em;
		z-index: 1;
	}
	.logo {
		width: 210px;
		height: 62px;
		background: url('../img/kazoo-logo.svg');
		background-repeat: no-repeat;
		background-position: center;
	}
	.intro h3 {
		color: $white;
		font-weight: lighter;
		max-width: 425px;
		line-height: 1.1em;
		margin: 20px 0 0 0;
	}

	.social {
		position: absolute;
		bottom: 8%;
		left: 8em;
	}

	.social .social-link {
		font-size: 1.5em;
	}

	.social .social-link:not(:first-child) {
		margin-left: 18px;
	}

	.social .social-link i {
		color: $manatee;
	}

	.social .social-link:hover i {
		color: $primary-color;
	}

	/*
	=====================================
		FORM CONTAINERS/FORMS
	=====================================
	*/
	.sign-in {
		margin: 0 auto;
		width: 41%;
		float: right;
		height: 100vh;
		position: relative;
	}
	.form-container {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	.form-footer {
		margin-top: 1rem;
	}
	form {
		padding: 30px;
		max-width: 360px;
		background: $white;
		margin: 0;
	}
	form h3 {
		margin: 0 0 20px 0;
		font-weight: normal;
	}
	form input {
		box-sizing: border-box;
		width: 100%;
		height: 32px;
		box-shadow: none;
	}
	#form_login,
	#form_password_recovery {
		animation-duration: 0.1s;
	}
	#form_password_recovery,
	#form_mfa_verification {
		display: none;
	}
	.reset-notification p {
		/*display: none;*/
		color: #c0c0c9;
		margin-top: 0;
		margin-bottom: 18px;
		font-size: 15px;
		text-align: center;
	}
	.form-info {
		margin-bottom: 20px;
		color: #202029;
	}
	.form-info.dark {
		color: #808089;
		text-align: center;
		margin: 16px 0 0;
	}
	.form-info.dark .form-toggle {
		margin-top: 4px;
	}
	.alt-actions {
		font-size: 13px;
		color: #808089;
		padding: 10px 0 16px;
	}
	.form-toggle {
		text-align: center;
		display: block;
		font-size: 13px;
		color: $primary-color;
		margin: 0 auto;
		cursor: pointer;
	}
	.form-toggle.medium-link {
		font-size: 14px;
	}
	.form-toggle:hover,
	.form-toggle:focus {
		text-decoration: underline;
	}
	.alt-actions .monster-checkbox {
		display: inline-block;
	}
	.alt-actions .form-toggle {
		display: inline-block;
		float: right;
	}

	.password-icon {
		margin-left: 8px;
		cursor: pointer;
		position: relative;
		bottom: 5px;
	}
	/*
	=====================================
		FORM INPUTS WITH .error CLASS
	=====================================
	*/
	.input-wrap.error * {
		color: #ff3d24;
	}
	.input-wrap.error > .placeholder-shift.fixed {
		color: #ff3d24;
	}
	/*
	=====================================
		OTHERS
	=====================================
	*/
	.powered-by-block {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
		margin: 20px 0px;
		font-size: 12px;
		color: #606069;
	}
	.powered-by-block .tag-version {
		margin-left: 5px;
	}
	.powered-by-block a,
	.powered-by-block a:hover,
	.powered-by-block a:active,
	.powered-by-block a:visited,
	.powered-by-block a:focus {
		color: #646469;
		text-decoration: none;
	}
}

@media screen and (max-width: 1024px) {
	#auth_app_container {
		overflow: auto;

		.intro {
			width: 100%;
			float: none;
			height: 200px;
			position: relative;
		}
		.intro::after {
			display: block;
			content: '';
			background-color: #303039;
			position: absolute;
			transform: skew(0, -6deg);
			z-index: 0;
			top: 140px;
			left: 0;
			width: 100%;
			height: 240px;
		}
		.intro .content {
			position: relative;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			text-align: center;
		}
		.intro .content .logo {
			margin: 0 auto;
		}
		.intro .content .welcome-message {
			margin-left: auto;
			margin-right: auto;
			padding: 0 10px;
		}
		.intro .social {
			display: none;
		}
		.sign-in {
			width: 100%;
			float: none;
			height: auto;
		}
		.sign-in .form-container {
			top: 0;
			transform: none;
		}
		.sign-in .form-container form {
			margin: 0 auto;
		}
	}
}

/* Trial Upgrade Popup */
#trial_upgrade_popup {
	padding: 15px;
	width: 284px;
}

#trial_upgrade_popup .actions {
	margin-top: 20px;
}

#trial_upgrade_popup .actions #upgrade {
	margin-left: 15px;
}


/* Walkthrough popups */
.trial-first-greeting-popup {
	padding: 15px;
	width: 450px;
}

.trial-first-greeting-popup .actions-wrapper {
	border-top: 1px solid #777;
	margin-top: 25px;
	padding-top: 15px;
	text-align: right;
}

/* Dialog Reset Password */
#password_update_dialog {
	width: 500px;
	padding: 15px;
}

#password_update_dialog .update-password {
	margin-left: 10px;
}

/* Duo dialog */
#duo_dialog {
	width: 500px;
	height: 350px;
	overflow: hidden;
}

#duo_dialog #duo_iframe {
	width: 100%;
	min-width: 304px;
	max-width: 620px;
	height: 350px;
	border: none;
}

/*
=====================================
	MFA VERIFICATION DIALOG
=====================================
*/
.mfa-dialog {
	min-width: 21rem;
	max-width: 21rem;
	padding: 20px;

	#mfa_verification_form {
		margin-bottom: unset;
	}

	#mfa_code {
		width: 100%;
		height: 40px;
		font-size: 1rem;
		line-height: 1.5rem;
		box-sizing: border-box;
		letter-spacing: 0.25rem;

		&-error {
			position: unset;
		}
	}

	#btn_mfa_verify {
		width: 100%;
	}

	#btn_mfa_setup {
		display: block;
		margin-top: 6px;
		text-align: center;
		display: block;
		font-size: 14px;
		color: $primary-color;
		margin: 0 auto;
		cursor: pointer;
	}

	.form-footer {
		text-align: center;
		font-size: 14px;
		font-weight: normal;
		line-height: 20px;
	}

	#mfa_setup_qrcode_container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		min-height: 10rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		position: relative;

		.verified-icon {
			width: 8rem;
			height: 8rem;
			color: $success-color;
		}
	}

	#mfa_setup_qrcode {
		width: 10rem;
		height: 10rem;
		max-width: 10rem;
		max-height: 10rem;
	}

	#mfa_setup_refresh_qrcode {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 10rem;
		height: 10rem;
		opacity: 0.9;
		background-color: $panel-background-color;
		cursor: pointer;

		&.mfa-element-hidden {
			display: none;
		}

		.refresh-button {
			width: 5rem;
			height: 5rem;
		}
	}

	.mfa-setup-description {
		font-size: 14px;
	}

	.mfa-setup-description-small {
		font-size: 12px;
	}

	.mfa-setup-title-small {
		font-size: 12px;
		font-weight: 600;
	}

	.mfa-setup-app {
		flex-grow: 1;
		text-align: center;
		margin-top: 25px;

		&-container {
			display: flex;
			justify-content: space-between;
		}

		&-logo {
			width: 30px;
			height: 30px;
			margin-bottom: 5px;
		}
	}

	.mfa-setup-footer {
		display: flex;
		justify-content: flex-end;
		margin-top: 25px;
	}

	.mfa-setup-top, .mfa-setup-bottom {
		min-height: 2.5rem;
	}

	.mfa-setup-pending-content, .mfa-setup-verified-content {
		display: none;
	}

	&.mfa-setup-pending .mfa-setup-pending-content,
	&.mfa-setup-verified .mfa-setup-verified-content {
		display: block;

		&.mfa-setup-app-container {
			display:flex;
		}
	}
}

#auth_app_container, #mfa_verification_dialog {
	.btn-submit {
		width: 100%;
		border-radius: 2px;
		border: none;
		color: #ffffff;
		height: 50px;
		font-size: 20px;
		background: $primary-color;
		-webkit-transition: all 0.2s ease-in;
		-moz-transition: 	all 0.2s ease-in;
		-o-transition: 		all 0.2s ease-in;
		-ms-transition: 	all 0.2s ease-in;
		transition: 		all 0.2s ease-in;
	}
	.btn-submit:hover,
	.btn-submit:focus {
		color: #ffffff;
		background: #57bcff;
		outline: none;
	}
}
