<div id="auth_container" class="login-background">
	<div class="right-div">
		<div class="right-div-content clearfix">
			<div class="logo-block"></div>
			<div class="login-block"></div>
			<div class="register-block">
				<div class="register-message">{{ i18n.registerMessage }}</div>
				<a class="register-link">
					{{ i18n.registerLink }}
					<i class="icon-double-angle-right"></i>
				</a>
			</div>
			<div class="powered-by-block"></div>
		</div>
	</div>
	<div class="left-div">
		<div class="hello">
			{{ i18n.welcome }}
		</div>
	</div>
</div>
