<div id="password_recovery">
	<form class="form form-horizontal" id="form2object">
		<div class="control-group">
			<label for="recover_username" class="control-label">{{ i18n.recovery.login }}</label>
			<div class="controls">
				<input type="text" id="recover_username" name="username" placeholder="{{ i18n.recovery.loginPlaceholder }}" required>
			</div>
		</div>
		<div class="control-group">
			<label for="recover_account_name" class="control-label">{{ i18n.account.name }}</label>
			<div class="controls">
				<input type="text" id="recover_account_name" name="account_name" placeholder="{{ i18n.recovery.accountNamePlaceholder }}" required>
			</div>
		</div>
		<div class="control-group">
			<label for="recover_account_realm" class="control-label">{{ i18n.account.realm }}</label>
			<div class="controls">
				<input type="text" id="recover_account_realm" name="account_realm" placeholder="{{ i18n.recovery.accountRealmPlaceholder }}">
			</div>
		</div>
		<div class="control-group">
			<label for="recover_phone_number" class="control-label">{{ i18n.recovery.phoneNumber }}</label>
			<div class="controls">
				<input type="text" id="recover_phone_number" name="phone_number" placeholder="{{ i18n.recovery.phoneNumberPlaceholder }}">
			</div>
		</div>
	</form>
	<div class="action">
		<button class="btn btn-success recover-password">{{ i18n.recovery.recoverPassword }}</button>
	</div>
</div>