<div id="password_recovery">
	<form class="form form-horizontal" id="form2object">
		<div class="control-group">
			<label for="username" class="control-label">Login / Email</label>
			<div class="controls">
				<input type="text" id="username" name="username" placeholder="Username">
			</div>
		</div>
		<div class="control-group">
			<label for="account_name" class="control-label">Account Name</label>
			<div class="controls">
				<input type="text" id="account_name" name="account_name" placeholder="Account Name">
			</div>
		</div>
		<div class="control-group">
			<label for="account_realm" class="control-label">Account Realm</label>
			<div class="controls">
				<input type="text" id="account_realm" name="account_realm" placeholder="Account Realm">
			</div>
		</div>
		<div class="control-group">
			<label for="phone_number" class="control-label">Phone Number</label>
			<div class="controls">
				<input type="text" id="phone_number" name="phone_number" placeholder="Phone Number">
			</div>
		</div>
	</form>
	<div class="action">
		<button class="btn btn-success recover-password">Recover Password</button>
	</div>
</div>