<div id="password_recovery">
	<form class="form form-horizontal" id="form2object">
		<div class="control-group">
			<label for="recover_username" class="control-label">{{ i18n.username }}</label>
			<div class="controls">
				<input type="email" id="recover_username" name="username" placeholder="{{ i18n.recovery.placeholder.username }}" required value="q@q.q">
			</div>
		</div>
		<div class="control-group">
			<label for="recover_account_name" class="control-label">{{ i18n.account.name }}</label>
			<div class="controls">
				<input type="text" id="recover_account_name" name="account_name" placeholder="{{ i18n.recovery.placeholder.account.name }}" required value="test">
			</div>
		</div>
		<div class="control-group">
			<label for="recover_account_realm" class="control-label">{{ i18n.account.realm }}</label>
			<div class="controls">
				<input type="text" id="recover_account_realm" name="account_realm" placeholder="{{ i18n.recovery.placeholder.account.realm }}">
			</div>
		</div>
		<div class="control-group">
			<label for="recover_phone_number" class="control-label">{{ i18n.recovery.label.phoneNumber }}</label>
			<div class="controls">
				<input type="text" id="recover_phone_number" name="phone_number" placeholder="{{ i18n.recovery.placeholder.phoneNumber }}">
			</div>
		</div>
	</form>
	<div class="action">
		<button class="btn btn-success recover-password">{{ i18n.recovery.button.recover }}</button>
	</div>
</div>