<form class="form-horizontal" name="form">
	<div class="login-input row-login">
		<input type="text" id="login" name="login" value="{{username}}" placeholder="{{ i18n.username }}">
		<i class="icon-envelope"></i>
	</div>

	<div class="login-input row-login">
		<input type="password" name="password" id="password" placeholder="{{ i18n.password }}">
		<i class="icon-lock"></i>
	</div>

	<div class="login-input row-login">
		<input type="text" id="account_name" name="account_name" value="{{accountName }}" placeholder="{{ i18n.account.name }}">
		<i class="icon-bookmark"></i>
	</div>

	<div class="row-login row-action">
		{{#monsterCheckbox i18n.rememberMe}}
			<input type="checkbox" id="remember_me" {{#if rememberMe }}checked{{/if}} />
		{{/monsterCheckbox}}
		<a href="#" class="forgot-password pull-right">{{ i18n.forgotPassword }}</a>
	</div>

	<div class="row-login">
		<button class="login" type="submit">{{ i18n.login.buttonText }}</button>
	</div>
</form>