<div class="popup_recover_password">
    <div class="row-fluid">
        <div class="help-box gray-box">
            <div class="wrapper-icon">
                &nbsp;<i class="icon-info-sign2"></i>&nbsp;
            </div>
            <div class="text-wrapper">
                {{ i18n.recover.sendLink }}<br/>
                {{ i18n.recover.directions }}
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <form class="form-horizontal" name="recover_password" id="recover_password_form">
            <div class="control-group">
                <label class="control-label" for="username">{{ i18n.login.label }}</label>
                <div class="controls">
                    <input id="username" name="username" type="text" placeholder="{{ i18n.login.placeholder }}" value=""/>
                </div>
            </div>

            <hr/>

            <div class="control-group">
                <label class="control-label" for="account_name">{{ i18n.account.name }}</label>
                <div class="controls">
                    <input id="account_name" name="account_name" type="text" placeholder="{{ i18n.account.namePleaceholder }}" value=""/>
                </div>
            </div>

            <div class="control-group group-or">
                <label class="control-label"></label>
                <div class="controls">
                    <span class="text-or">{{ i18n.or }}</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="account_realm">{{ i18n.account.realm }}</label>
                <div class="controls">
                    <input id="account_realm" name="account_realm" type="text" placeholder="{{ i18n.account.realmPleaceholder }}" value=""/>
                </div>
            </div>

            <div class="control-group group-or">
                <label class="control-label"></label>
                <div class="controls">
                    <span class="text-or">{{ i18n.or }}</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="phone_number">{{ i18n.phone.label }}</label>
                <div class="controls">
                    <input id="phone_number" name="phone_number" type="text" placeholder="{{ i18n.phone.placeholder }}" value=""/>
                </div>
            </div>
        </form>
    </div>

    <div class="row-fluid content-centered">
        <button class="btn btn-primary btn_recover_password">{{ i18n.recover.label }}</button>
    </div>
</div>
