<div id="trial_upgrade_popup">
	{{#compare daysLeft ">=" 0}}
		{{#monsterText 'warning'}}
			{{ replaceVar i18n.trialPopup.mainMessage daysLeft }}
		{{/monsterText}}
	{{else}}
		{{#monsterText 'error'}}
			{{ i18n.trialPopup.trialExpired }}
		{{/monsterText}}
	{{/compare}}
	<div class="actions clearfix">
		<div class="pull-right">
			<button type="button" id="upgrade" class="monster-button monster-button-primary pull-right">{{ i18n.trialPopup.upgradeButton }}</button>
			{{#compare daysLeft ">=" 0}}
				<button type="button" id="close" class="monster-button">{{ i18n.trialPopup.closeButton }}</button>
			{{/compare}}
		</div>
	</div>
</div>