.service-plan-content-wrapper .fancy-header .left-image {
    width: 57px;
}

.service-plan-content-wrapper  .fancy-header .right-block .main-title {
    font-size: 30px;
    font-weight: bold;
    line-height: 70px;
}

