<div id="storage_selector_wrapper">
	<div class="storage-header">
		<div class="main-title">{{ i18n.storageSelector.mainTitle }}</div>
		<div class="sub-title">{{ i18n.storageSelector.subTitle }}</div>
	</div>
	<div class="storage-options">
		{{#each storageChoices}}
			<div class="storage-choice" data-id="{{ id }}">
				<i class="icon-telicon-check-circle"></i>
				<img width="160" class="standard-logo" src="apps/common/style/static/images/integrations/{{ logoBrandName }}-logo-gray.png" class="img_style"/>
				<img width="160" class="selected-logo" src="apps/common/style/static/images/integrations/{{ logoBrandName }}-logo-color.png" class="img_style"/>
				<div class="storage-name">{{ name }}</div>
			</div>
		{{/each}}
	</div>

	<div class="actions">
		<button id="select_button" class="monster-button-success">{{ i18n.storageSelector.select }}</button>
		<a href="javascript:void(0);" class="monster-link cancel-link">{{ i18n.cancel }}</a>
	</div>
</div>