<div id="storage_selector_wrapper">
	<div class="storage-header">
		<div class="main-title">{{ i18n.storageSelector.mainTitle }}</div>
		<div class="sub-title">{{ i18n.storageSelector.subTitle }}</div>
	</div>
	<div class="storage-options">
		{{#each storageChoices}}
			<div class="storage-choice" data-id="{{id}}">
				<i class="icon-telicon-check-circle monster-blue"></i>
				<div class="storage-logo"></div>
				<div class="storage-name">{{friendlyName}}</div>
			</div>
		{{/each}}
		<div class="storage-choice selected" data-id="1234">
			<i class="icon-telicon-check-circle"></i>
			<img width="160" class="standard-logo" src="apps/common/style/static/images/integrations/aws-logo-gray.png" class="img_style"/>
			<img width="160" class="selected-logo" src="apps/common/style/static/images/integrations/aws-logo-color.png" class="img_style"/>
			<div class="storage-name">Client 'ABC' Private Storage</div>
		</div>
		<div class="storage-choice" data-id="5678">
			<i class="icon-telicon-check-circle"></i>
			<img width="160" class="standard-logo" src="apps/common/style/static/images/integrations/googledrive-logo-gray.png" class="img_style"/>
			<img width="160" class="selected-logo" src="apps/common/style/static/images/integrations/googledrive-logo-color.png" class="img_style"/>
			<div class="storage-name">Client 'XYZ' Private Storage</div>
		</div>
		<div class="storage-choice" data-id="9012">
			<i class="icon-telicon-check-circle"></i>
			<img width="160" src="apps/common/style/static/images/integrations/aws-logo-color.png" class="img_style"/>
			<div class="storage-name">Master Storage (Public)</div>
		</div>
		<div class="storage-choice" data-id="4613">
			<i class="icon-telicon-check-circle"></i>
			<img width="160" src="apps/common/style/static/images/integrations/googledrive-logo-color.png" class="img_style"/>
			<div class="storage-name">Test My AWS</div>
		</div>
	</div>

	<div class="actions">
		<button id="select_button" class="monster-button-success">{{ i18n.storageSelector.select }}</button>
		<a href="javascript:void(0);" class="monster-link cancel-link">{{ i18n.cancel }}</a>
	</div>
</div>