<div id="storage_selector_wrapper">
	<div class="storage-header">
		<div class="main-title">{{ i18n.storageSelector.mainTitle }}</div>
		<div class="sub-title">{{ i18n.storageSelector.subTitle }}</div>
	</div>
	<div class="storage-options">
		{{#each storageChoices}}
			<div class="storage-choice" data-id="{{ id }}">
				<i class="icon-telicon-check-circle"></i>
				<svg class="logo-style selected-logo"><use xlink:href="#{{ logoBrandName }}--color-reverse" /></svg>
				<svg class="logo-style standard-logo"><use xlink:href="#{{ logoBrandName }}--grey" /></svg>
				<div class="storage-name">{{ name }}</div>
			</div>
		{{/each}}
	</div>

	<div class="actions">
		<button id="select_button" class="monster-button-success">{{ i18n.storageSelector.select }}</button>
		<a href="javascript:void(0);" class="monster-link cancel-link">{{ i18n.cancel }}</a>
	</div>
</div>