<div class="myaccount">
    <div class="container-fluid">
    	<div class="row-fluid">
    		<div class="span3 myaccount-menu">
    			<ul class="nav nav-list">
					<li class="nav-header hidden-phone">{{t "myaccount.myaccount.myaccount"}}</li>
					<li class="divider"></li>
					<li class="active">
						<a href="#"><i class="icon-user"></i> Profile</a>
					</li>
					<li class="divider"></li>
				</ul>
				<div class="menu-bottom">
					<div class="store">
					    <a href="#store">Store</a>
					</div>
					<div class="signout">
						<a href="#auth/logout">{{t "myaccount.myaccount.signout"}}</a>
					</div>
				</div>
    		</div>
    		<div class="span9 myaccount-content">
    			<div class="myaccount-close">
    				<span><span class="hidden-phone">{{t "myaccount.myaccount.close"}}</span> <i class="icon-remove"></i></span>
    			</div>
    		</div>
    	</div>
    </div>
</div>