<div class="trunkstore_popup number-prepend clearfix">
	<form id="number_prepend">
		<div class="popup-content">
			<label class="popup-label" for="number_prepend_value">{{ i18n.numberPrepend.title }}</label>
			<input type="text" id="number_prepend_value" name="name" value="{{name}}"/>

			{{#monsterText}}
				{{i18n.numberPrepend.help}}
			{{/monsterText}}
		</div>
		<div class="popup-content popup-actions clearfix">
			<div class="pull-right">
				<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
				<button type="button" class="monster-button monster-button-success save">{{ i18n.saveChanges }}</button>
			</div>
		</div>
	</form>
</div>
