.hello {
	text-align: center;
}

.hello > .lobster {
    font-size: 70px;
    font-weight: normal;
}

.hello .hello-subtitle {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

@media (min-width: 979px) {
    .hello {
        margin-top: 95px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .hello {
        margin: 30px 0;
    }
}
