<div id="appstore_container" class="clearfix">
	<div class="left-menu">
		<div class="app-filter-list">
			<div class="app-filter active">
				{{ i18n.filters.all }}
			</div>
			<div class="app-filter-group">
				<div data-filter="installed" class="app-filter">
					{{ i18n.filters.installed }}
				</div>
				<div data-filter="reseller" class="app-filter">
					{{ i18n.filters.reseller }}
				</div>
				<div data-filter="carrier" class="app-filter">
					{{ i18n.filters.carrier }}
				</div>
				<div data-filter="developer" class="app-filter">
					{{ i18n.filters.developer }}
				</div>
				<div data-filter="end_user" class="app-filter">
					{{ i18n.filters.endUser }}
				</div>
				<div data-filter="reporting" class="app-filter">
					{{ i18n.filters.reporting }}
				</div>
				<div data-filter="integration" class="app-filter">
					{{ i18n.filters.integration }}
				</div>
				<div data-filter="admin" class="app-filter">
					{{ i18n.filters.admin }}
				</div>
				<div data-filter="system_admin" class="app-filter">
					{{ i18n.filters.systemAdmin }}
				</div>
			</div>
		</div>
		{{#if shouldShowMarket }}
		<div class="marketplace">
			<div class="admin-title">
				{{ i18n.marketplace.sidebarTitle }}
			</div>
			<div class="launch-market">
				<div class="title">
					{{ i18n.marketplace.title }}
				</div>
			</div>
		</div>
		{{/if}}
	</div>

	<div class="right-content">
		<div class="right-container"></div>
	</div>
</div>
