/* navbar myaccount*/
.navbar .links .myaccount-link a {
 	font-size: 14px;
}

/* My account */
body > .myaccount {
    width: 100%;
    height: 500px;
    background-color: white;
    display: none;
    border-top: 5px solid #05ADDC;
    border-bottom: 5px solid #05ADDC;
    position: absolute;
    z-index: 2000;

    -webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 5px rgba(50, 50, 50, 0.75);
}

.myaccount > .container-fluid {
 	height: 100%;
 	padding: 0;
}

.myaccount > .container-fluid > .row-fluid {
 	height: 100%;
}

.myaccount > .container-fluid > .row-fluid > [class*="span"]{
 	height: 100%;
}

/* MYACCOUNT MENU */
.myaccount .myaccount-menu {
	background-color: #e9e9e9;
	-webkit-box-shadow: 5px 0 3px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 5px 0 3px rgba(50, 50, 50, 0.4);
	box-shadow: 5px 0 3px rgba(50, 50, 50, 0.4);
}

.myaccount .myaccount-menu .nav {
	color: #777;
	height: 85%;
	padding-right: 0;
	padding-left: 0;
}

.myaccount .myaccount-menu .badge {
	margin-right: 10px;
	margin-top: 6px;
}

.myaccount .myaccount-menu .nav li {
	line-height: 30px;
	padding-left: 15px;

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(223,223,223,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(223,223,223,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(223,223,223,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(223,223,223,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(223,223,223,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(223,223,223,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-9 */
}

.myaccount .myaccount-menu .nav li.divider {
	margin: 0;
	border-bottom: 1px solid #BBB;
	padding-left: 0;
}

.myaccount .myaccount-menu .nav li.nav-header {
    background: none !important;
	color: #555;
	font-size: 20px;
	font-weight: normal;
    margin: 0;
	padding: 10px 0;
	text-align: center;
	text-transform: none;
}

.myaccount .myaccount-menu .nav a {
	color: #777;
    background: none !important;
}


.myaccount .myaccount-menu .nav > li.active i {
	background-image: url("../../../../lib/bootstrap/img/glyphicons-halflings.png");
}

.myaccount .myaccount-menu .nav > li:hover,
.myaccount .myaccount-menu .nav > li.active {
    background: rgb(223,223,223); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(223,223,223,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(223,223,223,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(223,223,223,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(223,223,223,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(223,223,223,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(223,223,223,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.myaccount .myaccount-menu .nav > li > a:hover .badge,
.myaccount .myaccount-menu .nav > li.active .badge {
	background-color: #05ADDC;
}

.myaccount .myaccount-menu .menu-bottom {
    bottom: 0;
	border-top: 2px solid #05ADDC;
    position: absolute;
    margin-left: 0;
}

.myaccount .myaccount-menu .menu-bottom .store,
.myaccount .myaccount-menu .menu-bottom .signout {
	width: 50%;
	float: left;
	text-align: center;
	text-transform: uppercase;
	line-height: 70px;
}

/* MYACCOUNT CONTENT */
.myaccount .myaccount-content {
	background-color: white;
	overflow-y: auto;
}

.myaccount .myaccount-content .page-header {
    padding-bottom: 0;
    margin: 10px 0 15px;
}

.myaccount .myaccount-content .page-header h1 {
    color: #05ADDC;
    font-size: 25px;
    margin: 0;
}

.myaccount .myaccount-content .page-header h1 small {
    font-size: 16px;
}

.myaccount .myaccount-content .myaccount-close {
	background-color: #E9E9E9;
	border-radius: 0 0 50px 50px;
	cursor: pointer;
	padding: 1px 5px;
	position: absolute;
	right: 5%;
	text-align: center;
	top: 0px;
	width: 100px;
	-webkit-border-radius: 0 0 50px 50px;
	-moz-border-radius: 0 0 50px 50px;
	-webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.3);
	box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.3);

    z-index: 100;

	/* in case we want to do trapeze
	border: 0px solid #E9E9E9;
	border-color: #E9E9E9 transparent transparent transparent;
	border-width: 25px;
	*/
}

.myaccount .myaccount-content .myaccount-close:hover {
    color: #05addc;
}

/* tablet and phone */
@media (max-width: 979px) {
    .myaccount-content {
        padding-top: 30px
    }

    .myaccount .myaccount-menu .nav li {
        line-height: 50px;
    }

    .myaccount .myaccount-menu .badge {
        margin-top: 16px;
    }

    .myaccount .myaccount-menu .menu-bottom {
        position: relative;
        width: 100%;
    }
}

/* Portrait tablet to landscape */
@media (min-width: 768px) and (max-width: 979px) {
	.myaccount .myaccount-menu .menu-bottom .store,
	.myaccount .myaccount-menu .menu-bottom .signout {
		width: 100%;
		float: none;
		line-height: 30px;
	}
}

/* Phone to portrait tablet */
@media (max-width: 767px) {
	.myaccount .myaccount-menu {
		width: 30%;
		float: left;
   	}

   	.myaccount .myaccount-menu .menu-bottom .store,
	.myaccount .myaccount-menu .menu-bottom .signout {
		width: 100%;
		float: none;
		line-height: 30px;
	}

   	.myaccount .myaccount-content {
		width: 66%;
        margin-left: 4%;
		float: left;
   	}

   	.myaccount .myaccount-content .myaccount-close {
		width: 30px;
		height: 25px;
		border-radius: 0 0 15px 15px;
		-webkit-border-radius: 0 0 15px 15px;
		-moz-border-radius: 0 0 15px 15px;
	}

	.myaccount .myaccount-content .myaccount-close .icon-remove {
		margin-top: 5px;
	}
}

/* Mini */
@media (max-width: 400px) {
	.myaccount .myaccount-menu {
		font-size: 80%;
   	}
}
