/* navbar myaccount*/
.navbar .links .myaccount-link a {
 	font-size: 14px;
}

/* My account */
body > .myaccount {
    width: 100%;
    height: 350px;
    background-color: white;
    display: none;
    border-top: 5px solid #05ADDC;
    border-bottom: 5px solid #05ADDC;
    position: absolute;
    z-index: 2;

    -webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 5px rgba(50, 50, 50, 0.75);
}

.myaccount > .container-fluid {
 	height: 100%;
 	padding: 0;
}

.myaccount > .container-fluid > .row-fluid {
 	height: 100%;
}

.myaccount > .container-fluid > .row-fluid > [class*="span"]{
 	height: 100%;
} 

/* MYACCOUNT MENU */
.myaccount .myaccount-menu {
	background-color: #e9e9e9;
	-webkit-box-shadow: 5px 0 3px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 5px 0 3px rgba(50, 50, 50, 0.4);
	box-shadow: 5px 0 3px rgba(50, 50, 50, 0.4);
}

.myaccount .myaccount-menu .nav {
	color: #777;
	height: 80%;
	padding-right: 0;
	padding-left: 0;
}

.myaccount .myaccount-menu .badge {
	margin-right: 15px;
	margin-top: 6px;
}

.myaccount .myaccount-menu .nav li {
	line-height: 30px;
	padding-left: 15px;
}

.myaccount .myaccount-menu .nav li.divider {
	margin: 0;
	border-bottom: 1px solid #BBB;
	padding-left: 0;
}

.myaccount .myaccount-menu .nav li.nav-header {
	text-align: center;
	color: #555;
	text-transform: none;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 5px;
	padding: 10px 15px;
}

.myaccount .myaccount-menu .nav a {
	color: #777;
}

 
.myaccount .myaccount-menu .nav > li.active i {
	background-image: url("../../../../lib/bootstrap/img/glyphicons-halflings.png");
}

.myaccount .myaccount-menu .nav > li > a:hover, 
.myaccount .myaccount-menu .nav > li.active > a {
	background-color: white;
	color: #777;
}

.myaccount .myaccount-menu .nav > li > a:hover .badge, 
.myaccount .myaccount-menu .nav > li.active .badge {
	background-color: #05ADDC;
}

.myaccount .myaccount-menu .menu-bottom {
	height: 20%;
	width: 99%;
	border-top: 2px solid #05ADDC;
}

.myaccount .myaccount-menu .menu-bottom .store,
.myaccount .myaccount-menu .menu-bottom .signout {
	width: 50%;
	float: left;
	text-align: center;
	text-transform: uppercase;
	line-height: 60px;
}

.myaccount .myaccount-menu .menu-bottom .signout {
	width: 40%;
}


/* MYACCOUNT CONTENT */
.myaccount .myaccount-content {
	background-color: white;
	overflow-y: auto;
}


.myaccount .myaccount-content .myaccount-close {
	position: absolute;
	top: 0px;
	right: 5%;
	padding: 1px 5px;
	width: 100px;
	text-align: center;
	cursor: pointer;
	background-color: #E9E9E9;
	border-radius: 0 0 50px 50px;
	-webkit-border-radius: 0 0 50px 50px;
	-moz-border-radius: 0 0 50px 50px;
	-webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.3);
	box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.3);


	/* in case we want to do trapeze
	border: 0px solid #E9E9E9;
	border-color: #E9E9E9 transparent transparent transparent;
	border-width: 25px;
	*/
}

/* desktop */
@media (min-width: 979px) {
    
}
 
/* Portrait tablet to landscape */
@media (min-width: 768px) and (max-width: 979px) {
	.myaccount .myaccount-menu .nav li.nav-header {
		letter-spacing: 0;
	}

	.myaccount .myaccount-menu .menu-bottom .store,
	.myaccount .myaccount-menu .menu-bottom .signout {
		width: 100%;
		float: none;
		line-height: 30px;
	}
}
 
/* Phone to portrait tablet */
@media (max-width: 767px) {
	.myaccount .myaccount-menu {
		width: 30%;
		float: left;
   	}

   	.myaccount .myaccount-menu .nav li.nav-header {
		letter-spacing: 0;
	}

   	.myaccount .myaccount-menu .menu-bottom .store,
	.myaccount .myaccount-menu .menu-bottom .signout {
		width: 100%;
		float: none;
		line-height: 30px;
	}

   	.myaccount .myaccount-content {
		width: 68%;
		margin-left: 2%;
		float: left;
   	}

   	.myaccount .myaccount-content .myaccount-close {
		width: 30px;
		height: 25px;
		border-radius: 0 0 15px 15px;
		-webkit-border-radius: 0 0 15px 15px;
		-moz-border-radius: 0 0 15px 15px;
	}

	.myaccount .myaccount-content .myaccount-close .icon-remove {
		margin-top: 5px;
	}
}

/* Mini */
@media (max-width: 400px) {
	.myaccount .myaccount-menu {
		font-size: 80%;
   	}
}
