{{#each listTransactions}}
	<div class="transaction-box{{#compare this.type "===" "credit"}} refund{{/compare}}">
		<div class="expand-box{{#unless this.hasAddOns}} disabled{{/unless}}">
			<span class="container-icon">
				<i class="fa fa-minus expanded"></i>
				<i class="fa fa-plus collapsed"></i>
			</span>
		</div>
		<div class="text-box {{#unless this.approved}}declined{{/unless}}">
			<div class="title">
				{{#unless this.approved}}
					<i class="monster-red fa fa-exclamation-triangle"></i>
					&nbsp;
				{{/unless}}

				{{ this.friendlyName }}

				{{#unless this.approved}}
					&nbsp;({{ this.errorMessage }})
				{{/unless}}
			</div>
			<div class="date">{{ this.friendlyCreated }}</div>
			<div class="price">{{ @root.i18n.currencyUsed }}{{#compare this.type "===" "credit"}}-{{/compare}}{{ this.amount }}</div>
		</div>
		{{#if this.hasAddOns}}
			<div class="expandable">
				<div class="table-content">
					<table class="table">
						<thead>
							<tr>
								<th></th>
								<th>{{ @root.i18n.transactions.serviceTitle }}</th>
								<th>{{ @root.i18n.transactions.rateTitle }}</th>
								<th>{{ @root.i18n.transactions.quantityTitle }}</th>
								<th>{{ @root.i18n.transactions.discount }}</th>
								<th>{{ @root.i18n.transactions.monthlyChargesTitle }}</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{{#services}}
								<tr>
									<td></td>
									<td>{{ service }}</td>
									<td>{{ @root.i18n.currencyUsed }}{{ rate }}</td>
									<td>{{ quantity }}</td>
									<td>{{ discount }}</td>
									<td>{{ @root.i18n.currencyUsed }}{{ monthly_charges }}</td>
									<td></td>
								</tr>
							{{/services}}
						</tbody>
					</table>
				</div>
			</div>
		{{/if}}
	</div>
{{else}}
	<div class="no-data">{{ i18n.transactions.noData }}</div>
{{/each}}
