.transactions-content-wrapper .fancy-header .left-image {
    width: 65px;
}

.transactions-content-wrapper .fancy-header .right-block .content .main-title {
    font-size: 30px;
    font-weight: bold;
    line-height: 75px;
    height: 80px;
}

.transactions-content-wrapper .fancy-header .title-block .billing-date {
    color: #22ccff;
    font-weight: bold;
}

.transactions-content-wrapper .action-bar-wrapper input {
    margin-bottom: 0;
    width: 80px;
}

.transactions-content-wrapper .action-bar-wrapper .dropdown {
    display: inline-block;
    margin-left: 10px;
}

.transactions-content-wrapper .list-transactions {
    margin-top: 25px;
}

.transactions-content-wrapper .list-transactions .transaction {
    line-height: 65px;
    margin-bottom: 15px;
}

.transactions-content-wrapper .list-transactions .transaction > *:not(.expandable) {
    line-height: 65px;
    height: 65px;
}

.transactions-content-wrapper .list-transactions .transaction .expandable .table {
    margin-bottom: 0;
}

.transactions-content-wrapper .list-transactions .transaction .expand-box {
    float: left;
    border-right: 1px solid #DDDDDD;
    text-align: center;
    width: 80px;
}

.transactions-content-wrapper .list-transactions .transaction .expand-box > * {
    color: #CCCCCC;
    cursor: pointer;
    font-size: 110px;
    height: 65px;
    line-height: 50px;
    text-align: center;
    text-shadow: 0 -1px 1px #777777;
}

.transactions-content-wrapper .list-transactions .transaction .text-box {
    margin-left: 120px;
}

.transactions-content-wrapper .list-transactions .transaction .text-box > * {
    float: left;
    width: 33%;
    overflow: hidden;
    white-space: nowrap;
}

.transactions-content-wrapper .list-transactions .transaction .date {
    text-align: center;
    color: #22ccff;
    font-weight: bold;
}

.transactions-content-wrapper .list-transactions .transaction .text-box .price {
    font-weight: bold;
    font-size: 16px;
    text-align: right;
}
