html,
body,
#main,
#main section {
	height: 100%;
}

body,
#myaccount,
#auth_container,
#monster-content {
	min-width: 600px;
}

/************************************************************/
/************************** NAVBAR **************************/
/************************************************************/

#main section > .navbar {
	margin-bottom: 0;
	border-top: 5px solid #22a5ff;
}
#main section > .navbar .navbar-inner {
	padding: 0 0 0 0;
	border: none;
	border-radius: 0;
	background: #303039;
	box-shadow: none;
}
#main section > .navbar .btn-navbar {
	margin-top: 15px;
}
#main section > .navbar .btn-navbar .icon-bar {
	background: #22a5ff;
}
#main section > .navbar .nav > li > a {
	font-size: 14px;
	line-height: 58px;
	height: 62px;
	padding: 0 22px;
	color: #c0c0c9;
	text-shadow: none;
}
#main section > .navbar .nav > li > a .user-name {
	line-height: 62px;
	display: inline-block;
	float: left;
	overflow: hidden;
	max-width: 200px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#main section > .navbar .nav > li.nav-masquerading {
	border-right: 1px solid #202029;
}
#main section > .navbar .nav > li.nav-masquerading > a {
	line-height: inherit;
	height: 52px;
	padding: 10px 22px 0 22px;
	text-align: center;
}
#main section > .navbar .nav > li.nav-masquerading a > div {
	overflow: hidden;
	max-width: 150px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#main section > .navbar .nav > li.nav-masquerading .name-text {
	color: #22a5ff;
}
#main section > .navbar .nav > li.myaccount-link .name-text {
	font-size: 16px;
}
#main section > .navbar .nav > li.myaccount-link i {
	line-height: 62px;
	position: relative;
	top: 2px;
	margin-left: 8px;
	color: #c0c0c9;
}
#main section > .navbar .nav > li.myaccount-link:hover i {
	color: #22a5ff;
}
#main section > .navbar .nav-collapse .nav > li > a:hover,
#main section > .navbar .nav-collapse .dropdown-menu a:hover {
	background: transparent;
}
#main section > .navbar .nav > li > a:focus,
#main section > .navbar .nav > li > a:hover {
	color: #22a5ff;
}
#main section > .navbar .nav > li > a:hover i {
	color: #22a5ff !important;
}
#main section > .navbar .nav > li.myaccount-link.disabled a:hover {
	cursor: default;
	color: whiteSmoke;
}
#main section > .navbar .nav.links .top-link {
	line-height: 62px;
	display: block;
	float: left;
	width: 62px;
	height: 62px;
	text-align: center;
	text-decoration: none;
	border-left: 1px solid #202029;
}
#main section > .navbar .nav.links .top-link i {
	color: #c0c0c9;
}
#main section > .navbar .nav.links .top-link:hover i {
	color: #22a5ff;
}
#main section > .navbar .nav.links .signout {
	display: none;
}
#main section > .navbar .navbar-inner .current-app {
	display: inline-block;
	float: left;
}
#main section > .navbar .navbar-inner .current-app:hover {
	cursor: pointer;
}
#main section > .navbar .navbar-inner .active-app {
	display: none;
	float: left;
	height: 62px;
	padding: 0 30px;
}
#main section > .navbar .navbar-inner .active-app > div {
	display: inline-block;
	float: left;
}
#main section > .navbar .navbar-inner .app-icon {
	width: 40px;
	height: 100%;
	background: no-repeat center;
	background-size: contain;
}
#main section > .navbar .navbar-inner .app-name {
	font-size: 18px;
	line-height: 62px;
	overflow: hidden;
	max-width: 266px;
	white-space: nowrap;
	letter-spacing: .5px;
	text-transform: uppercase;
	text-overflow: ellipsis;
	color: #fff;
}
#main section > .navbar .navbar-inner .current-app:hover .app-name {
	color: #22a5ff;
}
#main section > .navbar .navbar-inner .logo {
	float: left;
	width: 192px;
	height: 62px;
	padding: 0 15px;
	cursor: pointer;
	border-right: 1px solid #202029;
	background-repeat: no-repeat;
	background-position: center center;
}
#main section > .navbar .navbar-inner .logo.conferencing {
	font-size: 20px;
	line-height: 62px;
	text-align: center;
	text-transform: uppercase;
}
#main section > .navbar .navbar-inner .logo.conferencing:hover {
	text-decoration: none;
	color: #22a5ff;
}
#main section > .navbar .navbar-inner .home {
	display: none;
	padding: 0 20px;
	text-decoration: none;
	border-right: 1px solid #202029;
	border-left: 1px solid #202029;
}
#main section > .navbar .navbar-inner .home * {
	line-height: 62px;
	display: inline-block;
	margin: 0;
}
#main section > .navbar .navbar-inner .home span {
	font-size: 14px;
	display: inline-block;
	overflow: hidden;
	max-width: 66px;
	margin-right: 20px;
	white-space: nowrap;
	letter-spacing: .5px;
	text-overflow: ellipsis;
	color: #c0c0c9;
}
#main section > .navbar .navbar-inner .home i {
	color: #c0c0c9;
}
#main section > .navbar .navbar-inner .home.active {
	display: inline-block;
}
#main section > .navbar .navbar-inner .home:hover * {
	color: #22a5ff !important;
}
#main section > .navbar .navbar-inner .home.conferencing {
	width: 240px;
	height: 52px;
	padding: 5px;
}
@media (max-width: 979px) {
	#main section > .navbar .navbar-inner .home.conferencing {
		width: 140px;
	}
}
#main section > .monster-content {
	position: absolute;
	top: 67px;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
}
@media (max-width: 630px) {
	#main section > .navbar .nav > li > a .user-name {
		max-width: 169px;
	}
}

@media (max-width: 959px) {
	#main section > .navbar .navbar-inner .current-app {
		display: none;
	}
}

@media (max-width: 685px) {
	#main section > .navbar .navbar-inner .logo {
		display: none;
	}
}

@media (max-width: 1153px) {
	#main section > .navbar .navbar-inner #home_link {
		padding-left: 20px;
	}
	#main section > .navbar .navbar-inner #home_link .title {
		display: none;
	}
}

@media (max-width: 1067px) {
	#main section > .navbar .navbar-inner .logo {
		padding-right: 0;
		padding-left: 0;
	}
	#main section > .navbar .nav > li.nav-masquerading > a {
		padding-right: 5px;
		padding-left: 5px;
	}
	#main section > .navbar .navbar-inner .links .top-link {
		width: 52px;
	}
}

/************************************************************/
/********************** LOADING SPINNER *********************/
/************************************************************/

.loading-wrapper {
	position: fixed;
	z-index: 2000;
	top: 0;
	display: none;
	width: 200px;
	height: 200px;
	background: #2cf;
}
.loading-wrapper.fixed-left {
	left: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(315deg);
	   -moz-transform: translateX(-50%) translateY(-50%) rotate(315deg);
	    -ms-transform: translateX(-50%) translateY(-50%) rotate(315deg);
	     -o-transform: translateX(-50%) translateY(-50%) rotate(315deg);
	        transform: translateX(-50%) translateY(-50%) rotate(315deg);
}
.loading-wrapper.fixed-right {
	right: 0;
	-webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
	   -moz-transform: translateX(50%) translateY(-50%) rotate(45deg);
	    -ms-transform: translateX(50%) translateY(-50%) rotate(45deg);
	     -o-transform: translateX(50%) translateY(-50%) rotate(45deg);
	        transform: translateX(50%) translateY(-50%) rotate(45deg);
}
.loading-wrapper.active {
	display: block;
}
.loading-wrapper .line {
	position: relative;
	display: inline-block;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: .5em;
	text-align: center;
	vertical-align: middle;
	border: 5px solid transparent;
	border-top-color: #fff;
	border-bottom-color: #fff;
	border-radius: 50%;
	background: transparent;
}
.loading-wrapper .line.outer {
	top: 130px;
	left: 80px;
	-webkit-animation: half-spin 1s infinite;
	   -moz-animation: half-spin 1s infinite;
	     -o-animation: half-spin 1s infinite;
	        animation: half-spin 1s infinite;
}
.loading-wrapper .line.inner {
	-moz-animation: half-spin-reverse 1s infinite;
	  -o-animation: half-spin-reverse 1s infinite;
	     animation: half-spin-reverse 1s infinite;

	webkit-animation: half-spin-reverse 1s infinite;
}
@-webkit-keyframes half-spin {
	0% {
		-webkit-transform: rotateZ(-45deg);
	}
	100% {
		-webkit-transform: rotateZ(135deg);
	}
}
@-webkit-keyframes half-spin-reverse {
	0% {
		-webkit-transform: rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateZ(-360deg);
	}
}
@-moz-keyframes half-spin {
	0% {
		-moz-transform: rotateZ(-45deg);
	}
	100% {
		-moz-transform: rotateZ(135deg);
	}
}
@-moz-keyframes half-spin-reverse {
	0% {
		-moz-transform: rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateZ(-360deg);
	}
}
@-o-keyframes half-spin {
	0% {
		-o-transform: rotateZ(-45deg);
	}
	100% {
		-o-transform: rotateZ(135deg);
	}
}
@-o-keyframes half-spin-reverse {
	0% {
		-o-transform: rotateZ(0deg);
	}
	100% {
		-o-transform: rotateZ(-360deg);
	}
}
@keyframes half-spin {
	0% {
		transform: rotateZ(-45deg);
	}
	100% {
		transform: rotateZ(135deg);
	}
}
@keyframes half-spin-reverse {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(-360deg);
	}
}


/************************************************************/
/********************** FLOATING FOOTER *********************/
/************************************************************/

.footer-wrapper {
	position: fixed;
	right: 2px;
	bottom: 2px;
}
.footer-wrapper .powered-by > * {
	font-size: 11px;
	margin-right: 5px;
	text-decoration: none;
	color: #333;
}
