<div class="alert-dialog">
    <div class="help-box gray-box">
        <div class="wrapper-icon">
            <i class="icon-question-sign2"></i>
        </div>
        <div class="text-wrapper">{{ content }}</div>
    </div>
    <div class="alert-buttons-wrapper clearfix">
        <button id="cancel_button" class="btn btn-danger confirm_button">{{ i18n.dialog.confirmCancel }}</button>
        <button id="confirm_button" class="btn btn-success confirm_button">{{ i18n.dialog.confirmOk }}</button>
    </div>
</div>
