<div class="dialog-charges">
	<div class="content">
	{{#if activation_charges}}
		<div class="section">
			<div class="title-box pull-right">
				<div class="value">{{replaceVar i18n.confirmCharges.amount activation_charges}}</div>
			</div>
			<div class="title-block">{{i18n/confirmCharges.oneTimeFee}}</div>
		</div>
	{{/if}}
	{{#if charges}}
		<div class="section">
			<div class="charges-info">
				<i class="fa fa-exclamation-triangle pull-left"></i>
				<span>{{i18n/confirmCharges.detail}}</span>
			</div>
			<div class="charges-list">
			{{#each charges}}
				<div class="charges-element">
					<table>
						<tr>
							<td>{{quantity}}</td>
							<td>x</td>
							<td>{{replaceVar @root.i18n.confirmCharges.amount rate}}</td>
							<td>-</td>
							<td>{{#if discount}}{{replaceVar @root.i18n.confirmCharges.amount discount}}{{else}}{{discount}}{{/if}}</td>
							<td>=</td>
							<td>{{replaceVar @root.i18n.confirmCharges.amount monthlyCharges}}</td>
						</tr>
						<tr>
							<th>{{service}}</th>
							<th></th>
							<th>{{@root.i18n.confirmCharges.rate}}</th>
							<th></th>
							<th>{{@root.i18n.confirmCharges.discount}}</th>
							<th></th>
							<th>{{@root.i18n.confirmCharges.monthlyCharges}}</th>
						</tr>
					</table>
				</div>
			{{/each}}
			</div>
		</div>
	{{/if}}
	</div>
</div>