<div class="alert-dialog-javascript">
	<table class="table">
		<tr>
			<td>{{ i18n.javascriptErrorDialog.message }}</td>
			<td>{{ title }} </td>
		</tr>
		<tr>
			<td>{{ i18n.javascriptErrorDialog.file }}</td>
			<td>{{ file }} </td>
		</tr>
		<tr>
			<td>{{ i18n.javascriptErrorDialog.line }}</td>
			<td>{{ line }} </td>
		</tr>
		<tr>
			<td>{{ i18n.javascriptErrorDialog.column }}</td>
			<td>{{ column }} </td>
		</tr>
		<tr>
			<td>{{ i18n.javascriptErrorDialog.stackTrace }}</td>
			<td>{{ stackTrace }} </td>
		</tr>
	</table>
</div>