<div class="items-selector{{#if options.containerClasses}} {{options.containerClasses}}{{/if}} clearfix">
	<div class="box-selector">
		<div class="box-title">{{options.columnsTitles.available}}</div>
		<ul class="available connected">
			{{#each unselectedItems}}
				<li class="item-selector" data-key="{{key}}"><div class="item-handle"></div>{{value}}</li>
			{{/each}}
		</ul>
	</div>

	<div class="box-selector">
		<div class="box-title">{{options.columnsTitles.selected}}</div>
		<ul class="selected connected">
			{{#each selectedItems}}
				<li class="item-selector" data-key="{{key}}"><div class="item-handle"></div>{{value}}</li>
			{{/each}}
		</ul>
	</div>
</div>