<div class="wysiwyg-container"{{#if containerId}} id="{{containerId}}"{{/if}}>
	<div class="wysiwyg-toolbar" data-role="editor-toolbar" data-target="#editor">
	{{#each tools}}
		{{#if this}}
			<div class="btn-group">
				{{#if title}} <!-- single button -->
					{{#if options}} <!-- dropdown -->
						<a class="btn dropdown-toggle" data-toggle="dropdown" title data-original-title="{{title}}">
						{{#if icon}}
							<i class="icon-{{icon}}"></i>
						{{else}}
							{{title}}
						{{/if}}
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu{{#compare command '===' 'foreColor'}} color-menu{{/compare}}">
						{{#each options}}
							{{#if ../icon}}
								{{#if title}}
									{{#if icon}}
										<a class="btn" data-edit="{{command}}" title data-original-title="{{title}}"><i class="icon-{{icon}}"></i></a>
									{{else}}
										<li><a data-edit="{{command}} {{args}}">{{title}}</a></li>
									{{/if}}
								{{else}} <!-- colors -->
									<a data-edit="{{../../../command}} #{{this}}" style="background-color: #{{this}}"></a>
								{{/if}}
							{{else}} <!-- macro -->
								<li><a data-edit="{{../../command}} <b>{ {{@key}} }</b>">{{this}}</a></li>
							{{/if}}
						{{/each}}
						</ul>
					{{else}}
						{{#compare command '===' 'insertImage'}}
							<a class="btn wysiwyg-upload" title data-original-title="{{title}}">
								<i class="icon-{{icon}}"></i>
								<input type="file" data-edit="{{command}}">
							</a>
						{{else}}
							<a class="btn" data-edit="{{../command}}" title data-original-title="{{title}}"><i class="icon-{{icon}}"></i></a>
						{{/compare}}
					{{/if}}
				{{else}} <!-- grouped buttons -->
					{{#each this}}
						{{#if this}}
							{{#compare command '===' 'createLink'}}
								<a class="btn dropdown-toggle" data-toggle="dropdown" title data-original-title="{{title}}">
									<i class="icon-{{icon}}"></i>
								</a>
								<div class="dropdown-menu input-append">
									<input class="span2" placeholder="URL" type="text" data-edit="{{command}}">
									<button class="btn" type="button">Add</button>
								</div>
							{{else}}
								<a class="btn" data-edit="{{command}}" title data-original-title="{{title}}"><i class="icon-{{icon}}"></i></a>
							{{/compare}}
						{{/if}}
					{{/each}}
				{{/if}}
			</div>
		{{/if}}
	{{/each}}
	</div>
	<div class="wysiwyg-editor" id="editor"></div>
</div>