@import '../../../../css/partials/base';

/************************************************************/
/********************** FILTERING PANEL *********************/
/************************************************************/

#port_app_container .filtering-section-wrapper {
	float: left;
}

#port_app_container .filtering-section-wrapper .account-info {
	padding: 20px 15px 15px;
	border-right: 1px solid $panel-border-color;
	background-color: $white;
}

#port_app_container .filtering-section-wrapper .account-info .title {
	font-weight: 600;
}

#port_app_container .filtering-section-wrapper .account-info .hint {
	font-size: 13px;
	margin-top: 10px;
	color: $manatee;
}

#port_app_container .filtering-section-wrapper .account-info .name {
	font-size: 22px;
	margin-top: 2px;
}

/***************** OVERRIDE ACCOUNT BROWSER *****************/

#port_app_container .account-browser-container {
	border-color: $panel-border-color;
	background-color: transparent;
}

#port_app_container .account-browser-container .search-box {
	padding: 5px 10px;
	border-color: $panel-border-color;
	border-top: solid 1px $panel-border-color;
}

#port_app_container .account-browser-container .search-box i {
	color: $manatee;
}

#port_app_container .account-browser-container .search-query {
	width: 190px;
	border: none;
	background-color: transparent;
	box-shadow: none;
}

#port_app_container .account-browser-container .account-list-container {
	background-color: $white;
}

#port_app_container .account-browser-container .account-link,
#port_app_container .account-browser-container .account-search-link,
#port_app_container .account-browser-container .account-list-element > div {
	background-color: transparent;
	background-image: none;
}

#port_app_container .account-browser-container .account-list-element > div:hover i {
	color: $primary-color;
}

/************************************************************/
/*********************** LISTING PANEL **********************/
/************************************************************/

#port_app_container .listing-section-wrapper {
	padding: 40px 20px;
}

#port_app_container .listing-section-wrapper.with-filter {
	overflow-y: auto;
	margin-left: 240px;
	padding: 40px 40px 0;
}

#port_app_container .listing-section h4.title {
	font-weight: 600;
	color: $manatee;
}

/*********************** EMPTY LISTING **********************/

#port_app_container .listing-section.empty-listing {
	padding: 45px 20px;
	text-align: center;
	border: 1px dashed $panel-border-color;
	background-color: transparent;
}

#port_app_container .empty-listing .iconography {
	font-size: 140px;
	color: $panel-border-color;
}

#port_app_container .empty-listing h4.title {
	font-weight: normal;
	margin: 15px 0 5px;
	color: $font-primary-color;
}

#port_app_container .empty-listing .text {
	margin-bottom: 25px;
	color: $manatee;
}

/********************** LISTING TABLES **********************/

#port_app_container .listing-section .monster-table-wrapper:not(:first-child) {
	margin-top: 20px;
}

#port_app_container .listing-section .listing-item:hover td {
	cursor: pointer;
	border-color: $primary-color;
}

#port_app_container .listing-section .monster-table .bold {
	font-weight: 600;
}

#port_app_container .listing-section .monster-table .info {
	font-size: 13px;
	color: $manatee;
}

#port_app_container #unconfirmed_ports_listing tbody {
	background-color: transparent;
}

/***************** CUSTOM FOOTABLE FILTERS ******************/

#port_app_container .footable-filtering .custom-select {
	display: inline-block;
	min-width: 170px;
}

#port_app_container .footable-filtering .custom-select .dropdown-toggle {
	display: block;
	padding: 4px 6px 4px 10px;
	text-align: left;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: #fff;
}

#port_app_container .footable-filtering .custom-select .dropdown-toggle:hover,
#port_app_container .footable-filtering .custom-select .dropdown-toggle:focus {
	color: #555;
}

#port_app_container .footable-filtering .custom-select .dropdown-toggle:focus {
	border: 1px solid $primary-color;
}

#port_app_container .footable-filtering .custom-select .dropdown-menu {
	margin-top: 4px;
	padding: 0;
}

#port_app_container .footable-filtering .custom-select .dropdown-menu::before,
#port_app_container .footable-filtering .custom-select .dropdown-menu::after {
	display: none;
	content: initial;
}

#port_app_container .footable-filtering .custom-select .dropdown-menu li a {
	padding: 8px 20px;
}

#port_app_container .footable-filtering .custom-select .dropdown-menu li:not(:first-child) a {
	border-top: 1px solid $panel-border-color;
}

#port_app_container .footable-filtering .custom-select .dropdown-menu li a:hover {
	color: #fff;
	background-color: $primary-color;
}

#port_app_container .footable-filtering .custom-select .dropdown-menu li a.icon-link i {
	float: left;
}

#port_app_container .footable-filtering .custom-select .dropdown-menu li a.icon-link .text {
	margin-left: 20px;
	padding-left: 10px;
}

#port_app_container .footable-filtering .custom-select .dropdown-menu li a.icon-link,
#port_app_container .footable-filtering .custom-select .dropdown-menu li a.icon-link i {
	color: $primary-color;
}

#port_app_container .footable-filtering .custom-select .dropdown-menu li a.icon-link:hover,
#port_app_container .footable-filtering .custom-select .dropdown-menu li a.icon-link:hover i {
	color: #fff;
	background-color: $primary-color;
}

/********************** STATUS WRAPPER **********************/

#port_app_container .status-wrapper i {
	float: left;
}

#port_app_container .status-wrapper .content {
	margin-left: 18px;
	padding-left: 10px;
}

#port_app_container .status-wrapper .status {
	font-weight: 600;
}

#port_app_container .status-wrapper i,
#port_app_container .status-wrapper .status {
	color: $primary-color;
}

#port_app_container .status-wrapper.success i,
#port_app_container .status-wrapper.success .status {
	color: $success-color;
}

#port_app_container .status-wrapper.warning i,
#port_app_container .status-wrapper.warning .status {
	color: $warning-color;
}

#port_app_container .status-wrapper.error i,
#port_app_container .status-wrapper.error .status {
	color: $error-color;
}

/************************************************************/
/************************ DETAIL VIEW ***********************/
/************************************************************/

#port_app_container #port_detail_view {
	display: flex;
	width: 100%;
	height: 100%;
}

/************************ INFO PANEL ************************/

#port_app_container .info-panel {
	display: flex;
	width: 600px;
}

#port_app_container .info-panel > div {
	padding: 20px;
	border-right: 1px solid $panel-border-color;
	background-color: $white;
}

#port_app_container .info-panel > div:not(:last-child) {
	z-index: 1;
	box-shadow: 1px 5px 5px 0 $background-off-color;
}

#port_app_container .info-panel .port-section {
	overflow-y: auto;
	max-width: 300px;

	flex-grow: 10;
}

#port_app_container .info-panel .port-section > div:first-child a {
	display: flex;

	align-items: center;
}

#port_app_container .info-panel .port-section > div:first-child a,
#port_app_container .info-panel .port-section > div:first-child a i {
	color: $manatee;
}

#port_app_container .info-panel .port-section > div:first-child a:hover,
#port_app_container .info-panel .port-section > div:first-child a:hover i {
	color: $primary-color;
}

#port_app_container .info-panel .port-section > div:first-child .title {
	font-size: 20px;
	font-weight: 600;
	margin-top: 15px;
}

#port_app_container .info-panel .port-section > div:not(:first-child) {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid $panel-border-color;
}
#port_app_container .info-panel .port-section .monster-form {
	margin-bottom: 0;
}

#port_app_container .info-panel .port-section .monster-form .control-group {
	margin-bottom: 0;
}

#port_app_container .info-panel .port-section .monster-form .control-label {
	width: 140px;
	text-align: left;
}

#port_app_container .info-panel .port-section .monster-form .controls {
	font-weight: 600;
	margin-left: 150px;
}

#port_app_container .info-panel .port-section .monster-form .controls .text {
	display: inline-block;
	margin-bottom: 5px;
	padding-top: 5px;
}

#port_app_container .info-panel .port-section .admin-links {
	margin-top: 20px;
}

#port_app_container .info-panel .port-section .admin-links a {
	display: inline-block;
	color: $primary-color;
}

#port_app_container .info-panel .port-section .admin-links a:not(:first-child) {
	margin-top: 5px;
}

#port_app_container .info-panel .monster-statuses .node.in-progress .status {
	position: relative;
	color: $primary-color;
}

#port_app_container .info-panel .monster-statuses .node.in-progress .status .detail {
	font-weight: normal;
	position: absolute;
	color: $manatee;
}

#port_app_container .info-panel .numbers-section {
	display: flex;
	flex-direction: column;
}

#port_app_container .info-panel .numbers-section .title {
	font-weight: 600;
}

#port_app_container .info-panel .numbers-section .search-box {
	position: relative;
	margin-top: 10px;
}

#port_app_container .info-panel .numbers-section .search-box i {
	position: absolute;
	top: 50%;
	margin: 0;
	transform: translate(50%, -50%);
	color: $manatee;
}

#port_app_container .info-panel .numbers-section .search-box input {
	border-radius: 2px;
	box-shadow: none;
}

#port_app_container .info-panel .numbers-section .numbers-listing {
	overflow-y: auto;
	margin: 20px 0 0 0;
	list-style: none;
}

#port_app_container .info-panel .numbers-section .numbers-listing li {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 5px;
}

/********************** TIMELINE PANEL **********************/

#port_app_container .timeline-panel-wrapper {
	display: flex;
	flex-direction: column;
	width: calc(100% - 616px);
	padding: 30px 20px;
}

#port_app_container .timeline-panel-wrapper.justify-content-start {
	justify-content: flex-start;
}

#port_app_container .timeline-panel-wrapper.justify-content-end {
	justify-content: flex-end;
}

#port_app_container .timeline-panel {
	overflow-y: auto;
	width: 100%;
	padding-bottom: 1px;
}

#port_app_container .timeline-panel .timeline {
	margin: 0;
	list-style: none;
}

#port_app_container .timeline-panel .day {
	position: relative;
	margin-top: 50px;
	padding-top: 50px;
	border-top: 1px solid $panel-border-color;
}

#port_app_container .timeline-panel .day:first-child {
	margin-top: 20px;
}

#port_app_container .timeline-panel .date {
	font-weight: 600;
	position: absolute;
	top: -16px;
	left: 50%;
	padding: 5px 10px;
	transform: translate(-50%, 0);
	color: $manatee;
	border: 1px solid $panel-border-color;
	border-radius: 2px;
	background-color: $background-primary-color;
	box-shadow: 0 0 10px 0 $mischka;
}

#port_app_container .timeline-panel .entries {
	margin: 0;
	list-style: none;
}

#port_app_container .timeline-panel .icon-wrapper {
	position: relative;
	display: flex;
	float: left;
	width: 34px;
	height: 34px;
	border: 1px solid $panel-border-color;
	border-radius: 50%;

	align-items: center;
	justify-content: center;
}

#port_app_container .timeline-panel .icon-wrapper .iconography {
	color: $panel-border-color;
}

#port_app_container .timeline-panel .entry-wrapper:not(:first-child) {
	margin-top: 25px;
}

#port_app_container .timeline-panel .entry {
	margin-left: 56px;
	padding: 15px 20px;
	border: 1px solid $panel-border-color;
	border-radius: 2px;
	background-color: $white;
}

#port_app_container .timeline-panel .entry .title {
	font-weight: bold;
}

#port_app_container .timeline-panel .entry .time {
	font-size: 13px;
	color: $manatee;
}

#port_app_container .timeline-panel .entry .content {
	margin-top: 10px;
}

#port_app_container .timeline-panel .entry .content button {
	display: block;
	margin-top: 15px;
}

#port_app_container #port_detail_view .textarea-wrapper {
	display: flex;
	min-height: 34px;
	margin-top: 50px;
	padding: 20px;
	border: 1px solid $panel-border-color;
	border-radius: 2px;
	background-color: $white;
}

#port_app_container #port_detail_view .textarea-wrapper textarea {
	margin: 0;
	margin-right: 25px;
	resize: none;
	border: 0;
	background-color: transparent;
	box-shadow: none;

	flex-grow: 100;
}

#port_app_container .timeline-panel .entry-wrapper.status .icon-wrapper {
	border-color: $primary-color;
	background-color: $primary-color;
}

#port_app_container .timeline-panel .entry-wrapper.status .iconography {
	color: #fff;
}

#port_app_container .timeline-panel .entry-wrapper.status .entry .title {
	color: $primary-color;
}

#port_app_container .timeline-panel .entry-wrapper.success .icon-wrapper {
	border-color: $success-color;
	background-color: $success-color;
}

#port_app_container .timeline-panel .entry-wrapper.success .iconography {
	color: #fff;
}

#port_app_container .timeline-panel .entry-wrapper.success .entry {
	border-color: $success-color;
}

#port_app_container .timeline-panel .entry-wrapper.success .entry .title {
	color: $success-color;
}

#port_app_container .timeline-panel .entry-wrapper.warning .icon-wrapper {
	border-color: #f0b400;
	background-color: #f0b400;
}

#port_app_container .timeline-panel .entry-wrapper.warning .iconography {
	color: #fff;
}

#port_app_container .timeline-panel .entry-wrapper.warning .entry {
	border-color: #f0b400;
}

#port_app_container .timeline-panel .entry-wrapper.warning .entry .title {
	color: #f0b400;
}

#port_app_container .timeline-panel .entry-wrapper.error .icon-wrapper {
	border-color: $error-color;
	background-color: $error-color;
}

#port_app_container .timeline-panel .entry-wrapper.error .iconography {
	color: #fff;
}

#port_app_container .timeline-panel .entry-wrapper.error .entry {
	border-color: $error-color;
}

#port_app_container .timeline-panel .entry-wrapper.error .entry .title {
	color: $error-color;
}

/*********************** STATUS POPUP ***********************/

.port-app-dialog #form_update_status {
	max-width: 500px;
	margin: 0;
	padding: 20px;
}

.port-app-dialog #form_update_status::after {
	display: block;
	clear: both;
	content: '';
}

.port-app-dialog #form_update_status .control-label {
	font-weight: 600;
	text-align: left;
}

.port-app-dialog #form_update_status .controls .text {
	padding: 5px 0;
}

.port-app-dialog #form_update_status strong {
	color: #333;
}

.port-app-dialog #form_update_status .info {
	margin-bottom: 35px;
	padding-top: 15px;
	color: $manatee;
}

.port-app-dialog #form_update_status input[readonly='true'] {
	cursor: pointer;
	background-color: initial;
}

.port-app-dialog #form_update_status .show-link .monster-link,
.port-app-dialog #form_update_status .show-input textarea {
	display: block;
}

.port-app-dialog #form_update_status .show-link textarea,
.port-app-dialog #form_update_status .show-input .monster-link {
	display: none;
}

.port-app-dialog #form_update_status #add_message,
.port-app-dialog #form_update_status #add_message i {
	color: $primary-color;
}

.port-app-dialog #form_update_status #add_message:hover i {
	text-decoration: none;
}

.port-app-dialog #form_update_status #message {
	width: 93%;
	padding: 8px 15px;
	border-radius: 2px;
	box-shadow: none;
}

.port-app-dialog #form_update_status .actions {
	margin-top: 50px;
	padding-top: 20px;
	border-top: 1px solid $panel-border-color;
}

.port-app-dialog #form_update_status .actions::after {
	display: block;
	clear: both;
	content: '';
}

.port-app-dialog #form_update_status .actions button:not(:first-child) {
	margin-left: 10px;
}
