.dataTables_scroll .dataTables_scrollBody {
	max-height: 300px;
}

.balance-content-wrapper .title-box.pull-right {
	margin-left: 10px;
}
.balance-content-wrapper .title-box.primary-box {
	background-color: #22a5ff;
	border-color: #22a5ff;
	color: #fff;
	cursor: pointer;
}

.balance-content-wrapper .title-box-group .title-box:not(:first-child) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.balance-content-wrapper .title-box-group .title-box:not(:last-child) {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-right: none;
}

.balance-content-wrapper .action-bar-wrapper > * {
	margin: 0 10px 0 0;
	vertical-align: middle;
}

.balance-content-wrapper .action-bar-wrapper > span {
	margin-right: 5px;
}

.balance-content-wrapper .action-bar-wrapper input {
	cursor: pointer;
	background-color: #f0f0f9;
	border-radius: 2px;
	box-shadow: none;
	text-align: center;
}

.balance-content-wrapper .action-bar-wrapper i.refresh-filter:hover {
	text-shadow: 1px 1px 0px #999;
	cursor: pointer;
}

.balance-content-wrapper .action-bar-wrapper .action-number#download {
	color: #666;
}

.balance-content-wrapper .action-bar-wrapper .action-number#download i {
	text-decoration: none;
	margin-right: 5px;
}

.balance-content-wrapper .search-box .search-query {
	border-radius: 2px;
	box-shadow: none;
	padding-left: 36px;
	width: 160px;
}
.balance-content-wrapper .search-box .icon-search {
	margin: 5px 0 0 12px;
}

.balance-content-wrapper .clickover {
	width: 270px;
	font-size: 12px;
}

/* TABLES */
.balance-content-wrapper table.table {
	margin-bottom: 0;
	border: solid 1px #c0c0c9;
	border-bottom: none;
}

.balance-content-wrapper table.table th {
	background: #f0f0f9;
	color: #303039;
	text-shadow: none;
}

.balance-content-wrapper table.table td {
	border: none;
}

.balance-content-wrapper table.table tr:not(:first-child) {
	border-top: solid 1px #c0c0c9;
}

.balance-content-wrapper table.table tbody tr {
	background: #fff;
}

.balance-content-wrapper .dataTables_scrollBody {
	border-bottom: solid 1px #c0c0c9;
}

/* ADD CREDITS POPUP */
.add-credits-content-wrapper {
	display: block;
	margin: auto;
	width: 500px;
	padding: 20px 0;
}

.add-credits-content-wrapper .add-credits-header {
	background-color: #f0f0f9;
	border: solid 1px #c0c0c9;
	border-radius: 2px;
	padding: 10px;
}

.add-credits-content-wrapper .add-credits-header .title-block {
	line-height: 55px;
}

.add-credits-content-wrapper .add-credits-header .title-box {
	padding-top: 10px;
	padding-bottom: 10px;
}

.add-credits-content-wrapper .box-content {
	background-color: #f0f0f9;
	border: solid 1px #c0c0c9;
	border-radius: 2px;
	padding: 10px;
	margin-top: 20px;
}
.add-credits-content-wrapper .box-content.disabled {
	position: relative;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(grayscale.svg); /* Firefox 4+ */
	filter: gray; /* IE 6-9 */;
}
.add-credits-content-wrapper .box-content.disabled:after {
	content: '';
	cursor: not-allowed;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #090909;
	opacity: 0.5;
	top: 0;
	left: 0;
}

.add-credits-content-wrapper .box-content .line-content {
	height: 50px;
	line-height: 50px;
}

.add-credits-content-wrapper .box-content .line-content > * {
	float: left;
	height: 50px;
}

.add-credits-content-wrapper .box-content .line-content .line-label {
	font-weight: 600;
	width: 200px;
}

.add-credits-content-wrapper .box-content .line-content .line-label.smaller {
	font-weight: 400;
	font-size: 12px;
	margin-left: 4px;
	width: 196px;
}

.add-credits-content-wrapper .box-content .line-content .line-value {
	width: 120px;
}

.add-credits-content-wrapper .box-content .line-content .line-value > *:not(.pull-right) {
	float: left;
}

.add-credits-content-wrapper .box-content .line-content .line-value input {
	margin: 10px 0 0 5px;
	width: 70px;
	border-radius: 2px;
	box-shadow: none;
	border-color: #c0c0c9;
}
.add-credits-content-wrapper .box-content .line-content .line-value input:focus {
	border-color: #22a5ff;
}

.add-credits-content-wrapper .box-content .line-content .line-button {
	width: 138px;
	padding: 0 10px;
	text-align: right;
}

.add-credits-content-wrapper .box-content .line-content .line-button button {
	margin-top: -3px;
	width: 100%;
}
.add-credits-content-wrapper .box-content #recharge_content,
.add-credits-content-wrapper .box-content #recharge_content > .line-content:last-child {
	border-top: solid 1px #c0c0c9;
	margin-top: 10px;
	padding-top: 10px;
}