.profile-content-wrapper .tab-content {
    border-radius: 4px;
    border-top: inherit;
    overflow: visible;
}

.profile-content-wrapper .list-settings {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.profile-content-wrapper .list-settings .settings-item {
    border-top: 1px solid #CCCCCC;

}

.profile-content-wrapper .list-settings .settings-item.open {
    border-top: 1px solid #22ccff;

}

.profile-content-wrapper .list-settings .settings-item .settings-link {
    color: #333;
    cursor: pointer;
    display: block;
    font-weight: 600;
    height: 60px;
    line-height: 60px;
    padding: 0px 15px;
    text-decoration: none;
}

.profile-content-wrapper .list-settings .settings-item .settings-link:hover {
    background-color: #eeeeee;
}

.profile-content-wrapper .list-settings .settings-item .title {
    float: left;
    font-size: 13px;
    font-weight: bold;
    width: 220px;
}

.profile-content-wrapper .list-settings .settings-item .settings-link .description {
	display: inline-block;
    font-weight: 600;
}

.profile-content-wrapper .list-settings .settings-item .settings-link .description .number {
    font-weight: bold;
    color: #22ccff;
}

.profile-content-wrapper .list-settings .settings-item .settings-link .update {
    color: #22ccff;
    float: right;
}

.profile-content-wrapper .list-settings .settings-item .settings-link .changes-saved {
    float: right;
    display: none;
}

.profile-content-wrapper .list-settings .settings-item .settings-link:hover .update .text {
    text-decoration: underline;
}

.profile-content-wrapper .list-settings .settings-item .settings-link .update .text {
	margin-left: 5px;
}

.profile-content-wrapper .list-settings .settings-item-content {
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
    display: none;
    padding: 20px 15px 0;
}

.profile-content-wrapper .list-settings .settings-item-content .form-horizontal {
    margin: 0;
    display: inline-block;
}

.profile-content-wrapper .list-settings .settings-item-content label.uneditable {
    color: #22ccff;
    cursor: default;
    font-weight: 600;
    padding-top: 5px;
}

.profile-content-wrapper .list-settings .settings-item-content .edition {
    display: none;
}

.profile-content-wrapper .list-settings .settings-item .settings-link .description > ul {
	display: table-cell;
    height: 60px;
    list-style: none outside none;
    margin: 0;
    vertical-align: middle;
}

.profile-content-wrapper .list-settings .card-type {
    display: inline-block;
    margin-bottom: -9px;
    margin-right: 5px;
    background-repeat: no-repeat;
    height: 25px;
    width: 40px;
}

.profile-content-wrapper .list-settings .input-prepend .add-on {
    padding: 1px 7px;
    height: 26px;
}

.profile-content-wrapper .list-settings .input-prepend .add-on i {
    margin: 0 5px;
    font-size: 24px;
}

.profile-content-wrapper .list-settings .input-prepend .add-on .card-type {
    margin: 0;
}

.profile-content-wrapper .list-settings .settings-item-content .edition .card-type {
    display: none;
}


.profile-content-wrapper .list-settings .controls button, .profile-content-wrapper .list-settings .controls input {
	margin-right: 5px;
}

.profile-content-wrapper .list-settings .controls.action-bar {
    text-align: right;
}

.profile-content-wrapper .list-settings .controls.action-bar a {
    vertical-align: middle;
}

.profile-content-wrapper .list-settings .controls.action-bar > *:not(:last-child) {
    margin-right: 10px;
}

.profile-content-wrapper .list-settings .controls .plain-text {
	margin-top: 5px;
}
