.myaccount-content .trunks-content .trunk-container {
    min-height: 50px;
    height: 100%;
    margin-top: 20px;
}

.myaccount-content .trunks-content .trunk-container .text-wrapper .title {
    font-weight: 500;
    font-size: 18px;
}

.myaccount-content .trunks-content .trunk-container .text-wrapper .price {
    color: #05addc;
    font-size: 14px;
    display: inline-block;
}
.myaccount-content .trunks-content .trunk-container .icon-question-sign[data-toggle="tooltip"] {
    display: inline-block;
    float: none;
    margin-left: 5px;
    margin-top: 0;
}

.myaccount-content .trunks-content .trunk-container i {
    margin-top: 10px;
    float: right;
}

.myaccount-content .trunks-content .slider-wrapper {
    margin-top: 10px;
}

.myaccount-content .trunks-content .slider-value {
    background: #ddd;
    border-radius: 20px;
    color: #333;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    margin: 0 10px 0 20px;
}

.myaccount-content .trunks-content .total-amount {
    font-weight: 500;
    line-height: 40px;
}

.myaccount-content .trunks-content .total-amount-value {
    font-size: 18px;
    line-height: 35px;
    color: #05addc;
}

.myaccount-content .trunks-content #slider_twoway .ui-slider-range, .myaccount-content .trunks-content #slider_twoway .ui-slider-handle, .myaccount-content .trunks-content #slider_inbound .ui-slider-range, .myaccount-content .trunks-content #slider_inbound .ui-slider-handle {
    background-color: #05addc;
}

.myaccount-content .trunks-content .update-limits {
    margin-left: 10px;
}

/* Landscape phone to portrait tablet */
@media(max-width: 767px) {
    .myaccount-content .trunks-content .slider-wrapper{
        padding: 0 10px;
    }

    .myaccount-content .trunks-content .slider-value{
        float: left;
    }

    .myaccount-content .trunks-content .total-amount{
        float: left;
    }

    .myaccount-content .trunks-content .slider-wrapper{
        float: left;
        width: 70%;

    }
}
